# Merging table header

In [1]:
import pandas as pd
import os

In [2]:
path = "/home/riya/Downloads/ADT/2019-20/Dictionary/"

In [3]:
os.chdir(path)

In [4]:
dfs = []

# Iterate over each file in the directory
for filename in os.listdir():
    if filename.startswith('Chapter') and filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        # Read the CSV file into a DataFrame without header
        df = pd.read_csv(file_path, sep=';', dtype={'Table_id': str})
        #print(df[['Chapter_id','Table_id']].loc[:,])
        dfs.append(df)


len(dfs)

17

In [5]:
# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Display the merged DataFrame
merged_df.columns = ['Attr_id', 'Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description']
merged_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,1376,14,Rural Development and Panchayat Raj,14.1,Skill Development and Self Employment at the e...,"Ddu-gky,Nrlm National Rural Livelihood Mission"
1,1377,14,Rural Development and Panchayat Raj,14.1,Skill Development and Self Employment at the e...,"Cif Community Investment Fund to groups,Nrlm N..."
2,1378,14,Rural Development and Panchayat Raj,14.1,Skill Development and Self Employment at the e...,Employment through skill training placement Es...
3,1379,14,Rural Development and Panchayat Raj,14.1,Skill Development and Self Employment at the e...,"Persons Skilled,Self Employment Programme,Empl..."
4,1380,14,Rural Development and Panchayat Raj,14.1,Skill Development and Self Employment at the e...,"Groups Skilled,Self Employment Programme,Emplo..."
...,...,...,...,...,...,...
1548,829,5,Fisheries,5.4,Fisheries 2019-20,"Full Time,No of Families involved in fishing"
1549,830,5,Fisheries,5.4,Fisheries 2019-20,"Part Time,No of Families involved in fishing"
1550,831,5,Fisheries,5.4,Fisheries 2019-20,No. of Beneficiaries under Matsyashraya Yojane
1551,832,5,Fisheries,5.4,Fisheries 2019-20,No of Fishlets In Lakhs
1552,833,5,Fisheries,5.4,Fisheries 2019-20,No of Fish Markets

In [6]:
merged_df = merged_df.sort_values(by=['Attr_id'])
merged_df.to_csv('/home/riya/Downloads/ADT/2019-20/Dictionary/Attributes_2019-20.csv', sep=';', index=False)

In [7]:
for i in range(3,1562):
    if i not in set(merged_df['Attr_id']):
       print(i)

156
157
158
159
160
161
162

These columns are not present as they have "Age group" data