In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import re
import os
import matplotlib.pyplot as plt
import nltk
from collections import OrderedDict

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer() 
from gensim.models import Word2Vec
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package punkt to /home/riya/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/riya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/riya/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/usr/lib/python3/dist-packages/paramiko/transport.py:237: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [2]:
relative_path_sdg = "../../sdg_data.csv"
relative_path_attr = "../Dictionary/Attributes_2019-20.csv"
relative_string_map = "./Data_Target/String_map.csv"
relative_semantic = "./Data_Target/Semantic_map.csv"
relative_sem_threshold = "./Data_Target/Semantic_threshold_map.csv"
relative_rank = "./Data_Target/Ranking.csv"
relative_rank_unroll = "./Data_Target/Ranking_unroll.csv"
relative_tab_filter = "./Data_Target/Ranking_tab_filter.csv"
relative_chap_filter = "./Data_Target/Ranking_chap_filter.csv"
relative_final_map = "./Mapping_Target_2019-20.csv"
relative_count = "./Data_Target/Comparison_count.csv"


# Get the absolute path by joining the current directory with the relative path
absolute_path_sdg = os.path.normpath(os.path.join(os.getcwd(), relative_path_sdg))
absolute_path_attr = os.path.normpath(os.path.join(os.getcwd(), relative_path_attr))
absolute_path_string = os.path.normpath(os.path.join(os.getcwd(), relative_string_map))
absolute_path_semantic = os.path.normpath(os.path.join(os.getcwd(), relative_semantic))
absolute_path_sem_threshold =os.path.normpath( os.path.join(os.getcwd(), relative_sem_threshold))
absolute_path_rank =os.path.normpath( os.path.join(os.getcwd(), relative_rank))
absolute_path_rank_unroll =os.path.normpath( os.path.join(os.getcwd(), relative_rank_unroll))
absolute_path_tab_filter =os.path.normpath( os.path.join(os.getcwd(), relative_tab_filter))
absolute_path_chap_filter =os.path.normpath( os.path.join(os.getcwd(), relative_chap_filter))
absolute_path_final_map =os.path.normpath( os.path.join(os.getcwd(), relative_final_map))
absolute_path_count =os.path.normpath( os.path.join(os.getcwd(), relative_count))

In [3]:
def process_result(result_sdg, sdg_df, chapter_df):
    rows = []
    
    for _, row in result_sdg.iterrows():
        attr_id = row['Rank']
        goal_no = row['Goal No.']
        target_id = row['Target_id']
        
        for attr in attr_id:
            rows.append({
                'Attr_id': attr,
                'top_n_goal_id': goal_no,
                'top_n_target_id': target_id
            })

    all_goals = pd.DataFrame(rows)
    
    goal_name = dict(zip(sdg_df['Goal No.'], sdg_df['Goal']))
    target_name = dict(zip(sdg_df['Target_id'], sdg_df['Targets']))
    
    all_goals['Goal'] = all_goals['top_n_goal_id'].map(goal_name.get)
    all_goals['Targets'] = all_goals['top_n_target_id'].map(target_name.get)
    chapter_id = dict(zip(chapter_df['Attr_id'], chapter_df['Chapter_id']))
    chapter_name = dict(zip(chapter_df['Chapter_id'], chapter_df['Chapter_name']))
    table_id = dict(zip(chapter_df['Attr_id'], chapter_df['Table_id']))
    table_name = dict(zip(chapter_df['Table_id'], chapter_df['Table_name']))
    description = dict(zip(chapter_df['Attr_id'], chapter_df['Description']))
    all_goals['Chapter_id'] = all_goals['Attr_id'].map(chapter_id.get)
    all_goals['Chapter_name'] = all_goals['Chapter_id'].map(chapter_name.get)
    all_goals['Table_id'] = all_goals['Attr_id'].map(table_id.get)
    all_goals['Table_name'] = all_goals['Table_id'].map(table_name.get)
    all_goals['Description'] = all_goals['Attr_id'].map(description.get) 
    
                
    all_goals = all_goals.loc[:,['Attr_id','Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description', 'Goal', 'Targets', 'top_n_goal_id', 'top_n_target_id']]

    return all_goals

In [4]:
# Function to combine and remove duplicates from lists while maintaining order
def combine_lists_BC(row):
    list_B = row['top_n_attr_B']
    list_C = row['top_n_attr_C']
    
    # Combine lists and remove duplicates while maintaining order
    items = list(OrderedDict.fromkeys(list_B + list_C))
    return items

In [5]:
# Function to find intersection while maintaining order
def find_intersection_ABC(row):
    intersection = [x for x in row['top_n_attr_A'] if x in row['B_plus_C']]
    return intersection

In [6]:
def find_difference_A(row):
    top_n_attr = row['top_n_attr_A']
    intersection = row['A_and_BC']
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [7]:
# Function to find intersection while maintaining order
def find_intersection_BC(row):
    intersection = [x for x in row['top_n_attr_B'] if x in row['top_n_attr_C']]
    return intersection

In [8]:
def find_difference_B(row):
    top_n_attr = row['top_n_attr_B']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [9]:
def find_difference_C(row):
    top_n_attr = row['top_n_attr_C']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'] + row['B_minus_all'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [10]:
def final_rank(row):
    #combined_top_n_attr = sorted(set(list_B + list_C), key=lambda x: (list_B + list_C).index(x))
    items = row['A_and_BC'] + row['A'] + row['B_and_C'] + row['B_minus_all'] + row['C_minus_all']
    item_set = list(OrderedDict.fromkeys(items))    
    return item_set

In [11]:
sdg = pd.read_csv(absolute_path_sdg, sep=",", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str})

In [12]:
sdg

,Goal No.,Goal,Nodal Department,Targets,Other Related Major Departments,Tentative Indicators,Target_id,Indicator_id
0,1,End poverty in all its forms everywhere,Rural Development,"By 2030, eradicate extreme poverty for all peo...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population below the interna...,1.1,1.1.1
1,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living below the ...,1.2,1.2.1
2,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...","Proportion of men, women and children of all a...",1.2,1.2.2
3,1,End poverty in all its forms everywhere,Rural Development,Implement nationally appropriate social protec...,"Urban Development, Agriculture, Horticulture, ...",Percentage of the population covered by social...,1.3,1.3.1
4,1,End poverty in all its forms everywhere,Rural Development,"By 2030, ensure that all men and women, in par...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living in househo...,1.4,1.4.1
...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,Finance,"Promote the development, transfer, disseminati...",Environment and Scientific Technology.,Total amount of approved funding to promote th...,16.4,16.4.1
175,16,Strengthen the means of implementation and rev...,Finance,Fully operationalize the technology bank and s...,"Environment and Scientific Technology, Inform...",Proportion of individuals using the Internet.,16.5,16.5.1
176,17,"Data, monitoring and accountability",Finance,"By 2020, enhance capacity-building support to ...","Planning, Finance, Economic and Statistics.",Proportion of sustainable development indicato...,17.1,17.1.1
177,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Dollar value of all resources made available t...,17.2,17.2.1
178,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Inclusive Wealth Index.,17.2,17.2.2

In [13]:
sdg.drop(['Nodal Department','Other Related Major Departments', 'Tentative Indicators', 'Indicator_id'],axis=1,inplace=True)

In [14]:
# Remove duplicate rows
sdg = sdg.drop_duplicates()

In [15]:
sdg.reset_index(inplace = True, drop = True)

In [16]:
data = pd.read_csv(absolute_path_attr, sep=";", dtype={'Attr_id': str, 'Chapter_id': str, 'Table_id':str})

In [17]:
data_new = data.copy()
data_new

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Taluks
1,4,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Hoblies
2,5,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Grama Panchayaths
3,6,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Circles
4,7,1,General Information,1.2,Inhabited Un-inhabited and Total Villages per ...,"Un-Inhabited Inhabited,Villages"
...,...,...,...,...,...,...
1548,1558,17,Other Information,17.3,Registration of Births and Deaths,"Total,Births,Late Registered events 2019"
1549,1559,17,Other Information,17.3,Registration of Births and Deaths,"Male,Deaths,Late Registered events 2019"
1550,1560,17,Other Information,17.3,Registration of Births and Deaths,"Female,Deaths,Late Registered events 2019"
1551,1561,17,Other Information,17.3,Registration of Births and Deaths,"Transgender,Deaths,Late Registered events 2019"
1552,1562,17,Other Information,17.3,Registration of Births and Deaths,"Total,Deaths,Late Registered events 2019"

In [18]:
sdg_string = pd.read_csv(absolute_path_string, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_string

,Goal No.,Goal,Targets,Target_id,new_targets,new_targets_str,top_n_count,top_n_attr,top_n_table_id,top_n_table_name,top_n_chapter_id,top_n_chapter_name,top_n_similarities,top_n_description
0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"['eradicate', 'extreme', 'poverty', 'people', ...",by eradicate extreme poverty for all people ev...,254,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, ...",['Ration Shops and Ration Card (Below poverty ...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['General Information', 'General Information',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Urban,Ration shops, Ration Shops and Ration ..."
1,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"['reduce', 'least', 'half', 'men', 'woman', 'c...",by reduce at least by half the proportion of m...,350,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[17.2, 10.8, 10.8, 10.8, 10.8, 10.8, 10.8, 10....",['Number of Pensioners under Social Security S...,"[17, 10, 10, 10, 10, 10, 10, 10, 13, 13, 13, 1...","['Other Information', 'Education', 'Education'...","[3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",['Bank Post Office Account (Below poverty line...
2,1,End poverty in all its forms everywhere,Implement nationally appropriate social protec...,1.3,"['implement', 'nationally', 'appropriate', 'so...",implement nationally appropriate social protec...,142,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[4.3, 4.7, 11.2, 11.2, 11.2, 11.2, 12.1, 12.1,...",['Area Under Principal crops in Hectares 2018-...,"[4, 4, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12,...","['Agriculture, Horticulture & Sericulture', 'A...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Total Pulses including Tur Bengal Gram,Pulse..."
3,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"['ensure', 'men', 'woman', 'particular', 'poor...",by ensure that all men and women in particular...,363,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[11.2, 11.2, 11.5, 11.5, 11.5, 11.5, 11.5, 11....",['No.of Hospitals Doctors Beds on 31-3-2020 Cu...,"[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","['Health & Family Welfare Services', 'Health &...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['Nos.,Pvt. Hospitals Including Nursing Homes ..."
4,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"['build', 'resilience', 'poor', 'vulnerable', ...",by build the resilience of the poor and those ...,16,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[17.3, 17.3, 17.3, 17.3, 17.3, 17.3, 17.3, 17....","['Registration of Births and Deaths', 'Registr...","[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 1...","['Other Information', 'Other Information', 'Ot...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","['Male,Births,Registered events 2019, Registra..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,16,Strengthen the means of implementation and rev...,"Enhance cooperation on and access to science, ...",16.3,"['enhance', 'cooperation', 'access', 'science'...",enhance cooperation on and access to science t...,11,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[4.3, 4.7, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, ...",['Area Under Principal crops in Hectares 2018-...,"[4, 4, 9, 9, 9, 9, 9, 9, 9, 11, 11]","['Agriculture, Horticulture & Sericulture', 'A...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","['Total Pulses including Tur Bengal Gram,Pulse..."
127,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"['promote', 'development', 'transfer', 'dissem...",promote the development transfer dissemination...,76,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sericulture 2019-20', 'Sericulture 2019-20',...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 1...","['Agriculture, Horticulture & Sericulture', 'A...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Sc,Farmers and reelers benefited under Seric..."
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,"['fully', 'operationalize', 'technology', 'ban...",fully operationalize the technology bank and s...,215,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[17.2, 17.2, 17.2, 17.2, 17.2, 17.2, 17.2, 1.1...",['Number of Pensioners under Social Security S...,"[17, 17, 17, 17, 17, 17, 17, 1, 1, 1, 1, 1, 1,...","['Other Information', 'Other Information', 'Ot...","[2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...",['Bank Post Office Account (Below poverty line...
129,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",17.1,"['enhance', 'capacity', 'building', 'support',...",by enhance capacity building support to increa...,107,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[17.2, 17.2, 17.2, 17.2, 17.2, 1.10, 1.10, 1.1...",['Number of Pensioners under Social Security S...,"[17, 17, 17, 17, 17, 1, 1, 1, 1, 1, 1, 1, 2, 2...","['Other Information', 'Other Information', 'Ot...","[2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Pensioners,Indira Gandhi National Old Age Pe..."
130,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"['build', 'existing', 'initiative', 'develop',...",by build on existing initiatives to develop me...,112,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[1.10, 1.10, 1.10, 1.10, 4.18, 4.18, 4.18, 4.1...","['District Income and Per Capita Income', 'Dis...","[1, 1, 1, 1, 4, 4, 4, 4, 13, 13, 13, 14, 14, 1...","['General Information', 'General Information',...","[3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",['Gross District Domestic Product Gddp Rs. in ...

In [19]:
sdg_sim = pd.read_csv(absolute_path_semantic, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_sim

,Goal No.,Goal,Targets,Target_id,new_targets,new_targets_str,keywords,vec,top_n_index,min_values,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"['eradicate', 'extreme', 'poverty', 'people', ...",by eradicate extreme poverty for all people ev...,"[['poverty', 'people'], ['measured', 'people']...",[[-0.27236 0.229701 0.238934 ... 0.3...,"[308, 309, 311, 814, 816, 1382, 1383, 1384, 13...","[0.8575334699106769, 0.536608549286644, 0.6295...",50,"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[3, 3, 3, 5, 5, 14, 14, 14, 14, 3, 1, 1, 1, 1,...","[3.1, 3.1, 3.1, 5.4, 5.4, 14.3, 14.3, 14.3, 14...","['Working,Raingauge Stations, No. of Raingauge...","['Rainfall', 'Rainfall', 'Rainfall', 'Fisherie...",['No. of Raingauge Stations Annual Normal Rain...
1,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"['reduce', 'least', 'half', 'men', 'woman', 'c...",by reduce at least by half the proportion of m...,"[['reduce', 'least'], ['according', 'national'...",[[-0.070615 0.367065 0.00489179 ... -0.2...,"[996, 1366, 1367, 1379, 1380, 1381, 1382, 1383...","[0.5986987445514103, 0.8887401699967143, 0.521...",59,"[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[9, 14, 14, 14, 14, 14, 14, 14, 14, 14, 13, 13...","[9.2, 14.1, 14.1, 14.3, 14.3, 14.3, 14.3, 14.3...","['National Highway, P.w.d Road Length on 31-03...","['Transport and Communication', 'Rural Develop...",['P.w.d Road Length on 31-03-2020 In Kms. Cumu...
2,1,End poverty in all its forms everywhere,Implement nationally appropriate social protec...,1.3,"['implement', 'nationally', 'appropriate', 'so...",implement nationally appropriate social protec...,"[['appropriate', 'social'], ['protection', 'sy...",[[-0.60930499 -0.269645 -0.01956 ... 0.1...,"[379, 465, 1160, 1161, 1214, 1215, 1216, 1217,...","[0.8510072365400712, 0.5952206115692615, 0.623...",59,"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[4, 4, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12,...","[4.3, 4.7, 11.2, 11.2, 12.1, 12.1, 12.1, 12.1,...","['Total Pulses including Tur Bengal Gram,Pulse...","['Agriculture, Horticulture & Sericulture', 'A...",['Area Under Principal crops in Hectares 2018-...
3,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"['ensure', 'men', 'woman', 'particular', 'poor...",by ensure that all men and women in particular...,"[['well'], ['particular', 'poor'], ['financial...",[[-0.13508999 0.35907 0.1453 ... -0.4...,"[352, 353, 354, 1393, 1394, 1414, 574, 575, 57...","[0.7045711183911056, 0.5662583352363878, 0.658...",43,"[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[4, 4, 4, 14, 14, 15, 4, 4, 4, 4, 6, 6, 6, 6, ...","[4.2, 4.2, 4.2, 14.5, 14.5, 15.3, 4.18, 4.18, ...","['Nos,Tube wells,Gross Net Area Irrigated Hect...","['Agriculture, Horticulture & Sericulture', 'A...",['Gross and Net area Irrigated under different...
4,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"['build', 'resilience', 'poor', 'vulnerable', ...",by build the resilience of the poor and those ...,"[['extreme', 'events'], ['poor', 'vulnerable']...",[[ 0.072906 0.157795 0.27599651 ... 0.7...,"[1537, 1538, 1539, 1540, 1541, 1542, 1543, 154...","[0.6873756433137852, 0.527061401761758, 0.5327...",60,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 5, 5,...","[17.3, 17.3, 17.3, 17.3, 17.3, 17.3, 17.3, 17....","['Male,Births,Registered events 2019, Registra...","['Other Information', 'Other Information', 'Ot...","['Registration of Births and Deaths', 'Registr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,16,Strengthen the means of implementation and rev...,"Enhance cooperation on and access to science, ...",16.3,"['enhance', 'cooperation', 'access', 'science'...",enhance cooperation on and access to science t...,"[['global', 'technology'], ['among', 'existing...",[[ 0.023705 -0.0712105 0.05521001 ... -0.0...,"[379, 465, 1160, 1161, 1001, 1002, 1003, 1004,...","[0.617751855870593, 0.5829036860609222, 0.5796...",48,"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[4, 4, 11, 11, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10...","[4.3, 4.7, 11.2, 11.2, 9.3, 9.3, 9.3, 9.3, 9.3...","['Total Pulses including Tur Bengal Gram,Pulse...","['Agriculture, Horticulture & Sericulture', 'A...",['Area Under Principal crops in Hectares 2018-...
127,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"['promote', 'development', 'transfer', 'dissem...",promote the development transfer dissemination...,"[['development'], ['promote'], ['transfer', 'd...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[570, 571, 572, 573, 574, 575, 576, 577, 1331,...","[1.0000000000000009, 0.5658785348581976, 0.488...",46,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 1, 1, 1, 1, 1...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sc,Farmers and reelers benefited under Seric...","['Agriculture, Horticulture & Sericulture', 'A...","['Sericulture 2019-20', 'Sericulture 2019-20',..."
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,"['fully', 'operationalize', 'technology', 'ban...",fully operationalize the technology bank and s...,"[['enabling', 'technology'], ['technology', 'b...",[[ 2.38249972e-02 -9.99070033e-02 1.70295507e...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 907...","[0.5640035546795967, 0.7908522812373742, 0.583...",43,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 7, 7, ...","[1.1, 1.1, 1.1, 1.1, 1.2, 1.2, 1.2, 1.3, 1.3, ...","['Taluks, Taluks Hoblies Grama Panchayath Vill...","['General Information', 'General Information',...",['Taluks Hoblies Grama Panchayath Village Acco...
129,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",17.1,"['enhance', 'capacity', 'building', 'support',...",by enhance capacity building support to increa...,"[['relevant', 'national'], ['availability', 'h...",[[-0.095118 0.28754001 -0.0810995 ... -0.2...,"[996, 1366, 1367, 1379, 1380, 1381, 1382, 1383...","[0.8304307960719237, 0.8048098255082116, 0.577...",60,"[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[9, 14, 14, 14, 14, 14, 14, 14, 14, 14, 13, 13...","[9.2, 14.1, 14.1, 14.3, 14.3, 14.3, 14.3, 14.3...","['National Highway, P.w.d Road Length on 31-03...","['Transport and Communication', 'Rural Develop...",['P.w.d Road Length on 31-03-2020 In Kms. Cumu...
130,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"['build', 'existing', 'initiative', 'develop',...",by build on existing initiatives to develop me...,"[['product', 'support'], ['existing', 'initiat...",[[-0.07342999 0.35689 -0.0763875 ... -0.3...,"[570, 571, 572, 573, 574, 575, 576, 577, 1331,...","[0.603040788532272, 0.5513513448774774, 0.7961...",42,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 1, 1, 1, 1, 1...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sc,Farmers and reelers benefited under Seric...","['Agriculture, Horticulture & Sericulture', 'A...","['Sericulture 2019-20', 'Sericulture 2019-20',..."

In [20]:
sdg_threshold = pd.read_csv(absolute_path_sem_threshold, dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, sep=";", converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_threshold

,Goal No.,Goal,Targets,Target_id,new_targets,new_targets_str,keywords,vec,top_n_index,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"['eradicate', 'extreme', 'poverty', 'people', ...",by eradicate extreme poverty for all people ev...,"[['poverty', 'people'], ['measured', 'people']...",[[-0.27236 0.229701 0.238934 ... 0.3...,"[308, 309, 311, 814, 816, 1382, 1383, 1384, 13...",557,"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[3, 3, 3, 5, 5, 14, 14, 14, 14, 3, 3, 1, 1, 1,...","[3.1, 3.1, 3.1, 5.4, 5.4, 14.3, 14.3, 14.3, 14...","['Working,Raingauge Stations, No. of Raingauge...","['Rainfall', 'Rainfall', 'Rainfall', 'Fisherie...",['No. of Raingauge Stations Annual Normal Rain...
1,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"['reduce', 'least', 'half', 'men', 'woman', 'c...",by reduce at least by half the proportion of m...,"[['reduce', 'least'], ['according', 'national'...",[[-0.070615 0.367065 0.00489179 ... -0.2...,"[996, 1366, 1367, 1379, 1380, 1381, 1382, 1383...",436,"[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[9, 14, 14, 14, 14, 14, 14, 14, 14, 14, 17, 17...","[9.2, 14.1, 14.1, 14.3, 14.3, 14.3, 14.3, 14.3...","['National Highway, P.w.d Road Length on 31-03...","['Transport and Communication', 'Rural Develop...",['P.w.d Road Length on 31-03-2020 In Kms. Cumu...
2,1,End poverty in all its forms everywhere,Implement nationally appropriate social protec...,1.3,"['implement', 'nationally', 'appropriate', 'so...",implement nationally appropriate social protec...,"[['appropriate', 'social'], ['protection', 'sy...",[[-0.60930499 -0.269645 -0.01956 ... 0.1...,"[379, 465, 1160, 1161, 1214, 1215, 1216, 1217,...",287,"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[4, 4, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12,...","[4.3, 4.7, 11.2, 11.2, 12.1, 12.1, 12.1, 12.1,...","['Total Pulses including Tur Bengal Gram,Pulse...","['Agriculture, Horticulture & Sericulture', 'A...",['Area Under Principal crops in Hectares 2018-...
3,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"['ensure', 'men', 'woman', 'particular', 'poor...",by ensure that all men and women in particular...,"[['well'], ['particular', 'poor'], ['financial...",[[-0.13508999 0.35907 0.1453 ... -0.4...,"[352, 353, 354, 1393, 1394, 1414, 574, 575, 57...",421,"[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[4, 4, 4, 14, 14, 15, 4, 4, 4, 4, 6, 6, 6, 6, ...","[4.2, 4.2, 4.2, 14.5, 14.5, 15.3, 4.18, 4.18, ...","['Nos,Tube wells,Gross Net Area Irrigated Hect...","['Agriculture, Horticulture & Sericulture', 'A...",['Gross and Net area Irrigated under different...
4,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"['build', 'resilience', 'poor', 'vulnerable', ...",by build the resilience of the poor and those ...,"[['extreme', 'events'], ['poor', 'vulnerable']...",[[ 0.072906 0.157795 0.27599651 ... 0.7...,"[1537, 1538, 1539, 1540, 1541, 1542, 1543, 154...",502,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 1...","[17.3, 17.3, 17.3, 17.3, 17.3, 17.3, 17.3, 17....","['Male,Births,Registered events 2019, Registra...","['Other Information', 'Other Information', 'Ot...","['Registration of Births and Deaths', 'Registr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,16,Strengthen the means of implementation and rev...,"Enhance cooperation on and access to science, ...",16.3,"['enhance', 'cooperation', 'access', 'science'...",enhance cooperation on and access to science t...,"[['global', 'technology'], ['among', 'existing...",[[ 0.023705 -0.0712105 0.05521001 ... -0.0...,"[379, 465, 1160, 1161, 1001, 1002, 1003, 1004,...",278,"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[4, 4, 11, 11, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10...","[4.3, 4.7, 11.2, 11.2, 9.3, 9.3, 9.3, 9.3, 9.3...","['Total Pulses including Tur Bengal Gram,Pulse...","['Agriculture, Horticulture & Sericulture', 'A...",['Area Under Principal crops in Hectares 2018-...
127,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"['promote', 'development', 'transfer', 'dissem...",promote the development transfer dissemination...,"[['development'], ['promote'], ['transfer', 'd...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[570, 571, 572, 573, 574, 575, 576, 577, 1331,...",268,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 1...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sc,Farmers and reelers benefited under Seric...","['Agriculture, Horticulture & Sericulture', 'A...","['Sericulture 2019-20', 'Sericulture 2019-20',..."
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,"['fully', 'operationalize', 'technology', 'ban...",fully operationalize the technology bank and s...,"[['enabling', 'technology'], ['technology', 'b...",[[ 2.38249972e-02 -9.99070033e-02 1.70295507e...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",289,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1.1, 1.1, 1.1, 1.1, 1.2, 1.2, 1.2, 1.3, 1.3, ...","['Taluks, Taluks Hoblies Grama Panchayath Vill...","['General Information', 'General Information',...",['Taluks Hoblies Grama Panchayath Village Acco...
129,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",17.1,"['enhance', 'capacity', 'building', 'support',...",by enhance capacity building support to increa...,"[['relevant', 'national'], ['availability', 'h...",[[-0.095118 0.28754001 -0.0810995 ... -0.2...,"[996, 1366, 1367, 1379, 1380, 1381, 1382, 1383...",150,"[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[9, 14, 14, 14, 14, 14, 14, 14, 14, 14, 17, 17...","[9.2, 14.1, 14.1, 14.3, 14.3, 14.3, 14.3, 14.3...","['National Highway, P.w.d Road Length on 31-03...","['Transport and Communication', 'Rural Develop...",['P.w.d Road Length on 31-03-2020 In Kms. Cumu...
130,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"['build', 'existing', 'initiative', 'develop',...",by build on existing initiatives to develop me...,"[['product', 'support'], ['existing', 'initiat...",[[-0.07342999 0.35689 -0.0763875 ... -0.3...,"[570, 571, 572, 573, 574, 575, 576, 577, 1331,...",175,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 1...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sc,Farmers and reelers benefited under Seric...","['Agriculture, Horticulture & Sericulture', 'A...","['Sericulture 2019-20', 'Sericulture 2019-20',..."

In [21]:
result_sdg_new =sdg_string.copy()
result_sdg_sim_new =sdg_sim.copy()
result_sdg_threshold_new = sdg_threshold.copy()

In [22]:
result_sdg_new = result_sdg_new[['Goal No.', 'Target_id', 'top_n_attr']]

In [23]:
result_sdg_new.head()

  Goal No. Target_id                                         top_n_attr
0        1       1.1  [24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...
1        1       1.2  [1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...
2        1       1.3  [389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...
3        1       1.4  [1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...
4        1       1.5  [1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...

In [24]:
result_sdg_sim_new = result_sdg_sim_new[['Goal No.', 'Target_id', 'top_n_attr']]

In [25]:
result_sdg_sim_new.head()

  Goal No. Target_id                                         top_n_attr
0        1       1.1  [318, 319, 321, 824, 826, 1392, 1393, 1394, 13...
1        1       1.2  [1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...
2        1       1.3  [389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...
3        1       1.4  [362, 363, 364, 1403, 1404, 1424, 584, 585, 58...
4        1       1.5  [1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...

In [26]:
result_sdg_threshold_new = result_sdg_threshold_new[['Goal No.', 'Target_id', 'top_n_attr']]

In [27]:
result_sdg_threshold_new.head()

  Goal No. Target_id                                         top_n_attr
0        1       1.1  [318, 319, 321, 824, 826, 1392, 1393, 1394, 13...
1        1       1.2  [1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...
2        1       1.3  [389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...
3        1       1.4  [362, 363, 364, 1403, 1404, 1424, 584, 585, 58...
4        1       1.5  [1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...

In [28]:
result_sdg_new.rename(columns = {'top_n_attr':'top_n_attr_A'}, inplace=True)

In [29]:
result_sdg_new['top_n_attr_B'] = result_sdg_threshold_new.loc[:,'top_n_attr']
result_sdg_new['top_n_attr_C'] = result_sdg_sim_new.loc[:,'top_n_attr']

In [30]:
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13..."
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,..."
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155..."
...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,..."
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ..."
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."

In [31]:
# Apply the function to the merged dataframe
result_sdg_new['B_plus_C'] = result_sdg_new.apply(combine_lists_BC, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13..."
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,..."
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155..."
...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,..."
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ..."
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."

In [32]:
# Apply the function to the merged dataframe
result_sdg_new['A_and_BC'] = result_sdg_new.apply(find_intersection_ABC, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3..."
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,..."
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155..."
...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,..."
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ..."
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135..."

In [33]:
# Apply the function to the merged dataframe
result_sdg_new['A'] = result_sdg_new.apply(find_difference_A, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",[]
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",[]
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[23, 334, 335, 336, 337, 338, 339, 340, 341, 3..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",[]
...,...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",[]
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[]
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[540, 541, 542, 543, 544, 545, 824, 826]"
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[353, 354, 355, 356, 357, 358, 359, 360, 361, ..."

In [34]:
# Apply the function to the merged dataframe
result_sdg_new['B_and_C'] = result_sdg_new.apply(find_intersection_BC, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",[],"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13..."
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",[],"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,..."
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[23, 334, 335, 336, 337, 338, 339, 340, 341, 3...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155..."
...,...,...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",[],"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,..."
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[540, 541, 542, 543, 544, 545, 824, 826]","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ..."
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[353, 354, 355, 356, 357, 358, 359, 360, 361, ...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."

In [35]:
# Apply the function to the merged dataframe
result_sdg_new['B_minus_all'] = result_sdg_new.apply(find_difference_B, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",[],"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[806, 815, 846, 847, 848, 892, 893, 894, 895, ..."
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[195, 199, 203, 207, 211, 215, 219, 222, 226, ..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",[],"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[364, 1403, 1404, 1424, 379, 415, 437, 576, 58..."
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[23, 334, 335, 336, 337, 338, 339, 340, 341, 3...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[582, 583, 1376, 1377, 1378, 1379, 1380, 1381,..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[132, 133, 140, 141, 143, 144, 147, 148, 149, ..."
...,...,...,...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",[],"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[1122, 1123, 1124, 1125, 1126, 834, 835, 836, ..."
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[24, 25, 26, 32, 35, 36, 37, 47, 48, 50, 51, 5..."
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[540, 541, 542, 543, 544, 545, 824, 826]","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[1343, 1344, 1345, 1346, 1351, 1352, 1353, 135..."
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1459, 1473, 1474, 1444, 1445, 1447, 1448, 145..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[353, 354, 355, 356, 357, 358, 359, 360, 361, ...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[44, 46, 1503, 1504, 1505, 1506, 1507, 1508, 1..."

In [36]:
# Apply the function to the merged dataframe
result_sdg_new['C_minus_all'] = result_sdg_new.apply(find_difference_C, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",[],"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[806, 815, 846, 847, 848, 892, 893, 894, 895, ...",[]
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[195, 199, 203, 207, 211, 215, 219, 222, 226, ...",[]
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",[],"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[364, 1403, 1404, 1424, 379, 415, 437, 576, 58...",[]
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[23, 334, 335, 336, 337, 338, 339, 340, 341, 3...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[582, 583, 1376, 1377, 1378, 1379, 1380, 1381,...",[]
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[132, 133, 140, 141, 143, 144, 147, 148, 149, ...",[]
...,...,...,...,...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",[],"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[1122, 1123, 1124, 1125, 1126, 834, 835, 836, ...",[]
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[24, 25, 26, 32, 35, 36, 37, 47, 48, 50, 51, 5...",[]
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[540, 541, 542, 543, 544, 545, 824, 826]","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[1343, 1344, 1345, 1346, 1351, 1352, 1353, 135...",[]
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1459, 1473, 1474, 1444, 1445, 1447, 1448, 145...",[]
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[353, 354, 355, 356, 357, 358, 359, 360, 361, ...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[44, 46, 1503, 1504, 1505, 1506, 1507, 1508, 1...",[]

In [37]:
result_sdg_new.columns

Index(['Goal No.', 'Target_id', 'top_n_attr_A', 'top_n_attr_B', 'top_n_attr_C',
       'B_plus_C', 'A_and_BC', 'A', 'B_and_C', 'B_minus_all', 'C_minus_all'],
      dtype='object')

In [38]:
# Apply the function to the merged dataframe
result_sdg_new['Rank'] = result_sdg_new.apply(final_rank, axis=1)
result_sdg_new

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",[],"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[806, 815, 846, 847, 848, 892, 893, 894, 895, ...",[],"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3..."
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[195, 199, 203, 207, 211, 215, 219, 222, 226, ...",[],"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107..."
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",[],"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[364, 1403, 1404, 1424, 379, 415, 437, 576, 58...",[],"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,..."
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[23, 334, 335, 336, 337, 338, 339, 340, 341, 3...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[582, 583, 1376, 1377, 1378, 1379, 1380, 1381,...",[],"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119..."
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[132, 133, 140, 141, 143, 144, 147, 148, 149, ...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155..."
...,...,...,...,...,...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",[],"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[1122, 1123, 1124, 1125, 1126, 834, 835, 836, ...",[],"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,..."
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[24, 25, 26, 32, 35, 36, 37, 47, 48, 50, 51, 5...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[540, 541, 542, 543, 544, 545, 824, 826]","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[1343, 1344, 1345, 1346, 1351, 1352, 1353, 135...",[],"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ..."
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1459, 1473, 1474, 1444, 1445, 1447, 1448, 145...",[],"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,..."
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[353, 354, 355, 356, 357, 358, 359, 360, 361, ...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[44, 46, 1503, 1504, 1505, 1506, 1507, 1508, 1...",[],"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135..."

In [39]:
final_df = result_sdg_new.copy()

In [40]:
final_df['Attr_count'] = final_df['Rank'].apply(lambda x: len(x))

In [41]:
final_df

,Goal No.,Target_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank,Attr_count
0,1,1.1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",[],"[318, 319, 321, 824, 826, 1392, 1393, 1394, 13...","[806, 815, 846, 847, 848, 892, 893, 894, 895, ...",[],"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...",557
1,1,1.2,"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[195, 199, 203, 207, 211, 215, 219, 222, 226, ...",[],"[1526, 1064, 1065, 1066, 1067, 1068, 1069, 107...",572
2,1,1.3,"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",[],"[389, 475, 1170, 1171, 1224, 1225, 1226, 1227,...","[364, 1403, 1404, 1424, 379, 415, 437, 576, 58...",[],"[389, 475, 1168, 1169, 1170, 1171, 1224, 1225,...",287
3,1,1.4,"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...","[23, 334, 335, 336, 337, 338, 339, 340, 341, 3...","[362, 363, 364, 1403, 1404, 1424, 584, 585, 58...","[582, 583, 1376, 1377, 1378, 1379, 1380, 1381,...",[],"[1170, 1171, 1193, 1194, 1195, 1196, 1197, 119...",598
4,1,1.5,"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...","[132, 133, 140, 141, 143, 144, 147, 148, 149, ...",[],"[1547, 1548, 1549, 1550, 1551, 1552, 1553, 155...",502
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,16,16.3,"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",[],"[389, 475, 1170, 1171, 1011, 1012, 1013, 1014,...","[1122, 1123, 1124, 1125, 1126, 834, 835, 836, ...",[],"[389, 475, 1011, 1012, 1013, 1014, 1015, 1016,...",278
127,16,16.4,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[24, 25, 26, 32, 35, 36, 37, 47, 48, 50, 51, 5...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",268
128,16,16.5,"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...","[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...","[540, 541, 542, 543, 544, 545, 824, 826]","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, ...","[1343, 1344, 1345, 1346, 1351, 1352, 1353, 135...",[],"[1526, 1529, 1534, 1537, 1539, 1541, 1543, 3, ...",297
129,17,17.1,"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[1006, 1376, 1377, 1389, 1390, 1391, 1392, 139...","[1459, 1473, 1474, 1444, 1445, 1447, 1448, 145...",[],"[1525, 1526, 1527, 1531, 1532, 63, 64, 65, 66,...",184
130,17,17.2,"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...","[353, 354, 355, 356, 357, 358, 359, 360, 361, ...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[44, 46, 1503, 1504, 1505, 1506, 1507, 1508, 1...",[],"[63, 65, 64, 66, 584, 585, 586, 587, 1356, 135...",195

In [42]:
final_df.to_csv(absolute_path_rank, sep=';', index=False)

In [43]:
all_goals = process_result(final_df, sdg, data)

In [44]:
all_goals.to_csv(absolute_path_rank_unroll, sep=';', index=False)

In [45]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,top_n_goal_id,top_n_target_id
0,24,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
1,25,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
2,26,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Total,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
3,27,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
4,28,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
...,...,...,...,...,...,...,...,...,...,...
41108,1537,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Bank Post Office Account Holders,Sandhya Suraksha","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41109,1538,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Pensioners,Mythri Pension Scheme","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41110,1539,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Bank Post Office Account Holders,Mythri Pensio...","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41111,1540,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Pensioners,Manaswini Pension Scheme","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41112,1541,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Bank Post Office Account Holders,Manaswini Pen...","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2

In [46]:
# Group by 'col1' and count the distinct values in 'col2'
chap_map = data_new.groupby('Chapter_id')['Attr_id'].nunique().to_dict()
chap_map

{'1': 67,
 '10': 128,
 '11': 73,
 '12': 117,
 '13': 35,
 '14': 33,
 '15': 69,
 '16': 43,
 '17': 42,
 '2': 241,
 '3': 16,
 '4': 456,
 '5': 44,
 '6': 83,
 '7': 32,
 '8': 28,
 '9': 46}

In [47]:
# Group by 'col1' and count the distinct values in 'col2'
table_map = data_new.groupby('Chapter_id')['Table_id'].nunique().to_dict()
table_map

{'1': 10,
 '10': 15,
 '11': 6,
 '12': 6,
 '13': 6,
 '14': 5,
 '15': 9,
 '16': 3,
 '17': 3,
 '2': 21,
 '3': 2,
 '4': 19,
 '5': 4,
 '6': 4,
 '7': 2,
 '8': 4,
 '9': 4}

In [48]:
attr_map = data_new.groupby('Table_id')['Attr_id'].nunique().to_dict()
attr_map

{'1.1': 4,
 '1.10': 7,
 '1.2': 3,
 '1.3': 6,
 '1.4': 4,
 '1.5': 4,
 '1.6': 15,
 '1.7': 8,
 '1.8': 8,
 '1.9': 8,
 '10.1': 9,
 '10.10': 10,
 '10.11': 11,
 '10.12': 9,
 '10.13': 24,
 '10.14': 8,
 '10.15': 8,
 '10.2': 10,
 '10.3': 4,
 '10.4': 4,
 '10.5': 4,
 '10.6': 5,
 '10.7': 5,
 '10.8': 7,
 '10.9': 10,
 '11.1': 14,
 '11.2': 16,
 '11.3': 7,
 '11.4': 5,
 '11.5': 23,
 '11.6': 8,
 '12.1': 24,
 '12.2': 18,
 '12.3': 30,
 '12.4': 6,
 '12.5': 18,
 '12.6': 21,
 '13.1': 6,
 '13.2': 4,
 '13.3': 5,
 '13.4': 5,
 '13.5': 8,
 '13.6': 7,
 '14.1': 7,
 '14.2': 6,
 '14.3': 7,
 '14.4': 7,
 '14.5': 6,
 '15.1': 7,
 '15.2': 6,
 '15.3': 9,
 '15.4': 8,
 '15.5': 5,
 '15.6': 9,
 '15.7': 10,
 '15.8': 10,
 '15.9': 5,
 '16.1': 7,
 '16.2': 16,
 '16.3': 20,
 '17.1': 4,
 '17.2': 19,
 '17.3': 19,
 '2.1': 18,
 '2.11': 20,
 '2.12': 11,
 '2.13': 34,
 '2.14': 10,
 '2.15': 10,
 '2.16': 10,
 '2.17': 10,
 '2.18': 10,
 '2.19': 10,
 '2.2': 10,
 '2.20': 10,
 '2.21': 10,
 '2.22': 10,
 '2.3': 7,
 '2.4': 12,
 '2.5': 7,
 '2.6': 10,
 '2.7': 6,
 '2.8': 10,
 '2.9': 6,
 '3.1': 5,
 '3.2': 11,
 '4.1': 19,
 '4.10': 9,
 '4.11': 9,
 '4.12': 18,
 '4.13': 9,
 '4.14': 3,
 '4.15': 13,
 '4.16': 5,
 '4.17': 20,
 '4.18': 22,
 '4.19': 197,
 '4.2': 20,
 '4.3': 20,
 '4.4': 47,
 '4.5': 8,
 '4.6': 19,
 '4.7': 9,
 '4.8': 3,
 '4.9': 6,
 '5.1': 20,
 '5.2': 7,
 '5.3': 5,
 '5.4': 12,
 '6.1': 22,
 '6.2': 54,
 '6.3': 4,
 '6.4': 3,
 '7.1': 8,
 '7.2': 24,
 '8.1': 6,
 '8.2': 6,
 '8.3': 6,
 '8.4': 10,
 '9.1': 29,
 '9.2': 5,
 '9.3': 7,
 '9.4': 5}

In [49]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,top_n_goal_id,top_n_target_id
0,24,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
1,25,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
2,26,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Total,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
3,27,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
4,28,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
...,...,...,...,...,...,...,...,...,...,...
41108,1537,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Bank Post Office Account Holders,Sandhya Suraksha","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41109,1538,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Pensioners,Mythri Pension Scheme","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41110,1539,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Bank Post Office Account Holders,Mythri Pensio...","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41111,1540,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Pensioners,Manaswini Pension Scheme","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41112,1541,17,Other Information,17.2,Number of Pensioners under Social Security Sch...,"Bank Post Office Account Holders,Manaswini Pen...","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2

In [50]:
filter_df = all_goals.copy()

In [51]:
# Initialize an empty dictionary to store the counts
tab_result = {}
table_id_rm = {}
# Iterate over unique values in col1
for val in filter_df['top_n_target_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = filter_df[filter_df['top_n_target_id'] == val]
    
    # Count the occurrences of each value in col2 and store in a dictionary
    table_counts = filtered_df['Table_id'].value_counts().to_dict()
    
    table_id_rm[val] = {key:value for key, value in table_counts.items() if value < (attr_map[key]/2)}
    
    table_dict_new = {key:value for key, value in table_counts.items() if key not in table_id_rm[val]}
    
    if(len(table_dict_new) <= 4):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(table_counts.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_6_dict = dict(list(sorted_dict.items())[:6])
        tab_result[val] = top_6_dict
        
    else:
        # Add the col2 counts dictionary to the result dictionary
        tab_result[val] = table_dict_new

print(tab_result)

{'1.1': {'4.19': 197, '2.13': 34, '2.11': 20, '2.1': 18, '1.6': 15, '2.4': 12, '2.12': 11, '2.15': 10, '2.6': 10, '2.16': 10, '2.8': 10, '2.17': 10, '2.21': 10, '2.18': 10, '2.19': 10, '2.2': 10, '2.20': 10, '2.22': 10, '2.14': 10, '1.8': 8, '1.9': 8, '1.7': 8, '2.5': 7, '2.3': 7, '11.3': 7, '2.9': 6, '2.7': 6, '3.1': 5, '6.3': 4, '10.4': 4, '14.3': 4}, '1.2': {'4.19': 197, '2.11': 20, '4.2': 20, '2.13': 18, '17.2': 15, '1.6': 15, '11.5': 14, '6.1': 14, '2.4': 12, '15.3': 9, '1.7': 8, '1.8': 8, '13.5': 8, '1.9': 8, '10.8': 7, '2.21': 7, '2.5': 7, '13.6': 7, '14.3': 7, '11.3': 7, '13.1': 6, '2.16': 6, '10.1': 6, '2.22': 6, '2.20': 6, '15.2': 6, '2.19': 6, '2.18': 6, '10.2': 6, '2.17': 6, '2.15': 6, '2.14': 6, '13.4': 5, '13.3': 5, '13.2': 4, '1.10': 4, '1.4': 2}, '1.3': {'12.3': 30, '12.1': 24, '12.6': 21, '17.2': 19, '12.2': 18, '12.5': 18, '10.13': 12, '14.3': 7, '12.4': 6, '13.2': 4, '10.15': 4, '10.14': 4, '11.4': 3}, '1.4': {'4.19': 197, '12.3': 30, '12.1': 24, '11.5': 23, '12.6': 21, '17.2': 19, '4.1': 19, '12.5': 18, '12.2': 18, '11.2': 16, '11.1': 14, '13.5': 8, '1.7': 8, '1.8': 8, '11.6': 8, '1.9': 8, '9.3': 7, '14.4': 7, '11.3': 7, '14.3': 7, '13.6': 7, '14.1': 7, '14.5': 6, '14.2': 6, '13.1': 6, '12.4': 6, '11.4': 5, '13.3': 5, '13.4': 5, '6.3': 4, '13.2': 4, '1.5': 2}, '1.5': {'4.19': 197, '16.3': 20, '4.2': 20, '4.6': 19, '17.2': 19, '17.3': 19, '4.12': 18, '1.6': 15, '2.8': 10, '2.6': 10, '2.2': 10, '8.4': 10, '4.10': 9, '4.13': 9, '4.7': 9, '4.11': 9, '1.9': 8, '1.8': 8, '11.6': 8, '1.7': 8, '1.10': 7, '1.3': 6, '13.1': 6, '17.1': 4, '1.1': 4, '1.4': 4, '1.5': 4, '1.2': 3, '13.2': 3}, '1.6': {'4.19': 197, '12.6': 18, '1.6': 15, '10.10': 10, '2.8': 10, '2.6': 10, '2.2': 10, '17.2': 10, '1.7': 8, '1.8': 8, '13.5': 8, '1.9': 8, '14.4': 7, '14.3': 7, '13.6': 7, '14.1': 7, '14.2': 6, '14.5': 6, '13.1': 6, '13.4': 5, '10.7': 5, '13.3': 5, '13.2': 4, '10.4': 4, '10.5': 4}, '2.1': {'4.2': 20, '11.6': 8, '1.7': 8, '9.3': 7, '11.3': 7, '14.1': 7, '14.3': 7, '14.5': 6, '11.4': 3}, '2.2': {'4.19': 197, '2.11': 20, '1.6': 15, '2.4': 12, '1.8': 8, '1.9': 8, '1.7': 8, '13.5': 8, '14.3': 7, '11.3': 7, '2.5': 7, '14.1': 7, '13.6': 7, '10.8': 7, '13.1': 6, '13.4': 5, '13.3': 5, '13.2': 4}, '2.3': {'4.19': 197, '6.2': 54, '11.5': 23, '17.3': 19, '17.2': 19, '11.2': 16, '1.6': 15, '11.1': 14, '2.16': 10, '2.18': 10, '2.17': 10, '8.4': 10, '2.22': 10, '1.7': 8, '11.6': 8, '1.9': 8, '1.8': 8, '1.10': 7, '14.3': 7, '14.1': 7, '11.3': 7, '1.3': 6, '8.2': 6, '8.1': 6, '8.3': 6, '11.4': 5, '1.1': 4, '1.5': 4, '1.4': 4, '17.1': 4, '1.2': 3}, '2.4': {'4.19': 197, '11.5': 23, '16.3': 20, '4.1': 19, '4.6': 19, '2.17': 10, '2.22': 10, '8.4': 10, '2.8': 10, '2.6': 10, '2.2': 10, '2.18': 10, '4.7': 9, '4.10': 9, '4.11': 9, '9.3': 7, '8.3': 6, '8.2': 6, '8.1': 6, '13.1': 6, '4.9': 6, '5.3': 5, '10.4': 4, '17.1': 4, '13.2': 3, '4.8': 3}, '2.5': {'2.13': 34, '7.2': 24, '4.2': 20, '4.17': 20, '5.1': 20, '4.1': 19, '17.3': 19, '4.6': 19, '17.2': 19, '4.12': 18, '1.6': 15, '11.1': 14, '5.4': 12, '8.4': 10, '4.11': 9, '4.7': 9, '4.10': 9, '4.13': 9, '13.5': 8, '15.4': 8, '11.6': 8, '7.1': 8, '1.7': 8, '1.8': 8, '1.9': 8, '14.1': 7, '9.3': 7, '14.3': 7, '14.4': 7, '5.2': 7, '1.10': 7, '13.6': 7, '14.2': 6, '1.3': 6, '8.1': 6, '14.5': 6, '8.2': 6, '13.1': 6, '5.3': 5, '13.3': 5, '13.4': 5, '1.5': 4, '1.4': 4, '17.1': 4, '10.4': 4, '1.1': 4, '13.2': 4, '1.2': 3}, '2.6': {'4.19': 197, '7.2': 24, '11.5': 23, '4.2': 20, '5.1': 20, '4.6': 19, '4.12': 18, '11.2': 16, '11.1': 14, '4.18': 11, '2.22': 10, '2.18': 10, '10.10': 10, '2.2': 10, '10.9': 10, '8.4': 10, '2.17': 10, '4.10': 9, '4.11': 9, '4.13': 9, '4.7': 9, '13.5': 8, '11.6': 8, '7.1': 8, '1.7': 8, '13.6': 7, '14.1': 7, '11.3': 7, '9.3': 7, '14.4': 7, '14.3': 7, '13.1': 6, '4.9': 6, '14.5': 6, '8.1': 6, '8.2': 6, '8.3': 6, '14.2': 6, '5.3': 5, '11.4': 5, '13.4': 5, '13.3': 5, '13.2': 4, '4.8': 3}, '2.7': {'4.19': 197, '6.2': 54, '6.1': 22, '4.2': 20, '4.18': 11, '2.17': 10, '8.4': 10, '2.22': 10, '2.19': 10, '2.18': 10, '11.6': 8, '13.5': 8, '13.6': 7, '14.4': 7, '14.1': 7, '14.3': 7, '8.3': 6, '14.5': 6, '8.1': 6, '13.1': 6, '14.2': 6, '8.2': 6, '13.4': 5, '13.3': 5, '6.3': 4, '13.2': 4, '6.4': 3}, '2.8': {'11.5': 23, '17.2': 19, '17.3': 19, '1.6': 15, '1.9': 8, '1.8': 8, '1.7': 8, '14.3': 7, '1.10': 7, '9.3': 7, '13.1': 6, '1.3': 6, '1.5': 4, '1.4': 4, '17.1': 4, '1.1': 4, '13.2': 3, '1.2': 3}, '3.1': {'16.3': 20, '17.3': 19, '2.4': 12, '13.5': 8, '1.7': 8, '2.3': 7, '11.3': 7, '2.5': 7, '13.6': 7, '10.8': 7, '13.1': 6, '13.3': 5, '10.6': 5, '13.4': 5, '10.7': 5, '10.4': 4, '11.6': 4, '17.1': 4, '13.2': 4}, '3.2': {'2.11': 20, '17.3': 19, '12.6': 18, '11.5': 17, '2.4': 12, '10.10': 10, '13.5': 8, '14.1': 7, '13.6': 7, '10.8': 7, '11.3': 7, '2.5': 7, '13.1': 6, '13.3': 5, '10.7': 5, '13.4': 5, '10.5': 4, '13.2': 4}, '3.3': {'4.19': 197, '11.5': 23, '11.2': 16, '1.6': 15, '11.1': 14, '3.2': 11, '15.3': 9, '1.9': 8, '1.8': 8, '1.7': 8, '11.6': 8, '9.3': 7, '11.3': 7, '14.4': 7, '14.1': 7, '14.5': 6, '3.1': 5, '11.4': 5}, '3.4': {'10.13': 24, '11.5': 23, '11.2': 16, '11.1': 14, '2.4': 12, '15.3': 9, '11.6': 8, '13.5': 8, '11.3': 7, '10.8': 7, '14.4': 7, '13.6': 7, '2.5': 7, '2.3': 7, '13.1': 6, '14.5': 6, '13.4': 5, '11.4': 5, '13.3': 5, '13.2': 4}, '3.5': {'9.1': 29, '17.3': 19, '11.5': 17, '11.2': 16, '11.1': 14, '9.3': 7, '5.2': 7, '9.2': 5, '9.4': 5, '11.6': 4}, '3.6': {'10.13': 24, '11.5': 23, '17.3': 19, '17.2': 19, '11.2': 16, '1.6': 15, '11.1': 14, '10.11': 11, '10.10': 10, '10.9': 10, '10.2': 10, '10.12': 9, '10.1': 9, '10.15': 8, '10.14': 8, '13.5': 8, '1.8': 8, '11.6': 8, '1.7': 8, '1.9': 8, '1.10': 7, '9.3': 7, '11.3': 7, '14.3': 7, '10.8': 7, '1.3': 6, '10.6': 5, '10.7': 5, '11.4': 5, '17.1': 4, '14.1': 4, '10.3': 4, '1.1': 4, '1.4': 4, '1.5': 4, '10.5': 4, '10.4': 4, '1.2': 3}, '3.7': {'11.5': 23, '4.6': 19, '4.12': 18, '11.2': 16, '11.1': 14, '8.4': 10, '4.7': 9, '4.13': 9, '4.11': 9, '4.10': 9, '11.6': 8, '1.7': 8, '9.3': 7, '14.3': 7, '11.3': 7, '11.4': 5}, '3.8': {'11.5': 23, '16.3': 20, '17.3': 19, '10.9': 10, '15.3': 9, '14.4': 7, '14.5': 6, '4.16': 5, '10.6': 5, '10.4': 4, '17.1': 4, '10.3': 4}, '3.9': {'11.5': 23, '4.2': 20, '11.2': 16, '11.1': 14, '2.2': 10, '2.16': 10, '2.22': 10, '2.6': 10, '2.8': 10, '8.4': 10, '1.6': 9, '13.5': 8, '11.6': 8, '1.7': 8, '1.9': 8, '14.3': 7, '11.3': 7, '14.4': 7, '14.1': 7, '13.6': 7, '10.8': 7, '14.2': 6, '14.5': 6, '13.1': 6, '13.4': 5, '11.4': 5, '13.3': 5, '13.2': 4}, '3.10': {'11.5': 23, '17.2': 19, '17.3': 19, '11.2': 16, '1.6': 15, '11.1': 14, '12.1': 12, '12.2': 12, '10.13': 12, '12.5': 12, '2.16': 10, '8.4': 10, '2.22': 10, '1.7': 8, '11.6': 8, '1.8': 8, '13.5': 8, '1.9': 8, '1.10': 7, '11.3': 7, '14.4': 7, '9.3': 7, '14.1': 7, '13.6': 7, '14.3': 7, '14.5': 6, '14.2': 6, '1.3': 6, '13.1': 6, '11.4': 5, '13.3': 5, '13.4': 5, '1.5': 4, '10.15': 4, '10.14': 4, '13.2': 4, '17.1': 4, '1.1': 4, '1.4': 4, '1.2': 3}, '3.11': {'11.5': 23, '16.3': 20, '11.2': 16, '11.1': 14, '4.18': 11, '10.9': 10, '13.5': 8, '11.6': 8, '14.1': 7, '14.4': 7, '14.3': 7, '13.6': 7, '11.3': 7, '14.2': 6, '13.1': 6, '14.5': 6, '13.4': 5, '13.3': 5, '11.4': 5, '10.6': 5, '13.2': 4, '10.4': 4, '17.1': 4, '10.3': 4}, '3.12': {'11.5': 23, '11.2': 16, '11.1': 14, '17.2': 11, '8.4': 10, '1.8': 8, '1.9': 8, '11.6': 8, '1.7': 8, '11.3': 7, '14.3': 7, '1.3': 6, '11.4': 5, '10.4': 4}, '4.1': {'10.13': 24, '12.6': 20, '12.3': 20, '17.2': 19, '4.6': 19, '4.12': 18, '12.1': 16, '11.1': 14, '12.2': 12, '12.5': 12, '10.11': 11, '10.10': 10, '10.9': 10, '10.2': 10, '4.13': 9, '4.11': 9, '4.10': 9, '4.7': 9, '1.6': 9, '10.1': 9, '10.12': 9, '1.9': 8, '1.7': 8, '1.8': 8, '10.15': 8, '10.14': 8, '10.8': 7, '14.3': 7, '13.1': 6, '10.6': 5, '10.7': 5, '10.5': 4, '10.4': 4, '10.3': 4, '13.2': 3}, '4.2': {'12.3': 24, '10.13': 24, '12.6': 20, '12.1': 20, '12.5': 16, '12.2': 16, '10.11': 11, '10.9': 10, '10.2': 10, '10.10': 10, '10.1': 9, '10.12': 9, '10.15': 8, '13.5': 8, '10.14': 8, '14.3': 7, '14.4': 7, '13.6': 7, '9.3': 7, '14.1': 7, '10.8': 7, '12.4': 6, '14.5': 6, '13.1': 6, '14.2': 6, '13.4': 5, '10.6': 5, '13.3': 5, '10.7': 5, '10.3': 4, '13.2': 4, '10.4': 4, '10.5': 4}, '4.3': {'4.19': 121, '6.2': 28, '10.13': 24, '2.13': 19, '6.1': 16, '11.5': 14, '2.11': 12, '10.11': 11, '8.4': 10, '10.9': 10, '10.10': 10, '10.2': 10, '10.1': 9, '10.12': 9, '13.5': 8, '10.14': 8, '10.15': 8, '14.1': 7, '13.6': 7, '9.3': 7, '10.8': 7, '14.3': 7, '2.14': 6, '2.15': 6, '2.16': 6, '2.17': 6, '2.21': 6, '2.18': 6, '2.19': 6, '2.20': 6, '2.22': 6, '13.1': 6, '10.6': 5, '13.4': 5, '13.3': 5, '10.7': 5, '1.10': 4, '10.3': 4, '10.4': 4, '10.5': 4, '13.2': 4, '1.4': 2}, '4.4': {'10.13': 24, '16.3': 20, '17.3': 19, '17.2': 19, '4.6': 19, '4.12': 18, '1.6': 15, '11.1': 14, '10.11': 11, '10.10': 10, '10.9': 10, '10.2': 10, '10.12': 9, '4.10': 9, '4.11': 9, '10.1': 9, '4.13': 9, '4.7': 9, '10.14': 8, '13.5': 8, '10.15': 8, '1.8': 8, '1.9': 8, '1.7': 8, '14.3': 7, '1.10': 7, '14.1': 7, '10.8': 7, '1.3': 6, '10.7': 5, '10.6': 5, '13.4': 5, '1.5': 4, '1.4': 4, '10.3': 4, '17.1': 4, '1.1': 4, '10.4': 4, '10.5': 4, '1.2': 3}, '4.5': {'10.13': 24, '2.4': 12, '10.11': 11, '10.10': 10, '10.2': 10, '10.9': 10, '10.12': 9, '10.1': 9, '10.15': 8, '1.7': 8, '10.14': 8, '13.5': 8, '10.8': 7, '11.3': 7, '9.3': 7, '14.3': 7, '2.5': 7, '13.6': 7, '13.1': 6, '10.7': 5, '13.4': 5, '13.3': 5, '10.6': 5, '10.5': 4, '10.4': 4, '10.3': 4, '13.2': 4}, '4.6': {'4.19': 138, '6.2': 28, '17.2': 19, '2.13': 18, '6.1': 15, '11.5': 14, '2.11': 12, '10.2': 10, '1.6': 9, '1.9': 8, '1.8': 8, '13.5': 8, '14.3': 7, '13.6': 7, '14.1': 7, '2.19': 6, '13.1': 6, '2.22': 6, '2.20': 6, '10.1': 6, '2.18': 6, '2.15': 6, '2.17': 6, '2.14': 6, '2.21': 6, '2.16': 6, '13.4': 5, '13.3': 5, '13.2': 4, '1.4': 2}, '4.7': {'2.13': 34, '10.13': 24, '10.11': 11, '10.2': 10, '2.22': 10, '2.16': 10, '8.4': 10, '10.9': 10, '10.10': 10, '10.1': 9, '1.6': 9, '10.12': 9, '10.15': 8, '13.5': 8, '1.9': 8, '10.14': 8, '10.8': 7, '14.1': 7, '13.6': 7, '14.3': 7, '14.4': 7, '13.1': 6, '14.2': 6, '14.5': 6, '10.7': 5, '10.6': 5, '13.4': 5, '13.3': 5, '10.5': 4, '10.3': 4, '10.4': 4, '13.2': 4}, '4.8': {'10.13': 24, '17.3': 19, '17.2': 19, '1.6': 15, '11.1': 14, '2.4': 12, '10.11': 11, '10.2': 10, '8.4': 10, '2.22': 10, '2.16': 10, '10.9': 10, '10.10': 10, '10.12': 9, '10.1': 9, '10.15': 8, '10.14': 8, '1.8': 8, '13.5': 8, '1.7': 8, '11.6': 8, '1.9': 8, '14.4': 7, '13.6': 7, '1.10': 7, '9.3': 7, '10.8': 7, '2.5': 7, '11.3': 7, '13.1': 6, '14.5': 6, '1.3': 6, '13.4': 5, '13.3': 5, '10.6': 5, '10.7': 5, '1.1': 4, '13.2': 4, '1.4': 4, '10.5': 4, '10.4': 4, '10.3': 4, '1.5': 4, '17.1': 4, '1.2': 3}, '4.9': {'9.1': 29, '10.13': 24, '11.5': 23, '12.6': 21, '17.3': 19, '17.2': 19, '1.6': 15, '10.11': 11, '10.10': 10, '10.9': 10, '10.2': 10, '10.12': 9, '10.1': 9, '1.7': 8, '10.15': 8, '13.5': 8, '1.8': 8, '10.14': 8, '1.9': 8, '9.3': 7, '10.8': 7, '1.10': 7, '1.3': 6, '9.2': 5, '9.4': 5, '10.6': 5, '10.7': 5, '10.5': 4, '17.1': 4, '1.1': 4, '1.4': 4, '1.5': 4, '10.3': 4, '10.4': 4, '1.2': 3}, '4.10': {'16.3': 20, '11.1': 14, '4.18': 12, '13.5': 8, '14.1': 7, '14.4': 7, '14.3': 7, '13.6': 7, '14.5': 6, '13.1': 6, '14.2': 6, '13.3': 5, '13.4': 5, '10.7': 5, '10.6': 5, '13.2': 4, '17.1': 4, '10.4': 4}, '5.1': {'4.2': 20, '12.5': 18, '13.5': 8, '11.6': 8, '14.3': 7, '13.6': 7, '14.1': 7, '13.1': 6, '3.1': 5, '13.3': 5, '13.4': 5, '13.2': 4}, '5.2': {'4.2': 20, '7.2': 16, '10.13': 15, '1.6': 12, '8.4': 10, '2.16': 10, '2.22': 10, '11.6': 8, '1.9': 8, '13.5': 8, '1.7': 8, '15.4': 8, '14.1': 7, '13.6': 7, '13.1': 6, '10.11': 6, '10.15': 5, '10.14': 5, '10.12': 5, '13.4': 5, '13.3': 5, '13.2': 4}, '5.3': {'16.3': 20, '2.4': 12, '8.4': 10, '17.3': 10, '2.8': 10, '2.6': 10, '2.2': 10, '13.5': 8, '11.3': 7, '13.6': 7, '2.5': 7, '10.8': 7, '13.1': 6, '4.16': 5, '13.4': 5, '13.3': 5, '13.2': 4, '11.6': 4, '17.1': 4}, '5.4': {'12.3': 30, '12.1': 24, '11.5': 23, '12.6': 21, '17.2': 19, '12.5': 18, '12.2': 18, '11.2': 16, '11.1': 14, '10.13': 12, '2.19': 10, '10.10': 10, '10.9': 10, '15.3': 9, '11.6': 8, '15.4': 8, '14.3': 7, '11.3': 7, '12.4': 6, '15.2': 6, '11.4': 5, '10.15': 4, '10.14': 4, '6.3': 4, '13.2': 4, '1.10': 4, '1.5': 2}, '5.5': {'12.3': 30, '12.1': 24, '12.6': 21, '17.2': 19, '12.2': 18, '12.5': 18, '2.8': 10, '10.10': 10, '2.2': 10, '2.6': 10, '1.9': 8, '1.8': 8, '1.7': 8, '13.5': 8, '11.3': 7, '14.3': 7, '13.6': 7, '14.1': 7, '12.4': 6, '13.1': 6, '10.7': 5, '13.4': 5, '13.3': 5, '10.4': 4, '13.2': 4, '10.5': 4, '10.6': 3}, '5.6': {'2.13': 34, '11.5': 23, '2.11': 20, '2.1': 18, '11.2': 16, '11.1': 14, '12.5': 12, '12.2': 12, '12.1': 12, '10.13': 12, '2.4': 12, '2.12': 11, '2.19': 10, '2.22': 10, '2.21': 10, '2.20': 10, '2.18': 10, '2.17': 10, '2.16': 10, '2.15': 10, '2.14': 10, '2.8': 10, '2.6': 10, '2.2': 10, '11.6': 8, '1.8': 8, '13.5': 8, '1.7': 8, '1.9': 8, '13.6': 7, '16.1': 7, '14.4': 7, '9.3': 7, '14.1': 7, '2.3': 7, '2.5': 7, '11.3': 7, '14.3': 7, '13.1': 6, '14.2': 6, '2.7': 6, '14.5': 6, '2.9': 6, '13.3': 5, '11.4': 5, '13.4': 5, '13.2': 4, '10.15': 4, '10.14': 4}, '5.7': {'4.19': 197, '11.5': 23, '4.1': 19, '11.2': 16, '11.1': 14, '12.2': 12, '12.1': 12, '10.13': 12, '12.5': 12, '17.2': 11, '2.2': 10, '2.8': 10, '2.6': 10, '11.6': 8, '13.5': 8, '11.3': 7, '14.4': 7, '13.6': 7, '14.1': 7, '14.3': 7, '9.3': 7, '14.2': 6, '14.5': 6, '13.1': 6, '13.4': 5, '13.3': 5, '11.4': 5, '10.14': 4, '13.2': 4, '10.15': 4}, '5.8': {'9.1': 29, '17.2': 19, '17.3': 19, '1.6': 15, '13.5': 8, '1.7': 8, '1.8': 8, '1.9': 8, '10.15': 8, '9.3': 7, '13.6': 7, '14.1': 7, '1.10': 7, '14.3': 7, '14.4': 7, '14.2': 6, '13.1': 6, '1.3': 6, '14.5': 6, '13.3': 5, '13.4': 5, '9.4': 5, '9.2': 5, '17.1': 4, '13.2': 4, '1.5': 4, '1.4': 4, '1.1': 4, '1.2': 3}, '5.9': {'10.13': 24, '12.6': 19, '12.3': 18, '12.1': 16, '12.2': 14, '12.5': 14, '10.11': 11, '10.2': 10, '2.2': 10, '10.10': 10, '10.9': 10, '2.6': 10, '2.8': 10, '10.12': 9, '10.1': 9, '13.5': 8, '10.15': 8, '10.14': 8, '13.6': 7, '14.3': 7, '10.8': 7, '13.1': 6, '10.6': 5, '10.7': 5, '13.3': 5, '13.4': 5, '10.4': 4, '10.3': 4, '10.5': 4, '13.2': 4, '11.4': 3}, '6.1': {'17.2': 19, '17.3': 19, '1.6': 15, '15.3': 9, '1.8': 8, '1.7': 8, '1.9': 8, '14.1': 7, '1.10': 7, '14.3': 7, '13.6': 7, '14.4': 7, '9.3': 7, '14.5': 6, '1.3': 6, '17.1': 4, '1.4': 4, '1.1': 4, '1.5': 4, '1.2': 3}, '6.2': {'17.3': 19, '17.2': 19, '1.6': 15, '13.5': 8, '1.7': 8, '1.9': 8, '1.8': 8, '1.10': 7, '14.1': 7, '13.6': 7, '11.3': 7, '9.3': 7, '1.3': 6, '13.1': 6, '13.3': 5, '13.4': 5, '17.1': 4, '13.2': 4, '1.5': 4, '1.4': 4, '1.1': 4, '1.2': 3, '11.4': 3}, '6.3': {'16.3': 20, '15.3': 9, '1.7': 8, '14.4': 7, '14.5': 6, '4.16': 5, '17.1': 4, '10.4': 4}, '6.4': {'16.3': 20, '7.2': 19, '16.2': 16, '15.3': 9, '1.7': 8, '14.4': 7, '14.5': 6, '13.1': 6, '10.4': 4, '17.1': 4, '13.2': 3}, '6.5': {'16.3': 20, '4.6': 19, '4.12': 18, '16.2': 16, '8.4': 10, '15.3': 9, '4.13': 9, '4.10': 9, '4.11': 9, '4.7': 9, '13.5': 8, '14.4': 7, '16.1': 7, '14.3': 7, '14.1': 7, '13.6': 7, '14.5': 6, '13.1': 6, '14.2': 6, '13.3': 5, '13.4': 5, '13.2': 4}, '6.6': {'4.19': 197, '4.4': 47, '2.13': 34, '4.3': 20, '2.11': 20, '4.2': 20, '2.1': 18, '2.4': 12, '4.1': 11, '2.12': 11, '2.16': 10, '2.2': 10, '2.6': 10, '2.14': 10, '2.15': 10, '2.20': 10, '2.17': 10, '2.18': 10, '2.19': 10, '2.21': 10, '2.22': 10, '2.8': 10, '15.3': 9, '4.5': 8, '14.4': 7, '2.5': 7, '4.15': 7, '13.6': 7, '2.3': 7, '2.9': 6, '2.7': 6, '14.5': 6, '1.5': 2}, '6.7': {'10.13': 24, '11.5': 23, '11.2': 16, '11.1': 14, '15.6': 9, '15.3': 9, '11.6': 8, '13.5': 8, '11.3': 7, '13.6': 7, '14.3': 7, '14.1': 7, '14.4': 7, '14.2': 6, '13.1': 6, '14.5': 6, '15.7': 5, '15.9': 5, '11.4': 5, '13.4': 5, '13.3': 5, '13.2': 4}, '6.8': {'11.5': 23, '11.2': 16, '11.1': 14, '8.4': 10, '10.10': 10, '10.9': 10, '1.6': 9, '15.3': 9, '11.6': 8, '1.9': 8, '1.8': 8, '7.1': 8, '14.4': 7, '11.3': 7, '14.3': 7, '1.3': 6, '14.5': 6, '13.1': 6, '11.4': 5, '13.2': 3, '1.5': 2}, '7.1': {'11.5': 23, '12.6': 21, '4.2': 20, '16.3': 20, '4.6': 19, '17.2': 19, '4.12': 18, '11.2': 16, '16.2': 16, '11.1': 14, '1.6': 12, '15.3': 9, '4.11': 9, '4.10': 9, '4.7': 9, '4.13': 9, '11.6': 8, '1.8': 8, '1.9': 8, '1.7': 8, '14.3': 7, '11.3': 7, '9.3': 7, '16.1': 7, '13.1': 6, '15.2': 6, '11.4': 5, '13.2': 3}, '7.2': {'6.2': 54, '6.1': 22, '16.3': 20, '16.2': 16, '10.9': 10, '2.6': 10, '2.8': 10, '8.4': 10, '2.19': 10, '2.2': 10, '1.7': 8, '16.1': 7, '1.10': 6, '10.6': 5, '10.3': 4, '6.3': 4, '10.4': 4, '17.1': 4, '6.4': 3}, '7.3': {'6.2': 54, '6.1': 22, '16.3': 20, '16.2': 16, '2.19': 10, '2.8': 10, '2.6': 10, '8.4': 10, '2.2': 10, '13.5': 8, '1.7': 8, '14.4': 7, '14.1': 7, '16.1': 7, '13.6': 7, '14.3': 7, '10.14': 6, '14.5': 6, '14.2': 6, '13.1': 6, '10.15': 6, '10.12': 6, '13.4': 5, '13.3': 5, '13.2': 4, '6.3': 4, '6.4': 3}, '7.4': {'16.3': 20, '16.2': 16, '10.9': 10, '10.10': 10, '15.4': 8, '13.5': 8, '14.4': 7, '14.3': 7, '14.1': 7, '16.1': 7, '9.3': 7, '13.6': 7, '14.5': 6, '14.2': 6, '13.1': 6, '13.3': 5, '13.4': 5, '13.2': 4}, '7.5': {'11.5': 23, '16.3': 20, '11.2': 16, '16.2': 16, '11.1': 14, '10.9': 10, '10.10': 10, '10.15': 8, '13.5': 8, '11.6': 8, '11.3': 7, '16.1': 7, '14.5': 6, '13.1': 6, '11.4': 5, '13.2': 3}, '8.1': {'16.3': 20, '4.2': 20, '16.2': 16, '17.2': 11, '8.4': 10, '1.10': 7, '11.3': 7, '14.3': 7, '17.1': 4}, '8.2': {'7.2': 19, '12.6': 18, '4.18': 12, '10.9': 10, '10.10': 10, '1.7': 8, '13.5': 8, '14.4': 7, '14.3': 7, '14.1': 7, '13.6': 7, '1.10': 6, '14.5': 6, '13.1': 6, '14.2': 6, '10.6': 5, '13.4': 5, '13.3': 5, '10.7': 5, '10.3': 4, '10.5': 4, '13.2': 4, '10.4': 4}, '8.3': {'4.19': 99, '6.2': 54, '11.5': 23, '4.6': 19, '4.12': 18, '11.2': 16, '11.1': 14, '4.13': 9, '4.7': 9, '4.11': 9, '4.10': 9, '11.6': 8, '13.5': 8, '14.1': 7, '13.6': 7, '11.3': 7, '9.3': 7, '14.3': 7, '14.4': 7, '13.1': 6, '14.5': 6, '14.2': 6, '11.4': 5, '13.3': 5, '13.4': 5, '13.2': 4, '6.3': 4}, '8.4': {'11.5': 23, '16.3': 20, '7.2': 19, '4.6': 19, '16.2': 16, '4.18': 11, '8.4': 10, '10.9': 10, '10.10': 10, '4.11': 9, '4.10': 9, '4.7': 9, '13.5': 8, '1.7': 8, '16.1': 7, '13.6': 7, '14.4': 7, '14.3': 7, '14.1': 7, '14.2': 6, '4.9': 6, '14.5': 6, '13.1': 6, '13.4': 5, '13.3': 5, '5.3': 5, '13.2': 4, '17.1': 4, '4.8': 3}, '8.5': {'13.5': 8, '14.3': 7, '14.1': 7, '13.6': 7, '13.1': 6, '13.4': 5, '13.3': 5, '13.2': 4, '6.3': 4, '1.5': 2}, '8.6': {'12.3': 30, '12.1': 24, '10.13': 24, '12.6': 21, '16.3': 20, '12.5': 18, '12.2': 18, '11.1': 14, '10.11': 11, '17.2': 11, '10.9': 10, '10.10': 10, '10.2': 10, '10.12': 9, '10.1': 9, '10.14': 8, '10.15': 8, '14.1': 7, '10.8': 7, '14.3': 7, '13.1': 6, '12.4': 6, '13.4': 5, '10.7': 5, '10.6': 5, '17.1': 4, '10.5': 4, '10.4': 4, '10.3': 4, '13.2': 3}, '8.7': {'12.3': 30, '12.1': 24, '12.6': 21, '17.2': 19, '12.5': 18, '12.2': 18, '10.13': 12, '2.4': 12, '13.5': 8, '10.8': 7, '13.6': 7, '14.1': 7, '11.3': 7, '2.5': 7, '14.3': 7, '13.1': 6, '12.4': 6, '13.3': 5, '13.4': 5, '3.1': 5, '13.2': 4, '10.14': 4, '10.15': 4}, '8.8': {'10.13': 12, '12.2': 12, '12.1': 12, '12.5': 12, '2.22': 10, '2.21': 10, '2.19': 10, '2.16': 10, '2.15': 10, '2.14': 10, '2.20': 10, '13.5': 8, '14.3': 7, '14.1': 7, '13.6': 7, '13.1': 6, '13.4': 5, '13.3': 5, '13.2': 4, '10.14': 4, '10.15': 4, '6.3': 4, '11.6': 4, '11.4': 3}, '8.9': {'6.2': 54, '6.1': 22, '12.1': 12, '10.13': 12, '12.2': 12, '12.5': 12, '2.2': 10, '2.8': 10, '2.6': 10, '2.19': 10, '13.5': 8, '14.4': 7, '14.1': 7, '14.3': 7, '13.6': 7, '14.5': 6, '1.3': 6, '13.1': 6, '14.2': 6, '13.3': 5, '13.4': 5, '10.15': 4, '13.2': 4, '1.10': 4, '10.14': 4, '6.3': 4, '6.4': 3}, '8.10': {'10.13': 24, '7.2': 24, '11.5': 23, '11.2': 16, '11.1': 14, '12.1': 12, '12.5': 12, '12.2': 12, '10.11': 11, '10.9': 10, '10.2': 10, '10.10': 10, '8.4': 10, '10.1': 9, '10.12': 9, '13.5': 8, '11.6': 8, '10.15': 8, '10.14': 8, '7.1': 8, '14.4': 7, '13.6': 7, '14.3': 7, '10.8': 7, '9.3': 7, '11.3': 7, '14.1': 7, '14.2': 6, '8.3': 6, '13.1': 6, '14.5': 6, '10.6': 5, '10.7': 5, '11.4': 5, '13.4': 5, '13.3': 5, '1.10': 4, '10.4': 4, '10.3': 4, 

In [52]:
len(tab_result)

131

In [53]:
table_id_rm

{'1.1': {'17.2': 7,
  '4.18': 6,
  '6.2': 4,
  '5.4': 4,
  '15.3': 4,
  '6.1': 3,
  '4.2': 3,
  '15.8': 2,
  '16.3': 2,
  '16.2': 2,
  '15.7': 2,
  '8.4': 2,
  '11.6': 2,
  '14.5': 2,
  '4.4': 2,
  '15.9': 1,
  '15.5': 1,
  '15.4': 1,
  '5.2': 1,
  '5.1': 1,
  '1.5': 1,
  '14.1': 1,
  '4.3': 1,
  '9.1': 1},
 '1.2': {'6.2': 26,
  '17.3': 8,
  '11.1': 4,
  '2.1': 4,
  '2.2': 4,
  '2.6': 4,
  '2.8': 4,
  '4.18': 3,
  '14.1': 3,
  '11.6': 3,
  '10.7': 2,
  '10.11': 2,
  '10.6': 2,
  '9.2': 1,
  '1.5': 1,
  '15.1': 1},
 '1.3': {'4.19': 49,
  '11.5': 6,
  '4.18': 6,
  '11.2': 4,
  '10.12': 4,
  '6.2': 4,
  '11.6': 3,
  '4.2': 3,
  '6.1': 3,
  '2.13': 3,
  '16.3': 2,
  '16.2': 2,
  '15.8': 2,
  '15.7': 2,
  '8.4': 2,
  '4.3': 2,
  '4.4': 2,
  '15.3': 2,
  '14.5': 2,
  '10.11': 2,
  '4.15': 2,
  '5.2': 1,
  '5.1': 1,
  '9.1': 1,
  '15.4': 1,
  '15.5': 1,
  '15.9': 1,
  '4.7': 1,
  '6.3': 1,
  '11.3': 1,
  '1.5': 1},
 '1.4': {'6.2': 12,
  '4.18': 10,
  '6.1': 7,
  '9.1': 7,
  '7.2': 3,
  '4.2': 3,
  '8.4': 2,
  '16.3': 2,
  '16.2': 2,
  '4.4': 2,
  '5.4': 2,
  '4.3': 2,
  '15.8': 2,
  '15.3': 2,
  '15.7': 2,
  '15.9': 1,
  '4.7': 1,
  '15.5': 1,
  '15.4': 1,
  '5.2': 1,
  '5.1': 1,
  '7.1': 1,
  '3.1': 1},
 '1.5': {'11.5': 6,
  '6.2': 4,
  '4.18': 3,
  '16.2': 2,
  '5.4': 2,
  '14.5': 2,
  '11.2': 2,
  '15.3': 1,
  '6.3': 1,
  '2.3': 1,
  '4.3': 1,
  '2.5': 1},
 '1.6': {'4.18': 8,
  '11.6': 3,
  '4.2': 3,
  '11.2': 2,
  '6.2': 2,
  '15.3': 1,
  '4.16': 1,
  '2.5': 1,
  '2.3': 1,
  '4.6': 1,
  '5.1': 1,
  '4.17': 1,
  '10.12': 1,
  '9.2': 1,
  '9.1': 1,
  '6.3': 1},
 '2.1': {'4.19': 49,
  '6.2': 8,
  '11.5': 6,
  '9.1': 6,
  '16.3': 4,
  '16.2': 4,
  '4.3': 4,
  '4.18': 4,
  '1.6': 3,
  '6.1': 3,
  '15.3': 2,
  '4.4': 2,
  '11.2': 2,
  '8.4': 2,
  '4.6': 2,
  '15.7': 2,
  '15.8': 2,
  '4.12': 1,
  '15.5': 1,
  '15.9': 1,
  '15.4': 1,
  '5.2': 1,
  '4.7': 1,
  '5.1': 1},
 '2.2': {'12.3': 10,
  '17.2': 9,
  '12.1': 8,
  '12.6': 7,
  '12.5': 6,
  '10.13': 6,
  '12.2': 6,
  '10.11': 4,
  '4.2': 3,
  '10.15': 2,
  '10.14': 2,
  '10.12': 2,
  '11.2': 2,
  '14.5': 2,
  '10.10': 1,
  '5.4': 1,
  '10.9': 1,
  '10.5': 1,
  '10.4': 1,
  '10.3': 1,
  '4.7': 1,
  '4.3': 1,
  '15.3': 1},
 '2.3': {'9.1': 6,
  '16.1': 3,
  '16.3': 3,
  '7.2': 3,
  '4.17': 3,
  '4.6': 3,
  '2.1': 3,
  '4.18': 2,
  '4.3': 2,
  '4.12': 1,
  '5.4': 1,
  '7.1': 1,
  '4.1': 1,
  '6.3': 1},
 '2.4': {'4.15': 6,
  '6.2': 4,
  '4.18': 4,
  '5.4': 2,
  '4.3': 2,
  '11.2': 2,
  '16.2': 2,
  '4.12': 1,
  '10.8': 1,
  '2.5': 1,
  '2.3': 1},
 '2.5': {'4.19': 49,
  '4.4': 13,
  '4.18': 10,
  '6.2': 4,
  '11.2': 3,
  '6.1': 3,
  '16.2': 2,
  '15.8': 2,
  '15.7': 2,
  '15.3': 2,
  '4.3': 2,
  '16.3': 2,
  '9.1': 1,
  '15.5': 1,
  '11.3': 1,
  '15.9': 1,
  '9.2': 1},
 '2.6': {'6.2': 8,
  '17.2': 7,
  '4.15': 6,
  '1.6': 5,
  '2.8': 4,
  '2.4': 4,
  '2.6': 4,
  '5.4': 3,
  '6.1': 3,
  '2.21': 3,
  '2.20': 3,
  '2.19': 3,
  '2.16': 3,
  '15.6': 3,
  '2.15': 3,
  '10.2': 3,
  '2.14': 3,
  '10.1': 3,
  '9.1': 2,
  '15.7': 2,
  '4.3': 2,
  '2.9': 2,
  '16.3': 2,
  '16.2': 2,
  '15.8': 2,
  '1.9': 2,
  '2.3': 2,
  '4.4': 2,
  '15.3': 2,
  '2.7': 2,
  '2.5': 2,
  '1.8': 2,
  '15.9': 1,
  '15.4': 1,
  '5.2': 1,
  '17.3': 1,
  '4.1': 1,
  '15.5': 1},
 '2.7': {'7.2': 8,
  '9.1': 7,
  '2.13': 3,
  '4.17': 3,
  '11.2': 2,
  '16.3': 2,
  '16.2': 2,
  '15.8': 2,
  '15.7': 2,
  '4.3': 2,
  '15.3': 2,
  '4.4': 2,
  '4.7': 1,
  '15.4': 1,
  '15.5': 1,
  '5.2': 1,
  '5.1': 1,
  '15.9': 1,
  '5.4': 1,
  '4.1': 1,
  '11.3': 1},
 '2.8': {'6.2': 4,
  '11.6': 3,
  '4.17': 3,
  '4.3': 3,
  '4.6': 2,
  '11.2': 2,
  '5.4': 1,
  '4.12': 1,
  '4.7': 1,
  '4.18': 1},
 '3.1': {'4.19': 49,
  '4.18': 6,
  '16.2': 4,
  '6.2': 4,
  '4.2': 3,
  '6.1': 3,
  '15.7': 2,
  '15.8': 2,
  '5.4': 2,
  '8.4': 2,
  '15.3': 2,
  '4.4': 2,
  '14.5': 2,
  '9.1': 1,
  '15.4': 1,
  '15.5': 1,
  '15.9': 1,
  '5.1': 1,
  '4.3': 1,
  '5.2': 1},
 '3.2': {'4.19': 49,
  '6.2': 4,
  '4.18': 4,
  '4.2': 3,
  '6.1': 3,
  '17.2': 3,
  '9.1': 3,
  '15.7': 2,
  '16.3': 2,
  '16.2': 2,
  '15.8': 2,
  '15.3': 2,
  '4.4': 2,
  '8.4': 2,
  '14.5': 2,
  '15.4': 1,
  '15.5': 1,
  '15.9': 1,
  '5.2': 1,
  '5.1': 1,
  '11.6': 1,
  '4.3': 1},
 '3.3': {'17.2': 7, '16.3': 2, '16.2': 2, '10.10': 1, '10.9': 1, '1.5': 1},
 '3.4': {'5.4': 2,
  '4.5': 1,
  '4.8': 1,
  '4.3': 1,
  '4.7': 1,
  '10.10': 1,
  '10.9': 1,
  '5.3': 1,
  '4.14': 1},
 '3.5': {'6.2': 4, '5.4': 3, '4.6': 2, '6.3': 1, '5.3': 1},
 '3.6': {'4.18': 4,
  '6.2': 4,
  '7.2': 3,
  '5.4': 2,
  '4.7': 1,
  '9.1': 1,
  '7.1': 1,
  '4.3': 1,
  '9.2': 1},
 '3.7': {'9.1': 6,
  '6.2': 4,
  '7.2': 3,
  '4.2': 3,
  '14.5': 2,
  '7.1': 1,
  '15.3': 1,
  '4.3': 1},
 '3.8': {'16.2': 4,
  '6.2': 4,
  '6.1': 3,
  '4.18': 3,
  '14.2': 2,
  '11.6': 1,
  '10.10': 1,
  '9.3': 1,
  '4.1': 1,
  '1.5': 1},
 '3.9': {'4.19': 49,
  '4.18': 10,
  '7.2': 8,
  '6.2': 4,
  '16.1': 3,
  '6.1': 3,
  '8.3': 2,
  '15.8': 2,
  '16.3': 2,
  '16.2': 2,
  '4.4': 2,
  '15.7': 2,
  '15.3': 2,
  '15.9': 1,
  '15.5': 1,
  '15.4': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '4.1': 1,
  '4.3': 1,
  '6.3': 1,
  '4.14': 1,
  '4.8': 1,
  '4.5': 1,
  '2.3': 1,
  '2.5': 1},
 '3.10': {'12.3': 12,
  '7.2': 8,
  '4.18': 8,
  '9.1': 5,
  '10.12': 4,
  '4.1': 4,
  '16.1': 3,
  '4.2': 3,
  '8.3': 2,
  '10.11': 2,
  '4.15': 2,
  '5.4': 1,
  '15.3': 1,
  '6.3': 1},
 '3.11': {'16.2': 2, '10.8': 1},
 '3.12': {'17.3': 8, '4.15': 6, '5.4': 4, '14.1': 2, '9.2': 1},
 '4.1': {'5.4': 1, '13.5': 1, '5.2': 1},
 '4.2': {'17.3': 8,
  '4.18': 8,
  '9.1': 5,
  '4.1': 4,
  '4.2': 3,
  '11.6': 3,
  '11.1': 2,
  '15.3': 1,
  '11.3': 1,
  '5.2': 1,
  '15.1': 1},
 '4.3': {'17.3': 8,
  '9.1': 7,
  '4.18': 6,
  '2.2': 4,
  '2.8': 4,
  '2.6': 4,
  '2.1': 4,
  '4.2': 3,
  '15.3': 2,
  '11.2': 2,
  '4.3': 2,
  '4.4': 2,
  '16.2': 2,
  '15.8': 2,
  '15.7': 2,
  '14.5': 2,
  '16.3': 2,
  '15.9': 1,
  '11.3': 1,
  '15.5': 1,
  '15.4': 1,
  '5.2': 1,
  '5.1': 1,
  '4.7': 1},
 '4.4': {'4.19': 49,
  '4.18': 6,
  '6.2': 5,
  '16.2': 4,
  '6.1': 3,
  '4.2': 3,
  '11.6': 3,
  '2.13': 3,
  '11.2': 2,
  '8.4': 2,
  '4.4': 2,
  '14.5': 2,
  '15.3': 2,
  '4.3': 2,
  '15.8': 2,
  '15.7': 2,
  '9.1': 1,
  '5.2': 1,
  '11.3': 1,
  '15.4': 1,
  '15.9': 1,
  '15.5': 1,
  '5.1': 1},
 '4.5': {'4.19': 49,
  '11.5': 6,
  '6.2': 4,
  '4.18': 4,
  '5.1': 4,
  '11.6': 3,
  '4.2': 3,
  '6.1': 3,
  '14.1': 3,
  '16.2': 2,
  '11.2': 2,
  '4.4': 2,
  '17.2': 2,
  '8.4': 2,
  '14.5': 2,
  '15.3': 2,
  '4.3': 2,
  '15.7': 2,
  '15.8': 2,
  '16.3': 2,
  '4.7': 1,
  '15.5': 1,
  '15.9': 1,
  '15.4': 1,
  '9.1': 1,
  '5.2': 1},
 '4.6': {'17.3': 8,
  '9.1': 7,
  '4.18': 6,
  '2.8': 4,
  '2.6': 4,
  '2.2': 4,
  '2.1': 4,
  '16.3': 2,
  '16.2': 2,
  '4.4': 2,
  '15.7': 2,
  '8.4': 2,
  '15.8': 2,
  '10.11': 2,
  '14.2': 2,
  '11.1': 2,
  '10.7': 2,
  '10.6': 2,
  '4.3': 1,
  '5.1': 1,
  '5.2': 1,
  '15.3': 1,
  '15.4': 1,
  '15.5': 1,
  '15.9': 1,
  '11.3': 1},
 '4.7': {'4.19': 49,
  '4.18': 10,
  '6.2': 4,
  '16.1': 3,
  '11.6': 3,
  '4.2': 3,
  '6.1': 3,
  '15.3': 2,
  '15.7': 2,
  '16.2': 2,
  '16.3': 2,
  '4.3': 2,
  '11.2': 2,
  '11.1': 2,
  '8.3': 2,
  '4.4': 2,
  '15.8': 2,
  '5.1': 1,
  '15.9': 1,
  '15.5': 1,
  '15.4': 1,
  '9.1': 1,
  '5.2': 1,
  '4.7': 1,
  '4.1': 1,
  '5.4': 1},
 '4.8': {'4.15': 6, '16.1': 3, '8.3': 2, '4.1': 1, '14.3': 1},
 '4.9': {'4.1': 4,
  '4.18': 4,
  '14.1': 3,
  '6.1': 3,
  '11.2': 2,
  '4.7': 1,
  '4.3': 1},
 '4.10': {'4.19': 49,
  '10.13': 8,
  '16.2': 6,
  '6.2': 4,
  '6.1': 3,
  '4.2': 3,
  '2.13': 3,
  '15.7': 2,
  '15.8': 2,
  '4.3': 2,
  '8.4': 2,
  '4.4': 2,
  '15.3': 2,
  '11.2': 2,
  '15.5': 1,
  '15.4': 1,
  '9.1': 1,
  '15.9': 1,
  '5.2': 1,
  '4.7': 1,
  '10.8': 1,
  '11.3': 1,
  '6.3': 1,
  '5.1': 1},
 '5.1': {'4.19': 48,
  '6.2': 14,
  '12.3': 10,
  '2.13': 9,
  '12.6': 9,
  '12.1': 8,
  '11.5': 7,
  '6.1': 7,
  '10.13': 6,
  '2.11': 6,
  '12.2': 6,
  '10.11': 5,
  '17.3': 4,
  '5.4': 4,
  '2.20': 3,
  '10.1': 3,
  '2.18': 3,
  '2.17': 3,
  '2.16': 3,
  '2.15': 3,
  '2.14': 3,
  '2.22': 3,
  '10.2': 3,
  '2.21': 3,
  '2.19': 3,
  '10.12': 2,
  '10.15': 2,
  '17.2': 2,
  '15.7': 2,
  '15.8': 2,
  '2.2': 2,
  '2.6': 2,
  '10.14': 2,
  '10.8': 2,
  '2.1': 2,
  '2.8': 2,
  '10.4': 1,
  '10.3': 1,
  '10.10': 1,
  '4.11': 1,
  '10.6': 1,
  '10.7': 1,
  '10.9': 1,
  '1.4': 1,
  '15.5': 1,
  '15.9': 1,
  '10.5': 1},
 '5.2': {'4.19': 49,
  '12.3': 10,
  '6.2': 8,
  '12.1': 8,
  '12.6': 7,
  '11.5': 6,
  '12.5': 6,
  '12.2': 6,
  '11.2': 5,
  '4.18': 4,
  '16.1': 3,
  '2.13': 3,
  '6.1': 3,
  '15.8': 2,
  '4.3': 2,
  '15.7': 2,
  '4.15': 2,
  '9.1': 2,
  '14.5': 2,
  '4.4': 2,
  '15.3': 2,
  '16.3': 2,
  '10.8': 2,
  '8.3': 2,
  '16.2': 2,
  '4.7': 1,
  '9.3': 1,
  '4.1': 1,
  '6.3': 1,
  '5.2': 1,
  '15.9': 1,
  '15.5': 1,
  '10.3': 1,
  '5.1': 1,
  '10.4': 1,
  '10.5': 1,
  '10.9': 1,
  '4.11': 1,
  '11.3': 1,
  '10.10': 1,
  '5.4': 1},
 '5.3': {'4.19': 48,
  '6.2': 16,
  '11.5': 11,
  '2.13': 9,
  '6.1': 9,
  '2.11': 6,
  '2.18': 3,
  '2.19': 3,
  '2.14': 3,
  '4.18': 3,
  '2.15': 3,
  '2.16': 3,
  '2.17': 3,
  '10.2': 3,
  '2.20': 3,
  '2.21': 3,
  '2.22': 3,
  '10.1': 3,
  '2.1': 2,
  '5.4': 2,
  '14.2': 2,
  '16.2': 2,
  '4.14': 1,
  '4.5': 1,
  '4.8': 1,
  '1.4': 1,
  '4.1': 1,
  '14.3': 1,
  '10.11': 1,
  '10.7': 1,
  '10.6': 1,
  '2.3': 1},
 '5.4': {'7.2': 10,
  '2.1': 8,
  '10.12': 4,
  '6.2': 4,
  '4.2': 3,
  '14.2': 2,
  '14.5': 2,
  '4.15': 2,
  '10.11': 2,
  '16.3': 2,
  '16.2': 2,
  '5.4': 2,
  '9.1': 1,
  '4.18': 1,
  '3.1': 1,
  '7.1': 1},
 '5.5': {'7.2': 8,
  '11.5': 6,
  '4.2': 3,
  '11.6': 3,
  '1.10': 3,
  '14.5': 2,
  '5.4': 2,
  '6.3': 1,
  '2.3': 1,
  '2.5': 1,
  '15.3': 1,
  '4.1': 1},
 '5.6': {'12.3': 12,
  '4.18': 8,
  '10.12': 4,
  '4.2': 3,
  '1.6': 3,
  '16.3': 3,
  '10.11': 2,
  '4.15': 2,
  '16.2': 2,
  '15.3': 1,
  '5.4': 1},
 '5.7': {'12.3': 12,
  '4.18': 8,
  '9.1': 6,
  '6.2': 4,
  '10.12': 4,
  '7.2': 3,
  '4.2': 3,
  '4.15': 2,
  '10.11': 2,
  '6.3': 1,
  '1.5': 1,
  '7.1': 1,
  '15.3': 1,
  '2.5': 1,
  '2.3': 1,
  '9.2': 1},
 '5.8': {'4.18': 8, '6.1': 3, '10.9': 1, '10.10': 1},
 '5.9': {'4.19': 48,
  '6.2': 13,
  '2.13': 9,
  '11.5': 7,
  '6.1': 7,
  '4.18': 7,
  '2.11': 6,
  '17.2': 6,
  '9.1': 5,
  '17.3': 4,
  '2.21': 3,
  '4.2': 3,
  '2.22': 3,
  '2.20': 3,
  '2.19': 3,
  '2.18': 3,
  '2.17': 3,
  '2.16': 3,
  '2.15': 3,
  '2.14': 3,
  '11.6': 3,
  '14.5': 2,
  '2.1': 2,
  '4.15': 2,
  '1.4': 1,
  '2.5': 1,
  '2.3': 1,
  '14.1': 1,
  '6.3': 1,
  '15.3': 1},
 '6.1': {'9.1': 5,
  '4.1': 4,
  '4.2': 3,
  '16.3': 2,
  '16.2': 2,
  '10.9': 1,
  '9.4': 1,
  '10.10': 1},
 '6.2': {'12.3': 10,
  '12.1': 8,
  '12.6': 7,
  '10.13': 6,
  '4.2': 6,
  '12.2': 6,
  '12.5': 6,
  '11.5': 6,
  '4.1': 4,
  '6.2': 4,
  '10.11': 4,
  '11.6': 3,
  '14.5': 2,
  '10.14': 2,
  '4.6': 2,
  '4.3': 2,
  '5.4': 2,
  '10.12': 2,
  '10.8': 2,
  '10.15': 2,
  '4.12': 1,
  '15.3': 1,
  '14.3': 1,
  '9.4': 1,
  '10.10': 1,
  '10.9': 1,
  '10.3': 1,
  '10.5': 1,
  '10.4': 1},
 '6.3': {'6.2': 4,
  '16.2': 4,
  '4.18': 3,
  '6.1': 3,
  '14.2': 2,
  '9.1': 1,
  '4.1': 1,
  '9.3': 1,
  '10.10': 1,
  '10.9': 1,
  '1.5': 1},
 '6.4': {'4.19': 49,
  '4.18': 6,
  '11.5': 6,
  '6.2': 4,
  '11.6': 3,
  '2.13': 3,
  '6.1': 3,
  '7.1': 3,
  '8.4': 2,
  '4.4': 2,
  '9.3': 2,
  '15.8': 2,
  '15.7': 2,
  '15.5': 1,
  '1.5': 1,
  '15.9': 1,
  '4.3': 1,
  '15.4': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '10.9': 1,
  '10.10': 1,
  '10.8': 1},
 '6.5': {'4.18': 8,
  '11.2': 4,
  '4.2': 3,
  '15.2': 1,
  '4.3': 1,
  '10.10': 1,
  '10.9': 1,
  '9.3': 1,
  '1.5': 1},
 '6.6': {'4.18': 5,
  '6.2': 4,
  '16.2': 4,
  '16.3': 4,
  '6.1': 3,
  '15.8': 2,
  '11.2': 2,
  '15.7': 2,
  '8.4': 2,
  '9.3': 1,
  '15.4': 1,
  '15.9': 1,
  '15.5': 1,
  '11.3': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '10.10': 1,
  '10.9': 1,
  '4.7': 1},
 '6.7': {'4.18': 8,
  '4.15': 6,
  '6.2': 4,
  '16.3': 2,
  '16.2': 2,
  '5.4': 2,
  '9.1': 1,
  '5.3': 1,
  '1.5': 1,
  '4.1': 1,
  '4.8': 1,
  '4.3': 1,
  '10.10': 1,
  '10.9': 1,
  '9.3': 1,
  '6.3': 1,
  '4.7': 1},
 '6.8': {'4.18': 4, '16.3': 2, '16.2': 2, '14.2': 2, '9.3': 1, '14.1': 1},
 '7.1': {'4.1': 4,
  '6.2': 4,
  '7.2': 3,
  '14.5': 2,
  '9.4': 1,
  '7.1': 1,
  '9.1': 1},
 '7.2': {'4.18': 5,
  '2.1': 3,
  '4.17': 3,
  '1.5': 1,
  '2.3': 1,
  '2.5': 1,
  '15.2': 1,
  '5.4': 1,
  '10.8': 1},
 '7.3': {'4.18': 9,
  '9.1': 6,
  '10.13': 6,
  '4.17': 3,
  '15.2': 1,
  '2.5': 1,
  '2.3': 1,
  '11.6': 1,
  '5.4': 1,
  '10.8': 1},
 '7.4': {'4.18': 8,
  '4.2': 3,
  '11.2': 2,
  '15.3': 1,
  '4.7': 1,
  '15.2': 1,
  '4.3': 1},
 '7.5': {'4.18': 4,
  '6.2': 4,
  '7.2': 3,
  '6.1': 3,
  '14.1': 2,
  '9.1': 1,
  '7.1': 1,
  '15.2': 1,
  '14.3': 1},
 '8.1': {'4.19': 49,
  '4.18': 4,
  '6.2': 4,
  '6.1': 3,
  '4.4': 2,
  '14.5': 2,
  '14.1': 2,
  '15.7': 2,
  '15.8': 2,
  '15.3': 2,
  '4.3': 1,
  '5.1': 1,
  '5.2': 1,
  '9.2': 1,
  '9.1': 1,
  '15.4': 1,
  '15.5': 1,
  '15.9': 1,
  '6.3': 1},
 '8.2': {'4.2': 3,
  '7.1': 3,
  '2.13': 3,
  '11.2': 2,
  '15.3': 1,
  '4.3': 1,
  '6.3': 1,
  '4.7': 1,
  '1.5': 1},
 '8.3': {'4.18': 8,
  '7.2': 3,
  '4.2': 3,
  '1.5': 1,
  '3.1': 1,
  '9.1': 1,
  '7.1': 1,
  '4.3': 1,
  '15.3': 1},
 '8.4': {'4.19': 49,
  '9.1': 6,
  '6.2': 4,
  '4.2': 3,
  '11.6': 3,
  '6.1': 3,
  '7.1': 3,
  '2.13': 3,
  '15.8': 2,
  '15.3': 2,
  '15.7': 2,
  '4.4': 2,
  '15.9': 1,
  '15.2': 1,
  '6.3': 1,
  '15.5': 1,
  '15.4': 1,
  '4.3': 1,
  '5.2': 1,
  '5.1': 1,
  '9.3': 1},
 '8.5': {'4.19': 49,
  '9.1': 11,
  '4.18': 7,
  '6.2': 5,
  '4.2': 3,
  '6.1': 3,
  '15.7': 2,
  '15.8': 2,
  '8.4': 2,
  '15.3': 2,
  '16.2': 2,
  '14.5': 2,
  '4.3': 2,
  '11.6': 2,
  '4.4': 2,
  '17.2': 2,
  '11.2': 2,
  '16.3': 2,
  '4.7': 1,
  '5.1': 1,
  '5.2': 1,
  '3.1': 1,
  '15.4': 1,
  '15.5': 1,
  '5.4': 1,
  '15.9': 1},
 '8.6': {'4.18': 3, '16.2': 2, '6.2': 1, '9.2': 1},
 '8.7': {'4.19': 49,
  '9.1': 7,
  '6.2': 4,
  '4.18': 4,
  '5.4': 4,
  '10.12': 4,
  '11.6': 3,
  '6.1': 3,
  '1.6': 3,
  '4.2': 3,
  '11.2': 2,
  '4.3': 2,
  '14.5': 2,
  '10.11': 2,
  '4.15': 2,
  '15.3': 2,
  '4.4': 2,
  '16.3': 2,
  '16.2': 2,
  '15.8': 2,
  '15.7': 2,
  '8.4': 2,
  '15.4': 1,
  '5.1': 1,
  '5.2': 1,
  '4.7': 1,
  '15.9': 1,
  '15.5': 1},
 '8.8': {'4.19': 85,
  '6.2': 17,
  '12.3': 12,
  '11.5': 11,
  '2.13': 11,
  '6.1': 9,
  '17.2': 6,
  '2.11': 6,
  '17.3': 4,
  '2.17': 4,
  '2.18': 4,
  '10.12': 4,
  '4.18': 4,
  '10.1': 3,
  '10.2': 3,
  '10.11': 3,
  '4.2': 3,
  '8.4': 2,
  '15.7': 2,
  '15.8': 2,
  '16.2': 2,
  '4.4': 2,
  '15.3': 2,
  '14.2': 2,
  '2.8': 2,
  '14.5': 2,
  '4.15': 2,
  '4.3': 2,
  '11.2': 2,
  '5.4': 2,
  '2.1': 2,
  '2.2': 2,
  '16.3': 2,
  '2.6': 2,
  '11.3': 1,
  '1.4': 1,
  '1.5': 1,
  '5.2': 1,
  '10.6': 1,
  '9.1': 1,
  '15.4': 1,
  '15.5': 1,
  '4.7': 1,
  '10.7': 1,
  '15.9': 1,
  '3.1': 1,
  '5.1': 1},
 '8.9': {'12.3': 12,
  '4.18': 8,
  '17.2': 6,
  '10.12': 4,
  '11.6': 3,
  '10.11': 2,
  '4.15': 2,
  '11.1': 2,
  '2.3': 1,
  '2.5': 1},
 '8.10': {'4.19': 48,
  '12.3': 12,
  '4.18': 8,
  '4.15': 6,
  '6.2': 4,
  '4.1': 4,
  '16.3': 2,
  '9.1': 2,
  '5.4': 2,
  '16.2': 2,
  '9.4': 1,
  '6.3': 1},
 '8.11': {'12.3': 12,
  '4.18': 8,
  '10.12': 4,
  '4.15': 2,
  '10.11': 2,
  '6.3': 1,
  '2.5': 1,
  '6.2': 1,
  '2.3': 1},
 '9.1': {'4.18': 8,
  '9.1': 5,
  '4.2': 3,
  '11.6': 3,
  '11.2': 2,
  '15.3': 1,
  '4.3': 1,
  '4.7': 1,
  '6.3': 1},
 '9.2': {'4.18': 10,
  '16.3': 4,
  '16.2': 4,
  '2.1': 3,
  '4.4': 2,
  '15.3': 2,
  '9.2': 2,
  '8.4': 2,
  '15.7': 2,
  '15.8': 2,
  '4.3': 1,
  '15.9': 1,
  '15.5': 1,
  '15.4': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '10.8': 1},
 '9.3': {'4.19': 74,
  '16.2': 4,
  '16.3': 4,
  '6.1': 3,
  '4.17': 3,
  '4.2': 3,
  '2.13': 3,
  '4.3': 2,
  '15.3': 2,
  '4.4': 2,
  '9.1': 2,
  '15.7': 2,
  '15.8': 2,
  '1.5': 1,
  '4.6': 1,
  '4.7': 1,
  '6.3': 1,
  '15.9': 1,
  '15.4': 1,
  '5.2': 1,
  '5.1': 1,
  '5.4': 1,
  '15.5': 1},
 '9.4': {'4.18': 8, '7.2': 3, '5.4': 2, '15.3': 1, '7.1': 1},
 '9.5': {'4.19': 49,
  '4.18': 10,
  '11.2': 5,
  '16.2': 4,
  '10.12': 4,
  '10.11': 4,
  '7.1': 3,
  '2.13': 3,
  '6.1': 3,
  '4.3': 2,
  '15.8': 2,
  '15.7': 2,
  '15.3': 2,
  '8.4': 2,
  '4.15': 2,
  '4.4': 2,
  '9.1': 2,
  '15.4': 1,
  '15.5': 1,
  '5.2': 1,
  '5.1': 1,
  '15.9': 1,
  '2.18': 1,
  '2.17': 1},
 '9.6': {'4.18': 8, '17.2': 6, '4.2': 3, '11.6': 3, '15.3': 1, '6.3': 1},
 '9.7': {'12.3': 12,
  '11.5': 6,
  '10.12': 4,
  '16.2': 4,
  '16.3': 4,
  '11.6': 3,
  '1.6': 3,
  '7.2': 3,
  '4.15': 2,
  '10.11': 2,
  '11.3': 1,
  '2.5': 1,
  '2.3': 1,
  '6.3': 1,
  '7.1': 1,
  '1.5': 1},
 '9.8': {'4.1': 4, '11.6': 3, '11.3': 1},
 '10.1': {'4.18': 9,
  '4.17': 3,
  '16.2': 2,
  '10.8': 1,
  '5.4': 1,
  '6.3': 1,
  '9.2': 1},
 '10.2': {'4.18': 8, '6.3': 1},
 '10.3': {'12.3': 12,
  '17.2': 6,
  '10.12': 4,
  '4.2': 3,
  '4.15': 2,
  '10.11': 2,
  '11.2': 2,
  '6.3': 1,
  '9.1': 1,
  '2.5': 1,
  '2.3': 1,
  '4.3': 1,
  '15.3': 1},
 '10.4': {'4.18': 3,
  '4.2': 3,
  '1.10': 3,
  '13.3': 2,
  '14.5': 2,
  '4.1': 1,
  '6.3': 1,
  '2.5': 1,
  '2.3': 1,
  '15.3': 1},
 '11.1': {'4.1': 4,
  '6.2': 4,
  '7.2': 3,
  '8.4': 2,
  '7.1': 1,
  '9.1': 1,
  '9.4': 1},
 '11.2': {'7.2': 8,
  '11.6': 3,
  '11.2': 2,
  '14.1': 2,
  '17.2': 2,
  '6.3': 1,
  '2.3': 1},
 '11.3': {'4.18': 8, '17.2': 6, '4.15': 6, '5.4': 3, '9.1': 1},
 '11.4': {'1.6': 3, '4.18': 3, '14.1': 2, '6.3': 1, '9.2': 1, '1.5': 1},
 '11.5': {'4.19': 49,
  '4.18': 10,
  '16.2': 6,
  '16.3': 6,
  '6.2': 4,
  '6.1': 3,
  '4.4': 2,
  '15.7': 2,
  '4.3': 2,
  '11.2': 2,
  '15.8': 2,
  '9.2': 2,
  '15.5': 1,
  '15.4': 1,
  '15.9': 1,
  '5.2': 1,
  '11.6': 1,
  '9.1': 1,
  '10.10': 1,
  '10.9': 1,
  '9.3': 1,
  '6.3': 1,
  '4.7': 1,
  '1.5': 1,
  '5.1': 1},
 '11.6': {'4.19': 82,
  '7.2': 8,
  '4.15': 6,
  '5.4': 5,
  '1.6': 5,
  '2.6': 4,
  '2.8': 4,
  '2.4': 4,
  '11.1': 4,
  '6.2': 4,
  '15.3': 4,
  '4.18': 4,
  '10.1': 3,
  '2.22': 3,
  '2.14': 3,
  '2.15': 3,
  '2.16': 3,
  '2.17': 3,
  '2.13': 3,
  '15.6': 3,
  '10.2': 3,
  '2.18': 3,
  '4.2': 3,
  '2.19': 3,
  '2.20': 3,
  '6.1': 3,
  '2.21': 3,
  '11.6': 3,
  '2.5': 2,
  '2.9': 2,
  '2.7': 2,
  '4.1': 2,
  '2.3': 2,
  '14.2': 2,
  '4.4': 2,
  '11.2': 2,
  '16.3': 2,
  '4.3': 2,
  '16.2': 2,
  '9.2': 2,
  '1.8': 2,
  '1.9': 2,
  '14.4': 1,
  '15.5': 1,
  '15.4': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '17.3': 1,
  '2.1': 1,
  '9.3': 1,
  '1.5': 1,
  '6.3': 1},
 '11.7': {'17.2': 5,
  '10.11': 4,
  '10.12': 4,
  '11.6': 3,
  '11.2': 3,
  '14.1': 2,
  '4.15': 2,
  '4.3': 1,
  '4.4': 1,
  '4.17': 1,
  '4.11': 1,
  '9.1': 1,
  '4.12': 1,
  '4.6': 1},
 '11.8': {'4.18': 9, '4.1': 8, '17.3': 2, '9.2': 1, '6.3': 1},
 '11.9': {'12.3': 12,
  '11.5': 6,
  '10.12': 4,
  '11.6': 3,
  '11.2': 2,
  '10.11': 2,
  '4.15': 2,
  '15.3': 2,
  '9.3': 1,
  '9.2': 1,
  '2.5': 1,
  '2.3': 1,
  '6.3': 1,
  '2.1': 1,
  '2.21': 1,
  '5.4': 1},
 '11.10': {'11.6': 3,
  '4.11': 1,
  '9.1': 1,
  '14.3': 1,
  '6.3': 1,
  '14.1': 1,
  '1.5': 1,
  '9.3': 1},
 '12.1': {'4.18': 8, '15.2': 1, '15.4': 1},
 '12.2': {'17.2': 7,
  '12.2': 6,
  '12.5': 6,
  '6.2': 4,
  '4.18': 4,
  '4.3': 3,
  '14.2': 2,
  '11.2': 2,
  '15.3': 2,
  '4.12': 1,
  '4.1': 1},
 '12.3': {'12.3': 12,
  '16.2': 6,
  '6.2': 4,
  '10.12': 4,
  '4.2': 3,
  '1.6': 3,
  '4.18': 3,
  '6.1': 3,
  '4.15': 2,
  '10.11': 2,
  '5.4': 2,
  '14.2': 2,
  '9.3': 1,
  '9.1': 1,
  '4.1': 1,
  '10.10': 1,
  '10.9': 1,
  '1.5': 1},
 '12.4': {'4.15': 6,
  '11.5': 6,
  '11.6': 3,
  '4.18': 3,
  '14.2': 2,
  '5.4': 2,
  '16.2': 2,
  '11.3': 1,
  '4.1': 1},
 '12.5': {'4.19': 33, '4.18': 8, '9.1': 2, '11.2': 2},
 '12.6': {'12.3': 12,
  '4.18': 8,
  '4.15': 4,
  '11.2': 3,
  '9.2': 1,
  '6.3': 1,
  '2.3': 1,
  '2.5': 1,
  '9.1': 1},
 '12.7': {'4.19': 49,
  '4.18': 10,
  '6.2': 4,
  '6.1': 3,
  '16.2': 2,
  '15.8': 2,
  '15.7': 2,
  '8.4': 2,
  '4.4': 2,
  '16.3': 2,
  '5.2': 1,
  '9.1': 1,
  '15.3': 1,
  '15.4': 1,
  '15.5': 1,
  '5.1': 1,
  '15.9': 1,
  '4.3': 1},
 '12.8': {'4.18': 9,
  '11.5': 6,
  '4.15': 6,
  '5.4': 2,
  '16.2': 2,
  '2.5': 1,
  '2.3': 1,
  '9.1': 1},
 '12.9': {'4.18': 8, '11.6': 3, '11.1': 2},

In [54]:
sum_ind=0
# Iterate over the outer dictionary
for key, inner_dict in table_id_rm.items():
    # Iterate over the inner dictionary
    for k, value in inner_dict.items():
        if k not in tab_result[key]:
            # Add the value to the result
            sum_ind += value

print(sum_ind)

6449

In [55]:
# List to store indices to remove
indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in filter_df.iterrows():
    if row['top_n_target_id'] in table_id_rm:
        inner_dict = table_id_rm[row['top_n_target_id']]
        if row['Table_id'] in inner_dict:
            if row['Table_id'] not in tab_result[row['top_n_target_id']]:
                # Add index to remove list
                indices_to_remove.append(index)
            
indices_to_remove

[241,
 242,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 273,
 278,
 279,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 310,
 311,
 555,
 556,
 747,
 755,
 756,
 757,
 907,
 908,
 909,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 991,
 992,
 993,
 1001,
 1002,
 1003,
 1004,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1076,
 1077,
 1078,
 1086,
 1087,
 1088,
 1089,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1284,
 1285,
 1286,
 1287,
 1288,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1308,
 1309,
 1310,
 1311,
 1312,
 1313,
 1314,
 1315,
 1316,
 1317,
 1318,
 1319,
 1320,
 1321,
 1322,
 1323,
 1324,
 1325,
 1326,
 1327,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1334,
 1335,
 1336,
 1337,
 1338,
 1339,
 1340,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1348,
 1349,
 1350,
 1351,
 1352,
 1353,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1371,
 1372,
 1373,
 1374,
 1375,
 1376,
 1377,
 1378,
 1379,
 1380,
 1381,
 1382,
 1383,
 1384,
 1385,
 1386,
 1387,
 1388,
 1389,
 1390,
 1391,
 1415,
 1441,
 1442,
 1443,
 1444,
 1445,
 1446,
 1447,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1510,
 1511,
 1512,
 1513,
 1514,
 1601,
 1622,
 1623,
 1779,
 1780,
 1781,
 1782,
 1783,
 1791,
 1792,
 1794,
 1795,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 2010,
 2030,
 2031,
 2044,
 2045,
 2051,
 2052,
 2054,
 2055,
 2069,
 2073,
 2074,
 2075,
 2102,
 2103,
 2104,
 2105,
 2363,
 2364,
 2365,
 2366,
 2510,
 2511,
 2512,
 2513,
 2514,
 2515,
 2558,
 2559,
 2560,
 2561,
 2562,
 2563,
 2564,
 2565,
 2566,
 2567,
 2568,
 2766,
 2767,
 2768,
 2769,
 2770,
 2771,
 2772,
 2773,
 2852,
 2853,
 2922,
 2923,
 2924,
 2925,
 2926,
 2927,
 2928,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2935,
 2936,
 2937,
 2938,
 2939,
 2940,
 2948,
 2949,
 2957,
 2958,
 2959,
 2960,
 2961,
 2962,
 2963,
 2964,
 2965,
 2966,
 2975,
 2980,
 2981,
 2982,
 2983,
 2984,
 2985,
 2986,
 2987,
 2988,
 2989,
 2990,
 2991,
 2992,
 2993,
 2994,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3017,
 3018,
 3019,
 3020,
 3021,
 3022,
 3023,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3041,
 3042,
 3043,
 3044,
 3045,
 3046,
 3047,
 3048,
 3049,
 3050,
 3051,
 3052,
 3053,
 3054,
 3055,
 3064,
 3065,
 3066,
 3067,
 3093,
 3094,
 3095,
 3096,
 3097,
 3098,
 3113,
 3114,
 3198,
 3199,
 3200,
 3201,
 3214,
 3215,
 3216,
 3217,
 3218,
 3219,
 3220,
 3221,
 3222,
 3223,
 3224,
 3225,
 3226,
 3227,
 3228,
 3229,
 3230,
 3231,
 3232,
 3233,
 3234,
 3235,
 3236,
 3237,
 3238,
 3239,
 3240,
 3241,
 3242,
 3243,
 3244,
 3245,
 3246,
 3247,
 3248,
 3249,
 3250,
 3251,
 3252,
 3253,
 3254,
 3255,
 3256,
 3257,
 3258,
 3259,
 3260,
 3261,
 3262,
 3263,
 3264,
 3265,
 3266,
 3267,
 3268,
 3269,
 3270,
 3271,
 3272,
 3273,
 3274,
 3275,
 3519,
 3520,
 3521,
 3522,
 3523,
 3524,
 3525,
 3526,
 3527,
 3528,
 3529,
 3530,
 3550,
 3696,
 3697,
 3698,
 3699,
 3700,
 3701,
 3702,
 3703,
 3704,
 3705,
 3870,
 3871,
 3872,
 3873,
 3874,
 3891,
 3979,
 3980,
 3981,
 3982,
 3983,
 3984,
 3986,
 4070,
 4071,
 4072,
 4073,
 4074,
 4075,
 4076,
 4077,
 4078,
 4289,
 4290,
 4329,
 4330,
 4384,
 4385,
 4391,
 4392,
 4393,
 4394,
 4434,
 4435,
 4436,
 4437,
 4438,
 4439,
 4440,
 4441,
 4477,
 4478,
 4483,
 4484,
 4485,
 4486,
 4488,
 4489,
 4542,
 4609,
 4610,
 4663,
 4664,
 4665,
 4666,
 4667,
 4668,
 4669,
 4670,
 4671,
 4672,
 4673,
 4730,
 4731,
 4740,
 4744,
 4784,
 4785,
 4786,
 4787,
 4788,
 4789,
 4790,
 4791,
 5044,
 5045,
 5046,
 5047,
 5048,
 5049,
 5050,
 5051,
 5052,
 5053,
 5054,
 5055,
 5056,
 5057,
 5058,
 5059,
 5060,
 5061,
 5062,
 5063,
 5064,
 5065,
 5066,
 5067,
 5068,
 5069,
 5070,
 5071,
 5072,
 5073,
 5074,
 5075,
 5076,
 5077,
 5078,
 5079,
 5080,
 5081,
 5082,
 5083,
 5084,
 5085,
 5086,
 5087,
 5088,
 5089,
 5090,
 5091,
 5092,
 5093,
 5094,
 5095,
 5096,
 5097,
 5098,
 5099,
 5100,
 5101,
 5102,
 5103,
 5104,
 5105,
 5106,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5114,
 5115,
 5116,
 5128,
 5186,
 5187,
 5188,
 5189,
 5190,
 5193,
 5194,
 5195,
 5196,
 5207,
 5208,
 5209,
 5210,
 5211,
 5212,
 5213,
 5214,
 5215,
 5216,
 5217,
 5218,
 5219,
 5220,
 5221,
 5222,
 5223,
 5224,
 5225,
 5226,
 5227,
 5228,
 5229,
 5230,
 5231,
 5232,
 5233,
 5234,
 5235,
 5250,
 5251,
 5252,
 5253,
 5254,
 5255,
 5256,
 5257,
 5258,
 5266,
 5267,
 5269,
 5270,
 5271,
 5272,
 5273,
 5274,
 5481,
 5505,
 5506,
 5507,
 5508,
 5509,
 5510,
 5550,
 5551,
 5552,
 5553,
 5577,
 5578,
 5579,
 5580,
 5581,
 5603,
 5686,
 5687,
 5688,
 5689,
 5690,
 5691,
 5692,
 5696,
 5697,
 5698,
 5699,
 5711,
 5712,
 5713,
 5714,
 5715,
 5716,
 5717,
 5718,
 5719,
 5720,
 5721,
 5722,
 5723,
 5724,
 5725,
 5726,
 5727,
 5728,
 5729,
 5730,
 5731,
 5863,
 5864,
 5865,
 5866,
 5867,
 5868,
 6075,
 6105,
 6106,
 6175,
 6176,
 6177,
 6178,
 6181,
 6182,
 6183,
 6184,
 6195,
 6196,
 6197,
 6198,
 6201,
 6202,
 6210,
 6211,
 6212,
 6213,
 6214,
 6215,
 6216,
 6217,
 6218,
 6219,
 6220,
 6221,
 6222,
 6223,
 6224,
 6326,
 6327,
 6328,
 6329,
 6330,
 6331,
 6332,
 6333,
 6401,
 6402,
 6403,
 6404,
 6405,
 6406,
 6407,
 6408,
 6409,
 6410,
 6411,
 6412,
 6413,
 6414,
 6473,
 6474,
 6475,
 6476,
 6507,
 6508,
 6509,
 6555,
 6556,
 6557,
 6558,
 6559,
 6560,
 6561,
 6562,
 6565,
 6583,
 6584,
 6594,
 6595,
 6624,
 6625,
 6626,
 6627,
 6628,
 6629,
 6630,
 6631,
 6632,
 6633,
 6634,
 6635,
 6636,
 6637,
 6638,
 6639,
 6640,
 6641,
 6642,
 6643,
 6644,
 6645,
 6646,
 6647,
 6648,
 6649,
 6650,
 6651,
 6652,
 6653,
 6654,
 6655,
 6656,
 6657,
 6658,
 6659,
 6660,
 6661,
 6662,
 6663,
 6664,
 6665,
 6666,
 6667,
 6668,
 6669,
 6670,
 6671,
 6672,
 6673,
 6674,
 6675,
 6676,
 6677,
 6678,
 6679,
 6680,
 6681,
 6682,
 6683,
 6684,
 6685,
 6686,
 6687,
 6688,
 6689,
 6690,
 6691,
 6692,
 6693,
 6694,
 6695,
 6696,
 6697,
 6698,
 6699,
 6700,
 6851,
 6852,
 6853,
 6871,
 6879,
 6880,
 6881,
 6882,
 6883,
 6884,
 6885,
 6886,
 6887,
 6888,
 6899,
 6900,
 6901,
 6902,
 6903,
 6904,
 6905,
 6906,
 ...]

In [56]:
len(indices_to_remove)

6449

In [57]:
# Remove rows using indices from indices_to_remove list
filter_df.drop(indices_to_remove, inplace=True)

filter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,top_n_goal_id,top_n_target_id
0,24,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
1,25,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
2,26,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Total,Ration shops",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
3,27,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
4,28,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
...,...,...,...,...,...,...,...,...,...,...
41102,1086,10,Education,10.10,Infrastructure Facilities in High Schools on 3...,Ramp,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41103,1087,10,Education,10.10,Infrastructure Facilities in High Schools on 3...,Compound,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41104,1088,10,Education,10.10,Infrastructure Facilities in High Schools on 3...,Drinking Water,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41105,1089,10,Education,10.10,Infrastructure Facilities in High Schools on 3...,Library,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41106,1090,10,Education,10.10,Infrastructure Facilities in High Schools on 3...,Computer,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2

In [58]:
filter_df.to_csv(absolute_path_tab_filter, sep=';', index=False)

In [59]:
tab_count_att = filter_df['top_n_target_id'].value_counts().to_dict()

In [90]:
filter_df_copy = filter_df.copy()

In [91]:
def filter_dataframe(df, n, chap_list):
    result_df = df.copy() # Initialize an empty DataFrame to store the filtered rows
    
    # Loop over each unique 'Target_id'
    for target_id, group in df.groupby('top_n_target_id'):
        num_rows = len(group)  # Count the number of rows for this 'Target_id'
        
        # Check if the number of rows is greater than the threshold 'n'
        if num_rows > n:
            idx_list = []
            drop_list = []
            for chap in chap_list:
                # Find the indices corresponding to chapters "2" and "3" for this 'Target_id'
                idx_chapter = group[group['Chapter_id'] == chap].index
                idx_list.append(idx_chapter)
                
            for item in idx_list:
                if len(item)>1:
                    if len(item)>350:
                        total_rows_to_drop = item[len(item)//3:]
                    else:
                        total_rows_to_drop = item[len(item)//2:]
                    drop_list.append(total_rows_to_drop)
            
            for i in drop_list:
                if len(i)>0:
                    result_df = result_df.drop(i)
    result_df.reset_index(inplace = True, drop = True)
    return result_df

In [92]:
chap_ll = ['2', '4', '10', '12']
# Filter the DataFrame using the function
final_map = filter_dataframe(filter_df_copy, 350, chap_ll)

In [63]:
final_map.to_csv(absolute_path_final_map, sep=';', index=False)

In [64]:
chapter_df = filter_df.copy()

In [65]:
# Initialize an empty dictionary to store the counts
chap_result = {}
chap_id_rm = {}

# Iterate over unique values in col1
for val in chapter_df['top_n_target_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = chapter_df[chapter_df['top_n_target_id'] == val]
    chap_list = []
    for tab in filtered_df['Table_id'].unique():
        chap_filter = filtered_df[filtered_df['Table_id'] == tab]
        
        # Count the occurrences of each value in col2 and store in a dictionary
        chap_counts = chap_filter['Chapter_id'].unique().tolist()
        
        chap_list.extend(chap_counts)
    chap_dict = pd.Series(chap_list).value_counts().to_dict()
    chap_id_rm[val] = {key:value for key, value in chap_dict.items() if value < (table_map[key]/2)}
    chap_dict_new = {key:value for key, value in chap_dict.items() if key not in chap_id_rm[val]}
    if(len(chap_dict_new) <= 1):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(chap_dict.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_4_dict = dict(list(sorted_dict.items())[:4])
        chap_result[val] = top_4_dict
 
    else:
        # Add the col2 counts dictionary to the result dictionary
        chap_result[val] = chap_dict_new

print(chap_result)

{'1.1': {'2': 21, '3': 1}, '1.2': {'2': 13, '13': 6, '1': 6}, '1.3': {'12': 6, '10': 3, '17': 1, '14': 1}, '1.4': {'11': 6, '13': 6, '12': 6, '14': 5}, '1.5': {'1': 10, '17': 3}, '1.6': {'13': 6, '14': 5}, '2.1': {'14': 3, '11': 3}, '2.2': {'13': 6, '1': 4, '2': 3, '14': 2}, '2.3': {'1': 10, '11': 6, '8': 4, '17': 3}, '2.4': {'4': 8, '2': 6, '8': 4, '13': 2}, '2.5': {'1': 10, '13': 6, '14': 5, '5': 4, '17': 3, '8': 3, '7': 2}, '2.6': {'4': 11, '11': 6, '13': 6, '14': 5, '8': 4, '7': 2, '5': 2}, '2.7': {'13': 6, '14': 5, '6': 4, '8': 4}, '2.8': {'1': 10, '17': 3}, '3.1': {'13': 6, '17': 2}, '3.2': {'13': 6, '10': 4, '2': 3, '11': 2}, '3.3': {'11': 6, '14': 3, '3': 2}, '3.4': {'11': 6, '13': 6}, '3.5': {'9': 4, '11': 4}, '3.6': {'10': 15, '1': 10, '11': 6, '17': 3}, '3.7': {'11': 6, '4': 6, '9': 1, '14': 1}, '3.8': {'10': 4, '14': 2, '17': 2, '4': 1}, '3.9': {'11': 6, '13': 6, '14': 5}, '3.10': {'1': 10, '11': 6, '13': 6, '14': 5, '17': 3, '12': 3}, '3.11': {'11': 6, '13': 6, '14': 5}, '3.12': {'11': 6, '1': 4, '14': 1, '17': 1}, '4.1': {'10': 15, '12': 5}, '4.2': {'10': 15, '12': 6, '13': 6, '14': 5}, '4.3': {'10': 15, '2': 11, '13': 6, '6': 2}, '4.4': {'10': 15, '1': 10, '17': 3}, '4.5': {'10': 15, '13': 6}, '4.6': {'2': 11, '13': 6, '6': 2}, '4.7': {'10': 15, '13': 6, '14': 5}, '4.8': {'10': 15, '1': 10, '13': 6, '17': 3, '11': 3}, '4.9': {'10': 15, '1': 10, '9': 4, '17': 3}, '4.10': {'13': 6, '14': 5}, '5.1': {'13': 6, '3': 1}, '5.2': {'13': 6, '7': 1}, '5.3': {'13': 6, '17': 2}, '5.4': {'11': 6, '12': 6}, '5.5': {'13': 6, '12': 6}, '5.6': {'2': 21, '11': 6, '13': 6, '14': 5, '12': 3}, '5.7': {'11': 6, '13': 6, '14': 5, '12': 3}, '5.8': {'1': 10, '13': 6, '14': 5, '9': 4, '17': 3}, '5.9': {'10': 15, '13': 6, '12': 5}, '6.1': {'1': 10, '14': 4, '17': 3}, '6.2': {'1': 10, '13': 6, '17': 3}, '6.3': {'14': 2, '15': 1, '16': 1, '4': 1}, '6.4': {'16': 2, '7': 1}, '6.5': {'13': 6, '14': 5, '16': 3}, '6.6': {'2': 21, '4': 7, '14': 2, '15': 1}, '6.7': {'11': 6, '13': 6, '14': 5}, '6.8': {'11': 6, '1': 5, '14': 3, '7': 1}, '7.1': {'11': 6, '16': 3}, '7.2': {'6': 4, '16': 3}, '7.3': {'13': 6, '14': 5, '6': 4, '16': 3}, '7.4': {'13': 6, '14': 5, '16': 3}, '7.5': {'11': 6, '13': 3, '16': 3}, '8.1': {'16': 2, '17': 2}, '8.2': {'13': 6, '14': 5, '7': 1}, '8.3': {'11': 6, '13': 6, '14': 5, '6': 2}, '8.4': {'13': 6, '14': 5, '16': 3, '7': 1}, '8.5': {'13': 6, '14': 2, '1': 1, '6': 1}, '8.6': {'10': 15, '12': 6, '13': 3, '17': 2}, '8.7': {'13': 6, '12': 6, '3': 1}, '8.8': {'13': 6, '12': 3}, '8.9': {'13': 6, '14': 5, '6': 4, '12': 3}, '8.10': {'10': 15, '11': 6, '13': 6, '14': 5, '12': 3, '7': 2, '8': 2}, '8.11': {'13': 6, '14': 5, '8': 4, '12': 3}, '9.1': {'13': 6, '14': 5, '7': 1}, '9.2': {'13': 6, '1': 5, '14': 5, '6': 4}, '9.3': {'11': 6, '13': 6, '14': 5, '6': 2, '7': 2, '8': 2}, '9.4': {'13': 6, '14': 5, '6': 4, '9': 4, '16': 2}, '9.5': {'13': 6, '14': 5, '6': 2, '7': 1}, '9.6': {'10': 15, '13': 6, '14': 5}, '9.7': {'13': 6, '14': 5, '12': 3, '6': 2}, '9.8': {'1': 10, '9': 4, '17': 3}, '10.1': {'2': 21, '13': 6, '14': 5, '17': 2, '3': 1}, '10.2': {'12': 6, '13': 6, '14': 5}, '10.3': {'13': 6, '14': 5, '12': 3}, '10.4': {'10': 15, '12': 6}, '11.1': {'1': 10, '15': 9, '11': 6, '17': 3}, '11.2': {'13': 6, '9': 4}, '11.3': {'13': 6, '14': 5}, '11.4': {'12': 6, '13': 3, '17': 2}, '11.5': {'13': 6, '14': 5}, '11.6': {'11': 3, '3': 1}, '11.7': {'13': 6, '7': 1}, '11.8': {'2': 21, '12': 6, '13': 6, '14': 5, '1': 5, '7': 1}, '11.9': {'13': 6, '14': 5, '12': 3, '3': 1}, '11.10': {'15': 5, '13': 3}, '12.1': {'13': 6, '14': 5, '16': 3}, '12.2': {'4': 6, '16': 2, '12': 2, '5': 1}, '12.3': {'11': 6, '12': 3, '16': 2}, '12.4': {'10': 15, '13': 3}, '12.5': {'1': 10, '13': 6, '14': 5, '6': 4, '17': 3}, '12.6': {'13': 6, '14': 5, '12': 3, '7': 1}, '12.7': {'1': 10, '13': 6, '14': 5, '17': 3}, '12.8': {'13': 6, '14': 5}, '12.9': {'13': 6, '14': 5, '6': 4}, '13.1': {'1': 10, '11': 6, '17': 3}, '13.2': {'13': 6, '14': 5, '8': 4, '12': 3}, '13.3': {'10': 15, '5': 4}, '14.1': {'11': 6, '13': 6, '14': 5}, '14.2': {'13': 6, '14': 5, '8': 4}, '14.3': {'1': 4, '4': 2, '3': 2, '13': 2}, '14.4': {'11': 6, '13': 6, '14': 5}, '14.5': {'4': 7, '13': 3, '2': 3, '1': 3}, '14.6': {'1': 10, '13': 6, '14': 5, '17': 3, '16': 3}, '14.7': {'13': 6, '5': 4}, '14.8': {'1': 4, '2': 3, '4': 2, '14': 2}, '14.9': {'13': 6, '14': 5, '1': 5}, '14.10': {'16': 3, '7': 2, '8': 2}, '14.11': {'4': 2, '15': 2, '13': 2, '14': 1}, '14.12': {'10': 15, '13': 3}, '15.1': {'1': 10, '17': 3, '13': 3}, '15.2': {'13': 6, '1': 5, '3': 1}, '15.3': {'1': 10, '17': 3, '12': 3}, '15.4': {'13': 3, '14': 3, '8': 2}, '15.5': {'15': 5, '13': 3, '17': 2}, '15.6': {'13': 6, '14': 5, '3': 1}, '15.7': {'1': 10, '10': 8, '13': 6, '12': 6, '14': 5, '17': 3, '3': 1}, '15.8': {'1': 3, '13': 2, '11': 2, '17': 1}, '15.9': {'1': 10, '17': 3}, '16.1': {'1': 2, '16': 2, '13': 2, '10': 2}, '16.2': {'13': 6, '14': 5, '8': 4, '12': 4, '7': 1}, '16.3': {'13': 6, '14': 5, '6': 4}, '16.4': {'1': 10, '13': 6, '14': 5, '17': 3, '16': 2}, '16.5': {'1': 10, '13': 6, '14': 5, '9': 4, '17': 3, '7': 2, '8': 2}, '17.1': {'10': 5, '15': 3, '17': 2, '1': 1}, '17.2': {'13': 6, '14': 5, '16': 2}}

In [66]:
chap_id_rm

{'1.1': {'1': 4, '4': 1, '14': 1, '11': 1, '6': 1, '10': 1},
 '1.2': {'10': 3, '4': 2, '11': 2, '15': 2, '17': 1, '14': 1, '6': 1},
 '1.3': {'10': 3, '17': 1, '14': 1, '11': 1, '13': 1},
 '1.4': {'1': 4, '4': 2, '6': 1, '9': 1, '17': 1},
 '1.5': {'4': 8, '2': 3, '13': 2, '11': 1, '16': 1, '8': 1},
 '1.6': {'1': 4, '10': 4, '2': 3, '4': 1, '17': 1, '12': 1},
 '2.1': {'9': 1, '4': 1, '1': 1},
 '2.2': {'1': 4, '2': 3, '14': 2, '10': 1, '11': 1, '4': 1},
 '2.3': {'2': 4, '14': 2, '6': 1, '4': 1},
 '2.4': {'4': 8,
  '2': 6,
  '13': 2,
  '5': 1,
  '9': 1,
  '10': 1,
  '11': 1,
  '16': 1,
  '17': 1},
 '2.5': {'4': 9, '11': 2, '9': 1, '2': 1, '10': 1, '15': 1},
 '2.6': {'2': 4, '10': 2, '1': 1, '9': 1},
 '2.7': {'2': 4, '4': 3, '11': 1},
 '2.8': {'13': 2, '9': 1, '14': 1, '11': 1},
 '3.1': {'10': 4, '2': 3, '11': 2, '1': 1, '16': 1},
 '3.2': {'10': 4, '2': 3, '11': 2, '17': 1, '14': 1, '12': 1},
 '3.3': {'1': 4, '9': 1, '15': 1, '4': 1},
 '3.4': {'2': 3, '14': 2, '10': 2, '15': 1},
 '3.5': {'17': 1, '5': 1},
 '3.6': {'14': 2, '9': 1, '13': 1},
 '3.7': {'4': 6, '9': 1, '14': 1, '1': 1, '8': 1},
 '3.8': {'10': 4, '14': 2, '4': 1, '11': 1, '15': 1, '16': 1},
 '3.9': {'2': 5, '1': 3, '4': 1, '10': 1, '8': 1},
 '3.10': {'10': 3, '2': 2, '9': 1, '8': 1},
 '3.11': {'10': 4, '4': 1, '16': 1, '17': 1},
 '3.12': {'1': 4, '14': 1, '17': 1, '8': 1, '10': 1},
 '4.1': {'4': 6, '1': 4, '13': 2, '11': 1, '14': 1, '17': 1},
 '4.2': {'9': 1},
 '4.3': {'14': 2, '1': 2, '9': 1, '4': 1, '8': 1, '11': 1},
 '4.4': {'4': 6, '14': 2, '13': 2, '11': 1, '16': 1},
 '4.5': {'2': 2, '9': 1, '11': 1, '1': 1, '14': 1},
 '4.6': {'1': 4, '10': 2, '14': 2, '4': 1, '11': 1, '17': 1},
 '4.7': {'2': 3, '1': 2, '8': 1},
 '4.8': {'2': 4, '14': 2, '8': 1, '9': 1},
 '4.9': {'11': 1, '13': 1, '12': 1},
 '4.10': {'10': 3, '16': 1, '4': 1, '11': 1, '17': 1},
 '5.1': {'14': 2, '12': 1, '4': 1, '11': 1},
 '5.2': {'10': 5, '1': 3, '2': 2, '14': 1, '4': 1, '8': 1, '15': 1, '11': 1},
 '5.3': {'2': 5, '11': 2, '10': 1, '8': 1, '16': 1, '4': 1},
 '5.4': {'10': 5, '15': 3, '1': 2, '14': 1, '17': 1, '2': 1, '6': 1, '13': 1},
 '5.5': {'10': 5, '1': 3, '2': 3, '14': 2, '11': 1, '17': 1},
 '5.6': {'1': 3, '10': 3, '9': 1, '16': 1},
 '5.7': {'2': 3, '10': 3, '4': 2, '17': 1, '9': 1},
 '5.8': {'10': 1},
 '5.9': {'2': 3, '14': 1, '11': 1},
 '6.1': {'9': 1, '15': 1, '13': 1},
 '6.2': {'11': 2, '14': 1, '9': 1},
 '6.3': {'14': 2, '15': 1, '16': 1, '4': 1, '10': 1, '1': 1, '17': 1},
 '6.4': {'14': 2, '13': 2, '15': 1, '10': 1, '1': 1, '17': 1},
 '6.5': {'4': 6, '15': 1, '8': 1},
 '6.6': {'4': 7, '14': 2, '15': 1, '1': 1, '13': 1},
 '6.7': {'15': 4, '10': 1},
 '6.8': {'10': 2, '13': 2, '15': 1, '8': 1},
 '7.1': {'4': 7, '1': 4, '15': 2, '13': 2, '9': 1, '14': 1, '17': 1, '12': 1},
 '7.2': {'10': 4, '2': 4, '1': 2, '8': 1, '17': 1},
 '7.3': {'2': 4, '10': 3, '1': 1, '8': 1},
 '7.4': {'10': 2, '15': 1, '9': 1},
 '7.5': {'10': 3, '14': 1},
 '8.1': {'1': 1, '4': 1, '14': 1, '8': 1, '11': 1},
 '8.2': {'10': 7, '1': 2, '4': 1, '12': 1},
 '8.3': {'4': 7, '9': 1},
 '8.4': {'4': 7, '10': 2, '5': 1, '11': 1, '17': 1, '8': 1, '1': 1},
 '8.5': {'14': 2, '1': 1, '6': 1},
 '8.6': {'14': 2, '16': 1, '11': 1},
 '8.7': {'10': 4, '2': 2, '14': 2, '11': 1, '17': 1},
 '8.8': {'2': 7, '10': 3, '11': 2, '14': 2, '6': 1},
 '8.9': {'2': 4, '10': 3, '1': 2},
 '8.10': {'9': 1, '1': 1},
 '8.11': {'10': 4, '2': 3},
 '9.1': {'10': 2, '9': 1},
 '9.2': {'4': 2, '17': 1, '2': 1, '10': 1},
 '9.3': {'9': 1, '4': 1},
 '9.4': {'1': 3, '10': 2, '11': 2, '2': 1, '4': 1, '17': 1},
 '9.5': {'4': 7, '2': 7, '10': 3, '16': 1, '11': 1},
 '9.6': {'8': 1},
 '9.7': {'2': 3, '10': 3, '1': 2, '4': 1, '8': 1},
 '9.8': {'13': 2, '14': 1},
 '10.1': {'15': 3, '1': 2, '10': 1, '16': 1},
 '10.2': {'2': 4, '17': 1, '10': 1},
 '10.3': {'4': 7, '10': 3, '2': 3, '1': 3, '11': 1, '8': 1},
 '10.4': {'2': 3, '14': 2, '17': 1, '1': 1},
 '11.1': {'13': 2, '9': 1, '14': 1},
 '11.2': {'2': 5, '10': 1, '11': 1, '14': 1},
 '11.3': {'15': 3, '8': 1},
 '11.4': {'4': 6, '14': 1},
 '11.5': {'1': 2, '4': 1, '11': 1, '15': 1, '17': 1, '8': 1},
 '11.6': {'4': 6, '15': 4, '1': 3, '14': 2, '8': 1, '2': 1},
 '11.7': {'10': 4, '2': 3, '9': 1, '11': 1, '14': 1, '1': 1},
 '11.8': {'4': 6, '10': 4, '15': 4, '17': 1, '9': 1},
 '11.9': {'1': 4, '10': 4, '2': 3, '4': 2, '17': 1, '8': 1},
 '11.10': {'14': 2, '1': 1, '11': 1, '8': 1, '12': 1},
 '12.1': {'1': 3, '8': 1},
 '12.2': {'4': 6, '12': 2, '5': 1, '1': 1, '9': 1, '14': 1, '10': 1, '17': 1},
 '12.3': {'10': 4, '14': 2, '13': 2, '15': 1, '4': 1, '8': 1, '1': 1, '17': 1},
 '12.4': {'16': 1, '1': 1, '17': 1, '8': 1},
 '12.5': {'11': 2, '2': 1, '4': 1, '8': 1},
 '12.6': {'10': 5, '1': 3, '2': 3, '17': 1},
 '12.7': {},
 '12.8': {'4': 8, '2': 3, '10': 2, '5': 1, '16': 1, '17': 1},
 '12.9': {'1': 2, '2': 1},
 '13.1': {'2': 5, '13': 2, '8': 1},
 '13.2': {'2': 3, '10': 3, '17': 1},
 '13.3': {'2': 3, '13': 2, '1': 1, '14': 1},
 '14.1': {'4': 9, '1': 4, '17': 1, '8': 1},
 '14.2': {'4': 4, '1': 4, '2': 3, '10': 1, '11': 1, '16': 1, '17': 1},
 '14.3': {'1': 4, '4': 2, '13': 2, '11': 1},
 '14.4': {'4': 6, '1': 4, '2': 3, '17': 1},
 '14.5': {'4': 7, '2': 3, '1': 3, '11': 1, '14': 1},
 '14.6': {'4': 1, '9': 1, '11': 1},
 '14.7': {'2': 3, '14': 2, '1': 1, '10': 1, '11': 1},
 '14.8': {'1': 4,
  '2': 3,
  '4': 2,
  '14': 2,
  '13': 2,
  '11': 1,
  '15': 1,
  '16': 1,
  '10': 1,
  '17': 1},
 '14.9': {'17': 1, '4': 1, '8': 1},
 '14.10': {'15': 2, '13': 2, '4': 1, '10': 1, '17': 1},
 '14.11': {'4': 2, '15': 2, '13': 2, '14': 1, '9': 1, '8': 1, '10': 1},
 '14.12': {'14': 2, '1': 1, '8': 1},
 '15.1': {'11': 2, '2': 2, '10': 1, '16': 1, '8': 1, '14': 1, '4': 1},
 '15.2': {'2': 3, '14': 2, '10': 1, '11': 1, '4': 1},
 '15.3': {'10': 3, '2': 3, '14': 2, '13': 2, '9': 1},
 '15.4': {'10': 1, '16': 1, '4': 1, '17': 1, '6': 1, '11': 1, '1': 1},
 '15.5': {'10': 4, '1': 4, '4': 2, '16': 1, '14': 1, '11': 1},
 '15.6': {'10': 7, '11': 1, '12': 1},
 '15.7': {'2': 5, '4': 1, '8': 1},
 '15.8': {'1': 3, '13': 2, '11': 2, '17': 1, '9': 1},
 '15.9': {'4': 6, '13': 2, '9': 1, '14': 1, '8': 1},
 '16.1': {'1': 2, '13': 2, '10': 2, '17': 1, '8': 1},
 '16.2': {'2': 3, '10': 3, '11': 1},
 '16.3': {'9': 1, '2': 1, '1': 1},
 '16.4': {'10': 1, '4': 1, '15': 1},
 '16.5': {'10': 1},
 '17.1': {'10': 5,
  '15': 3,
  '1': 1,
  '12': 1,
  '13': 1,
  '14': 1,
  '16': 1,
  '2': 1,
  '4': 1,
  '11': 1},
 '17.2': {'1': 2, '10': 2, '4': 1, '17': 1, '8': 1}}

In [67]:
missing = []

# Iterate through the data dictionary
for key, value in chap_result.items():
    # Check if the sub-dictionary is empty
    if not value:
        # Add the key to the missing list
        missing.append(key)
missing

[]

In [68]:
# List to store indices to remove
chap_indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in chapter_df.iterrows():
    if row['top_n_target_id'] in table_id_rm:
        inner_dict = chap_id_rm[row['top_n_target_id']]
        if row['Chapter_id'] in inner_dict:
            if row['top_n_target_id'] not in chap_result or row['Chapter_id'] not in chap_result[row['top_n_target_id']]:
                # Add index to remove list
                chap_indices_to_remove.append(index)

chap_indices_to_remove

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 243,
 244,
 245,
 246,
 270,
 271,
 274,
 275,
 276,
 277,
 305,
 306,
 307,
 308,
 309,
 312,
 313,
 314,
 315,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 600,
 601,
 602,
 603,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 985,
 986,
 987,
 988,
 989,
 990,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1289,
 1290,
 1291,
 1411,
 1412,
 1413,
 1414,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1486,
 1487,
 1488,
 1489,
 1490,
 1491,
 1492,
 1493,
 1494,
 1495,
 1496,
 1509,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1686,
 1687,
 1688,
 1689,
 1690,
 1691,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1717,
 1718,
 1719,
 1720,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1739,
 1740,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1793,
 1867,
 1868,
 1869,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2011,
 2012,
 2013,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2041,
 2042,
 2043,
 2046,
 2047,
 2048,
 2049,
 2050,
 2053,
 2066,
 2067,
 2068,
 2070,
 2071,
 2072,
 2076,
 2077,
 2078,
 2079,
 2080,
 2081,
 2082,
 2083,
 2084,
 2085,
 2086,
 2087,
 2088,
 2089,
 2090,
 2091,
 2092,
 2093,
 2094,
 2095,
 2096,
 2097,
 2098,
 2099,
 2100,
 2101,
 2106,
 2107,
 2108,
 2109,
 2110,
 2111,
 2112,
 2113,
 2114,
 2115,
 2116,
 2117,
 2118,
 2119,
 2120,
 2121,
 2122,
 2123,
 2124,
 2125,
 2159,
 2160,
 2161,
 2162,
 2163,
 2164,
 2165,
 2166,
 2167,
 2168,
 2169,
 2170,
 2171,
 2172,
 2173,
 2174,
 2175,
 2176,
 2177,
 2178,
 2179,
 2180,
 2181,
 2182,
 2183,
 2184,
 2185,
 2186,
 2187,
 2188,
 2189,
 2190,
 2191,
 2192,
 2193,
 2194,
 2195,
 2196,
 2197,
 2198,
 2199,
 2200,
 2201,
 2202,
 2203,
 2204,
 2205,
 2206,
 2207,
 2208,
 2209,
 2210,
 2211,
 2212,
 2213,
 2214,
 2215,
 2216,
 2217,
 2218,
 2219,
 2220,
 2221,
 2222,
 2223,
 2224,
 2225,
 2226,
 2227,
 2228,
 2229,
 2230,
 2231,
 2232,
 2233,
 2234,
 2235,
 2236,
 2237,
 2238,
 2239,
 2240,
 2241,
 2242,
 2243,
 2244,
 2245,
 2246,
 ...]

In [69]:
len(chap_indices_to_remove)

13242

In [70]:
# Remove rows using indices from indices_to_remove list
chapter_df.drop(chap_indices_to_remove, inplace=True)

chapter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,top_n_goal_id,top_n_target_id
39,318,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Working,Raingauge Stations",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
40,319,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Under Repair,Raingauge Stations",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
41,320,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Total,Raingauge Stations",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
42,321,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Rainy Days,Annual Normal Rainfall 1961-2010",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
43,322,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Normal Rainfall,Annual Normal Rainfall 1961-2010",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1,1.1
...,...,...,...,...,...,...,...,...,...,...
41085,1492,16,Energy,16.2,Sectorwise number of Electricity Consumers as ...,"Lt,I.p. Sets","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41086,1493,16,Energy,16.2,Sectorwise number of Electricity Consumers as ...,Street Light Lt,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41087,1494,16,Energy,16.2,Sectorwise number of Electricity Consumers as ...,Water supply Ht,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41088,1495,16,Energy,16.2,Sectorwise number of Electricity Consumers as ...,"Lt,Water Supply","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2
41089,1500,16,Energy,16.2,Sectorwise number of Electricity Consumers as ...,Grand Total Ht Lt,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17,17.2

In [71]:
chapter_df['top_n_target_id'].nunique()

131

In [72]:
chap_count_att = chapter_df['top_n_target_id'].value_counts().to_dict()

In [73]:
chap_count_att

{'6.6': 573,
 '2.6': 536,
 '11.8': 462,
 '5.6': 418,
 '2.4': 368,
 '8.10': 353,
 '15.7': 350,
 '10.1': 329,
 '3.6': 310,
 '4.8': 301,
 '4.2': 298,
 '4.3': 292,
 '14.8': 292,
 '3.10': 286,
 '4.9': 283,
 '14.3': 280,
 '2.5': 275,
 '8.6': 274,
 '16.5': 267,
 '12.5': 260,
 '1.4': 258,
 '11.1': 251,
 '9.3': 246,
 '1.1': 246,
 '10.4': 245,
 '5.9': 244,
 '4.4': 237,
 '9.4': 233,
 '5.8': 223,
 '14.6': 220,
 '16.4': 213,
 '2.3': 210,
 '4.1': 208,
 '8.3': 199,
 '9.2': 196,
 '9.6': 196,
 '4.7': 196,
 '7.3': 194,
 '1.2': 192,
 '5.4': 190,
 '8.9': 187,
 '16.2': 187,
 '10.2': 185,
 '13.1': 182,
 '2.7': 179,
 '12.7': 177,
 '5.7': 177,
 '13.3': 172,
 '11.4': 168,
 '4.5': 163,
 '1.3': 163,
 '4.6': 162,
 '3.7': 160,
 '9.7': 157,
 '8.7': 157,
 '9.8': 155,
 '5.5': 152,
 '16.3': 151,
 '12.9': 151,
 '14.5': 150,
 '12.4': 146,
 '15.3': 145,
 '6.2': 144,
 '14.12': 144,
 '3.11': 141,
 '3.9': 141,
 '6.7': 141,
 '14.1': 141,
 '14.4': 141,
 '9.5': 140,
 '12.3': 136,
 '6.1': 136,
 '6.8': 134,
 '7.5': 133,
 '13.2': 132,
 '8.11': 132,
 '8.4': 130,
 '2.2': 127,
 '12.2': 126,
 '7.2': 126,
 '3.2': 124,
 '15.1': 124,
 '3.12': 121,
 '12.6': 120,
 '7.1': 116,
 '14.9': 113,
 '12.1': 111,
 '6.5': 111,
 '7.4': 111,
 '3.3': 109,
 '1.5': 109,
 '11.9': 109,
 '15.9': 109,
 '2.8': 109,
 '3.4': 108,
 '17.2': 104,
 '10.3': 104,
 '3.5': 97,
 '14.2': 96,
 '14.10': 91,
 '8.2': 87,
 '15.2': 83,
 '11.2': 81,
 '16.1': 80,
 '14.7': 79,
 '15.8': 78,
 '9.1': 76,
 '15.5': 76,
 '15.6': 73,
 '17.1': 71,
 '8.8': 71,
 '1.6': 68,
 '11.3': 68,
 '11.5': 68,
 '4.10': 68,
 '12.8': 68,
 '3.8': 64,
 '3.1': 58,
 '14.11': 58,
 '6.4': 55,
 '8.5': 55,
 '5.2': 51,
 '11.7': 51,
 '8.1': 51,
 '11.10': 51,
 '15.4': 50,
 '5.3': 49,
 '6.3': 47,
 '5.1': 40,
 '2.1': 38,
 '11.6': 38}

In [74]:
tab_count_att

{'11.8': 840,
 '2.6': 611,
 '6.6': 582,
 '1.4': 530,
 '2.3': 515,
 '14.1': 505,
 '1.1': 501,
 '1.2': 500,
 '2.5': 482,
 '1.5': 476,
 '5.6': 476,
 '4.3': 464,
 '5.7': 461,
 '2.7': 455,
 '9.2': 442,
 '14.2': 436,
 '2.4': 431,
 '11.9': 430,
 '15.7': 421,
 '15.1': 397,
 '10.1': 391,
 '4.6': 390,
 '15.5': 387,
 '1.6': 385,
 '8.3': 378,
 '4.4': 371,
 '4.8': 370,
 '8.10': 364,
 '4.1': 363,
 '14.8': 361,
 '3.3': 361,
 '9.5': 351,
 '3.10': 343,
 '2.2': 338,
 '14.9': 338,
 '3.6': 336,
 '4.9': 335,
 '15.2': 331,
 '9.4': 326,
 '7.1': 323,
 '12.5': 322,
 '8.6': 322,
 '10.4': 316,
 '4.2': 305,
 '14.3': 303,
 '5.4': 303,
 '14.4': 296,
 '5.9': 284,
 '10.2': 279,
 '10.3': 279,
 '4.7': 277,
 '16.5': 275,
 '11.1': 274,
 '5.5': 272,
 '7.3': 270,
 '8.4': 266,
 '9.3': 265,
 '16.2': 260,
 '8.9': 257,
 '3.9': 253,
 '13.1': 251,
 '14.6': 249,
 '11.4': 248,
 '12.6': 246,
 '16.4': 246,
 '9.7': 243,
 '8.7': 243,
 '5.8': 231,
 '13.3': 230,
 '12.8': 229,
 '15.3': 226,
 '12.3': 219,
 '7.2': 217,
 '15.9': 215,
 '4.5': 211,
 '9.6': 206,
 '6.5': 203,
 '13.2': 201,
 '3.11': 199,
 '6.7': 193,
 '8.11': 189,
 '12.4': 188,
 '5.2': 188,
 '3.4': 187,
 '11.6': 186,
 '8.8': 186,
 '6.8': 182,
 '14.5': 180,
 '3.7': 178,
 '12.7': 177,
 '16.3': 176,
 '14.12': 174,
 '8.2': 173,
 '9.8': 171,
 '12.9': 171,
 '17.2': 170,
 '1.3': 170,
 '3.2': 168,
 '6.2': 168,
 '17.1': 167,
 '7.5': 167,
 '15.4': 164,
 '6.1': 159,
 '15.6': 156,
 '2.8': 155,
 '11.5': 155,
 '12.2': 152,
 '5.3': 151,
 '11.2': 151,
 '11.7': 146,
 '7.4': 146,
 '12.1': 145,
 '3.1': 144,
 '14.10': 143,
 '14.7': 136,
 '3.12': 135,
 '4.10': 132,
 '3.5': 123,
 '3.8': 116,
 '11.10': 105,
 '9.1': 103,
 '6.4': 102,
 '8.1': 102,
 '5.1': 100,
 '11.3': 97,
 '16.1': 94,
 '15.8': 85,
 '14.11': 79,
 '2.1': 73,
 '6.3': 63,
 '8.5': 55}

In [75]:
rank_count_att = all_goals['top_n_target_id'].value_counts().to_dict()

In [93]:
rank_filter_count_att = final_map['top_n_target_id'].value_counts().to_dict()

In [77]:
count_att_list = [(key, value) for key, value in chap_count_att.items()]

count_att_df = pd.DataFrame(count_att_list, columns=['Target_id', 'Chap_count'])
count_att_df

    Target_id  Chap_count
0         6.6         573
1         2.6         536
2        11.8         462
3         5.6         418
4         2.4         368
..        ...         ...
126       5.3          49
127       6.3          47
128       5.1          40
129       2.1          38
130      11.6          38

[131 rows x 2 columns]

In [78]:
count_att_df['Tab_count'] = count_att_df['Target_id'].map(tab_count_att)

In [94]:
count_att_df['Filter_count'] = count_att_df['Target_id'].map(rank_filter_count_att)

In [80]:
count_att_df['Rank_count'] = count_att_df['Target_id'].map(rank_count_att)

In [95]:
count_att_df

    Target_id  Chap_count  Tab_count  Filter_count  Rank_count
0         6.6         573        582           306         621
1         2.6         536        611           426         716
2        11.8         462        840           494         861
3         5.6         418        476           327         517
4         2.4         368        431           263         457
..        ...         ...        ...           ...         ...
126       5.3          49        151           151         304
127       6.3          47         63            63          85
128       5.1          40        100           100         309
129       2.1          38         73            73         185
130      11.6          38        186           186         407

[131 rows x 5 columns]

In [82]:
chapter_df.to_csv(absolute_path_chap_filter, sep=';', index=False)

In [83]:
count_att_df.to_csv(absolute_path_count, sep=';', index=False)