In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import re
import os
import matplotlib.pyplot as plt
import nltk
from collections import OrderedDict

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer() 
from gensim.models import Word2Vec
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package punkt to /home/riya/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/riya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/riya/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/usr/lib/python3/dist-packages/paramiko/transport.py:237: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [2]:
relative_path_sdg = "../../sdg_data.csv"
relative_path_attr = "../Dictionary/Attributes_2019-20.csv"
relative_string_map = "./Data_Goal/String_map.csv"
relative_semantic = "./Data_Goal/Semantic_map.csv"
relative_sem_threshold = "./Data_Goal/Semantic_threshold_map.csv"
relative_rank = "./Data_Goal/Ranking.csv"
relative_rank_unroll = "./Data_Goal/Ranking_unroll.csv"
relative_tab_filter = "./Data_Goal/Ranking_tab_filter.csv"
relative_chap_filter = "./Data_Goal/Ranking_chap_filter.csv"
relative_final_map = "./Mapping_Goal_2019-20.csv"
relative_count = "./Data_Goal/Comparison_count.csv"


# Get the absolute path by joining the current directory with the relative path
absolute_path_sdg = os.path.normpath(os.path.join(os.getcwd(), relative_path_sdg))
absolute_path_attr = os.path.normpath(os.path.join(os.getcwd(), relative_path_attr))
absolute_path_string = os.path.normpath(os.path.join(os.getcwd(), relative_string_map))
absolute_path_semantic = os.path.normpath(os.path.join(os.getcwd(), relative_semantic))
absolute_path_sem_threshold =os.path.normpath( os.path.join(os.getcwd(), relative_sem_threshold))
absolute_path_rank =os.path.normpath( os.path.join(os.getcwd(), relative_rank))
absolute_path_rank_unroll =os.path.normpath( os.path.join(os.getcwd(), relative_rank_unroll))
absolute_path_tab_filter =os.path.normpath( os.path.join(os.getcwd(), relative_tab_filter))
absolute_path_chap_filter =os.path.normpath( os.path.join(os.getcwd(), relative_chap_filter))
absolute_path_final_map =os.path.normpath( os.path.join(os.getcwd(), relative_final_map))
absolute_path_count =os.path.normpath( os.path.join(os.getcwd(), relative_count))

In [3]:
def process_result(result_sdg, sdg_df, chapter_df):
    rows = []
    
    for _, row in result_sdg.iterrows():
        attr_id = row['Rank']
        goal_no = row['Goal No.']
        
        for attr in attr_id:
            rows.append({
                'Attr_id': attr,
                'top_n_goal_id': goal_no
            })

    all_goals = pd.DataFrame(rows)
    
    goal_name = dict(zip(sdg_df['Goal No.'], sdg_df['Goal']))
    
    all_goals['Goal'] = all_goals['top_n_goal_id'].map(goal_name.get)
    chapter_id = dict(zip(chapter_df['Attr_id'], chapter_df['Chapter_id']))
    chapter_name = dict(zip(chapter_df['Chapter_id'], chapter_df['Chapter_name']))
    table_id = dict(zip(chapter_df['Attr_id'], chapter_df['Table_id']))
    table_name = dict(zip(chapter_df['Table_id'], chapter_df['Table_name']))
    description = dict(zip(chapter_df['Attr_id'], chapter_df['Description']))
    all_goals['Chapter_id'] = all_goals['Attr_id'].map(chapter_id.get)
    all_goals['Chapter_name'] = all_goals['Chapter_id'].map(chapter_name.get)
    all_goals['Table_id'] = all_goals['Attr_id'].map(table_id.get)
    all_goals['Table_name'] = all_goals['Table_id'].map(table_name.get)
    all_goals['Description'] = all_goals['Attr_id'].map(description.get) 
    
                
    all_goals = all_goals.loc[:,['Attr_id','Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description', 'Goal', 'top_n_goal_id']]

    return all_goals

In [4]:
# Function to combine and remove duplicates from lists while maintaining order
def combine_lists_BC(row):
    list_B = row['top_n_attr_B']
    list_C = row['top_n_attr_C']
    
    # Combine lists and remove duplicates while maintaining order
    items = list(OrderedDict.fromkeys(list_B + list_C))
    return items

In [5]:
# Function to find intersection while maintaining order
def find_intersection_ABC(row):
    intersection = [x for x in row['top_n_attr_A'] if x in row['B_plus_C']]
    return intersection

In [6]:
def find_difference_A(row):
    top_n_attr = row['top_n_attr_A']
    intersection = row['A_and_BC']
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [7]:
# Function to find intersection while maintaining order
def find_intersection_BC(row):
    intersection = [x for x in row['top_n_attr_B'] if x in row['top_n_attr_C']]
    return intersection

In [8]:
def find_difference_B(row):
    top_n_attr = row['top_n_attr_B']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [9]:
def find_difference_C(row):
    top_n_attr = row['top_n_attr_C']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'] + row['B_minus_all'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [10]:
def final_rank(row):
    #combined_top_n_attr = sorted(set(list_B + list_C), key=lambda x: (list_B + list_C).index(x))
    items = row['A_and_BC'] + row['A'] + row['B_and_C'] + row['B_minus_all'] + row['C_minus_all']
    item_set = list(OrderedDict.fromkeys(items))    
    return item_set

In [11]:
sdg = pd.read_csv(absolute_path_sdg, sep=",", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str})

In [12]:
sdg

,Goal No.,Goal,Nodal Department,Targets,Other Related Major Departments,Tentative Indicators,Target_id,Indicator_id
0,1,End poverty in all its forms everywhere,Rural Development,"By 2030, eradicate extreme poverty for all peo...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population below the interna...,1.1,1.1.1
1,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living below the ...,1.2,1.2.1
2,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...","Proportion of men, women and children of all a...",1.2,1.2.2
3,1,End poverty in all its forms everywhere,Rural Development,Implement nationally appropriate social protec...,"Urban Development, Agriculture, Horticulture, ...",Percentage of the population covered by social...,1.3,1.3.1
4,1,End poverty in all its forms everywhere,Rural Development,"By 2030, ensure that all men and women, in par...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living in househo...,1.4,1.4.1
...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,Finance,"Promote the development, transfer, disseminati...",Environment and Scientific Technology.,Total amount of approved funding to promote th...,16.4,16.4.1
175,16,Strengthen the means of implementation and rev...,Finance,Fully operationalize the technology bank and s...,"Environment and Scientific Technology, Inform...",Proportion of individuals using the Internet.,16.5,16.5.1
176,17,"Data, monitoring and accountability",Finance,"By 2020, enhance capacity-building support to ...","Planning, Finance, Economic and Statistics.",Proportion of sustainable development indicato...,17.1,17.1.1
177,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Dollar value of all resources made available t...,17.2,17.2.1
178,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Inclusive Wealth Index.,17.2,17.2.2

In [13]:
sdg.drop(['Nodal Department','Other Related Major Departments', 'Tentative Indicators', 'Indicator_id', 'Targets', 'Target_id'],axis=1,inplace=True)

In [14]:
# Remove duplicate rows
sdg = sdg.drop_duplicates()

In [15]:
sdg.reset_index(inplace = True, drop = True)

In [16]:
data = pd.read_csv(absolute_path_attr, sep=";", dtype={'Attr_id': str, 'Chapter_id': str, 'Table_id':str})

In [17]:
data_new = data.copy()
data_new

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Taluks
1,4,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Hoblies
2,5,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Grama Panchayaths
3,6,1,General Information,1.1,Taluks Hoblies Grama Panchayath Village Accoun...,Circles
4,7,1,General Information,1.2,Inhabited Un-inhabited and Total Villages per ...,"Un-Inhabited Inhabited,Villages"
...,...,...,...,...,...,...
1548,1558,17,Other Information,17.3,Registration of Births and Deaths,"Total,Births,Late Registered events 2019"
1549,1559,17,Other Information,17.3,Registration of Births and Deaths,"Male,Deaths,Late Registered events 2019"
1550,1560,17,Other Information,17.3,Registration of Births and Deaths,"Female,Deaths,Late Registered events 2019"
1551,1561,17,Other Information,17.3,Registration of Births and Deaths,"Transgender,Deaths,Late Registered events 2019"
1552,1562,17,Other Information,17.3,Registration of Births and Deaths,"Total,Deaths,Late Registered events 2019"

In [18]:
sdg_string = pd.read_csv(absolute_path_string, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_string

,Goal No.,Goal,new_goal,new_goal_str,top_n_count,top_n_attr,top_n_table_id,top_n_table_name,top_n_chapter_id,top_n_chapter_name,top_n_similarities,top_n_description
0,1,End poverty in all its forms everywhere,"['end', 'poverty', 'form', 'everywhere']",end poverty in all its forms everywhere,250,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, ...",['Ration Shops and Ration Card (Below poverty ...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['General Information', 'General Information',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Urban,Ration shops, Ration Shops and Ration ..."
1,2,"End hunger, achieve food security and improved...","['end', 'hunger', 'achieve', 'food', 'security...",end hunger achieve food security and improved ...,500,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[4.3, 4.3, 4.6, 4.6, 4.12, 4.1, 4.1, 4.1, 4.1,...",['Area Under Principal crops in Hectares 2018-...,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture & Sericulture', 'A...","[2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Total Food Grains,Pulses, Area Under Princip..."
2,3,Ensure healthy lives and promote well-being fo...,"['ensure', 'healthy', 'life', 'promote', 'well...",ensure healthy lives and promote well being fo...,36,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.1...",['Age wise Population per 2011 Census and Proj...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['Area and Population', 'Area and Population',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Male,0-14 2011, Age wise Population per 2011..."
3,4,Ensure inclusive and equitable quality educati...,"['ensure', 'inclusive', 'equitable', 'quality'...",ensure inclusive and equitable quality educati...,128,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[10.1, 10.1, 10.1, 10.1, 10.1, 10.1, 10.1, 10....","['Literates 2011 Census', 'Literates 2011 Cens...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","['Education', 'Education', 'Education', 'Educa...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Male,Rural, Literates 2011 Census, Education..."
4,5,Achieve gender equality and empower all women ...,"['achieve', 'gender', 'equality', 'empower', '...",achieve gender equality and empower all women ...,96,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[13.5, 10.3, 10.4, 10.5, 10.8, 10.8, 10.9, 10....",['No. of Anganawadi Teachers Workers and Suppl...,"[13, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","['Women & Child Development', 'Education', 'Ed...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Adolescent Girls,No. of Beneficiaries under ..."
5,6,Ensure availability and sustainable management...,"['ensure', 'availability', 'sustainable', 'man...",ensure availability and sustainable management...,30,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1.5, 9.3, 10.9, 10.10, 14.4, 14.4, 14.4, 14.4...","['No. of Fire Stations on 31-3-2020', 'Length ...","[1, 9, 10, 10, 14, 14, 14, 14, 14, 14, 14, 14,...","['General Information', 'Transport and Communi...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Working Fire Brigade Water Tankers, No. of F..."
6,7,"Ensure access to affordable, reliable, sustain...","['ensure', 'access', 'affordable', 'reliable',...",ensure access to affordable reliable sustainab...,51,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 15.2, 16.1...",['Length of Rural Roads and Number of Habitati...,"[9, 9, 9, 9, 9, 9, 9, 15, 16, 16, 16, 16, 16, ...","['Transport and Communication', 'Transport and...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Pucca Road,Panchayat Roads,Length of Rural R..."
7,8,"Promote sustained, inclusive and sustainable e...","['promote', 'sustained', 'inclusive', 'sustain...",promote sustained inclusive and sustainable ec...,17,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[5.4, 6.2, 6.3, 14.1, 14.1, 14.1, 14.1, 14.1, ...","['Fisheries and Animal Husbandry 2019-20', 'Sm...","[5, 6, 6, 14, 14, 14, 14, 14, 14, 14, 14, 14, ...","['Fisheries and Animal Husbandry', 'Industries...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Full Time,No of Families involved in fishing..."
8,9,"Build resilient infrastructure, promote inclus...","['build', 'resilient', 'infrastructure', 'prom...",build resilient infrastructure promote inclusi...,20,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10....",['Infrastructure Facilities in Primary Schools...,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","['Education', 'Education', 'Education', 'Educa...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['No.of Primary Schools, Infrastructure Facili..."
9,10,Reduce inequality within the State,"['reduce', 'inequality', 'state']",reduce inequality within the state,22,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[1.7, 1.7, 1.8, 1.8, 1.9, 1.9, 4.6, 4.16, 4.17...",['Anthyodaya Card (Below poverty line / Above ...,"[1, 1, 1, 1, 1, 1, 4, 4, 4, 5, 6, 6, 9, 9, 10,...","['General Information', 'General Information',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['% to State total,with cylinder, Anthyodaya C..."
10,11,"Make cities and human settlements inclusive, s...","['make', 'city', 'human', 'settlement', 'inclu...",make cities and human settlements inclusive sa...,0,[],[],[],[],[],[],[]
11,12,Ensure sustainable consumption and production\...,"['ensure', 'sustainable', 'consumption', 'prod...",ensure sustainable consumption and production ...,87,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, ...",['Production of Important Crops in Tonnes 2018...,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture & Sericulture', 'A...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Paddy,Production of Cereals, Production of I..."
12,13,Take urgent action to combat climate change an...,"['take', 'urgent', 'action', 'combat', 'climat...",take urgent action to combat climate change an...,32,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, ...",['Rural and Urban Population and Decadal Chang...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['Area and Population', 'Area and Population',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Male,Rural,Population 2011, Rural and Urban ..."
13,14,"Protect, restore and promote sustainable use o...","['protect', 'restore', 'promote', 'sustainable...",protect restore and promote sustainable use of...,223,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, ...","['Land Utilization in Hectares 2018-19', 'Land...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture & Sericulture', 'A...","[2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Forest, Land Utilization in Hectares 2018-19..."
14,15,Promote peaceful and inclusive societies for s...,"['promote', 'peaceful', 'inclusive', 'society'...",promote peaceful and inclusive societies for s...,142,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sericulture 2019-20', 'Sericulture 2019-20',...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture & Sericulture', 'A...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Sc,Farmers and reelers benefited under Seric..."
15,16,Strengthen the means of implementation and rev...,"['strengthen', 'mean', 'implementation', 'revi...",strengthen the means of implementation and rev...,76,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sericulture 2019-20', 'Sericulture 2019-20',...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 1...","['Agriculture, Horticulture & Sericulture', 'A...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Sc,Farmers and reelers benefited under Seric..."
16,17,"Data, monitoring and accountability","['monitoring', 'accountability']",data monitoring and accountability,0,[],[],[],[],[],[],[]

In [19]:
sdg_sim = pd.read_csv(absolute_path_semantic, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_sim

,Goal No.,Goal,new_goal,new_goal_str,keywords,vec,top_n_index,min_values,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"['end', 'poverty', 'form', 'everywhere']",end poverty in all its forms everywhere,"[['end', 'poverty'], ['end'], ['forms', 'every...",[[ 0.004565 0.380225 0.28172 ... -0.0...,"[1366, 1367, 1368, 1369, 1370, 1371, 1372, 21,...","[0.8735124280076773, 0.5514384505494149, 0.512...",40,"[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[14, 14, 14, 14, 14, 14, 14, 1, 1, 1, 1, 1, 1,...","[14.1, 14.1, 14.1, 14.1, 14.1, 14.1, 14.1, 1.6...","['Ddu-gky,Nrlm National Rural Livelihood Missi...","['Rural Development and Panchayat Raj', 'Rural...",['Skill Development and Self Employment at the...
1,2,"End hunger, achieve food security and improved...","['end', 'hunger', 'achieve', 'food', 'security...",end hunger achieve food security and improved ...,"[['sustainable', 'agriculture'], ['security', ...",[[ 0.079023 0.0409187 -0.25506 ... -0.3...,"[380, 381, 455, 456, 510, 858, 859, 860, 861, ...","[0.8411997113893511, 0.8556416402619208, 0.566...",60,"[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[4, 4, 4, 4, 4, 6, 6, 6, 6, 17, 17, 17, 17, 17...","[4.3, 4.3, 4.6, 4.6, 4.12, 6.2, 6.2, 6.2, 6.2,...","['Total Food Grains,Pulses, Area Under Princip...","['Agriculture, Horticulture & Sericulture', 'A...",['Area Under Principal crops in Hectares 2018-...
2,3,Ensure healthy lives and promote well-being fo...,"['ensure', 'healthy', 'life', 'promote', 'well...",ensure healthy lives and promote well being fo...,"[['well'], ['well', 'ages'], ['ensure'], ['pro...",[[-0.13508999 0.35907 0.1453 ... -0.4...,"[352, 353, 354, 1393, 1394, 1414, 967, 968, 96...","[0.7045711183911056, 0.6798916546022343, 0.527...",48,"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[4, 4, 4, 14, 14, 15, 9, 9, 9, 9, 14, 14, 14, ...","[4.2, 4.2, 4.2, 14.5, 14.5, 15.3, 9.1, 9.1, 9....","['Nos,Tube wells,Gross Net Area Irrigated Hect...","['Agriculture, Horticulture & Sericulture', 'A...",['Gross and Net area Irrigated under different...
3,4,Ensure inclusive and equitable quality educati...,"['ensure', 'inclusive', 'equitable', 'quality'...",ensure inclusive and equitable quality educati...,"[['education'], ['ensure', 'inclusive'], ['pro...",[[-0.15599 -0.48863 -0.095793 ... -0.7...,"[1013, 1014, 1016, 1017, 1021, 1022, 1023, 102...","[1.0000000000000002, 0.4491569151487498, 0.507...",41,"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 14, 1...","[10.1, 10.1, 10.1, 10.1, 10.1, 10.2, 10.2, 10....","['Male,Rural, Literates 2011 Census, Education...","['Education', 'Education', 'Education', 'Educa...","['Literates 2011 Census', 'Literates 2011 Cens..."
4,5,Achieve gender equality and empower all women ...,"['achieve', 'gender', 'equality', 'empower', '...",achieve gender equality and empower all women ...,"[['women'], ['equality', 'empower'], ['equalit...",[[-0.43895 0.47641999 0.18844 ... 0.2...,"[1034, 1038, 1042, 1055, 1058, 1063, 1073, 108...","[0.6183490921829581, 0.4247187957850606, 0.400...",46,"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1, 2,...","[10.3, 10.4, 10.5, 10.8, 10.8, 10.9, 10.10, 10...","['Girls,Total Enrolment, No.of Lower Primary S...","['Education', 'Education', 'Education', 'Educa...",['No.of Lower Primary Schools From 1st To 5th ...
5,6,Ensure availability and sustainable management...,"['ensure', 'availability', 'sustainable', 'man...",ensure availability and sustainable management...,"[['ensure', 'availability'], ['ensure'], ['wat...",[[ 0.21560501 -0.03204 0.1458025 ... -0.0...,"[18, 1002, 1068, 1078, 1386, 1387, 1388, 1389,...","[0.5807085016601672, 0.5270143992244825, 1.000...",52,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1, 9, 10, 10, 14, 14, 14, 14, 14, 14, 14, 14,...","[1.5, 9.3, 10.9, 10.10, 14.4, 14.4, 14.4, 14.4...","['Working Fire Brigade Water Tankers, No. of F...","['General Information', 'Transport and Communi...","['No. of Fire Stations on 31-3-2020', 'Length ..."
6,7,"Ensure access to affordable, reliable, sustain...","['ensure', 'access', 'affordable', 'reliable',...",ensure access to affordable reliable sustainab...,"[['modern', 'energy'], ['ensure'], ['affordabl...",[[ 0.45836502 -0.1715995 -0.23113549 ... -0.4...,"[1001, 1002, 1003, 1004, 1005, 1006, 1007, 140...","[0.8285528169164933, 0.5270143992244825, 0.471...",53,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[9, 9, 9, 9, 9, 9, 9, 15, 16, 16, 16, 16, 16, ...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 15.2, 16.1...","['Pucca Road,Panchayat Roads,Length of Rural R...","['Transport and Communication', 'Transport and...",['Length of Rural Roads and Number of Habitati...
7,8,"Promote sustained, inclusive and sustainable e...","['promote', 'sustained', 'inclusive', 'sustain...",promote sustained inclusive and sustainable ec...,"[['full', 'productive'], ['promote', 'sustaine...",[[-2.96179995e-01 2.15652004e-01 -2.02702441e...,"[903, 895, 1366, 1367, 1368, 1369, 1370, 1371,...","[0.5268596263019111, 0.5479780674858141, 0.703...",56,"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[6, 6, 14, 14, 14, 14, 14, 14, 14, 14, 14, 5, ...","[6.3, 6.2, 14.1, 14.1, 14.1, 14.1, 14.1, 14.1,...",['No of Enterprises engaged in Trade Hotels an...,"['Industries', 'Industries', 'Rural Developmen...",['No. of Working Factories and Cane Crushed 20...
8,9,"Build resilient infrastructure, promote inclus...","['build', 'resilient', 'infrastructure', 'prom...",build resilient infrastructure promote inclusi...,"[['promote'], ['inclusive', 'sustainable'], ['...",[[ 0.045182 0.069974 -0.61168998 ... 0.1...,"[1061, 1062, 1063, 1064, 1065, 1066, 1067, 106...","[0.5658785348581976, 0.4676713963912552, 0.526...",35,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 4, 4,...","[10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10....","['No.of Primary Schools, Infrastructure Facili...","['Education', 'Education', 'Education', 'Educa...",['Infrastructure Facilities in Primary Schools...
9,10,Reduce inequality within the State,"['reduce', 'inequality', 'state']",reduce inequality within the state,"[['reduce'], ['inequality'], ['state']]",[[ 2.19090000e-01 3.54759991e-01 9.81779955e...,"[39, 43, 47, 51, 55, 59, 456, 540, 557, 799, 1...","[0.5327591167446397, 0.5327294572224268, 1.000...",30,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[1, 1, 1, 1, 1, 1, 4, 4, 4, 5, 13, 13, 13, 13,...","[1.7, 1.7, 1.8, 1.8, 1.9, 1.9, 4.6, 4.16, 4.17...","['% to State total,with cylinder, Anthyodaya C...","['General Information', 'General Information',...",['Anthyodaya Card (Below poverty line / Above ...
10,11,"Make cities and human settlements inclusive, s...","['make', 'city', 'human', 'settlement', 'inclu...",make cities and human settlements inclusive sa...,"[['cities', 'human'], ['make'], ['settlements'...",[[ 0.121575 0.073645 -0.18073501 ... -0.0...,"[1331, 1332, 1333, 1334, 1335, 1336, 1338, 133...","[0.5064711983508462, 0.6296606824569899, 0.418...",48,"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 9, 4, 4, ...","[13.1, 13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13....","['No. Of Stree Shakti Self Help Groups, Stree ...","['Women & Child Development', 'Women & Child D...",['Stree Shakthi self help groups members till ...
11,12,Ensure sustainable consumption and production\...,"['ensure', 'sustainable', 'consumption', 'prod...",ensure sustainable consumption and production ...,"[['production', 'patterns'], ['consumption'], ...",[[-0.319305 0.462602 -0.303145 ... -0.0...,"[438, 439, 440, 441, 442, 443, 444, 445, 446, ...","[0.7722102820463911, 1.0, 0.5589028704077351, ...",50,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 16, 16, 16, 16,...","[4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, ...","['Paddy,Production of Cereals, Production of I...","['Agriculture, Horticulture & Sericulture', 'A...",['Production of Important Crops in Tonnes 2018...
12,13,Take urgent action to combat climate change an...,"['take', 'urgent', 'action', 'combat', 'climat...",take urgent action to combat climate change an...,"[['action', 'combat'], ['take'], ['take', 'urg...",[[-1.16922498e-01 3.48804995e-01 1.98920004e...,"[85, 86, 87, 88, 89, 90, 91, 123, 126, 127, 13...","[0.45225777756330654, 0.6403113335442802, 0.54...",30,"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 13, 13, 13, 13,...","[2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.6, 2.6, ...","['Male,Rural,Population 2011, Rural and Urban ...","['Area and Population', 'Area and Population',...",['Rural and Urban Population and Decadal Chang...
13,14,"Protect, restore and promote sustainable use o...","['protect', 'restore', 'promote', 'sustainable...",protect restore and promote sustainable use of...,"[['protect', 'restore'], ['manage', 'forests']...",[[ 0.37306 -0.28052001 -0.7457 ... -0.1...,"[324, 325, 326, 327, 328, 329, 330, 331, 332, ...","[0.5250072774101399, 0.44035447462132127, 0.64...",46,"[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, ...","['Geographical Area, Land Utilization in Hecta...","['Agriculture, Horticulture & Sericulture', 'A...","['Land Utilization in Hectares 2018-19', 'Land..."
14,15,Promote peaceful and inclusive societies for s...,"['promote', 'peaceful', 'inclusive', 'society'...",promote peaceful and inclusive societies for s...,"[['provide', 'access'], ['promote', 'peaceful'...",[[-0.35189001 -0.48269999 -0.07626 ... 0.0...,"[1001, 1002, 1003, 1004, 1005, 1006, 1007, 570...","[0.6542704879131696, 0.5351490721457561, 0.866...",50,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[9, 9, 9, 9, 9, 9, 9, 4, 4, 4, 4, 4, 4, 4, 4, ...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 4.18, 4.18...","['Pucca Road,Panchayat Roads,Length of Rural R...","['Transport and Communication', 'Transport and...",['Length of Rural Roads and Number of Habitati...
15,16,Strengthen the means of implementation and rev...,"['strengthen', 'mean', 'implementation', 'revi...",strengthen the means of implementation and rev...,"[['development'], ['means', 'implementation'],...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[570, 571, 572, 573, 574, 575, 576, 577, 1331,...","[1.0000000000000009, 0.5445481020160627, 0.627...",41,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 1...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sc,Farmers and reelers benefited under Seric...","['Agriculture, Horticulture & Sericulture', 'A...","['Sericulture 2019-20', 'Sericulture 2019-20',..."
16,17,"Data, monitoring and accountability","['monitoring', 'accountability']",data monitoring and accountability,"[['monitoring'], ['accountability']]",[[ 3.06239992e-01 8.30229968e-02 4.99220014e...,"[1515, 1518, 1520, 1522, 1523, 1525, 1528, 153...","[0.46923465053976515, 0.39951461691451745]",20,"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 10, 1...","[17.2, 17.2, 17.2, 17.2, 17.2, 17.2, 17.2, 17....","['Pensioners,Indira Gandhi National Old Age Pe...","['Other Information', 'Other Information', 'Ot...",['Number of Pensioners under Social Security S...

In [20]:
sdg_threshold = pd.read_csv(absolute_path_sem_threshold, dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, sep=";", converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_threshold

,Goal No.,Goal,new_goal,new_goal_str,keywords,vec,top_n_index,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"['end', 'poverty', 'form', 'everywhere']",end poverty in all its forms everywhere,"[['end', 'poverty'], ['end'], ['forms', 'every...",[[ 0.004565 0.380225 0.28172 ... -0.0...,"[1366, 1367, 1368, 1369, 1370, 1371, 1372, 819...",200,"[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[14, 14, 14, 14, 14, 14, 14, 5, 5, 3, 3, 3, 5,...","[14.1, 14.1, 14.1, 14.1, 14.1, 14.1, 14.1, 5.4...","['Ddu-gky,Nrlm National Rural Livelihood Missi...","['Rural Development and Panchayat Raj', 'Rural...",['Skill Development and Self Employment at the...
1,2,"End hunger, achieve food security and improved...","['end', 'hunger', 'achieve', 'food', 'security...",end hunger achieve food security and improved ...,"[['sustainable', 'agriculture'], ['security', ...",[[ 0.079023 0.0409187 -0.25506 ... -0.3...,"[380, 381, 455, 456, 510, 858, 859, 860, 861, ...",627,"[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[4, 4, 4, 4, 4, 6, 6, 6, 6, 17, 17, 17, 17, 17...","[4.3, 4.3, 4.6, 4.6, 4.12, 6.2, 6.2, 6.2, 6.2,...","['Total Food Grains,Pulses, Area Under Princip...","['Agriculture, Horticulture & Sericulture', 'A...",['Area Under Principal crops in Hectares 2018-...
2,3,Ensure healthy lives and promote well-being fo...,"['ensure', 'healthy', 'life', 'promote', 'well...",ensure healthy lives and promote well being fo...,"[['well'], ['well', 'ages'], ['ensure'], ['pro...",[[-0.13508999 0.35907 0.1453 ... -0.4...,"[352, 353, 354, 1393, 1394, 1414, 967, 968, 96...",236,"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[4, 4, 4, 14, 14, 15, 9, 9, 9, 9, 9, 14, 14, 1...","[4.2, 4.2, 4.2, 14.5, 14.5, 15.3, 9.1, 9.1, 9....","['Nos,Tube wells,Gross Net Area Irrigated Hect...","['Agriculture, Horticulture & Sericulture', 'A...",['Gross and Net area Irrigated under different...
3,4,Ensure inclusive and equitable quality educati...,"['ensure', 'inclusive', 'equitable', 'quality'...",ensure inclusive and equitable quality educati...,"[['education'], ['ensure', 'inclusive'], ['pro...",[[-0.15599 -0.48863 -0.095793 ... -0.7...,"[1013, 1014, 1016, 1017, 1021, 1022, 1023, 102...",219,"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.1, 10.1, 10.1, 10.1, 10.1, 10.2, 10.2, 10....","['Male,Rural, Literates 2011 Census, Education...","['Education', 'Education', 'Education', 'Educa...","['Literates 2011 Census', 'Literates 2011 Cens..."
4,5,Achieve gender equality and empower all women ...,"['achieve', 'gender', 'equality', 'empower', '...",achieve gender equality and empower all women ...,"[['women'], ['equality', 'empower'], ['equalit...",[[-0.43895 0.47641999 0.18844 ... 0.2...,"[1034, 1038, 1042, 1055, 1058, 1063, 1073, 108...",465,"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.3, 10.4, 10.5, 10.8, 10.8, 10.9, 10.10, 10...","['Girls,Total Enrolment, No.of Lower Primary S...","['Education', 'Education', 'Education', 'Educa...",['No.of Lower Primary Schools From 1st To 5th ...
5,6,Ensure availability and sustainable management...,"['ensure', 'availability', 'sustainable', 'man...",ensure availability and sustainable management...,"[['ensure', 'availability'], ['ensure'], ['wat...",[[ 0.21560501 -0.03204 0.1458025 ... -0.0...,"[18, 1002, 1068, 1078, 1386, 1387, 1388, 1389,...",248,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1, 9, 10, 10, 14, 14, 14, 14, 14, 14, 14, 14,...","[1.5, 9.3, 10.9, 10.10, 14.4, 14.4, 14.4, 14.4...","['Working Fire Brigade Water Tankers, No. of F...","['General Information', 'Transport and Communi...","['No. of Fire Stations on 31-3-2020', 'Length ..."
6,7,"Ensure access to affordable, reliable, sustain...","['ensure', 'access', 'affordable', 'reliable',...",ensure access to affordable reliable sustainab...,"[['modern', 'energy'], ['ensure'], ['affordabl...",[[ 0.45836502 -0.1715995 -0.23113549 ... -0.4...,"[1001, 1002, 1003, 1004, 1005, 1006, 1007, 140...",311,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[9, 9, 9, 9, 9, 9, 9, 15, 16, 16, 16, 16, 16, ...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 15.2, 16.1...","['Pucca Road,Panchayat Roads,Length of Rural R...","['Transport and Communication', 'Transport and...",['Length of Rural Roads and Number of Habitati...
7,8,"Promote sustained, inclusive and sustainable e...","['promote', 'sustained', 'inclusive', 'sustain...",promote sustained inclusive and sustainable ec...,"[['full', 'productive'], ['promote', 'sustaine...",[[-2.96179995e-01 2.15652004e-01 -2.02702441e...,"[903, 895, 1366, 1367, 1368, 1369, 1370, 1371,...",126,"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[6, 6, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,...","[6.3, 6.2, 14.1, 14.1, 14.1, 14.1, 14.1, 14.1,...",['No of Enterprises engaged in Trade Hotels an...,"['Industries', 'Industries', 'Rural Developmen...",['No. of Working Factories and Cane Crushed 20...
8,9,"Build resilient infrastructure, promote inclus...","['build', 'resilient', 'infrastructure', 'prom...",build resilient infrastructure promote inclusi...,"[['promote'], ['inclusive', 'sustainable'], ['...",[[ 0.045182 0.069974 -0.61168998 ... 0.1...,"[1061, 1062, 1063, 1064, 1065, 1066, 1067, 106...",96,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10....","['No.of Primary Schools, Infrastructure Facili...","['Education', 'Education', 'Education', 'Educa...",['Infrastructure Facilities in Primary Schools...
9,10,Reduce inequality within the State,"['reduce', 'inequality', 'state']",reduce inequality within the state,"[['reduce'], ['inequality'], ['state']]",[[ 2.19090000e-01 3.54759991e-01 9.81779955e...,"[39, 43, 47, 51, 55, 59, 456, 540, 557, 799, 8...",192,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[1, 1, 1, 1, 1, 1, 4, 4, 4, 5, 6, 6, 9, 9, 10,...","[1.7, 1.7, 1.8, 1.8, 1.9, 1.9, 4.6, 4.16, 4.17...","['% to State total,with cylinder, Anthyodaya C...","['General Information', 'General Information',...",['Anthyodaya Card Holders with and without gas...
10,11,"Make cities and human settlements inclusive, s...","['make', 'city', 'human', 'settlement', 'inclu...",make cities and human settlements inclusive sa...,"[['cities', 'human'], ['make'], ['settlements'...",[[ 0.121575 0.073645 -0.18073501 ... -0.0...,"[1331, 1332, 1333, 1334, 1335, 1336, 1338, 133...",120,"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 9, 9, 9, ...","[13.1, 13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13....","['No. Of Stree Shakti Self Help Groups, Stree ...","['Women & Child Development', 'Women & Child D...",['Stree Shakthi self help groups members till ...
11,12,Ensure sustainable consumption and production\...,"['ensure', 'sustainable', 'consumption', 'prod...",ensure sustainable consumption and production ...,"[['production', 'patterns'], ['consumption'], ...",[[-0.319305 0.462602 -0.303145 ... -0.0...,"[438, 439, 440, 441, 442, 443, 444, 445, 446, ...",235,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, ...","['Paddy,Production of Cereals, Production of I...","['Agriculture, Horticulture & Sericulture', 'A...",['Production of Important Crops in Tonnes 2018...
12,13,Take urgent action to combat climate change an...,"['take', 'urgent', 'action', 'combat', 'climat...",take urgent action to combat climate change an...,"[['action', 'combat'], ['take'], ['take', 'urg...",[[-1.16922498e-01 3.48804995e-01 1.98920004e...,"[85, 86, 87, 88, 89, 90, 91, 123, 126, 127, 13...",144,"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.6, 2.6, ...","['Male,Rural,Population 2011, Rural and Urban ...","['Area and Population', 'Area and Population',...",['Rural and Urban Population and Decadal Chang...
13,14,"Protect, restore and promote sustainable use o...","['protect', 'restore', 'promote', 'sustainable...",protect restore and promote sustainable use of...,"[['protect', 'restore'], ['manage', 'forests']...",[[ 0.37306 -0.28052001 -0.7457 ... -0.1...,"[324, 325, 326, 327, 328, 329, 330, 331, 332, ...",351,"[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, ...","['Geographical Area, Land Utilization in Hecta...","['Agriculture, Horticulture & Sericulture', 'A...","['Land Utilization in Hectares 2018-19', 'Land..."
14,15,Promote peaceful and inclusive societies for s...,"['promote', 'peaceful', 'inclusive', 'society'...",promote peaceful and inclusive societies for s...,"[['provide', 'access'], ['promote', 'peaceful'...",[[-0.35189001 -0.48269999 -0.07626 ... 0.0...,"[1001, 1002, 1003, 1004, 1005, 1006, 1007, 570...",331,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[9, 9, 9, 9, 9, 9, 9, 4, 4, 4, 4, 4, 4, 4, 4, ...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 4.18, 4.18...","['Pucca Road,Panchayat Roads,Length of Rural R...","['Transport and Communication', 'Transport and...",['Length of Rural Roads and Number of Habitati...
15,16,Strengthen the means of implementation and rev...,"['strengthen', 'mean', 'implementation', 'revi...",strengthen the means of implementation and rev...,"[['development'], ['means', 'implementation'],...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[570, 571, 572, 573, 574, 575, 576, 577, 1331,...",222,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[4, 4, 4, 4, 4, 4, 4, 4, 13, 13, 13, 13, 13, 1...","[4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.18, 4.1...","['Sc,Farmers and reelers benefited under Seric...","['Agriculture, Horticulture & Sericulture', 'A...","['Sericulture 2019-20', 'Sericulture 2019-20',..."
16,17,"Data, monitoring and accountability","['monitoring', 'accountability']",data monitoring and accountability,"[['monitoring'], ['accountability']]",[[ 3.06239992e-01 8.30229968e-02 4.99220014e...,"[1515, 1518, 1519, 1520, 1522, 1523, 1524, 152...",170,"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 1...","[17.2, 17.2, 17.2, 17.2, 17.2, 17.2, 17.2, 17....","['Pensioners,Indira Gandhi National Old Age Pe...","['Other Information', 'Other Information', 'Ot...",['Number of Pensioners under Social Security S...

In [21]:
result_sdg_new =sdg_string.copy()
result_sdg_sim_new =sdg_sim.copy()
result_sdg_threshold_new = sdg_threshold.copy()

In [22]:
result_sdg_new = result_sdg_new[['Goal No.', 'top_n_attr']]

In [23]:
result_sdg_new.head()

  Goal No.                                         top_n_attr
0        1  [24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...
1        2  [390, 391, 465, 466, 520, 334, 335, 336, 337, ...
2        3  [163, 164, 165, 166, 167, 168, 169, 170, 171, ...
3        4  [1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...
4        5  [1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...

In [24]:
result_sdg_sim_new = result_sdg_sim_new[['Goal No.', 'top_n_attr']]

In [25]:
result_sdg_sim_new.head()

  Goal No.                                         top_n_attr
0        1  [1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...
1        2  [390, 391, 465, 466, 520, 868, 869, 870, 871, ...
2        3  [362, 363, 364, 1403, 1404, 1424, 977, 978, 97...
3        4  [1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...
4        5  [1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...

In [26]:
result_sdg_threshold_new = result_sdg_threshold_new[['Goal No.', 'top_n_attr']]

In [27]:
result_sdg_threshold_new.head()

  Goal No.                                         top_n_attr
0        1  [1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...
1        2  [390, 391, 465, 466, 520, 868, 869, 870, 871, ...
2        3  [362, 363, 364, 1403, 1404, 1424, 977, 978, 97...
3        4  [1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...
4        5  [1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...

In [28]:
result_sdg_new.rename(columns = {'top_n_attr':'top_n_attr_A'}, inplace=True)

In [29]:
result_sdg_new['top_n_attr_B'] = result_sdg_threshold_new.loc[:,'top_n_attr']
result_sdg_new['top_n_attr_C'] = result_sdg_sim_new.loc[:,'top_n_attr']

In [30]:
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ..."
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97..."
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103..."
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109..."
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,..."
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141..."
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,..."
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107..."
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1..."
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134..."
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ..."
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13..."
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ..."
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154..."

In [31]:
# Apply the function to the merged dataframe
result_sdg_new['B_plus_C'] = result_sdg_new.apply(combine_lists_BC, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ..."
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97..."
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103..."
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109..."
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,..."
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141..."
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,..."
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107..."
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9..."
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134..."
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ..."
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14..."
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ..."
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153..."

In [32]:
# Apply the function to the merged dataframe
result_sdg_new['A_and_BC'] = result_sdg_new.apply(find_intersection_ABC, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ..."
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ..."
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103..."
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108..."
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,..."
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141..."
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ..."
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107..."
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9..."
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[]
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ..."
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ..."
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ..."
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[]

In [33]:
# Apply the function to the merged dataframe
result_sdg_new['A'] = result_sdg_new.apply(find_difference_A, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",[]
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",[]
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",[]
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",[]
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",[]
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",[]
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",[]
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",[]
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",[]
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[],[]
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",[]
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",[]
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",[]
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[961, 962, 963, 964, 965, 966, 967, 969, 971, ..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[]
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[],[]

In [34]:
# Apply the function to the merged dataframe
result_sdg_new['B_and_C'] = result_sdg_new.apply(find_intersection_BC, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",[],"[390, 391, 465, 466, 520, 868, 869, 870, 871, ..."
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",[],"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97..."
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",[],"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103..."
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",[],"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109..."
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,..."
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141..."
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",[],"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,..."
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107..."
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",[],"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1..."
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[],[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134..."
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ..."
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",[],"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13..."
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",[],"[334, 335, 336, 337, 338, 339, 340, 341, 342, ..."
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[961, 962, 963, 964, 965, 966, 967, 969, 971, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[],[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154..."

In [35]:
# Apply the function to the merged dataframe
result_sdg_new['B_minus_all'] = result_sdg_new.apply(find_difference_B, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[319, 321, 824, 826, 1392, 1393, 1394, 1395, 3..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",[],"[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[1153, 1154, 1155, 1156, 1157, 1158, 1159, 116..."
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",[],"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[1344, 1345, 1346, 1347, 1348, 1349, 1350, 135..."
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",[],"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1344, 1345, 1346, 1348, 1349, 1350, 1526, 152..."
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",[],"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[167, 170, 173, 176, 179, 195, 199, 203, 207, ..."
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1014, 1015, 1016, 1017, 1359, 1365, 1367, 137..."
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2..."
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",[],"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[1219, 1220, 1358, 1359, 1365, 1367, 1383, 138..."
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1347, 1358, 1359, 1360, 1361, 1362, 1363, 136..."
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",[],"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[589, 590, 1489, 1490, 1501, 1502, 1503, 1504,..."
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[],[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1424, 1365, 1367, 1376, 1377, 1381, 1382, 138..."
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[1359, 1365, 1367, 1376, 1377, 1378, 1379, 138..."
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",[],"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[37, 38, 41, 45, 46, 47, 48, 49, 50, 51, 52, 5..."
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",[],"[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[1347, 1351, 1352, 1353, 1354, 1355, 1356, 135..."
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[961, 962, 963, 964, 965, 966, 967, 969, 971, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[967, 968, 973, 974, 975, 976, 88, 89, 90, 91,..."
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[],[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1529, 1534, 1527, 1531, 1536, 1537, 1539, 154..."

In [36]:
# Apply the function to the merged dataframe
result_sdg_new['C_minus_all'] = result_sdg_new.apply(find_difference_C, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[319, 321, 824, 826, 1392, 1393, 1394, 1395, 3...",[]
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",[],"[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[1153, 1154, 1155, 1156, 1157, 1158, 1159, 116...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]"
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",[],"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[1344, 1345, 1346, 1347, 1348, 1349, 1350, 135...",[]
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",[],"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1344, 1345, 1346, 1348, 1349, 1350, 1526, 152...",[]
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",[],"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[167, 170, 173, 176, 179, 195, 199, 203, 207, ...",[]
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1014, 1015, 1016, 1017, 1359, 1365, 1367, 137...",[]
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...",[]
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",[],"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[1219, 1220, 1358, 1359, 1365, 1367, 1383, 138...",[]
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1347, 1358, 1359, 1360, 1361, 1362, 1363, 136...",[]
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",[],"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[589, 590, 1489, 1490, 1501, 1502, 1503, 1504,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]"
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[],[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1424, 1365, 1367, 1376, 1377, 1381, 1382, 138...",[]
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[1359, 1365, 1367, 1376, 1377, 1378, 1379, 138...",[]
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",[],"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[37, 38, 41, 45, 46, 47, 48, 49, 50, 51, 52, 5...",[]
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",[],"[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[1347, 1351, 1352, 1353, 1354, 1355, 1356, 135...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]"
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[961, 962, 963, 964, 965, 966, 967, 969, 971, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...",[]
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[967, 968, 973, 974, 975, 976, 88, 89, 90, 91,...",[]
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[],[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1529, 1534, 1527, 1531, 1536, 1537, 1539, 154...",[]

In [37]:
result_sdg_new.columns

Index(['Goal No.', 'top_n_attr_A', 'top_n_attr_B', 'top_n_attr_C', 'B_plus_C',
       'A_and_BC', 'A', 'B_and_C', 'B_minus_all', 'C_minus_all'],
      dtype='object')

In [38]:
# Apply the function to the merged dataframe
result_sdg_new['Rank'] = result_sdg_new.apply(final_rank, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[319, 321, 824, 826, 1392, 1393, 1394, 1395, 3...",[],"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,..."
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",[],"[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[1153, 1154, 1155, 1156, 1157, 1158, 1159, 116...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[390, 391, 465, 466, 520, 334, 335, 336, 337, ..."
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",[],"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[1344, 1345, 1346, 1347, 1348, 1349, 1350, 135...",[],"[163, 164, 165, 166, 167, 168, 169, 170, 171, ..."
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",[],"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1344, 1345, 1346, 1348, 1349, 1350, 1526, 152...",[],"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103..."
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",[],"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[167, 170, 173, 176, 179, 195, 199, 203, 207, ...",[],"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108..."
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1014, 1015, 1016, 1017, 1359, 1365, 1367, 137...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,..."
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141..."
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",[],"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[1219, 1220, 1358, 1359, 1365, 1367, 1383, 138...",[],"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ..."
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1347, 1358, 1359, 1360, 1361, 1362, 1363, 136...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107..."
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",[],"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[589, 590, 1489, 1490, 1501, 1502, 1503, 1504,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9..."
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[],[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1424, 1365, 1367, 1376, 1377, 1381, 1382, 138...",[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134..."
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[1359, 1365, 1367, 1376, 1377, 1378, 1379, 138...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ..."
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",[],"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[37, 38, 41, 45, 46, 47, 48, 49, 50, 51, 52, 5...",[],"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ..."
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",[],"[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[1347, 1351, 1352, 1353, 1354, 1355, 1356, 135...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[335, 336, 334, 337, 338, 339, 340, 341, 342, ..."
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[961, 962, 963, 964, 965, 966, 967, 969, 971, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 595, ..."
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[967, 968, 973, 974, 975, 976, 88, 89, 90, 91,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,..."
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[],[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1529, 1534, 1527, 1531, 1536, 1537, 1539, 154...",[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154..."

In [39]:
final_df = result_sdg_new.copy()

In [40]:
final_df['Attr_count'] = final_df['Rank'].apply(lambda x: len(x))

In [41]:
final_df

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank,Attr_count
0,1,"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 3...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 24,...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[1376, 1377, 1378, 1379, 1380, 1381, 1382, 829...","[319, 321, 824, 826, 1392, 1393, 1394, 1395, 3...",[],"[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 1376,...",436
1,2,"[390, 391, 465, 466, 520, 334, 335, 336, 337, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",[],"[390, 391, 465, 466, 520, 868, 869, 870, 871, ...","[1153, 1154, 1155, 1156, 1157, 1158, 1159, 116...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[390, 391, 465, 466, 520, 334, 335, 336, 337, ...",637
2,3,"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",[],"[362, 363, 364, 1403, 1404, 1424, 977, 978, 97...","[1344, 1345, 1346, 1347, 1348, 1349, 1350, 135...",[],"[163, 164, 165, 166, 167, 168, 169, 170, 171, ...",236
3,4,"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",[],"[1023, 1024, 1026, 1027, 1031, 1032, 1033, 103...","[1344, 1345, 1346, 1348, 1349, 1350, 1526, 152...",[],"[1023, 1024, 1025, 1026, 1027, 1028, 1029, 103...",219
4,5,"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",[],"[1044, 1048, 1052, 1065, 1068, 1073, 1083, 109...","[167, 170, 173, 176, 179, 195, 199, 203, 207, ...",[],"[1365, 1044, 1048, 1052, 1065, 1068, 1073, 108...",465
5,6,"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...","[1014, 1015, 1016, 1017, 1359, 1365, 1367, 137...",[],"[21, 1012, 1078, 1088, 1396, 1397, 1398, 1399,...",248
6,7,"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...","[15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...",[],"[1011, 1012, 1013, 1014, 1015, 1016, 1017, 141...",311
7,8,"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",[],"[913, 905, 1376, 1377, 1378, 1379, 1380, 1381,...","[1219, 1220, 1358, 1359, 1365, 1367, 1383, 138...",[],"[829, 905, 913, 1376, 1377, 1378, 1379, 1380, ...",126
8,9,"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...","[1347, 1358, 1359, 1360, 1361, 1362, 1363, 136...",[],"[1071, 1072, 1073, 1074, 1075, 1076, 1077, 107...",96
9,10,"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",[],"[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 1...","[589, 590, 1489, 1490, 1501, 1502, 1503, 1504,...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[42, 46, 50, 54, 58, 62, 466, 550, 567, 809, 9...",202
10,11,[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",[],[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...","[1424, 1365, 1367, 1376, 1377, 1381, 1382, 138...",[],"[1341, 1342, 1343, 1344, 1345, 1346, 1348, 134...",120
11,12,"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...","[1359, 1365, 1367, 1376, 1377, 1378, 1379, 138...",[],"[448, 449, 450, 451, 452, 453, 454, 455, 456, ...",235
12,13,"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 14...","[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",[],"[88, 89, 90, 91, 92, 93, 94, 126, 129, 130, 13...","[37, 38, 41, 45, 46, 47, 48, 49, 50, 51, 52, 5...",[],"[88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 104, ...",144
13,14,"[335, 336, 334, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",[],"[334, 335, 336, 337, 338, 339, 340, 341, 342, ...","[1347, 1351, 1352, 1353, 1354, 1355, 1356, 135...","[24, 25, 26, 27, 28, 29, 30, 31, 32, 33]","[335, 336, 334, 337, 338, 339, 340, 341, 342, ...",361
14,15,"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[580, 581, 582, 583, 584, 585, 586, 587, 595, ...","[961, 962, 963, 964, 965, 966, 967, 969, 971, ...","[1011, 1012, 1013, 1014, 1015, 1016, 1017, 580...","[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 595, ...",341
15,16,"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...","[967, 968, 973, 974, 975, 976, 88, 89, 90, 91,...",[],"[580, 581, 582, 583, 584, 585, 586, 587, 1341,...",222
16,17,[],"[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...","[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1525, 1528, 1529, 1530, 1532, 1533, 1534, 153...",[],[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...","[1529, 1534, 1527, 1531, 1536, 1537, 1539, 154...",[],"[1525, 1528, 1530, 1532, 1533, 1535, 1538, 154...",170

In [42]:
final_df.to_csv(absolute_path_rank, sep=';', index=False)

In [43]:
all_goals = process_result(final_df, sdg, data)

In [44]:
all_goals.to_csv(absolute_path_rank_unroll, sep=';', index=False)

In [45]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,24,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,25,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,26,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,27,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,1
4,28,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4564,1134,10,Education,10.13,No.of Medical Colleges and Students 2019-20,"Total,Private,Dental Colleges","Data, monitoring and accountability",17
4565,1140,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4566,1141,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17
4567,1148,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4568,1149,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17

In [46]:
# Group by 'col1' and count the distinct values in 'col2'
table_map = data_new.groupby('Chapter_id')['Table_id'].nunique().to_dict()
table_map

{'1': 10,
 '10': 15,
 '11': 6,
 '12': 6,
 '13': 6,
 '14': 5,
 '15': 9,
 '16': 3,
 '17': 3,
 '2': 21,
 '3': 2,
 '4': 19,
 '5': 4,
 '6': 4,
 '7': 2,
 '8': 4,
 '9': 4}

In [47]:
attr_map = data_new.groupby('Table_id')['Attr_id'].nunique().to_dict()
attr_map

{'1.1': 4,
 '1.10': 7,
 '1.2': 3,
 '1.3': 6,
 '1.4': 4,
 '1.5': 4,
 '1.6': 15,
 '1.7': 8,
 '1.8': 8,
 '1.9': 8,
 '10.1': 9,
 '10.10': 10,
 '10.11': 11,
 '10.12': 9,
 '10.13': 24,
 '10.14': 8,
 '10.15': 8,
 '10.2': 10,
 '10.3': 4,
 '10.4': 4,
 '10.5': 4,
 '10.6': 5,
 '10.7': 5,
 '10.8': 7,
 '10.9': 10,
 '11.1': 14,
 '11.2': 16,
 '11.3': 7,
 '11.4': 5,
 '11.5': 23,
 '11.6': 8,
 '12.1': 24,
 '12.2': 18,
 '12.3': 30,
 '12.4': 6,
 '12.5': 18,
 '12.6': 21,
 '13.1': 6,
 '13.2': 4,
 '13.3': 5,
 '13.4': 5,
 '13.5': 8,
 '13.6': 7,
 '14.1': 7,
 '14.2': 6,
 '14.3': 7,
 '14.4': 7,
 '14.5': 6,
 '15.1': 7,
 '15.2': 6,
 '15.3': 9,
 '15.4': 8,
 '15.5': 5,
 '15.6': 9,
 '15.7': 10,
 '15.8': 10,
 '15.9': 5,
 '16.1': 7,
 '16.2': 16,
 '16.3': 20,
 '17.1': 4,
 '17.2': 19,
 '17.3': 19,
 '2.1': 18,
 '2.11': 20,
 '2.12': 11,
 '2.13': 34,
 '2.14': 10,
 '2.15': 10,
 '2.16': 10,
 '2.17': 10,
 '2.18': 10,
 '2.19': 10,
 '2.2': 10,
 '2.20': 10,
 '2.21': 10,
 '2.22': 10,
 '2.3': 7,
 '2.4': 12,
 '2.5': 7,
 '2.6': 10,
 '2.7': 6,
 '2.8': 10,
 '2.9': 6,
 '3.1': 5,
 '3.2': 11,
 '4.1': 19,
 '4.10': 9,
 '4.11': 9,
 '4.12': 18,
 '4.13': 9,
 '4.14': 3,
 '4.15': 13,
 '4.16': 5,
 '4.17': 20,
 '4.18': 22,
 '4.19': 197,
 '4.2': 20,
 '4.3': 20,
 '4.4': 47,
 '4.5': 8,
 '4.6': 19,
 '4.7': 9,
 '4.8': 3,
 '4.9': 6,
 '5.1': 20,
 '5.2': 7,
 '5.3': 5,
 '5.4': 12,
 '6.1': 22,
 '6.2': 54,
 '6.3': 4,
 '6.4': 3,
 '7.1': 8,
 '7.2': 24,
 '8.1': 6,
 '8.2': 6,
 '8.3': 6,
 '8.4': 10,
 '9.1': 29,
 '9.2': 5,
 '9.3': 7,
 '9.4': 5}

In [48]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,24,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,25,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,26,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,27,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,1
4,28,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4564,1134,10,Education,10.13,No.of Medical Colleges and Students 2019-20,"Total,Private,Dental Colleges","Data, monitoring and accountability",17
4565,1140,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4566,1141,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17
4567,1148,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4568,1149,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17

In [49]:
filter_df = all_goals.copy()

In [50]:
# Initialize an empty dictionary to store the counts
tab_result = {}
table_id_rm = {}
# Iterate over unique values in col1
for val in filter_df['top_n_goal_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = filter_df[filter_df['top_n_goal_id'] == val]
    
    # Count the occurrences of each value in col2 and store in a dictionary
    table_counts = filtered_df['Table_id'].value_counts().to_dict()
    
    table_id_rm[val] = {key:value for key, value in table_counts.items() if value < (attr_map[key]/2)}
    
    table_dict_new = {key:value for key, value in table_counts.items() if key not in table_id_rm[val]}
    
    if(len(table_dict_new) <= 4):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(table_counts.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_6_dict = dict(list(sorted_dict.items())[:6])
        tab_result[val] = top_6_dict
        
    else:
        # Add the col2 counts dictionary to the result dictionary
        tab_result[val] = table_dict_new

print(tab_result)

{'1': {'4.19': 197, '12.3': 30, '12.1': 24, '12.6': 21, '4.2': 20, '17.2': 19, '12.5': 18, '12.2': 18, '1.6': 15, '11.6': 8, '1.9': 8, '1.8': 8, '1.7': 8, '14.1': 7, '12.4': 6, '3.1': 5, '14.3': 4}, '2': {'4.19': 197, '4.4': 47, '11.5': 23, '4.18': 22, '4.3': 20, '4.2': 20, '4.17': 20, '4.1': 19, '17.2': 19, '4.6': 19, '4.12': 18, '11.2': 16, '11.1': 14, '4.15': 13, '1.6': 10, '4.10': 9, '4.13': 9, '4.11': 9, '4.7': 9, '13.5': 8, '4.5': 8, '11.6': 8, '14.3': 7, '14.4': 7, '14.1': 7, '13.6': 7, '11.3': 7, '14.2': 6, '4.9': 6, '14.5': 6, '13.1': 6, '13.4': 5, '13.3': 5, '4.16': 5, '11.4': 5, '13.2': 4, '4.14': 3, '4.8': 3}, '3': {'11.5': 23, '2.11': 20, '17.2': 19, '11.2': 16, '11.1': 14, '1.6': 9, '1.8': 8, '11.6': 8, '13.5': 8, '1.9': 8, '14.1': 7, '14.3': 7, '10.8': 7, '11.3': 7, '14.4': 7, '13.6': 7, '14.5': 6, '14.2': 6, '13.1': 6, '13.4': 5, '13.3': 5, '11.4': 5, '3.1': 5, '13.2': 4}, '4': {'10.13': 24, '17.2': 19, '10.11': 11, '10.2': 10, '8.4': 10, '10.9': 10, '10.10': 10, '10.1': 9, '1.6': 9, '10.12': 9, '1.9': 8, '1.8': 8, '10.15': 8, '10.14': 8, '10.8': 7, '14.3': 7, '14.1': 7, '9.3': 7, '13.1': 6, '10.7': 5, '10.6': 5, '10.5': 4, '10.4': 4, '10.3': 4, '13.2': 3}, '5': {'12.3': 30, '10.13': 24, '12.1': 24, '12.6': 21, '17.2': 19, '12.2': 18, '12.5': 18, '10.11': 11, '10.10': 10, '10.9': 10, '10.2': 10, '10.1': 9, '10.12': 9, '13.5': 8, '10.14': 8, '10.15': 8, '10.8': 7, '2.5': 7, '2.3': 7, '14.3': 7, '14.1': 7, '13.6': 7, '12.4': 6, '13.1': 6, '10.7': 5, '10.6': 5, '13.3': 5, '13.4': 5, '10.3': 4, '10.4': 4, '10.5': 4, '13.2': 4}, '6': {'11.5': 23, '17.2': 19, '11.2': 16, '11.1': 14, '8.4': 10, '10.9': 10, '10.10': 10, '15.3': 9, '1.6': 9, '1.9': 8, '1.8': 8, '13.5': 8, '11.6': 8, '13.6': 7, '14.4': 7, '9.3': 7, '11.3': 7, '14.1': 7, '14.3': 7, '14.5': 6, '13.1': 6, '14.2': 6, '13.4': 5, '13.3': 5, '11.4': 5, '13.2': 4}, '7': {'16.3': 20, '17.2': 19, '17.3': 19, '16.2': 16, '1.6': 15, '15.8': 10, '15.7': 10, '15.6': 9, '15.3': 9, '1.9': 8, '13.5': 8, '1.7': 8, '1.8': 8, '15.4': 8, '14.1': 7, '14.4': 7, '1.10': 7, '13.6': 7, '9.3': 7, '16.1': 7, '14.3': 7, '15.1': 7, '15.2': 6, '14.5': 6, '1.3': 6, '13.1': 6, '14.2': 6, '15.5': 5, '13.3': 5, '13.4': 5, '15.9': 5, '1.5': 4, '13.2': 4, '1.1': 4, '1.4': 4, '17.1': 4, '1.2': 3}, '8': {'16.3': 20, '13.5': 8, '14.1': 7, '14.3': 7, '13.6': 7, '14.4': 7, '14.5': 6, '13.1': 6, '14.2': 6, '13.3': 5, '13.4': 5, '6.3': 4, '17.1': 4, '13.2': 4}, '9': {'10.9': 10, '10.10': 10, '13.5': 8, '13.6': 7, '14.1': 7, '14.3': 7, '14.4': 7, '13.1': 6, '14.2': 6, '14.5': 6, '13.3': 5, '13.4': 5, '13.2': 4}, '10': {'12.3': 30, '12.1': 24, '12.6': 21, '16.3': 20, '17.2': 19, '12.5': 18, '12.2': 18, '1.6': 10, '12.4': 6, '13.1': 6, '17.1': 4, '13.2': 3}, '11': {'4.2': 20, '11.6': 8, '13.5': 8, '13.6': 7, '14.4': 7, '14.1': 7, '14.3': 7, '14.2': 6, '13.1': 6, '14.5': 6, '13.4': 5, '13.3': 5, '13.2': 4}, '12': {'16.3': 20, '4.2': 20, '4.6': 19, '17.2': 19, '4.7': 9, '4.10': 9, '4.11': 9, '1.6': 9, '1.9': 8, '1.8': 8, '13.5': 8, '11.6': 8, '14.3': 7, '14.1': 7, '14.4': 7, '13.6': 7, '14.2': 6, '14.5': 6, '4.9': 6, '13.1': 6, '13.4': 5, '13.3': 5, '5.3': 5, '13.2': 4, '17.1': 4, '4.8': 3}, '13': {'2.2': 10, '2.22': 10, '2.6': 10, '2.8': 10, '2.16': 10, '8.4': 10, '1.6': 9, '1.7': 8, '1.9': 8, '1.8': 8, '15.1': 7, '8.1': 6, '8.2': 6, '8.3': 6, '13.1': 6, '13.2': 3}, '14': {'4.19': 197, '4.1': 19, '2.2': 10, '2.8': 10, '2.6': 10, '1.6': 10, '15.4': 8, '13.5': 8, '14.3': 7, '4.15': 7, '13.6': 7, '14.1': 7, '14.4': 7, '13.1': 6, '14.5': 6, '14.2': 6, '13.4': 5, '13.3': 5, '13.2': 4}, '15': {'17.3': 19, '17.2': 19, '1.6': 15, '12.5': 12, '12.2': 12, '12.1': 12, '10.13': 12, '1.9': 8, '1.8': 8, '1.7': 8, '13.5': 8, '14.4': 7, '14.3': 7, '9.3': 7, '1.10': 7, '13.6': 7, '14.1': 7, '8.3': 6, '14.2': 6, '13.1': 6, '1.3': 6, '14.5': 6, '13.4': 5, '13.3': 5, '17.1': 4, '10.15': 4, '10.14': 4, '13.2': 4, '1.1': 4, '10.4': 4, '1.5': 4, '1.4': 4, '1.2': 3, '10.6': 3}, '16': {'6.2': 54, '6.1': 22, '4.18': 12, '2.2': 10, '2.19': 10, '2.8': 10, '2.6': 10, '8.4': 10, '13.5': 8, '14.4': 7, '13.6': 7, '14.1': 7, '14.3': 7, '14.2': 6, '14.5': 6, '13.1': 6, '13.3': 5, '13.4': 5, '13.2': 4, '6.3': 4, '6.4': 3}, '17': {'10.13': 24, '11.5': 23, '17.2': 19, '10.11': 11, '10.9': 10, '10.2': 10, '10.10': 10, '10.12': 9, '10.1': 9, '10.14': 8, '10.15': 8, '10.8': 7, '10.6': 5, '10.7': 5, '10.5': 4, '10.4': 4, '10.3': 4}}

In [51]:
len(tab_result)

17

In [52]:
table_id_rm

{'1': {'11.5': 6,
  '9.1': 5,
  '5.4': 4,
  '14.5': 2,
  '4.11': 1,
  '6.3': 1,
  '15.3': 1},
 '2': {'6.2': 4, '7.2': 3, '5.3': 1, '8.2': 1, '7.1': 1, '8.1': 1},
 '3': {'4.18': 8, '9.1': 5, '4.2': 3, '5.4': 2, '15.3': 1},
 '4': {'9.1': 6, '6.2': 1},
 '5': {'4.19': 48,
  '6.2': 13,
  '2.13': 9,
  '17.3': 8,
  '11.5': 7,
  '6.1': 7,
  '2.11': 6,
  '4.18': 4,
  '2.22': 3,
  '2.16': 3,
  '2.21': 3,
  '2.20': 3,
  '2.19': 3,
  '2.18': 3,
  '2.17': 3,
  '2.15': 3,
  '2.14': 3,
  '2.6': 2,
  '2.2': 2,
  '2.1': 2,
  '2.8': 2,
  '1.4': 1},
 '6': {'4.18': 8, '4.2': 3, '16.3': 2, '16.2': 2, '1.5': 1, '5.4': 1},
 '7': {'4.18': 8, '4.1': 4, '8.4': 2, '9.4': 1},
 '8': {'4.18': 9,
  '9.1': 5,
  '4.17': 3,
  '4.2': 3,
  '11.6': 2,
  '16.2': 2,
  '5.4': 2,
  '15.3': 1,
  '6.2': 1,
  '3.1': 1,
  '1.5': 1},
 '9': {'4.18': 8},
 '10': {'4.18': 3,
  '16.2': 2,
  '1.7': 2,
  '1.8': 2,
  '11.2': 2,
  '6.2': 2,
  '1.9': 2,
  '10.12': 1,
  '9.2': 1,
  '9.1': 1,
  '5.1': 1,
  '4.17': 1,
  '4.16': 1,
  '4.6': 1,
  '13.3': 1},
 '11': {'4.18': 8,
  '11.5': 6,
  '9.1': 5,
  '5.3': 2,
  '1.5': 1,
  '15.3': 1,
  '9.3': 1},
 '12': {'4.18': 9, '16.2': 2},
 '13': {'11.5': 6,
  '14.1': 3,
  '16.1': 3,
  '5.4': 2,
  '2.3': 1,
  '4.1': 1,
  '2.5': 1},
 '14': {'4.18': 9,
  '6.2': 4,
  '1.5': 1,
  '2.3': 1,
  '4.12': 1,
  '6.3': 1,
  '4.13': 1,
  '4.7': 1,
  '9.1': 1,
  '9.3': 1,
  '2.5': 1},
 '15': {'4.19': 48,
  '12.3': 12,
  '4.18': 8,
  '8.4': 4,
  '4.1': 4,
  '10.12': 4,
  '11.6': 3,
  '10.11': 2,
  '4.15': 2,
  '9.1': 1},
 '16': {'4.17': 3, '1.6': 3, '2.5': 1, '2.3': 1, '5.4': 1},
 '17': {}}

In [53]:
sum_ind=0
# Iterate over the outer dictionary
for key, inner_dict in table_id_rm.items():
    # Iterate over the inner dictionary
    for k, value in inner_dict.items():
        if k not in tab_result[key]:
            # Add the value to the result
            sum_ind += value

print(sum_ind)

459

In [54]:
# List to store indices to remove
indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in filter_df.iterrows():
    if row['top_n_goal_id'] in table_id_rm:
        inner_dict = table_id_rm[row['top_n_goal_id']]
        if row['Table_id'] in inner_dict:
            if row['Table_id'] not in tab_result[row['top_n_goal_id']]:
                # Add index to remove list
                indices_to_remove.append(index)
            
indices_to_remove

[250,
 251,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 275,
 276,
 283,
 284,
 285,
 286,
 287,
 288,
 305,
 435,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 936,
 1093,
 1094,
 1095,
 1105,
 1109,
 1110,
 1111,
 1112,
 1113,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1221,
 1222,
 1447,
 1508,
 1523,
 1524,
 1525,
 1526,
 1527,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1630,
 1631,
 1632,
 1633,
 1654,
 1655,
 1656,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1685,
 1686,
 1687,
 1688,
 1689,
 1690,
 1691,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1716,
 1717,
 1718,
 1719,
 1720,
 1721,
 1722,
 1723,
 1724,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1731,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1739,
 1740,
 1741,
 1742,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1778,
 1779,
 1780,
 1781,
 1782,
 1783,
 1784,
 1785,
 1786,
 1787,
 1788,
 1796,
 1893,
 1894,
 1895,
 1896,
 1993,
 2019,
 2020,
 2021,
 2022,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2219,
 2220,
 2221,
 2222,
 2302,
 2303,
 2304,
 2305,
 2306,
 2307,
 2308,
 2309,
 2310,
 2311,
 2312,
 2313,
 2434,
 2496,
 2497,
 2552,
 2553,
 2569,
 2570,
 2571,
 2572,
 2573,
 2574,
 2575,
 2579,
 2580,
 2581,
 2582,
 2583,
 2584,
 2585,
 2586,
 2600,
 2601,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2673,
 2674,
 2675,
 2676,
 2677,
 2698,
 2699,
 2700,
 2701,
 2702,
 2703,
 2704,
 2705,
 2774,
 2775,
 2776,
 2777,
 2778,
 2779,
 2780,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2790,
 2792,
 2804,
 2805,
 2806,
 2807,
 2808,
 2985,
 2986,
 2987,
 2988,
 2989,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3023,
 3024,
 3065,
 3088,
 3089,
 3090,
 3091,
 3092,
 3093,
 3094,
 3095,
 3151,
 3157,
 3158,
 3190,
 3191,
 3192,
 3193,
 3194,
 3195,
 3196,
 3197,
 3341,
 3342,
 3373,
 3374,
 3375,
 3376,
 3377,
 3432,
 3433,
 3434,
 3435,
 3436,
 3437,
 3438,
 3472,
 3473,
 3474,
 3698,
 3699,
 3700,
 3701,
 3702,
 3703,
 3704,
 3705,
 3775,
 3778,
 3779,
 3807,
 3808,
 3809,
 3810,
 3811,
 3812,
 3813,
 3814,
 3815,
 3816,
 3817,
 3836,
 3837,
 3838,
 3839,
 3840,
 3841,
 3842,
 3843,
 3844,
 3845,
 3846,
 3847,
 3848,
 3849,
 3850,
 3851,
 3852,
 3853,
 3854,
 3855,
 3856,
 3857,
 3858,
 3859,
 3860,
 3861,
 3862,
 3863,
 3864,
 3865,
 3866,
 3867,
 3868,
 3869,
 3870,
 3871,
 3872,
 3873,
 3874,
 3875,
 3876,
 3877,
 3878,
 3879,
 3880,
 3881,
 3882,
 3883,
 3884,
 3885,
 3886,
 3887,
 3888,
 3889,
 3890,
 3891,
 3892,
 3974,
 3975,
 3976,
 3977,
 3987,
 3988,
 3989,
 3990,
 3991,
 3992,
 3993,
 3994,
 4104,
 4105,
 4106,
 4107,
 4108,
 4109,
 4110,
 4153,
 4154,
 4155,
 4156,
 4157,
 4158,
 4159,
 4160,
 4161,
 4162,
 4163,
 4164,
 4254,
 4255,
 4256,
 4258,
 4285,
 4286,
 4393,
 4394,
 4395]

In [55]:
len(indices_to_remove)

459

In [56]:
# Remove rows using indices from indices_to_remove list
filter_df.drop(indices_to_remove, inplace=True)

filter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,24,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,25,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,26,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,27,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Urban,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,1
4,28,1,General Information,1.6,Priority Non Priority and Total Ration Card Ho...,"Rural,Anthyodaya,Ration card holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4564,1134,10,Education,10.13,No.of Medical Colleges and Students 2019-20,"Total,Private,Dental Colleges","Data, monitoring and accountability",17
4565,1140,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4566,1141,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17
4567,1148,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4568,1149,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17

In [57]:
filter_df.to_csv(absolute_path_tab_filter, sep=';', index=False)

In [58]:
tab_count_att = filter_df['top_n_goal_id'].value_counts().to_dict()

In [59]:
filter_df.to_csv(absolute_path_final_map, sep=';', index=False)

In [60]:
#filter_df_copy = filter_df.copy()

In [61]:
def filter_dataframe(df, n, chap_list):
    result_df = df.copy() # Initialize an empty DataFrame to store the filtered rows
    
    # Loop over each unique 'Target_id'
    for target_id, group in df.groupby('top_n_goal_id'):
        num_rows = len(group)  # Count the number of rows for this 'Target_id'
        
        # Check if the number of rows is greater than the threshold 'n'
        if num_rows > n:
            idx_list = []
            drop_list = []
            for chap in chap_list:
                # Find the indices corresponding to chapters "2" and "3" for this 'Target_id'
                idx_chapter = group[group['Chapter_id'] == chap].index
                idx_list.append(idx_chapter)
                
            for item in idx_list:
                if len(item)>1:
                    if len(item)>300:
                        total_rows_to_drop = item[len(item)//3:]
                    else:
                        total_rows_to_drop = item[len(item)//2:]
                    drop_list.append(total_rows_to_drop)
            
            for i in drop_list:
                if len(i)>0:
                    result_df = result_df.drop(i)
    result_df.reset_index(inplace = True, drop = True)
    return result_df

In [62]:
#chap_ll = ['2', '4']
# Filter the DataFrame using the function
#final_map = filter_dataframe(filter_df_copy, 350, chap_ll)

In [63]:
#final_map.to_csv(absolute_path_final_map, sep=';', index=False)

In [64]:
chapter_df = filter_df.copy()

In [65]:
# Initialize an empty dictionary to store the counts
chap_result = {}
chap_id_rm = {}

# Iterate over unique values in col1
for val in chapter_df['top_n_goal_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = chapter_df[chapter_df['top_n_goal_id'] == val]
    chap_list = []
    for tab in filtered_df['Table_id'].unique():
        chap_filter = filtered_df[filtered_df['Table_id'] == tab]
        
        # Count the occurrences of each value in col2 and store in a dictionary
        chap_counts = chap_filter['Chapter_id'].unique().tolist()
        
        chap_list.extend(chap_counts)
    chap_dict = pd.Series(chap_list).value_counts().to_dict()
    chap_id_rm[val] = {key:value for key, value in chap_dict.items() if value < (table_map[key]/2)}
    chap_dict_new = {key:value for key, value in chap_dict.items() if key not in chap_id_rm[val]}
    if(len(chap_dict_new) <= 1):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(chap_dict.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_4_dict = dict(list(sorted_dict.items())[:4])
        chap_result[val] = top_4_dict
 
    else:
        # Add the col2 counts dictionary to the result dictionary
        chap_result[val] = chap_dict_new

print(chap_result)

{'1': {'12': 6, '3': 1}, '2': {'4': 19, '13': 6, '11': 6, '14': 5}, '3': {'13': 6, '11': 6, '14': 5, '3': 1}, '4': {'10': 15, '1': 3, '14': 2, '13': 2}, '5': {'10': 15, '13': 6, '12': 6}, '6': {'13': 6, '11': 6, '14': 5}, '7': {'1': 10, '15': 9, '13': 6, '14': 5, '16': 3, '17': 3}, '8': {'13': 6, '14': 5}, '9': {'13': 6, '14': 5}, '10': {'12': 6, '17': 2}, '11': {'13': 6, '14': 5}, '12': {'13': 6, '14': 5, '17': 2}, '13': {'2': 5, '1': 4, '8': 4, '13': 2}, '14': {'13': 6, '14': 5}, '15': {'1': 10, '13': 6, '14': 5, '17': 3, '12': 3}, '16': {'13': 6, '14': 5, '6': 4}, '17': {'10': 15, '17': 1, '11': 1}}

In [66]:
chap_id_rm

{'1': {'1': 4, '14': 2, '4': 2, '17': 1, '11': 1},
 '2': {'17': 1, '1': 1},
 '3': {'1': 3, '2': 1, '10': 1, '17': 1},
 '4': {'1': 3, '14': 2, '13': 2, '8': 1, '17': 1, '9': 1},
 '5': {'14': 2, '2': 2, '17': 1},
 '6': {'1': 3, '10': 2, '9': 1, '15': 1, '8': 1, '17': 1},
 '7': {'9': 1},
 '8': {'6': 1, '16': 1, '17': 1},
 '9': {'10': 2},
 '10': {'13': 2, '16': 1, '1': 1},
 '11': {'4': 1, '11': 1},
 '12': {'4': 7, '1': 3, '5': 1, '16': 1, '11': 1},
 '13': {'2': 5, '1': 4, '13': 2, '15': 1},
 '14': {'4': 3, '2': 3, '15': 1, '1': 1},
 '15': {'10': 5, '9': 1, '8': 1},
 '16': {'2': 4, '4': 1, '8': 1},
 '17': {'17': 1, '11': 1}}

In [67]:
missing = []

# Iterate through the data dictionary
for key, value in chap_result.items():
    # Check if the sub-dictionary is empty
    if not value:
        # Add the key to the missing list
        missing.append(key)
missing

[]

In [68]:
# List to store indices to remove
chap_indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in chapter_df.iterrows():
    if row['top_n_goal_id'] in table_id_rm:
        inner_dict = chap_id_rm[row['top_n_goal_id']]
        if row['Chapter_id'] in inner_dict:
            if row['top_n_goal_id'] not in chap_result or row['Chapter_id'] not in chap_result[row['top_n_goal_id']]:
                # Add index to remove list
                chap_indices_to_remove.append(index)

chap_indices_to_remove

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 277,
 278,
 279,
 280,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 431,
 432,
 433,
 434,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1106,
 1107,
 1108,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1307,
 1308,
 1455,
 1456,
 1457,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1623,
 1634,
 1635,
 1636,
 1637,
 1638,
 1639,
 1640,
 1641,
 1642,
 1643,
 1644,
 1645,
 1646,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1994,
 1995,
 1996,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2030,
 2031,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2053,
 2054,
 2061,
 2062,
 2063,
 2064,
 2108,
 2109,
 2110,
 2111,
 2112,
 2113,
 2114,
 2115,
 2116,
 2117,
 2118,
 2119,
 2120,
 2121,
 2122,
 2123,
 2124,
 2125,
 2126,
 2127,
 2128,
 2129,
 2130,
 2131,
 2132,
 2133,
 2134,
 2135,
 2136,
 2137,
 2138,
 2139,
 2140,
 2141,
 2142,
 2143,
 2144,
 2145,
 2146,
 2147,
 2148,
 2149,
 2150,
 2151,
 2223,
 2224,
 2225,
 2226,
 2227,
 2228,
 2229,
 2230,
 2231,
 2232,
 2233,
 2234,
 2235,
 2236,
 2237,
 2238,
 2239,
 2240,
 2241,
 2242,
 2243,
 2244,
 2245,
 2246,
 2247,
 2554,
 2576,
 2577,
 2578,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2656,
 2657,
 2658,
 2659,
 2660,
 2661,
 2662,
 2663,
 2664,
 2665,
 2666,
 2667,
 2668,
 2669,
 2670,
 2671,
 2672,
 2678,
 2679,
 2680,
 2681,
 2682,
 2683,
 2684,
 2685,
 2686,
 2687,
 2688,
 2689,
 2690,
 2691,
 2692,
 2693,
 2694,
 2695,
 2696,
 2697,
 2791,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2802,
 2803,
 2809,
 2810,
 2811,
 2812,
 2813,
 2814,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2966,
 2967,
 2968,
 2969,
 2970,
 2971,
 2972,
 2973,
 2974,
 2975,
 2990,
 2991,
 2992,
 3020,
 3021,
 3022,
 3066,
 3067,
 3068,
 3069,
 3070,
 3071,
 3072,
 3073,
 3074,
 3075,
 3076,
 3077,
 3078,
 3079,
 3080,
 3081,
 3082,
 3083,
 3084,
 3085,
 3086,
 3087,
 3096,
 3097,
 3098,
 3099,
 3100,
 3101,
 3102,
 3103,
 3104,
 3105,
 3106,
 3107,
 3108,
 3109,
 3110,
 3111,
 3112,
 3113,
 3114,
 3115,
 3116,
 3117,
 3118,
 3119,
 3120,
 3121,
 3122,
 3123,
 3124,
 3125,
 3126,
 3127,
 3128,
 3129,
 3130,
 3131,
 3132,
 3133,
 3134,
 3135,
 3136,
 3137,
 3138,
 3139,
 3140,
 3141,
 3142,
 3143,
 3144,
 3145,
 3146,
 3147,
 3148,
 3149,
 3150,
 3152,
 3153,
 3154,
 3155,
 3156,
 3159,
 3160,
 3161,
 3162,
 3163,
 3164,
 3165,
 3166,
 3167,
 3168,
 3169,
 3170,
 3171,
 3172,
 3173,
 3174,
 3175,
 3176,
 3177,
 3178,
 3203,
 3204,
 3205,
 3206,
 3207,
 3208,
 3209,
 3210,
 3211,
 3212,
 3288,
 3289,
 3290,
 3291,
 3292,
 3293,
 3294,
 3295,
 3296,
 3297,
 3298,
 3299,
 3300,
 3301,
 3302,
 3303,
 3304,
 3305,
 3306,
 3307,
 3308,
 3309,
 3310,
 3311,
 3312,
 3313,
 3314,
 3315,
 3316,
 3317,
 3318,
 3319,
 3320,
 3321,
 3322,
 3323,
 3324,
 3325,
 3326,
 3327,
 3328,
 3329,
 3330,
 3439,
 3440,
 3441,
 3442,
 3443,
 3444,
 3445,
 3475,
 3476,
 3477,
 3478,
 3479,
 3480,
 3481,
 3482,
 3483,
 3484,
 3485,
 3486,
 3487,
 3488,
 3489,
 3490,
 3491,
 3492,
 3493,
 3494,
 3495,
 3496,
 3497,
 3498,
 3499,
 3500,
 3501,
 3502,
 3503,
 3504,
 3505,
 3506,
 3507,
 3508,
 3509,
 3510,
 3511,
 3512,
 3513,
 3514,
 3515,
 3516,
 3517,
 3518,
 3519,
 3520,
 3521,
 3522,
 3523,
 3524,
 3525,
 3526,
 3527,
 3528,
 3529,
 3530,
 3531,
 3532,
 3533,
 3534,
 3535,
 3536,
 3537,
 3538,
 3539,
 3540,
 3541,
 3542,
 3543,
 3544,
 3545,
 3546,
 3547,
 3548,
 3549,
 3550,
 3551,
 3552,
 3553,
 3554,
 3555,
 3556,
 3557,
 3558,
 3559,
 3560,
 3561,
 3562,
 3563,
 3564,
 3565,
 3566,
 3567,
 3568,
 3569,
 3570,
 3571,
 3572,
 3573,
 3574,
 3575,
 3576,
 3577,
 3578,
 3579,
 3580,
 3581,
 3582,
 3583,
 3584,
 3585,
 3586,
 3587,
 3588,
 3589,
 3590,
 3591,
 3592,
 3593,
 3594,
 3595,
 3596,
 3597,
 3598,
 3599,
 3600,
 3601,
 3602,
 3603,
 3604,
 3605,
 3606,
 3607,
 3608,
 3609,
 3610,
 3611,
 3612,
 3613,
 3614,
 3615,
 3616,
 3617,
 3618,
 3619,
 3620,
 3621,
 3622,
 3623,
 3624,
 3625,
 3626,
 3627,
 3628,
 3629,
 3630,
 3631,
 3632,
 3633,
 3634,
 3635,
 3636,
 3637,
 3638,
 3639,
 3640,
 3641,
 3642,
 3643,
 3644,
 3645,
 ...]

In [69]:
len(chap_indices_to_remove)

1202

In [70]:
# Remove rows using indices from indices_to_remove list
chapter_df.drop(chap_indices_to_remove, inplace=True)

chapter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
252,318,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Working,Raingauge Stations",End poverty in all its forms everywhere,1
273,319,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Under Repair,Raingauge Stations",End poverty in all its forms everywhere,1
274,321,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Rainy Days,Annual Normal Rainfall 1961-2010",End poverty in all its forms everywhere,1
281,320,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Total,Raingauge Stations",End poverty in all its forms everywhere,1
282,322,3,Rainfall,3.1,No. of Raingauge Stations Annual Normal Rainfa...,"Normal Rainfall,Annual Normal Rainfall 1961-2010",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4564,1134,10,Education,10.13,No.of Medical Colleges and Students 2019-20,"Total,Private,Dental Colleges","Data, monitoring and accountability",17
4565,1140,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4566,1141,10,Education,10.14,No.of Polytechnic Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17
4567,1148,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Boys,Students from 1st year to final year,Priv...","Data, monitoring and accountability",17
4568,1149,10,Education,10.15,No.of Engineering Colleges and Students 2019-20,"Girls,Students from 1st year to final year,Pri...","Data, monitoring and accountability",17

In [71]:
chapter_df['top_n_goal_id'].nunique()

17

In [72]:
chapter_df[chapter_df['top_n_goal_id']=='3']

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
1103,1403,14,Rural Development and Panchayat Raj,14.5,Drinking Water Supply Facilities on 31-03-2020,"Borewells drilled in 2019-20,Bore Wells drilled",Ensure healthy lives and promote well-being fo...,3
1104,1404,14,Rural Development and Panchayat Raj,14.5,Drinking Water Supply Facilities on 31-03-2020,"Total Borewells on 31-3-2020,Bore Wells drilled",Ensure healthy lives and promote well-being fo...,3
1114,1389,14,Rural Development and Panchayat Raj,14.3,Phisical Progress under Mahathma Gandhi Nation...,No. of Registered and Distributed Job Cards,Ensure healthy lives and promote well-being fo...,3
1115,1390,14,Rural Development and Panchayat Raj,14.3,Phisical Progress under Mahathma Gandhi Nation...,No. of Householdsdemanded Employment,Ensure healthy lives and promote well-being fo...,3
1116,1391,14,Rural Development and Panchayat Raj,14.3,Phisical Progress under Mahathma Gandhi Nation...,Number of Households Provided employement,Ensure healthy lives and promote well-being fo...,3
...,...,...,...,...,...,...,...,...
1279,1219,11,Health & Family Welfare Services,11.6,Different Health Facilities on 31-01-2020,"Nos,Number of working Hospitals",Ensure healthy lives and promote well-being fo...,3
1280,1220,11,Health & Family Welfare Services,11.6,Different Health Facilities on 31-01-2020,Delivaries occured in Hospitals during 2019-20...,Ensure healthy lives and promote well-being fo...,3
1281,1221,11,Health & Family Welfare Services,11.6,Different Health Facilities on 31-01-2020,No. of Beneficiaries availed Janani Suraksha Y...,Ensure healthy lives and promote well-being fo...,3
1282,1222,11,Health & Family Welfare Services,11.6,Different Health Facilities on 31-01-2020,No. of Beneficiaries received Madilu kit durin...,Ensure healthy lives and promote well-being fo...,3
1283,1223,11,Health & Family Welfare Services,11.6,Different Health Facilities on 31-01-2020,Maternal Death 2019-20,Ensure healthy lives and promote well-being fo...,3

In [73]:
chap_count_att = chapter_df['top_n_goal_id'].value_counts().to_dict()

In [74]:
chap_count_att

{'2': 597,
 '7': 289,
 '5': 280,
 '15': 213,
 '4': 176,
 '17': 170,
 '16': 151,
 '3': 146,
 '6': 141,
 '10': 140,
 '1': 122,
 '13': 120,
 '12': 91,
 '14': 68,
 '11': 68,
 '8': 68,
 '9': 68}

In [75]:
tab_count_att

{'2': 626,
 '1': 416,
 '14': 339,
 '5': 327,
 '7': 296,
 '15': 253,
 '6': 231,
 '12': 224,
 '3': 217,
 '16': 213,
 '4': 212,
 '10': 179,
 '17': 170,
 '13': 127,
 '11': 96,
 '8': 96,
 '9': 88}

In [76]:
rank_count_att = all_goals['top_n_goal_id'].value_counts().to_dict()

In [77]:
#rank_filter_count_att = final_map['top_n_goal_id'].value_counts().to_dict()

In [78]:
count_att_list = [(key, value) for key, value in chap_count_att.items()]

count_att_df = pd.DataFrame(count_att_list, columns=['Goal No.', 'Chap_count'])
count_att_df

   Goal No.  Chap_count
0         2         597
1         7         289
2         5         280
3        15         213
4         4         176
5        17         170
6        16         151
7         3         146
8         6         141
9        10         140
10        1         122
11       13         120
12       12          91
13       14          68
14       11          68
15        8          68
16        9          68

In [79]:
count_att_df['Tab_count'] = count_att_df['Goal No.'].map(tab_count_att)

In [80]:
#count_att_df['Filter_count'] = count_att_df['Goal No.'].map(rank_filter_count_att)

In [81]:
count_att_df['Rank_count'] = count_att_df['Goal No.'].map(rank_count_att)

In [82]:
count_att_df

   Goal No.  Chap_count  Tab_count  Rank_count
0         2         597        626         637
1         7         289        296         311
2         5         280        327         465
3        15         213        253         341
4         4         176        212         219
5        17         170        170         170
6        16         151        213         222
7         3         146        217         236
8         6         141        231         248
9        10         140        179         202
10        1         122        416         436
11       13         120        127         144
12       12          91        224         235
13       14          68        339         361
14       11          68         96         120
15        8          68         96         126
16        9          68         88          96

In [83]:
chapter_df.to_csv(absolute_path_chap_filter, sep=';', index=False)

In [84]:
count_att_df.to_csv(absolute_path_count, sep=';', index=False)