In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import re
import os
import matplotlib.pyplot as plt
import nltk
from collections import OrderedDict

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer() 
from gensim.models import Word2Vec
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package punkt to /home/riya/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/riya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/riya/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/usr/lib/python3/dist-packages/paramiko/transport.py:237: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [2]:
relative_path_sdg = "../../sdg_data.csv"
relative_path_attr = "../Dictionary/Attributes_2015-16.csv"
relative_string_map = "./Data_Indicator/String_map.csv"
relative_semantic = "./Data_Indicator/Semantic_map.csv"
relative_sem_threshold = "./Data_Indicator/Semantic_threshold_map.csv"
relative_rank = "./Data_Indicator/Ranking.csv"
relative_rank_unroll = "./Data_Indicator/Ranking_unroll.csv"
relative_tab_filter = "./Data_Indicator/Ranking_tab_filter.csv"
relative_chap_filter = "./Data_Indicator/Ranking_chap_filter.csv"
relative_final_map = "./Mapping_Indicator_2015-16.csv"
relative_count = "./Data_Indicator/Comparison_count.csv"


# Get the absolute path by joining the current directory with the relative path
absolute_path_sdg = os.path.normpath(os.path.join(os.getcwd(), relative_path_sdg))
absolute_path_attr = os.path.normpath(os.path.join(os.getcwd(), relative_path_attr))
absolute_path_string = os.path.normpath(os.path.join(os.getcwd(), relative_string_map))
absolute_path_semantic = os.path.normpath(os.path.join(os.getcwd(), relative_semantic))
absolute_path_sem_threshold =os.path.normpath( os.path.join(os.getcwd(), relative_sem_threshold))
absolute_path_rank =os.path.normpath( os.path.join(os.getcwd(), relative_rank))
absolute_path_rank_unroll =os.path.normpath( os.path.join(os.getcwd(), relative_rank_unroll))
absolute_path_tab_filter =os.path.normpath( os.path.join(os.getcwd(), relative_tab_filter))
absolute_path_chap_filter =os.path.normpath( os.path.join(os.getcwd(), relative_chap_filter))
absolute_path_final_map =os.path.normpath( os.path.join(os.getcwd(), relative_final_map))
absolute_path_count =os.path.normpath( os.path.join(os.getcwd(), relative_count))

In [3]:
def process_result(result_sdg, sdg_df, chapter_df):
    rows = []
    
    for _, row in result_sdg.iterrows():
        attr_id = row['Rank']
        goal_no = row['Goal No.']
        target_id = row['Target_id']
        indicator_id = row['Indicator_id']
        
        for attr in attr_id:
            rows.append({
                'Attr_id': attr,
                'top_n_goal_id': goal_no,
                'top_n_target_id': target_id,
                'top_n_indicator_id': indicator_id
            })

    all_goals = pd.DataFrame(rows)
    
    goal_name = dict(zip(sdg_df['Goal No.'], sdg_df['Goal']))
    target_name = dict(zip(sdg_df['Target_id'], sdg_df['Targets']))
    indicator_name = dict(zip(sdg_df['Indicator_id'], sdg_df['Tentative Indicators']))
    
    all_goals['Goal'] = all_goals['top_n_goal_id'].map(goal_name.get)
    all_goals['Targets'] = all_goals['top_n_target_id'].map(target_name.get)
    all_goals['Tentative Indicators'] = all_goals['top_n_indicator_id'].map(indicator_name.get)
    chapter_id = dict(zip(chapter_df['Attr_id'], chapter_df['Chapter_id']))
    chapter_name = dict(zip(chapter_df['Chapter_id'], chapter_df['Chapter_name']))
    table_id = dict(zip(chapter_df['Attr_id'], chapter_df['Table_id']))
    table_name = dict(zip(chapter_df['Table_id'], chapter_df['Table_name']))
    description = dict(zip(chapter_df['Attr_id'], chapter_df['Description']))
    all_goals['Chapter_id'] = all_goals['Attr_id'].map(chapter_id.get)
    all_goals['Chapter_name'] = all_goals['Chapter_id'].map(chapter_name.get)
    all_goals['Table_id'] = all_goals['Attr_id'].map(table_id.get)
    all_goals['Table_name'] = all_goals['Table_id'].map(table_name.get)
    all_goals['Description'] = all_goals['Attr_id'].map(description.get) 
    
                
    all_goals = all_goals.loc[:,['Attr_id','Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description', 'Goal', 'Targets', 'Tentative Indicators', 'top_n_goal_id', 'top_n_target_id', 'top_n_indicator_id']]

    return all_goals

In [4]:
# Function to combine and remove duplicates from lists while maintaining order
def combine_lists_BC(row):
    list_B = row['top_n_attr_B']
    list_C = row['top_n_attr_C']
    
    # Combine lists and remove duplicates while maintaining order
    items = list(OrderedDict.fromkeys(list_B + list_C))
    return items

In [5]:
# Function to find intersection while maintaining order
def find_intersection_ABC(row):
    intersection = [x for x in row['top_n_attr_A'] if x in row['B_plus_C']]
    return intersection

In [6]:
def find_difference_A(row):
    top_n_attr = row['top_n_attr_A']
    intersection = row['A_and_BC']
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [7]:
# Function to find intersection while maintaining order
def find_intersection_BC(row):
    intersection = [x for x in row['top_n_attr_B'] if x in row['top_n_attr_C']]
    return intersection

In [8]:
def find_difference_B(row):
    top_n_attr = row['top_n_attr_B']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [9]:
def find_difference_C(row):
    top_n_attr = row['top_n_attr_C']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'] + row['B_minus_all'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [10]:
def final_rank(row):
    #combined_top_n_attr = sorted(set(list_B + list_C), key=lambda x: (list_B + list_C).index(x))
    items = row['A_and_BC'] + row['A'] + row['B_and_C'] + row['B_minus_all'] + row['C_minus_all']
    item_set = list(OrderedDict.fromkeys(items))    
    return item_set

In [11]:
sdg = pd.read_csv(absolute_path_sdg, sep=",", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str})

In [12]:
sdg

,Goal No.,Goal,Nodal Department,Targets,Other Related Major Departments,Tentative Indicators,Target_id,Indicator_id
0,1,End poverty in all its forms everywhere,Rural Development,"By 2030, eradicate extreme poverty for all peo...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population below the interna...,1.1,1.1.1
1,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living below the ...,1.2,1.2.1
2,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...","Proportion of men, women and children of all a...",1.2,1.2.2
3,1,End poverty in all its forms everywhere,Rural Development,Implement nationally appropriate social protec...,"Urban Development, Agriculture, Horticulture, ...",Percentage of the population covered by social...,1.3,1.3.1
4,1,End poverty in all its forms everywhere,Rural Development,"By 2030, ensure that all men and women, in par...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living in househo...,1.4,1.4.1
...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,Finance,"Promote the development, transfer, disseminati...",Environment and Scientific Technology.,Total amount of approved funding to promote th...,16.4,16.4.1
175,16,Strengthen the means of implementation and rev...,Finance,Fully operationalize the technology bank and s...,"Environment and Scientific Technology, Inform...",Proportion of individuals using the Internet.,16.5,16.5.1
176,17,"Data, monitoring and accountability",Finance,"By 2020, enhance capacity-building support to ...","Planning, Finance, Economic and Statistics.",Proportion of sustainable development indicato...,17.1,17.1.1
177,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Dollar value of all resources made available t...,17.2,17.2.1
178,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Inclusive Wealth Index.,17.2,17.2.2

In [13]:
sdg.drop(['Nodal Department','Other Related Major Departments'],axis=1,inplace=True)

In [14]:
# Remove duplicate rows
sdg = sdg.drop_duplicates()

In [15]:
sdg.reset_index(inplace = True, drop = True)

In [16]:
data = pd.read_csv(absolute_path_attr, sep=";", dtype={'Attr_id': str, 'Chapter_id': str, 'Table_id':str})

In [17]:
data_new = data.copy()
data_new

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,4.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Circles
2,5.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,6.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,7.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...,...,...
1162,1179.0,18,Additional information,18.3,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,1180.0,18,Additional information,18.3,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,1181.0,18,Additional information,18.3,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,1182.0,18,Additional information,18.3,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,1183.0,18,Additional information,18.3,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [18]:
sdg_string = pd.read_csv(absolute_path_string, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_string

,Goal No.,Goal,Targets,Tentative Indicators,Target_id,Indicator_id,new_indicators,new_indicators_str,top_n_count,top_n_attr,top_n_table_id,top_n_table_name,top_n_chapter_id,top_n_chapter_name,top_n_similarities,top_n_description
0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1.1,1.1.1,"['population', 'international', 'poverty', 'li...",proportion of the population below the interna...,196,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.1...",['Districtwise Population By Age Groups And Se...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, ...","['AREA AND POPULATION', 'AREA AND POPULATION',...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, ...","['Male,0-14, Districtwise Population By Age Gr..."
1,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",Proportion of the population living below the ...,1.2,1.2.1,"['population', 'living', 'national', 'poverty'...",proportion of the population living below the ...,130,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.1...",['Districtwise Population By Age Groups And Se...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, ...","['AREA AND POPULATION', 'AREA AND POPULATION',...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, ...","['Male,0-14, Districtwise Population By Age Gr..."
2,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...","Proportion of men, women and children of all a...",1.2,1.2.2,"['men', 'woman', 'child', 'age', 'living', 'po...",proportion of men women and children of all ag...,93,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[10.8, 10.8, 10.8, 10.8, 10.8, 10.8, 13.1, 13....",['No. of Children in the age group 6 to 14 yea...,"[10, 10, 10, 10, 10, 10, 13, 13, 13, 13, 13, 1...","['Education', 'Education', 'Education', 'Educa...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['Boys,No.of Children age group between 6 to 1..."
3,1,End poverty in all its forms everywhere,Implement nationally appropriate social protec...,Percentage of the population covered by social...,1.3,1.3.1,"['population', 'covered', 'social', 'protectio...",percentage of the population covered by social...,262,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, ...",['Child Population 0-6 and proportion by resid...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['AREA AND POPULATION', 'AREA AND POPULATION',...","[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...","['Total,Child Population 0-6 Years 2011, Child..."
4,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",Proportion of the population living in househo...,1.4,1.4.1,"['population', 'living', 'household', 'access'...",proportion of the population living in househo...,187,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...",['Population and percentage share to total Pop...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['AREA AND POPULATION', 'AREA AND POPULATION',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Geographical Area Sq.Kms, Population and per..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",Total amount of approved funding to promote th...,16.4,16.4.1,"['amount', 'approved', 'funding', 'promote', '...",total amount of approved funding to promote th...,56,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13.2, 13....",['Stree Shakti Self Help Groups and Members Ye...,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","['Women Child Development', 'Women Child Devel...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['No.of Stree Shakti Self help groups, Stree S..."
175,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,Proportion of individuals using the Internet.,16.5,16.5.1,"['individual', 'using', 'internet']",proportion of individuals using the internet,2,"[533.0, 872.0]","[9.4, 14.2]",['Post Office Telephones Exchanges Telephones ...,"[9, 14]","['Transport and Communication', 'Rural Develop...","[1, 1]","['Internet Connections,Communication In Number..."
176,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",Proportion of sustainable development indicato...,17.1,17.1.1,"['sustainable', 'development', 'indicator', 'p...",proportion of sustainable development indicato...,60,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[4.18, 5.4, 6.5, 9.2, 13.1, 13.1, 13.1, 13.1, ...","['Sericulture Year 2015-16 in Nos.', 'Fisherie...","[4, 5, 6, 9, 13, 13, 13, 13, 13, 13, 13, 13, 1...","['Agriculture, Horticulture and Sericulture', ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Value of Silk Produced Rs.inlakhs, Sericultu..."
177,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Dollar value of all resources made available t...,17.2,17.2.1,"['dollar', 'value', 'resource', 'made', 'avail...",dollar value of all resources made available t...,7,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[1.5, 4.1, 4.1, 4.1, 4.18, 5.4, 5.4]","['No.of Fire Stations on 31-03-2016 In Nos', '...","[1, 4, 4, 4, 4, 5, 5]","['General Information', 'Agriculture, Horticul...","[1, 1, 1, 1, 1, 1, 1]","['Value of the property protected, No.of Fire ..."
178,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17.2,17.2.2,"['inclusive', 'wealth', 'index']",inclusive wealth index,0,[],[],[],[],[],[],[]

In [19]:
sdg_sim = pd.read_csv(absolute_path_semantic, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_sim

,Goal No.,Goal,Targets,Tentative Indicators,Target_id,Indicator_id,new_indicators,new_indicators_str,keywords,vec,top_n_index,min_values,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1.1,1.1.1,"['population', 'international', 'poverty', 'li...",proportion of the population below the interna...,"[['poverty', 'line'], ['population'], ['age', ...",[[-0.075216 0.47459 0.263355 ... -0.1...,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 26, 2...","[0.8120515928906179, 1.0000000000000009, 0.794...",54,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, ...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...","['Geographical Area Sq.Kms, Population and per...","['AREA AND POPULATION', 'AREA AND POPULATION',...",['Population and percentage share to total Pop...
1,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",Proportion of the population living below the ...,1.2,1.2.1,"['population', 'living', 'national', 'poverty'...",proportion of the population living below the ...,"[['living', 'national'], ['poverty', 'line'], ...",[[-0.219163 0.36556406 0.0332955 ... 0.1...,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 25, 2...","[0.6348859380215051, 0.8120515928906179, 0.794...",50,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, ...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...","['Geographical Area Sq.Kms, Population and per...","['AREA AND POPULATION', 'AREA AND POPULATION',...",['Population and percentage share to total Pop...
2,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...","Proportion of men, women and children of all a...",1.2,1.2.2,"['men', 'woman', 'child', 'age', 'living', 'po...",proportion of men women and children of all ag...,"[['according', 'national'], ['children', 'ages...",[[-0.173088 0.43849001 0.0401875 ... 0.1...,"[511, 872, 873, 874, 875, 956, 25, 26, 27, 28,...","[0.5844719405576027, 0.6779166506008225, 0.885...",57,"[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[9, 14, 14, 14, 14, 17, 1, 1, 1, 1, 1, 1, 1, 1...","[9.2, 14.3, 14.3, 14.3, 14.3, 17.2, 1.6, 1.6, ...","['National Highwa,P.w.d. Road Length in Km, P....","['Transport and Communication', 'Rural Develop...","['P.w.d. Road Length on 31-03-2016', 'Physical..."
3,1,End poverty in all its forms everywhere,Implement nationally appropriate social protec...,Percentage of the population covered by social...,1.3,1.3.1,"['population', 'covered', 'social', 'protectio...",percentage of the population covered by social...,"[['age', 'persons'], ['children'], ['populatio...",[[-0.562305 0.03955675 0.20651501 ... 0.0...,"[715, 716, 717, 718, 719, 720, 721, 722, 723, ...","[0.8303263734472492, 0.7450329169830372, 0.835...",56,"[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 2, 2,...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 12.1, 12.1, 12....","['Nos,Boys,Government Pre-Matric, Scheduled Ca...","['Social welfare', 'Social welfare', 'Social w...","['Scheduled Caste As on 31-03-2016 in Nos.', '..."
4,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",Proportion of the population living in househo...,1.4,1.4.1,"['population', 'living', 'household', 'access'...",proportion of the population living in househo...,"[['basic', 'services'], ['population'], ['livi...",[[-0.65325001 -0.41144501 -0.0148 ... -0.4...,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 515, ...","[0.6765969571957549, 1.0000000000000009, 0.586...",57,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 9, 9, 9, 9, 9, ...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...","['Geographical Area Sq.Kms, Population and per...","['AREA AND POPULATION', 'AREA AND POPULATION',...",['Population and percentage share to total Pop...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",Total amount of approved funding to promote th...,16.4,16.4.1,"['amount', 'approved', 'funding', 'promote', '...",total amount of approved funding to promote th...,"[['development'], ['sound', 'technologies'], [...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[832, 836, 837, 839, 841, 842, 845, 854, 857, ...","[1.0000000000000009, 0.47943460610968414, 0.56...",43,"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 4, 11...","[13.1, 13.1, 13.2, 13.2, 13.3, 13.3, 13.4, 13....","['No.of Stree Shakti Self help groups, Stree S...","['Women Child Development', 'Women Child Devel...",['Stree Shakti Self Help Groups and Members Ye...
175,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,Proportion of individuals using the Internet.,16.5,16.5.1,"['individual', 'using', 'internet']",proportion of individuals using the internet,"[['individual'], ['using'], ['internet']]",[[-5.91870010e-01 4.99570012e-01 -1.01269998e...,"[865, 525, 891, 892, 893, 894, 910, 911, 912, ...","[0.5254031344856757, 0.8469151097350804, 0.567...",30,"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[14, 9, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15...","[14.2, 9.4, 15.1, 15.1, 15.1, 15.1, 15.4, 15.4...","['Individual Household Toilets, Toilets Constr...","['Rural Development & Panchayat Raj', 'Transpo...",['Toilets Constructed by Rural Development and...
176,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",Proportion of sustainable development indicato...,17.1,17.1.1,"['sustainable', 'development', 'indicator', 'p...",proportion of sustainable development indicato...,"[['official', 'statistics'], ['level'], ['targ...",[[-0.104375 0.33179498 0.35639401 ... -0.0...,"[832, 836, 837, 839, 841, 842, 845, 854, 857, ...","[0.5360062829840535, 0.5584521024536246, 0.456...",59,"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 5, 13...","[13.1, 13.1, 13.2, 13.2, 13.3, 13.3, 13.4, 13....","['No.of Stree Shakti Self help groups, Stree S...","['Women Child Development', 'Women Child Devel...",['Stree Shakti Self Help Groups and Members Ye...
177,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Dollar value of all resources made available t...,17.2,17.2.1,"['dollar', 'value', 'resource', 'made', 'avail...",dollar value of all resources made available t...,"[['dollar', 'value'], ['statistical', 'capacit...",[[-0.32824999 0.2354125 -0.146439 ... -0.2...,"[24, 331, 150, 151, 152, 376, 378, 49, 50, 51,...","[0.5832998005673143, 0.4989707593823449, 0.532...",42,"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[1, 4, 4, 4, 4, 5, 5, 1, 1, 1, 1, 1, 1, 4, 5, ...","[1.5, 4.18, 4.1, 4.1, 4.1, 5.4, 5.4, 1.10, 1.1...","['Value of the property protected, No.of Fire ...","['General Information', 'Agriculture, Horticul...","['No.of Fire Stations on 31-03-2016 In Nos', '..."
178,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17.2,17.2.2,"['inclusive', 'wealth', 'index']",inclusive wealth index,"[['inclusive'], ['wealth'], ['index']]",[[-3.04119997e-02 -3.60480011e-01 9.29529965e...,"[360, 49, 50, 51, 52, 53, 54, 950, 954, 522, 5...","[0.2539588255483392, 0.41082506021555965, 0.47...",30,"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[5, 1, 1, 1, 1, 1, 1, 16, 17, 9, 9, 9, 9, 9, 1...","[5.1, 1.10, 1.10, 1.10, 1.10, 1.10, 1.10, 16.3...","['Total Live Stock,Livestock Census 2012, Live...","['Animal Husbandry', 'General Information', 'G...","['Livestock Census 2012', 'District Income Of ..."

In [20]:
sdg_threshold = pd.read_csv(absolute_path_sem_threshold, dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, sep=";", converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_threshold

,Goal No.,Goal,Targets,Tentative Indicators,Target_id,Indicator_id,new_indicators,new_indicators_str,keywords,vec,top_n_index,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1.1,1.1.1,"['population', 'international', 'poverty', 'li...",proportion of the population below the interna...,"[['poverty', 'line'], ['population'], ['age', ...",[[-0.075216 0.47459 0.263355 ... -0.1...,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 6...",378,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...","['Geographical Area Sq.Kms, Population and per...","['AREA AND POPULATION', 'AREA AND POPULATION',...",['Population and percentage share to total Pop...
1,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",Proportion of the population living below the ...,1.2,1.2.1,"['population', 'living', 'national', 'poverty'...",proportion of the population living below the ...,"[['living', 'national'], ['poverty', 'line'], ...",[[-0.219163 0.36556406 0.0332955 ... 0.1...,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 6...",136,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...","['Geographical Area Sq.Kms, Population and per...","['AREA AND POPULATION', 'AREA AND POPULATION',...",['Population and percentage share to total Pop...
2,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...","Proportion of men, women and children of all a...",1.2,1.2.2,"['men', 'woman', 'child', 'age', 'living', 'po...",proportion of men women and children of all ag...,"[['according', 'national'], ['children', 'ages...",[[-0.173088 0.43849001 0.0401875 ... 0.1...,"[511, 872, 873, 874, 875, 956, 25, 26, 27, 28,...",311,"[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[9, 14, 14, 14, 14, 17, 1, 1, 1, 1, 1, 1, 1, 1...","[9.2, 14.3, 14.3, 14.3, 14.3, 17.2, 1.6, 1.6, ...","['National Highwa,P.w.d. Road Length in Km, P....","['Transport and Communication', 'Rural Develop...","['P.w.d. Road Length on 31-03-2016', 'Physical..."
3,1,End poverty in all its forms everywhere,Implement nationally appropriate social protec...,Percentage of the population covered by social...,1.3,1.3.1,"['population', 'covered', 'social', 'protectio...",percentage of the population covered by social...,"[['age', 'persons'], ['children'], ['populatio...",[[-0.562305 0.03955675 0.20651501 ... 0.0...,"[715, 716, 717, 718, 719, 720, 721, 722, 723, ...",342,"[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 1...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 12.1, 12.1, 12....","['Nos,Boys,Government Pre-Matric, Scheduled Ca...","['Social welfare', 'Social welfare', 'Social w...","['Scheduled Caste As on 31-03-2016 in Nos.', '..."
4,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",Proportion of the population living in househo...,1.4,1.4.1,"['population', 'living', 'household', 'access'...",proportion of the population living in househo...,"[['basic', 'services'], ['population'], ['livi...",[[-0.65325001 -0.41144501 -0.0148 ... -0.4...,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 6...",487,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2, 2.2, 2.2, ...","['Geographical Area Sq.Kms, Population and per...","['AREA AND POPULATION', 'AREA AND POPULATION',...",['Population and percentage share to total Pop...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",Total amount of approved funding to promote th...,16.4,16.4.1,"['amount', 'approved', 'funding', 'promote', '...",total amount of approved funding to promote th...,"[['development'], ['sound', 'technologies'], [...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[832, 836, 837, 839, 841, 842, 845, 854, 857, ...",389,"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 1...","[13.1, 13.1, 13.2, 13.2, 13.3, 13.3, 13.4, 13....","['No.of Stree Shakti Self help groups, Stree S...","['Women Child Development', 'Women Child Devel...",['Stree Shakti Self Help Groups and Members Ye...
175,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,Proportion of individuals using the Internet.,16.5,16.5.1,"['individual', 'using', 'internet']",proportion of individuals using the internet,"[['individual'], ['using'], ['internet']]",[[-5.91870010e-01 4.99570012e-01 -1.01269998e...,"[865, 525, 891, 892, 893, 894, 910, 911, 912, ...",75,"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[14, 9, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15...","[14.2, 9.4, 15.1, 15.1, 15.1, 15.1, 15.4, 15.4...","['Individual Household Toilets, Toilets Constr...","['Rural Development & Panchayat Raj', 'Transpo...",['Toilets Constructed by Rural Development and...
176,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",Proportion of sustainable development indicato...,17.1,17.1.1,"['sustainable', 'development', 'indicator', 'p...",proportion of sustainable development indicato...,"[['official', 'statistics'], ['level'], ['targ...",[[-0.104375 0.33179498 0.35639401 ... -0.0...,"[832, 836, 837, 839, 841, 842, 845, 854, 857, ...",396,"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 1...","[13.1, 13.1, 13.2, 13.2, 13.3, 13.3, 13.4, 13....","['No.of Stree Shakti Self help groups, Stree S...","['Women Child Development', 'Women Child Devel...",['Stree Shakti Self Help Groups and Members Ye...
177,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Dollar value of all resources made available t...,17.2,17.2.1,"['dollar', 'value', 'resource', 'made', 'avail...",dollar value of all resources made available t...,"[['dollar', 'value'], ['statistical', 'capacit...",[[-0.32824999 0.2354125 -0.146439 ... -0.2...,"[24, 331, 150, 151, 152, 376, 378, 49, 50, 51,...",356,"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[1, 4, 4, 4, 4, 5, 5, 1, 1, 1, 1, 1, 1, 4, 5, ...","[1.5, 4.18, 4.1, 4.1, 4.1, 5.4, 5.4, 1.10, 1.1...","['Value of the property protected, No.of Fire ...","['General Information', 'Agriculture, Horticul...","['No.of Fire Stations on 31-03-2016 In Nos', '..."
178,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17.2,17.2.2,"['inclusive', 'wealth', 'index']",inclusive wealth index,"[['inclusive'], ['wealth'], ['index']]",[[-3.04119997e-02 -3.60480011e-01 9.29529965e...,"[360, 49, 50, 51, 52, 53, 54, 950, 954, 522, 5...",339,"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[5, 1, 1, 1, 1, 1, 1, 16, 17, 9, 9, 9, 9, 9, 1...","[5.1, 1.10, 1.10, 1.10, 1.10, 1.10, 1.10, 16.3...","['Total Live Stock,Livestock Census 2012, Live...","['Animal Husbandry', 'General Information', 'G...","['Livestock Census 2012', 'District Income Of ..."

In [21]:
result_sdg_new =sdg_string.copy()
result_sdg_sim_new =sdg_sim.copy()
result_sdg_threshold_new = sdg_threshold.copy()

In [22]:
result_sdg_new = result_sdg_new[['Goal No.', 'Target_id', 'Indicator_id', 'top_n_attr']]

In [23]:
result_sdg_new.head()

,Goal No.,Target_id,Indicator_id,top_n_attr
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839..."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83...."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."

In [24]:
result_sdg_sim_new = result_sdg_sim_new[['Goal No.', 'Target_id', 'Indicator_id', 'top_n_attr']]

In [25]:
result_sdg_sim_new.head()

,Goal No.,Target_id,Indicator_id,top_n_attr
0,1,1.1,1.1.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
1,1,1.2,1.2.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
2,1,1.2,1.2.2,"[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28...."
3,1,1.3,1.3.1,"[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."

In [26]:
result_sdg_threshold_new = result_sdg_threshold_new[['Goal No.', 'Target_id', 'Indicator_id', 'top_n_attr']]

In [27]:
result_sdg_threshold_new.head()

,Goal No.,Target_id,Indicator_id,top_n_attr
0,1,1.1,1.1.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
1,1,1.2,1.2.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
2,1,1.2,1.2.2,"[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28...."
3,1,1.3,1.3.1,"[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."

In [28]:
result_sdg_new.rename(columns = {'top_n_attr':'top_n_attr_A'}, inplace=True)

In [29]:
result_sdg_new['top_n_attr_B'] = result_sdg_threshold_new.loc[:,'top_n_attr']
result_sdg_new['top_n_attr_C'] = result_sdg_sim_new.loc[:,'top_n_attr']

In [30]:
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28...."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852..."
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917..."
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852..."
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386...."
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95..."

In [31]:
# Apply the function to the merged dataframe
result_sdg_new['B_plus_C'] = result_sdg_new.apply(combine_lists_BC, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28...."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852..."
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917..."
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852..."
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386...."
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95..."

In [32]:
# Apply the function to the merged dataframe
result_sdg_new['A_and_BC'] = result_sdg_new.apply(find_intersection_ABC, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839..."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83...."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845..."
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]"
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844..."
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]"
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[]

In [33]:
# Apply the function to the merged dataframe
result_sdg_new['A'] = result_sdg_new.apply(find_difference_A, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[]
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[]
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[76.0, 77.0, 78.0, 85.0, 86.0, 87.0, 88.0, 89...."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[872.0, 880.0, 881.0]"
...,...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[]
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]",[]
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...","[339.0, 446.0, 520.0]"
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]",[]
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[],[]

In [34]:
# Apply the function to the merged dataframe
result_sdg_new['B_and_C'] = result_sdg_new.apply(find_intersection_BC, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[76.0, 77.0, 78.0, 85.0, 86.0, 87.0, 88.0, 89....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28...."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[872.0, 880.0, 881.0]","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
...,...,...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852..."
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]",[],"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917..."
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...","[339.0, 446.0, 520.0]","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852..."
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]",[],"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386...."
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[],[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95..."

In [35]:
# Apply the function to the merged dataframe
result_sdg_new['B_minus_all'] = result_sdg_new.apply(find_difference_B, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 716.0, 718.0, 720.0, 715.0, 719.0, 992..."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 715.0, 719.0, 716.0, 718.0, 720.0]"
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[76.0, 77.0, 78.0, 85.0, 86.0, 87.0, 88.0, 89....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535..."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535..."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[872.0, 880.0, 881.0]","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24...."
...,...,...,...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[154.0, 155.0, 27.0, 339.0, 818.0, 819.0, 820...."
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]",[],"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[923.0, 924.0, 103.0, 104.0, 105.0, 106.0, 107..."
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...","[339.0, 446.0, 520.0]","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[573.0, 574.0, 591.0, 592.0, 593.0, 594.0, 595..."
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]",[],"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[1170.0, 1171.0, 1172.0, 1173.0, 1174.0, 1175...."
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[],[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36...."

In [36]:
# Apply the function to the merged dataframe
result_sdg_new['C_minus_all'] = result_sdg_new.apply(find_difference_C, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 716.0, 718.0, 720.0, 715.0, 719.0, 992...",[]
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 715.0, 719.0, 716.0, 718.0, 720.0]",[]
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[76.0, 77.0, 78.0, 85.0, 86.0, 87.0, 88.0, 89....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535...",[]
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535...",[]
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[872.0, 880.0, 881.0]","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24....",[]
...,...,...,...,...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[154.0, 155.0, 27.0, 339.0, 818.0, 819.0, 820....",[]
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]",[],"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[923.0, 924.0, 103.0, 104.0, 105.0, 106.0, 107...",[]
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...","[339.0, 446.0, 520.0]","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[573.0, 574.0, 591.0, 592.0, 593.0, 594.0, 595...",[]
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]",[],"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[1170.0, 1171.0, 1172.0, 1173.0, 1174.0, 1175....",[]
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[],[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36....",[]

In [37]:
result_sdg_new.columns

Index(['Goal No.', 'Target_id', 'Indicator_id', 'top_n_attr_A', 'top_n_attr_B',
       'top_n_attr_C', 'B_plus_C', 'A_and_BC', 'A', 'B_and_C', 'B_minus_all',
       'C_minus_all'],
      dtype='object')

In [38]:
# Apply the function to the merged dataframe
result_sdg_new['Rank'] = result_sdg_new.apply(final_rank, axis=1)
result_sdg_new

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 716.0, 718.0, 720.0, 715.0, 719.0, 992...",[],"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 715.0, 719.0, 716.0, 718.0, 720.0]",[],"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[76.0, 77.0, 78.0, 85.0, 86.0, 87.0, 88.0, 89....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535...",[],"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839..."
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535...",[],"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83...."
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[872.0, 880.0, 881.0]","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24....",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[154.0, 155.0, 27.0, 339.0, 818.0, 819.0, 820....",[],"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845..."
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]",[],"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[923.0, 924.0, 103.0, 104.0, 105.0, 106.0, 107...",[],"[533.0, 872.0, 898.0, 899.0, 900.0, 901.0, 917..."
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...","[339.0, 446.0, 520.0]","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[573.0, 574.0, 591.0, 592.0, 593.0, 594.0, 595...",[],"[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844..."
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]",[],"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[1170.0, 1171.0, 1172.0, 1173.0, 1174.0, 1175....",[],"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386...."
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[],[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36....",[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95..."

In [39]:
final_df = result_sdg_new.copy()

In [40]:
final_df['Attr_count'] = final_df['Rank'].apply(lambda x: len(x))

In [41]:
final_df

,Goal No.,Target_id,Indicator_id,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank,Attr_count
0,1,1.1,1.1.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 716.0, 718.0, 720.0, 715.0, 719.0, 992...",[],"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",378
1,1,1.2,1.2.1,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[714.0, 715.0, 719.0, 716.0, 718.0, 720.0]",[],"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",136
2,1,1.2,1.2.2,"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...","[76.0, 77.0, 78.0, 85.0, 86.0, 87.0, 88.0, 89....","[519.0, 879.0, 880.0, 881.0, 882.0, 963.0, 28....","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535...",[],"[575.0, 576.0, 577.0, 578.0, 579.0, 580.0, 839...",326
3,1,1.3,1.3.1,"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....","[620.0, 621.0, 622.0, 623.0, 624.0, 625.0, 626...","[722.0, 723.0, 724.0, 725.0, 726.0, 727.0, 728...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 535...",[],"[76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83....",361
4,1,1.4,1.4.1,"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[872.0, 880.0, 881.0]","[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....","[17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24....",[],"[58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65....",490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,16,16.4,16.4.1,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[154.0, 155.0, 27.0, 339.0, 818.0, 819.0, 820....",[],"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",389
175,16,16.5,16.5.1,"[533.0, 872.0]","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[533.0, 872.0]",[],"[872.0, 533.0, 898.0, 899.0, 900.0, 901.0, 917...","[923.0, 924.0, 103.0, 104.0, 105.0, 106.0, 107...",[],"[533.0, 872.0, 898.0, 899.0, 900.0, 901.0, 917...",75
176,17,17.1,17.1.1,"[339.0, 389.0, 446.0, 520.0, 839.0, 840.0, 841...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...","[339.0, 446.0, 520.0]","[839.0, 843.0, 844.0, 846.0, 848.0, 849.0, 852...","[573.0, 574.0, 591.0, 592.0, 593.0, 594.0, 595...",[],"[389.0, 839.0, 840.0, 841.0, 842.0, 843.0, 844...",399
177,17,17.2,17.2.1,"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386.0]",[],"[27.0, 339.0, 158.0, 159.0, 160.0, 384.0, 386....","[1170.0, 1171.0, 1172.0, 1173.0, 1174.0, 1175....",[],"[27.0, 158.0, 159.0, 160.0, 339.0, 384.0, 386....",356
178,17,17.2,17.2.2,[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",[],[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...","[29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36....",[],"[368.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 95...",339

In [42]:
final_df.to_csv(absolute_path_rank, sep=';', index=False)

In [43]:
all_goals = process_result(final_df, sdg, data)

In [44]:
all_goals.to_csv(absolute_path_rank_unroll, sep=';', index=False)

In [45]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,Tentative Indicators,top_n_goal_id,top_n_target_id,top_n_indicator_id
0,120.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
1,121.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
2,122.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Total,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
3,123.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
4,124.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
48563,672.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos.,Primary Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48564,673.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Beds,Primary Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48565,674.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos.,Community Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48566,675.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Beds,Community Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48567,873.0,14,Rural Development & Panchayat Raj,14.2,Toilets Constructed by Rural Development and P...,No.of Community Toilets,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2

In [46]:
# Group by 'col1' and count the distinct values in 'col2'
table_map = data_new.groupby('Chapter_id')['Table_id'].nunique().to_dict()
table_map

{'1': 10,
 '10': 15,
 '11': 6,
 '12': 7,
 '13': 6,
 '14': 5,
 '15': 7,
 '16': 3,
 '17': 3,
 '18': 1,
 '2': 11,
 '3': 2,
 '4': 18,
 '5': 4,
 '6': 5,
 '7': 2,
 '8': 4,
 '9': 4}

In [47]:
attr_map = data_new.groupby('Table_id')['Attr_id'].nunique().to_dict()
attr_map

{'1.1': 5,
 '1.10': 6,
 '1.2': 4,
 '1.3': 6,
 '1.4': 6,
 '1.5': 4,
 '1.6': 6,
 '1.7': 6,
 '1.8': 6,
 '1.9': 6,
 '10.1': 9,
 '10.10': 10,
 '10.11': 11,
 '10.12': 8,
 '10.13': 12,
 '10.14': 8,
 '10.15': 8,
 '10.2': 10,
 '10.3': 4,
 '10.4': 4,
 '10.5': 4,
 '10.6': 5,
 '10.7': 5,
 '10.8': 6,
 '10.9': 10,
 '11.1': 12,
 '11.2': 7,
 '11.3': 10,
 '11.4': 6,
 '11.5': 32,
 '11.6': 8,
 '12.1': 18,
 '12.2': 24,
 '12.3': 24,
 '12.4': 6,
 '12.5': 18,
 '12.6': 21,
 '13.1': 5,
 '13.2': 4,
 '13.3': 3,
 '13.4': 4,
 '13.5': 8,
 '13.6': 3,
 '14.1': 6,
 '14.2': 4,
 '14.3': 7,
 '14.4': 6,
 '14.5': 6,
 '15.1': 7,
 '15.2': 6,
 '15.3': 9,
 '15.4': 8,
 '15.5': 4,
 '15.6': 3,
 '15.7': 5,
 '16.1': 7,
 '16.2': 6,
 '16.3': 8,
 '17.1': 4,
 '17.2': 7,
 '17.3': 13,
 '18.3': 192,
 '2.1': 12,
 '2.11': 9,
 '2.12': 11,
 '2.2': 6,
 '2.3': 6,
 '2.4': 9,
 '2.5': 6,
 '2.6': 6,
 '2.7': 6,
 '2.8': 6,
 '2.9': 6,
 '3.1': 5,
 '3.2': 11,
 '4.1': 15,
 '4.10': 9,
 '4.11': 9,
 '4.12': 18,
 '4.13': 9,
 '4.14': 3,
 '4.15': 5,
 '4.16': 4,
 '4.17': 16,
 '4.18': 19,
 '4.2': 19,
 '4.3': 20,
 '4.4': 10,
 '4.5': 3,
 '4.6': 18,
 '4.7': 9,
 '4.8': 3,
 '4.9': 6,
 '5.1': 19,
 '5.2': 7,
 '5.3': 5,
 '5.4': 12,
 '6.1': 18,
 '6.2': 3,
 '6.3': 5,
 '6.4': 24,
 '6.5': 3,
 '7.1': 5,
 '7.2': 12,
 '8.1': 6,
 '8.2': 6,
 '8.3': 6,
 '8.4': 10,
 '9.1': 27,
 '9.2': 4,
 '9.3': 6,
 '9.4': 5}

In [48]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,Tentative Indicators,top_n_goal_id,top_n_target_id,top_n_indicator_id
0,120.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
1,121.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
2,122.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Total,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
3,123.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
4,124.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
48563,672.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos.,Primary Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48564,673.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Beds,Primary Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48565,674.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos.,Community Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48566,675.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Beds,Community Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48567,873.0,14,Rural Development & Panchayat Raj,14.2,Toilets Constructed by Rural Development and P...,No.of Community Toilets,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2

In [49]:
filter_df = all_goals.copy()

In [50]:
# Initialize an empty dictionary to store the counts
tab_result = {}
table_id_rm = {}
# Iterate over unique values in col1
for val in filter_df['top_n_indicator_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = filter_df[filter_df['top_n_indicator_id'] == val]
    
    # Count the occurrences of each value in col2 and store in a dictionary
    table_counts = filtered_df['Table_id'].value_counts().to_dict()
    
    table_id_rm[val] = {key:value for key, value in table_counts.items() if value < (attr_map[key]/2)}
    
    table_dict_new = {key:value for key, value in table_counts.items() if key not in table_id_rm[val]}
    
    if(len(table_dict_new) <= 4):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(table_counts.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_6_dict = dict(list(sorted_dict.items())[:6])
        tab_result[val] = top_6_dict
        
    else:
        # Add the col2 counts dictionary to the result dictionary
        tab_result[val] = table_dict_new

print(tab_result)

{'1.1.1': {'18.3': 168, '7.2': 12, '2.12': 11, '2.11': 9, '2.4': 9, '14.3': 7, '14.1': 6, '11.6': 6, '14.5': 6, '14.4': 6, '10.2': 6, '10.1': 6, '9.3': 6, '1.6': 6, '1.3': 6, '10.8': 6, '2.6': 6, '1.7': 6, '1.8': 6, '2.2': 6, '2.3': 6, '2.9': 6, '2.5': 6, '2.1': 6, '11.4': 6, '2.7': 6, '2.8': 6, '7.1': 5, '13.1': 5, '14.2': 4, '1.9': 4, '15.5': 4, '13.2': 3, '15.6': 3}, '1.2.1': {'7.2': 12, '2.12': 11, '2.11': 9, '2.4': 9, '2.2': 6, '2.9': 6, '2.8': 6, '2.7': 6, '1.6': 6, '2.6': 6, '2.1': 6, '10.8': 6, '2.5': 6, '2.3': 6, '1.8': 6, '1.7': 6, '11.6': 6, '13.1': 5, '14.3': 4, '13.2': 3}, '1.2.2': {'18.3': 174, '11.3': 10, '2.11': 9, '2.4': 9, '13.5': 8, '10.8': 6, '11.6': 6, '2.3': 6, '11.4': 6, '14.3': 6, '2.5': 6, '1.8': 6, '1.7': 6, '1.6': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.6': 3, '13.3': 3}, '1.3.1': {'12.2': 24, '12.3': 24, '12.6': 21, '12.5': 18, '12.1': 18, '2.1': 12, '2.12': 11, '11.3': 10, '2.4': 9, '2.11': 9, '10.13': 8, '13.5': 8, '17.2': 7, '1.8': 6, '1.6': 6, '2.3': 6, '12.4': 6, '2.8': 6, '2.5': 6, '10.8': 6, '11.4': 6, '2.9': 6, '2.7': 6, '2.6': 6, '2.2': 6, '1.7': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.3': 3, '13.6': 3}, '1.4.1': {'18.3': 192, '11.5': 32, '5.1': 19, '11.1': 12, '2.12': 11, '10.2': 10, '11.3': 10, '2.4': 9, '10.1': 9, '15.3': 9, '2.11': 9, '15.4': 8, '11.6': 8, '11.2': 7, '15.1': 7, '9.3': 6, '1.3': 6, '2.3': 6, '2.5': 6, '2.6': 6, '1.10': 6, '1.9': 6, '1.8': 6, '1.7': 6, '1.6': 6, '1.4': 6, '2.1': 6, '2.7': 6, '11.4': 6, '2.9': 6, '2.2': 6, '2.8': 6, '15.2': 6, '1.1': 5, '1.2': 4, '13.4': 4, '1.5': 4, '14.5': 3}, '1.5.1': {'17.3': 13, '11.1': 12, '11.3': 10, '11.2': 7, '5.2': 7, '1.5': 4}, '1.6.1': {'12.5': 12, '12.3': 12, '12.2': 12, '11.3': 10, '8.4': 10, '13.5': 8, '16.3': 8, '14.3': 7, '16.1': 7, '2.1': 6, '14.5': 6, '14.4': 6, '14.1': 6, '8.1': 6, '1.8': 6, '7.2': 6, '16.2': 6, '1.6': 6, '1.7': 6, '13.1': 5, '7.1': 5, '10.14': 4, '10.15': 4, '13.4': 4, '10.12': 4, '13.2': 4, '14.2': 4, '13.6': 3, '13.3': 3}, '2.1.1': {'11.5': 27, '2.12': 11, '2.11': 9, '2.4': 9, '16.3': 8, '2.8': 6, '2.6': 6, '1.7': 6, '1.6': 6, '2.9': 6, '2.7': 6, '2.5': 6, '2.3': 6, '2.2': 6, '2.1': 6, '1.8': 6, '13.1': 5, '17.1': 4}, '2.1.2': {'6.4': 24, '3.2': 11, '2.12': 11, '2.4': 9, '2.11': 9, '15.4': 8, '13.5': 8, '2.1': 6, '1.8': 6, '14.5': 6, '14.4': 6, '1.7': 6, '1.6': 6, '9.3': 6, '2.9': 6, '2.8': 6, '2.7': 6, '2.6': 6, '2.5': 6, '2.3': 6, '2.2': 6, '3.1': 5, '6.3': 5, '10.4': 4}, '2.2.1': {'11.5': 32, '12.6': 21, '11.1': 12, '11.3': 10, '2.4': 9, '2.11': 9, '11.6': 8, '16.3': 8, '13.5': 8, '14.3': 7, '11.2': 7, '11.4': 6, '14.1': 6, '10.8': 6, '14.4': 6, '14.5': 6, '2.5': 6, '13.1': 5, '14.2': 4, '1.10': 4, '10.4': 4, '17.1': 4, '13.2': 4, '13.4': 4, '13.6': 3, '10.3': 3, '10.5': 3, '13.3': 3}, '2.2.2': {'12.6': 21, '2.4': 9, '16.3': 8, '13.5': 8, '14.3': 7, '14.1': 6, '10.8': 6, '11.4': 6, '14.5': 6, '2.5': 6, '14.4': 6, '13.1': 5, '14.2': 4, '17.1': 4, '1.10': 4, '10.4': 4, '13.4': 4, '13.2': 4, '13.3': 3, '10.5': 3, '10.3': 3, '13.6': 3}, '2.3.1': {'18.3': 192, '6.4': 24, '12.3': 24, '4.3': 20, '4.2': 19, '4.18': 19, '4.12': 18, '4.6': 18, '4.17': 16, '4.1': 15, '8.4': 10, '4.4': 10, '4.13': 9, '4.11': 9, '4.10': 9, '4.7': 9, '16.3': 7, '4.9': 6, '8.2': 6, '8.3': 6, '8.1': 6, '4.15': 5, '7.1': 5, '6.3': 5, '5.3': 5, '12.4': 4, '4.16': 4, '4.5': 3, '4.14': 3, '4.8': 3}, '2.3.2': {'18.3': 192, '4.6': 18, '4.12': 18, '4.4': 10, '8.4': 10, '6.1': 9, '4.7': 9, '4.10': 9, '4.11': 9, '4.13': 9, '16.3': 8, '16.2': 6, '8.1': 6, '8.2': 6, '8.3': 6, '7.2': 6, '7.1': 5, '17.1': 4, '10.4': 4, '14.3': 4}, '2.4.1': {'18.3': 192, '4.3': 20, '4.2': 19, '11.1': 12, '2.12': 11, '11.3': 10, '4.4': 10, '8.4': 10, '2.4': 9, '2.11': 9, '13.5': 8, '14.3': 7, '8.2': 6, '14.5': 6, '14.4': 6, '11.6': 6, '14.1': 6, '2.5': 6, '8.3': 6, '2.1': 6, '2.3': 6, '2.6': 6, '2.7': 6, '2.8': 6, '2.9': 6, '8.1': 6, '2.2': 6, '13.1': 5, '13.4': 4, '14.2': 4, '13.2': 4, '13.3': 3, '4.5': 3, '13.6': 3}, '2.4.2': {'18.3': 192, '5.1': 19, '7.2': 12, '2.12': 11, '8.4': 10, '11.3': 10, '10.2': 10, '10.1': 9, '15.3': 9, '2.11': 9, '2.4': 9, '10.13': 8, '15.4': 8, '15.1': 7, '16.3': 7, '2.6': 6, '2.9': 6, '2.8': 6, '2.7': 6, '8.1': 6, '2.5': 6, '8.3': 6, '2.3': 6, '2.2': 6, '2.1': 6, '8.2': 6, '15.2': 6, '1.2': 4}, '2.4.3': {'18.3': 192, '8.4': 10, '15.3': 9, '15.4': 8, '8.1': 6, '8.2': 6, '8.3': 6, '15.2': 6}, '2.5.1': {'11.5': 27, '4.3': 20, '4.12': 18, '4.6': 18, '4.1': 15, '4.4': 10, '8.4': 10, '11.3': 10, '4.11': 9, '4.10': 9, '13.5': 8, '5.2': 7, '4.9': 6, '1.4': 6, '1.8': 6, '5.3': 5, '9.4': 5, '4.15': 5, '10.4': 4, '1.2': 4, '4.8': 3, '4.5': 3, '4.14': 3}, '2.5.2': {'18.3': 192, '4.3': 20, '12.6': 18, '4.6': 18, '4.12': 18, '6.4': 14, '3.2': 11, '4.4': 10, '10.10': 10, '11.3': 10, '2.11': 9, '4.10': 9, '4.11': 9, '1.6': 6, '11.4': 6, '1.3': 6, '1.7': 6, '1.8': 6, '1.10': 6, '2.2': 6, '2.6': 6, '1.9': 6, '1.4': 6, '2.8': 6, '4.9': 6, '2.4': 6, '10.7': 5, '4.15': 5, '1.1': 5, '1.5': 4, '10.4': 4, '1.2': 4, '13.4': 4, '4.5': 3, '4.8': 3, '4.14': 3, '10.5': 3}, '2.6.1': {'4.3': 20, '4.2': 19, '4.18': 19, '4.6': 18, '4.12': 18, '4.17': 16, '4.1': 15, '12.5': 12, '12.3': 12, '12.2': 12, '4.4': 10, '4.13': 9, '2.11': 9, '4.11': 9, '4.10': 9, '4.7': 9, '16.3': 8, '2.5': 6, '4.9': 6, '2.3': 6, '2.1': 6, '7.1': 5, '9.4': 5, '4.15': 5, '10.15': 4, '10.4': 4, '13.2': 4, '17.1': 4, '10.14': 4, '10.12': 4, '4.16': 4, '4.14': 3, '4.8': 3, '4.5': 3}, '2.7.1': {'18.3': 192, '6.4': 24, '6.1': 18, '8.4': 10, '4.11': 9, '4.10': 9, '16.3': 8, '8.1': 6, '8.2': 6, '8.3': 6, '16.2': 6, '2.8': 6, '2.2': 6, '2.6': 6, '5.3': 5, '6.3': 5, '17.1': 4, '1.10': 4, '6.5': 3, '6.2': 3}, '2.8.1': {'18.3': 192, '11.5': 32, '12.3': 24, '12.2': 24, '12.6': 21, '12.5': 18, '12.1': 18, '11.1': 12, '8.4': 10, '11.3': 10, '4.11': 9, '4.10': 9, '11.6': 8, '17.2': 7, '11.2': 7, '11.4': 6, '2.1': 6, '12.4': 6, '14.5': 6, '8.1': 6, '1.10': 6, '8.2': 6, '8.3': 6, '15.7': 5, '15.5': 4, '14.3': 4, '17.1': 4, '13.3': 3, '13.6': 3, '15.6': 3}, '2.8.2': {'13.5': 8, '15.4': 8, '16.2': 6, '14.5': 6, '14.4': 6, '9.3': 6, '1.10': 6, '5.3': 5, '10.4': 4, '14.3': 4, '6.3': 3}, '3.1.1': {'17.3': 13, '2.11': 9, '2.4': 9, '13.5': 8, '11.4': 6, '10.8': 6, '2.5': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.6': 3, '13.3': 3}, '3.1.2': {'18.3': 192, '11.5': 32, '12.6': 18, '17.3': 13, '11.1': 12, '6.4': 12, '10.13': 12, '10.11': 11, '11.3': 10, '10.10': 10, '10.9': 10, '10.1': 9, '10.12': 8, '13.5': 8, '10.15': 8, '10.14': 8, '11.6': 8, '11.2': 7, '10.8': 6, '11.4': 6, '10.6': 5, '10.7': 5, '10.5': 4, '10.4': 4, '10.3': 4, '6.5': 3, '1.5': 2}, '3.2.1': {'17.3': 13, '10.2': 10, '2.11': 9, '2.4': 6, '1.6': 6, '1.7': 6, '1.8': 6}, '3.2.2': {'17.3': 13, '11.3': 10, '10.2': 10, '2.11': 9, '2.4': 6, '1.6': 6, '1.7': 6, '1.8': 6}, '3.3.1': {'11.5': 27, '7.2': 12, '2.12': 11, '2.4': 9, '2.11': 9, '2.2': 6, '2.1': 6, '2.6': 6, '2.7': 6, '2.3': 6, '2.9': 6, '10.8': 6, '2.5': 6, '2.8': 6, '13.1': 5, '13.2': 3}, '3.3.2': {'11.5': 27, '2.4': 9, '2.8': 6, '14.3': 1, '11.6': 1, '11.4': 1}, '3.3.3': {'18.3': 184, '11.5': 27, '4.2': 19, '17.3': 13, '2.4': 9, '2.11': 9, '11.6': 8, '13.5': 8, '2.5': 6, '2.8': 6, '14.5': 6, '11.4': 6, '10.8': 6, '1.1': 5, '13.1': 5, '13.2': 4, '13.4': 4, '1.2': 4, '13.3': 3, '13.6': 3}, '3.3.4': {'11.5': 27, '2.12': 11, '11.3': 10, '2.11': 9, '2.4': 9, '11.6': 6, '11.4': 6, '2.1': 6, '8.1': 6, '8.2': 6, '2.9': 6, '2.8': 6, '2.2': 6, '2.3': 6, '2.7': 6, '2.6': 6, '2.5': 6, '15.7': 5, '1.10': 5, '7.1': 5, '15.5': 4, '13.2': 4, '14.5': 3, '15.6': 3, '17.1': 2, '13.3': 2}, '3.4.1': {'11.5': 32, '11.1': 12, '11.3': 10, '11.6': 8, '10.13': 8, '11.2': 7, '14.3': 7, '11.4': 6}, '3.4.2': {'18.3': 168, '11.3': 10, '2.11': 9, '15.3': 9, '16.3': 8, '14.5': 6, '2.4': 6, '14.4': 6, '11.6': 6, '17.1': 4, '14.3': 4, '13.2': 3}, '3.5.1': {'9.1': 27, '17.3': 13, '2.12': 11, '2.11': 9, '2.4': 9, '2.2': 6, '2.3': 6, '2.5': 6, '2.6': 6, '2.7': 6, '2.8': 6, '2.9': 6, '2.1': 6, '10.8': 6, '9.3': 6, '9.4': 5, '3.1': 5, '14.3': 4, '9.2': 4}, '3.6.1': {'11.5': 32, '4.2': 19, '4.12': 18, '4.6': 18, '11.1': 12, '11.3': 10, '4.4': 10, '2.11': 9, '4.11': 9, '4.10': 9, '4.7': 9, '4.13': 9, '11.6': 8, '13.5': 8, '11.2': 7, '15.1': 7, '2.3': 6, '10.8': 6, '11.4': 6, '2.8': 6, '2.6': 6, '2.2': 6, '14.5': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.3': 3, '1.7': 3, '1.8': 3, '13.6': 3}, '3.6.2': {'17.3': 13, '7.2': 12, '2.11': 9, '13.5': 8, '10.8': 6, '2.3': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.6': 3, '13.3': 3}, '3.7.1': {'11.5': 27, '17.3': 13, '10.13': 12, '11.3': 10, '2.4': 9, '13.5': 8, '2.5': 6, '10.8': 6, '11.4': 6, '13.1': 5, '13.2': 4, '13.4': 4, '13.3': 3, '13.6': 3}, '3.7.2': {'18.3': 192, '11.5': 32, '6.4': 24, '4.3': 20, '4.2': 19, '11.1': 12, '2.12': 11, '4.4': 10, '11.3': 10, '2.4': 9, '2.11': 9, '11.6': 8, '11.2': 7, '2.1': 6, '9.3': 6, '14.1': 6, '11.4': 6, '2.9': 6, '2.2': 6, '2.3': 6, '2.5': 6, '2.6': 6, '2.7': 6, '2.8': 6, '6.3': 5, '4.5': 3}, '3.8.1': {'9.1': 27, '17.3': 13, '3.2': 11, '10.2': 10, '15.3': 9, '15.4': 8, '14.4': 6, '14.5': 6, '1.7': 6, '1.6': 6, '1.8': 6, '9.3': 6, '15.2': 6, '9.4': 5, '3.1': 5, '10.4': 4, '9.2': 4, '1.5': 2}, '3.8.2': {'9.1': 27, '6.4': 24, '15.3': 9, '15.4': 8, '16.3': 8, '9.3': 6, '14.4': 6, '14.5': 6, '9.4': 5, '6.3': 5, '17.1': 4, '9.2': 4, '4.16': 4, '6.2': 3}, '3.9.1': {'2.11': 9, '2.4': 9, '10.8': 6, '2.8': 6, '15.7': 5, '15.5': 4, '15.6': 3, '1.10': 3, '14.5': 3, '13.3': 2}, '3.10.1': {'18.3': 192, '4.12': 18, '2.12': 11, '11.3': 10, '4.13': 9, '2.4': 9, '15.3': 9, '2.11': 9, '13.5': 8, '10.13': 8, '15.4': 8, '15.1': 7, '14.3': 7, '1.6': 6, '2.2': 6, '1.4': 6, '2.1': 6, '1.7': 6, '1.8': 6, '1.10': 6, '14.5': 6, '14.4': 6, '1.9': 6, '15.2': 6, '14.1': 6, '9.3': 6, '2.3': 6, '2.5': 6, '2.6': 6, '2.8': 6, '2.9': 6, '2.7': 6, '1.3': 6, '13.1': 5, '15.7': 5, '1.1': 5, '4.15': 5, '14.2': 4, '15.5': 4, '13.2': 4, '1.2': 4, '1.5': 4, '13.4': 4, '13.3': 3, '4.14': 3, '13.6': 3, '15.6': 3}, '3.10.2': {'11.5': 32, '4.2': 19, '10.13': 12, '11.1': 12, '10.11': 11, '10.2': 10, '11.3': 10, '10.10': 10, '10.9': 10, '10.1': 9, '11.6': 8, '10.15': 8, '10.14': 8, '10.12': 8, '13.5': 8, '11.2': 7, '14.3': 7, '14.4': 6, '14.5': 6, '7.2': 6, '10.8': 6, '14.1': 6, '11.4': 6, '7.1': 5, '10.6': 5, '10.7': 5, '13.1': 5, '14.2': 4, '13.2': 4, '10.3': 4, '10.4': 4, '13.4': 4, '10.5': 4, '13.3': 3, '13.6': 3}, '3.11.1': {'11.5': 32, '4.17': 16, '6.4': 12, '7.2': 12, '11.1': 12, '2.12': 11, '11.3': 10, '2.11': 9, '15.3': 9, '2.4': 9, '11.6': 8, '13.5': 8, '15.4': 8, '11.2': 7, '15.2': 6, '2.7': 6, '11.4': 6, '2.9': 6, '2.8': 6, '2.1': 6, '2.2': 6, '2.3': 6, '2.5': 6, '2.6': 6, '4.16': 4, '9.3': 4, '9.2': 4}, '3.12.1': {'4.2': 19, '4.6': 18, '4.12': 18, '6.4': 14, '8.4': 10, '4.4': 10, '4.11': 9, '4.7': 9, '4.13': 9, '4.10': 9, '10.12': 8, '11.6': 8, '15.1': 7, '14.3': 7, '16.1': 6, '1.8': 6, '14.5': 6, '3.1': 5, '1.10': 4, '13.6': 3}, '4.1.1': {'12.6': 18, '11.3': 10, '10.9': 10, '10.10': 10, '2.11': 9, '2.4': 9, '13.5': 8, '2.3': 6, '2.5': 6, '10.8': 6, '11.4': 6, '10.7': 5, '13.1': 5, '10.6': 5, '10.5': 4, '13.2': 4, '10.3': 4, '13.4': 4, '10.4': 4, '13.6': 3, '13.3': 3}, '4.2.1': {'11.5': 32, '11.1': 12, '11.3': 10, '2.4': 9, '2.11': 9, '13.5': 8, '11.6': 8, '11.2': 7, '2.3': 6, '2.5': 6, '10.8': 6, '11.4': 6, '13.1': 5, '13.2': 4, '13.4': 4, '13.6': 3, '13.3': 3}, '4.2.2': {'12.6': 18, '12.3': 12, '12.2': 12, '11.1': 12, '12.5': 12, '10.13': 12, '10.11': 11, '10.10': 10, '10.2': 10, '10.9': 10, '11.3': 10, '2.11': 9, '10.1': 9, '10.12': 8, '10.14': 8, '10.15': 8, '2.1': 6, '10.8': 6, '10.6': 5, '10.7': 5, '10.4': 4, '10.5': 4, '10.3': 4, '13.2': 4, '13.3': 3}, '4.3.1': {'12.2': 24, '12.3': 24, '12.6': 21, '12.1': 18, '12.5': 18, '7.2': 12, '10.13': 12, '10.11': 11, '11.3': 10, '8.4': 10, '10.2': 10, '10.9': 10, '10.10': 10, '10.1': 9, '2.11': 9, '10.14': 8, '10.12': 8, '10.15': 8, '12.4': 6, '1.8': 6, '10.8': 6, '2.4': 6, '3.1': 5, '10.7': 5, '10.6': 5, '13.4': 4, '14.3': 4, '10.5': 4, '10.4': 4, '10.3': 4, '13.3': 3}, '4.4.1': {'18.3': 192, '9.1': 27, '11.1': 12, '2.11': 9, '1.3': 6, '1.4': 6, '10.8': 6, '1.6': 6, '1.7': 6, '1.8': 6, '1.9': 6, '1.10': 6, '9.3': 6, '1.1': 5, '9.4': 5, '13.4': 4, '9.2': 4, '1.2': 4, '1.5': 4}, '4.5.1': {'18.3': 192, '12.6': 21, '11.5': 21, '4.12': 18, '4.6': 18, '6.1': 13, '4.4': 10, '4.7': 9, '4.10': 9, '4.11': 9, '4.13': 9, '2.11': 9, '2.4': 8, '10.2': 8, '10.1': 8, '15.1': 7, '14.3': 7, '2.3': 6, '1.3': 6, '14.1': 6, '9.3': 6, '2.2': 6, '14.5': 6, '14.4': 6, '11.6': 6, '1.10': 6, '1.6': 5, '7.1': 5, '13.2': 4, '2.7': 4, '14.2': 4, '10.15': 4, '10.14': 4, '2.9': 4, '2.8': 4, '2.6': 4, '15.5': 4, '1.9': 4, '2.5': 4, '1.8': 4, '1.7': 4, '15.6': 3, '10.5': 3, '10.3': 3, '13.3': 3}, '4.6.1': {'12.6': 18, '4.6': 18, '4.12': 18, '7.2': 12, '2.12': 11, '10.2': 10, '10.10': 10, '4.4': 10, '2.11': 9, '4.7': 9, '4.10': 9, '4.11': 9, '4.13': 9, '2.4': 9, '14.3': 7, '2.5': 6, '1.10': 6, '2.9': 6, '2.8': 6, '10.8': 6, '2.6': 6, '2.2': 6, '2.1': 6, '2.7': 6, '2.3': 6, '11.4': 6, '13.1': 5, '10.7': 5, '10.3': 4, '14.1': 4, '10.4': 4, '13.2': 4, '1.8': 3, '1.7': 3, '10.5': 3, '1.5': 2}, '4.7.1': {'18.3': 192, '12.3': 24, '12.2': 24, '12.6': 21, '4.2': 19, '12.5': 18, '12.1': 18, '10.13': 12, '10.11': 11, '10.9': 10, '10.10': 10, '2.11': 9, '10.12': 8, '10.15': 8, '11.6': 8, '10.14': 8, '12.4': 6, '14.5': 6, '10.8': 6, '2.5': 6, '2.4': 6, '1.3': 6, '1.4': 6, '1.6': 6, '1.7': 6, '1.8': 6, '1.9': 6, '1.10': 6, '11.4': 6, '2.3': 6, '1.1': 5, '10.7': 5, '10.6': 5, '1.2': 4, '1.5': 4, '10.3': 4, '10.4': 4, '10.5': 4, '13.4': 4, '13.2': 3, '13.6': 3}, '4.8.1': {'11.5': 32, '12.3': 24, '12.2': 24, '12.6': 21, '12.5': 18, '12.1': 18, '11.1': 12, '10.13': 12, '10.11': 11, '10.9': 10, '10.2': 10, '11.3': 10, '10.10': 10, '10.1': 9, '15.3': 9, '2.11': 9, '13.5': 8, '10.12': 8, '10.14': 8, '10.15': 8, '11.6': 8, '15.4': 8, '16.3': 8, '11.2': 7, '2.3': 6, '9.3': 6, '11.4': 6, '12.4': 6, '14.5': 6, '10.8': 6, '14.4': 6, '16.2': 6, '2.5': 6, '10.7': 5, '10.6': 5, '10.3': 4, '10.5': 4, '10.4': 4, '15.1': 4}, '4.9.1': {'12.6': 21, '11.5': 20, '11.1': 12, '12.5': 12, '12.3': 12, '12.2': 12, '10.13': 12, '10.11': 11, '11.3': 10, '10.10': 10, '10.9': 10, '10.2': 10, '10.1': 9, '2.11': 9, '10.12': 8, '10.15': 8, '10.14': 8, '13.5': 8, '14.3': 7, '14.5': 6, '7.2': 6, '2.1': 6, '14.1': 6, '10.8': 6, '14.4': 6, '10.6': 5, '13.1': 5, '10.7': 5, '7.1': 5, '10.5': 4, '10.4': 4, '10.3': 4, '13.2': 4, '14.2': 4, '13.4': 4, '13.6': 3, '13.3': 3}, '4.10.1': {'11.5': 32, '12.6': 18, '12.5': 12, '12.3': 12, '10.13': 12, '11.1': 12, '12.2': 12, '10.11': 11, '11.3': 10, '10.9': 10, '10.10': 10, '10.2': 10, '2.11': 9, '10.1': 9, '13.5': 8, '10.15': 8, '10.14': 8, '11.6': 8, '10.12': 8, '11.2': 7, '2.3': 6, '10.8': 6, '2.5': 6, '2.1': 6, '11.4': 6, '10.7': 5, '10.6': 5, '13.2': 4, '10.3': 4, '10.4': 4, '10.5': 4}, '5.1.1': {'11.5': 17, '8.4': 10, '2.4': 9, '2.11': 9, '13.5': 8, '14.3': 7, '15.1': 7, '1.8': 6, '2.8': 6, '2.6': 6, '2.2': 6, '14.4': 6, '14.1': 6, '2.3': 6, '11.6': 6, '2.5': 6, '11.4': 6, '14.5': 6, '13.1': 5, '13.2': 4, '13.4': 4, '14.2': 4, '1.7': 3, '13.6': 3, '13.3': 3}, '5.2.1': {'12.3': 16, '12.2': 16, '12.5': 14, '7.2': 12, '12.1': 10, '2.11': 9, '13.5': 8, '10.11': 7, '14.3': 7, '2.1': 6, '10.8': 6, '11.4': 6, '10.12': 5, '13.1': 5, '15.7': 5, '15.5': 4, '10.15': 4, '10.14': 4, '13.2': 4, '13.4': 4, '1.8': 3, '1.7': 3, '15.6': 3, '14.5': 3, '13.3': 3, '13.6': 3, '1.10': 3}, '5.2.2': {'7.2': 12, '2.11': 9, '2.4': 9, '13.5': 8, '2.8': 6, '2.3': 6, '10.8': 6, '10.11': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.6': 3, '13.3': 3}, '5.3.1': {'11.5': 32, '11.1': 12, '11.3': 10, '2.11': 9, '2.4': 9, '11.6': 8, '13.5': 8, '11.2': 7, '2.3': 6, '2.5': 6, '14.3': 6, '11.4': 6, '10.8': 6, '8.4': 5, '13.1': 5, '13.4': 4, '13.2': 4, '8.3': 3, '6.5': 3, '13.3': 3, '13.6': 3}, '5.3.2': {'7.2': 12, '2.11': 9, '13.5': 8, '10.11': 6, '10.8': 6, '2.3': 6, '13.1': 5, '13.4': 4, '13.2': 4, '13.3': 3, '13.6': 3}, '5.4.1': {'11.5': 32, '7.2': 12, '11.1': 12, '11.3': 10, '2.11': 9, '11.6': 8, '11.2': 7, '11.4': 6, '2.3': 6, '10.8': 6, '2.5': 6, '13.1': 5, '1.10': 4, '13.2': 3, '6.5': 3}, '5.5.1': {'18.3': 192, '11.5': 17, '6.4': 14, '12.2': 12, '12.3': 12, '12.5': 12, '11.3': 10, '2.11': 9, '13.5': 8, '14.3': 6, '11.6': 6, '2.1': 6, '1.3': 6, '13.1': 5, '13.2': 4, '10.15': 4, '10.14': 4, '10.12': 4, '13.4': 4, '13.3': 3, '13.6': 3, '9.2': 2}, '5.5.2': {'11.1': 12, '13.5': 8, '15.7': 5, '13.1': 5, '13.2': 4, '13.4': 4, '15.5': 4, '13.3': 3, '13.6': 3, '14.1': 3, '15.6': 3, '1.10': 3, '14.5': 3}, '5.6.1': {'11.5': 32, '11.1': 12, '11.3': 10, '2.11': 9, '13.5': 8, '11.6': 8, '15.1': 7, '11.2': 7, '10.8': 6, '11.4': 6, '2.6': 6, '2.2': 6, '2.3': 6, '2.5': 6, '2.8': 6, '13.1': 5, '13.2': 4, '13.4': 4, '13.6': 3, '13.3': 3}, '5.6.2': {'18.3': 192, '11.5': 32, '10.13': 12, '12.3': 12, '12.2': 12, '11.1': 12, '12.5': 12, '10.11': 11, '10.10': 10, '10.2': 10, '11.3': 10, '10.9': 10, '2.11': 9, '10.1': 9, '10.14': 8, '10.15': 8, '10.12': 8, '11.6': 8, '13.5': 8, '11.2': 7, '1.8': 6, '1.9': 6, '1.10': 6, '2.4': 6, '2.3': 6, '2.5': 6, '2.1': 6, '1.6': 6, '1.7': 6, '1.3': 6, '10.8': 6, '9.3': 6, '11.4': 6, '1.4': 6, '10.6': 5, '10.7': 5, '1.1': 5, '13.1': 5, '13.2': 4, '10.5': 4, '10.4': 4, '10.3': 4, '1.5': 4, '13.4': 4, '1.2': 4, '13.3': 3, '13.6': 3}, '5.7.1': {'18.3': 192, '4.1': 15, '2.12': 11, '8.4': 10, '2.11': 9, '2.4': 9, '13.5': 8, '2.1': 6, '2.7': 6, '2.3': 6, '2.9': 6, '2.8': 6, '11.6': 6, '2.6': 6, '8.1': 6, '8.2': 6, '8.3': 6, '2.2': 6, '2.5': 6, '13.1': 5, '13.2': 4, '13.4': 4, '13.3': 3, '13.6': 3}, '5.8.1': {'11.5': 32, '9.1': 27, '6.4': 24, '11.1': 12, '11.3': 10, '2.4': 9, '2.11': 9, '11.6': 8, '16.3': 7, '11.2': 7, '2.8': 6, '11.4': 6, '2.3': 6, '9.3': 6, '2.5': 6, '6.3': 5, '9.4': 5, '9.2': 4, '1.6': 3}, '5.9.1': {'12.2': 24, '12.3': 24, '12.6': 21, '12.5': 18, '12.1': 18, '11.3': 10, '2.11': 9, '10.13': 8, '13.5': 8, '10.11': 8, '2.1': 7, '15.1': 7, '17.2': 7, '2.5': 6, '12.4': 6, '7.2': 6, '2.3': 6, '10.14': 5, '13.1': 5, '10.15': 5, '13.4': 4, '13.2': 4, '10.12': 4, '13.6': 3, '13.3': 3}, '6.1.1': {'11.5': 32, '11.1': 12, '2.12': 11, '11.3': 10, '15.3': 9, '2.4': 9, '2.11': 9, '15.4': 8, '11.6': 8, '15.1': 7, '11.2': 7, '11.4': 6, '2.9': 6, '2.8': 6, '2.7': 6, '2.6': 6, '2.5': 6, '2.3': 6, '2.2': 6, '2.1': 6, '14.5': 6, '14.4': 6, '13.1': 5}, '6.2.1': {'11.5': 32, '11.1': 12, '2.12': 11, '10.9': 10, '11.3': 10, '10.10': 10, '2.4': 9, '15.3': 9, '2.11': 9, '15.4': 8, '11.6': 8, '11.2': 7, '2.5': 6, '14.4': 6, '14.5': 6, '11.4': 6, '2.3': 6, '2.1': 6, '2.2': 6, '2.9': 6, '2.8': 6, '2.7': 6, '2.6': 6, '15.1': 4}, '6.3.1': {'11.1': 12, '11.3': 10, '15.3': 9, '5.2': 7, '11.2': 7, '14.5': 6, '14.4': 6, '1.7': 3, '1.8': 3}, '6.3.2': {'12.6': 21, '4.12': 10, '4.6': 10, '4.3': 10, '15.3': 9, '15.2': 6, '1.3': 6, '14.5': 6, '14.4': 6, '1.10': 5, '10.10': 5, '10.3': 3, '10.5': 3, '1.5': 2}, '6.4.1': {'15.3': 9, '16.3': 8, '15.1': 7, '2.8': 6, '2.6': 6, '14.4': 6, '14.5': 6, '2.2': 6, '16.2': 6, '3.1': 5, '14.3': 4}, '6.4.2': {'15.3': 9, '15.4': 8, '14.4': 6, '14.5': 6, '15.7': 5, '15.1': 4, '15.5': 4, '10.4': 4, '13.2': 3, '1.6': 3, '15.6': 3, '1.10': 3, '13.3': 2}, '6.5.1': {'8.4': 10, '10.13': 10, '11.3': 10, '15.3': 9, '10.12': 8, '13.5': 8, '10.15': 8, '14.3': 7, '14.4': 6, '14.5': 6, '8.1': 6, '14.1': 6, '8.3': 6, '8.2': 6, '13.1': 5, '13.4': 4, '13.2': 4, '14.2': 4, '13.3': 3, '13.6': 3}, '6.6.1': {'18.3': 192, '4.12': 18, '4.6': 18, '3.2': 11, '8.4': 10, '11.3': 10, '4.4': 10, '4.13': 9, '4.7': 9, '4.10': 9, '4.11': 9, '15.3': 9, '15.1': 7, '8.3': 6, '14.5': 6, '2.2': 6, '14.4': 6, '8.2': 6, '8.1': 6, '2.6': 6, '2.8': 6, '3.1': 5, '14.3': 4}, '6.7.1': {'18.3': 192, '6.4': 14, '12.2': 12, '12.5': 12, '12.3': 12, '15.3': 9, '13.5': 8, '14.3': 7, '2.1': 6, '14.1': 6, '14.4': 6, '11.6': 6, '14.5': 6, '13.1': 5, '10.15': 4, '13.4': 4, '14.2': 4, '10.14': 4, '13.2': 4, '10.12': 4, '13.6': 3, '13.3': 3}, '6.8.1': {'11.5': 20, '6.4': 14, '17.3': 13, '11.3': 10, '15.3': 9, '13.5': 8, '17.2': 7, '14.3': 7, '14.5'

In [51]:
len(tab_result)

179

In [52]:
table_id_rm

{'1.1.1': {'6.3': 2, '17.2': 2, '11.5': 2, '1.2': 1, '17.3': 1},
 '1.2.1': {'17.2': 2, '14.1': 2, '9.2': 1},
 '1.2.2': {'11.5': 14,
  '6.1': 6,
  '10.2': 3,
  '10.1': 3,
  '10.15': 2,
  '10.14': 2,
  '15.3': 2,
  '10.11': 2,
  '17.2': 2,
  '2.1': 1,
  '10.6': 1,
  '10.7': 1,
  '1.4': 1,
  '5.1': 1,
  '14.1': 1,
  '9.2': 1},
 '1.3.1': {'18.3': 48,
  '11.5': 12,
  '6.1': 6,
  '10.2': 3,
  '10.1': 3,
  '14.3': 3,
  '10.14': 2,
  '10.15': 2,
  '10.11': 2,
  '1.4': 1,
  '10.6': 1,
  '10.7': 1,
  '14.1': 1},
 '1.4.1': {'4.1': 3, '14.3': 2, '6.4': 2, '14.2': 1, '9.4': 1, '9.1': 1},
 '1.5.1': {'18.3': 48,
  '9.1': 8,
  '11.5': 7,
  '6.1': 3,
  '11.6': 3,
  '4.18': 3,
  '6.4': 2,
  '8.4': 2,
  '13.1': 1,
  '13.4': 1,
  '15.5': 1,
  '15.7': 1,
  '16.2': 1,
  '16.3': 1,
  '5.1': 1,
  '4.3': 1,
  '15.4': 1},
 '1.6.1': {'18.3': 24,
  '12.1': 6,
  '11.5': 6,
  '10.13': 4,
  '8.3': 2,
  '5.4': 2,
  '10.11': 2,
  '4.18': 2,
  '4.1': 1,
  '6.3': 1,
  '9.2': 1,
  '4.3': 1,
  '15.2': 1},
 '2.1.1': {'16.2': 1,
  '9.3': 1,
  '11.6': 1,
  '4.17': 1,
  '4.12': 1,
  '4.6': 1,
  '4.3': 1,
  '4.18': 1},
 '2.1.2': {'11.5': 6,
  '4.6': 3,
  '4.3': 3,
  '5.4': 3,
  '15.3': 2,
  '4.12': 1,
  '5.3': 1},
 '2.2.1': {'18.3': 48,
  '4.18': 4,
  '6.1': 3,
  '16.2': 2,
  '8.4': 2,
  '6.4': 2,
  '17.2': 2,
  '15.7': 1,
  '15.5': 1,
  '9.1': 1,
  '4.3': 1,
  '5.1': 1,
  '5.2': 1,
  '5.4': 1},
 '2.2.2': {'18.3': 48,
  '4.18': 4,
  '6.1': 3,
  '6.4': 2,
  '11.1': 2,
  '8.4': 2,
  '16.2': 2,
  '15.5': 1,
  '15.7': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '4.3': 1,
  '5.4': 1},
 '2.3.1': {'17.3': 1, '14.1': 1, '11.6': 1, '5.4': 1},
 '2.3.2': {'14.1': 2, '6.3': 2, '4.1': 1},
 '2.4.1': {'4.1': 5, '4.18': 1},
 '2.4.2': {'4.2': 3, '14.3': 2, '14.2': 1, '5.4': 1, '4.1': 1},
 '2.4.3': {'14.3': 2, '4.1': 1, '14.2': 1},
 '2.5.1': {'18.3': 48,
  '4.2': 6,
  '16.1': 3,
  '8.3': 2,
  '10.14': 2,
  '9.1': 2,
  '14.5': 2,
  '11.4': 2,
  '16.2': 1,
  '15.3': 1,
  '17.2': 1,
  '10.10': 1,
  '10.9': 1,
  '5.1': 1,
  '15.1': 1},
 '2.5.2': {'4.2': 6, '5.1': 3, '14.5': 2, '15.3': 1, '11.6': 1},
 '2.6.1': {'12.1': 6, '10.13': 4, '10.11': 2, '16.2': 1, '5.1': 1},
 '2.7.1': {'4.6': 2, '4.12': 1, '4.3': 1, '4.7': 1, '4.9': 1, '4.1': 1},
 '2.8.1': {'4.7': 1,
  '4.9': 1,
  '4.6': 1,
  '6.3': 1,
  '16.3': 1,
  '14.1': 1,
  '4.1': 1},
 '2.8.2': {'11.5': 11,
  '4.18': 4,
  '6.4': 4,
  '15.3': 2,
  '14.1': 2,
  '1.5': 1,
  '4.3': 1,
  '2.1': 1,
  '5.4': 1,
  '5.2': 1,
  '4.12': 1,
  '4.6': 1},
 '3.1.1': {'11.5': 7, '4.2': 6, '14.5': 2, '5.1': 1, '15.3': 1, '11.6': 1},
 '3.1.2': {'14.1': 2, '3.1': 2, '15.1': 1, '14.2': 1, '14.3': 1, '13.4': 1},
 '3.2.1': {'11.5': 7,
  '4.2': 6,
  '14.5': 2,
  '11.6': 1,
  '5.1': 1,
  '15.3': 1,
  '11.4': 1},
 '3.2.2': {'11.5': 7,
  '4.2': 6,
  '14.5': 2,
  '11.6': 1,
  '5.1': 1,
  '11.2': 1,
  '15.3': 1,
  '11.4': 1},
 '3.3.1': {'14.1': 2, '17.2': 2},
 '3.3.2': {'14.3': 1, '11.6': 1, '11.4': 1},
 '3.3.3': {'4.18': 3,
  '6.1': 3,
  '6.4': 2,
  '11.1': 2,
  '8.4': 2,
  '5.4': 2,
  '14.2': 1,
  '5.3': 1,
  '15.5': 1,
  '8.2': 1,
  '8.1': 1,
  '16.3': 1,
  '16.2': 1,
  '15.7': 1,
  '9.1': 1,
  '5.2': 1,
  '5.1': 1,
  '4.3': 1,
  '14.3': 1,
  '1.3': 1},
 '3.3.4': {'5.4': 3,
  '6.3': 2,
  '16.3': 1,
  '14.1': 1,
  '1.5': 1,
  '4.1': 1,
  '5.3': 1},
 '3.4.1': {'6.4': 2, '14.1': 2, '9.1': 1, '13.5': 1, '5.3': 1},
 '3.4.2': {'11.5': 8,
  '1.10': 2,
  '9.2': 1,
  '10.10': 1,
  '10.9': 1,
  '17.2': 1,
  '16.2': 1,
  '13.6': 1},
 '3.5.1': {'11.5': 7, '11.6': 3, '17.2': 2, '6.3': 1, '5.4': 1},
 '3.6.1': {'18.3': 48,
  '6.1': 6,
  '9.1': 5,
  '10.2': 3,
  '5.4': 3,
  '10.1': 3,
  '14.3': 2,
  '10.14': 2,
  '10.15': 2,
  '10.11': 2,
  '17.2': 2,
  '15.3': 1,
  '14.1': 1,
  '2.1': 1,
  '5.3': 1,
  '4.1': 1,
  '1.4': 1,
  '10.7': 1,
  '10.6': 1},
 '3.6.2': {'18.3': 48,
  '11.5': 8,
  '6.1': 6,
  '10.1': 3,
  '10.2': 3,
  '14.3': 2,
  '17.2': 2,
  '10.11': 2,
  '10.14': 2,
  '10.15': 2,
  '14.1': 2,
  '2.1': 1,
  '10.6': 1,
  '10.7': 1,
  '1.4': 1},
 '3.7.1': {'11.6': 2, '5.4': 1, '5.3': 1, '11.2': 1},
 '3.7.2': {'4.1': 4,
  '4.18': 2,
  '4.12': 1,
  '4.6': 1,
  '4.17': 1,
  '13.6': 1,
  '1.5': 1},
 '3.8.1': {'11.5': 10,
  '10.10': 2,
  '10.9': 2,
  '5.4': 2,
  '14.3': 2,
  '4.17': 1,
  '11.4': 1,
  '11.6': 1,
  '4.13': 1,
  '4.7': 1,
  '4.4': 1,
  '14.2': 1,
  '16.2': 1,
  '6.3': 1,
  '4.1': 1,
  '16.3': 1},
 '3.8.2': {'6.1': 3,
  '16.2': 2,
  '1.5': 1,
  '5.1': 1,
  '11.6': 1,
  '10.10': 1,
  '10.9': 1,
  '4.1': 1},
 '3.9.1': {'18.3': 48,
  '4.18': 3,
  '6.1': 3,
  '11.1': 2,
  '8.4': 2,
  '6.4': 2,
  '6.3': 2,
  '17.2': 2,
  '4.3': 1,
  '4.14': 1,
  '5.1': 1,
  '5.2': 1,
  '14.3': 1,
  '4.1': 1,
  '9.1': 1,
  '4.5': 1,
  '13.1': 1,
  '13.4': 1,
  '16.2': 1,
  '16.3': 1,
  '4.8': 1},
 '3.10.1': {'4.1': 3, '8.4': 2, '9.4': 1},
 '3.10.2': {'1.10': 2, '4.1': 1},
 '3.11.1': {'4.2': 1},
 '3.12.1': {'5.4': 4,
  '4.18': 3,
  '8.3': 2,
  '14.1': 2,
  '6.3': 2,
  '15.3': 1,
  '4.1': 1,
  '1.5': 1,
  '10.2': 1,
  '2.1': 1,
  '9.1': 1,
  '13.2': 1,
  '13.3': 1},
 '4.1.1': {'18.3': 48,
  '9.1': 4,
  '6.1': 3,
  '4.1': 3,
  '4.18': 3,
  '11.1': 2,
  '5.2': 2,
  '6.4': 2,
  '8.4': 2,
  '5.1': 1,
  '16.3': 1,
  '16.2': 1,
  '4.3': 1,
  '15.7': 1,
  '15.5': 1,
  '14.2': 1,
  '15.1': 1},
 '4.2.1': {'18.3': 48,
  '9.1': 6,
  '4.2': 6,
  '6.1': 3,
  '4.1': 3,
  '4.18': 3,
  '14.5': 2,
  '17.2': 2,
  '8.4': 2,
  '6.4': 2,
  '4.3': 1,
  '5.1': 1,
  '15.3': 1,
  '15.5': 1,
  '15.7': 1,
  '16.2': 1,
  '16.3': 1,
  '5.2': 1},
 '4.2.2': {'9.1': 8,
  '12.1': 6,
  '11.5': 6,
  '5.4': 2,
  '17.2': 2,
  '5.2': 1,
  '11.6': 1,
  '13.6': 1},
 '4.3.1': {'2.1': 3,
  '16.1': 3,
  '5.4': 3,
  '9.1': 3,
  '11.6': 3,
  '14.1': 2,
  '8.3': 2,
  '4.1': 1,
  '14.2': 1},
 '4.4.1': {'14.1': 2, '17.2': 2},
 '4.5.1': {'4.2': 6,
  '4.1': 3,
  '4.18': 3,
  '2.1': 3,
  '7.2': 3,
  '6.4': 2,
  '1.4': 2,
  '10.7': 2,
  '10.6': 2,
  '5.4': 2,
  '16.3': 2,
  '11.1': 2,
  '8.4': 2,
  '17.3': 1,
  '17.1': 1,
  '4.3': 1,
  '5.1': 1,
  '5.2': 1,
  '13.1': 1,
  '9.1': 1,
  '13.6': 1,
  '15.3': 1,
  '13.4': 1,
  '16.2': 1,
  '1.2': 1,
  '15.7': 1},
 '4.6.1': {'18.3': 56,
  '11.5': 6,
  '4.2': 6,
  '4.18': 4,
  '9.1': 4,
  '4.1': 3,
  '6.1': 3,
  '5.4': 2,
  '8.4': 2,
  '14.5': 2,
  '6.4': 2,
  '11.1': 2,
  '17.2': 2,
  '8.1': 1,
  '13.4': 1,
  '13.6': 1,
  '8.2': 1,
  '15.5': 1,
  '5.2': 1,
  '5.1': 1,
  '15.7': 1,
  '4.3': 1,
  '16.2': 1,
  '16.3': 1,
  '15.3': 1},
 '4.7.1': {'9.1': 4,
  '4.18': 4,
  '4.1': 3,
  '6.1': 3,
  '2.1': 3,
  '8.4': 2,
  '14.1': 2,
  '6.4': 2,
  '17.2': 2,
  '11.1': 2,
  '16.3': 1,
  '15.3': 1,
  '5.2': 1,
  '5.1': 1,
  '13.1': 1,
  '4.3': 1,
  '4.11': 1,
  '15.1': 1,
  '14.2': 1,
  '15.5': 1,
  '16.2': 1,
  '15.7': 1},
 '4.8.1': {'2.1': 3,
  '6.4': 2,
  '4.6': 1,
  '4.12': 1,
  '15.2': 1,
  '4.3': 1,
  '9.4': 1,
  '14.2': 1,
  '13.4': 1,
  '9.1': 1,
  '1.5': 1},
 '4.9.1': {'12.1': 6},
 '4.10.1': {'18.3': 48,
  '12.1': 6,
  '6.4': 4,
  '4.1': 3,
  '4.18': 3,
  '6.1': 3,
  '9.1': 2,
  '5.2': 2,
  '8.4': 2,
  '14.1': 2,
  '16.3': 1,
  '16.2': 1,
  '15.7': 1,
  '15.5': 1,
  '13.4': 1,
  '5.1': 1,
  '9.2': 1,
  '4.3': 1,
  '13.1': 1,
  '1.5': 1},
 '5.1.1': {'18.3': 56,
  '9.1': 6,
  '4.2': 6,
  '5.4': 3,
  '6.1': 3,
  '4.18': 3,
  '16.1': 3,
  '6.4': 2,
  '11.1': 2,
  '8.3': 2,
  '5.3': 1,
  '5.2': 1,
  '5.1': 1,
  '4.1': 1,
  '15.7': 1,
  '16.2': 1,
  '16.3': 1,
  '15.3': 1,
  '4.3': 1,
  '8.1': 1,
  '8.2': 1,
  '15.5': 1},
 '5.2.1': {'9.1': 7,
  '12.6': 7,
  '11.5': 6,
  '10.13': 5,
  '14.1': 2,
  '17.2': 2,
  '5.4': 2,
  '6.3': 2,
  '10.9': 1,
  '11.6': 1,
  '4.1': 1,
  '10.3': 1,
  '10.4': 1,
  '10.10': 1,
  '10.5': 1},
 '5.2.2': {'18.3': 48,
  '12.2': 8,
  '11.5': 8,
  '12.3': 8,
  '9.1': 7,
  '12.6': 7,
  '12.1': 6,
  '6.1': 6,
  '12.5': 6,
  '2.1': 3,
  '10.2': 3,
  '14.3': 3,
  '10.1': 3,
  '14.1': 2,
  '10.14': 2,
  '17.2': 2,
  '10.12': 2,
  '10.13': 2,
  '10.15': 2,
  '5.4': 2,
  '10.7': 1,
  '10.6': 1,
  '11.6': 1,
  '10.10': 1,
  '1.4': 1,
  '10.9': 1,
  '10.3': 1,
  '10.4': 1,
  '10.5': 1},
 '5.3.1': {'18.3': 48,
  '6.1': 6,
  '12.6': 6,
  '10.2': 3,
  '10.1': 3,
  '17.2': 3,
  '10.11': 2,
  '5.4': 2,
  '10.14': 2,
  '10.15': 2,
  '3.1': 2,
  '6.3': 1,
  '14.1': 1,
  '1.5': 1,
  '1.4': 1,
  '2.1': 1,
  '8.2': 1,
  '10.7': 1,
  '10.6': 1,
  '8.1': 1,
  '9.2': 1},
 '5.3.2': {'18.3': 48,
  '12.3': 8,
  '12.2': 8,
  '11.5': 8,
  '12.6': 7,
  '6.1': 6,
  '12.5': 6,
  '12.1': 6,
  '10.2': 3,
  '10.1': 3,
  '2.1': 3,
  '17.2': 2,
  '10.12': 2,
  '10.13': 2,
  '10.14': 2,
  '10.15': 2,
  '14.3': 2,
  '14.1': 2,
  '10.7': 1,
  '1.4': 1,
  '10.3': 1,
  '10.6': 1,
  '10.4': 1,
  '10.5': 1,
  '10.10': 1,
  '10.9': 1},
 '5.4.1': {'5.4': 2,
  '3.1': 2,
  '14.1': 2,
  '17.2': 2,
  '1.5': 1,
  '16.3': 1,
  '16.2': 1,
  '14.3': 1,
  '5.3': 1},
 '5.5.1': {'12.1': 6,
  '10.13': 4,
  '10.11': 4,
  '7.2': 3,
  '17.2': 1,
  '14.1': 1,
  '1.5': 1},
 '5.5.2': {'5.4': 2, '6.3': 2, '14.3': 2, '4.1': 1, '10.11': 1},
 '5.6.1': {'18.3': 48,
  '6.1': 6,
  '4.2': 6,
  '9.1': 5,
  '10.2': 3,
  '10.1': 3,
  '14.3': 2,
  '10.15': 2,
  '10.14': 2,
  '10.11': 2,
  '14.5': 2,
  '17.2': 2,
  '1.4': 1,
  '15.3': 1,
  '10.6': 1,
  '10.7': 1,
  '14.1': 1,
  '2.1': 1,
  '4.1': 1},
 '5.6.2': {'12.1': 6, '17.2': 2, '14.3': 2, '14.1': 1},
 '5.7.1': {'11.5': 14,
  '6.1': 8,
  '4.18': 3,
  '10.2': 3,
  '10.1': 3,
  '11.1': 2,
  '10.15': 2,
  '10.14': 2,
  '6.4': 2,
  '14.3': 2,
  '10.11': 2,
  '9.1': 1,
  '1.5': 1,
  '15.5': 1,
  '15.7': 1,
  '16.2': 1,
  '16.3': 1,
  '1.4': 1,
  '5.2': 1,
  '5.1': 1,
  '10.6': 1,
  '10.7': 1,
  '4.3': 1,
  '14.1': 1},
 '5.8.1': {'14.3': 1, '14.2': 1, '5.2': 1, '17.3': 1, '10.9': 1, '10.10': 1},
 '5.9.1': {'18.3': 48,
  '11.5': 8,
  '6.1': 6,
  '4.2': 6,
  '9.1': 6,
  '10.1': 3,
  '10.2': 3,
  '14.5': 2,
  '14.3': 2,
  '15.3': 1,
  '4.1': 1,
  '1.4': 1,
  '11.2': 1,
  '10.7': 1,
  '14.1': 1,
  '10.6': 1},
 '6.1.1': {'4.2': 6,
  '6.4': 2,
  '8.2': 1,
  '8.1': 1,
  '13.2': 1,
  '10.9': 1,
  '4.1': 1,
  '9.3': 1,
  '9.1': 1,
  '10.10': 1,
  '1.5': 1,
  '5.4': 1},
 '6.2.1': {'6.4': 2, '4.3': 1, '9.3': 1, '16.2': 1, '9.1': 1, '1.5': 1},
 '6.3.1': {'4.2': 3,
  '11.6': 2,
  '8.2': 1,
  '13.2': 1,
  '5.3': 1,
  '8.1': 1,
  '4.1': 1,
  '10.10': 1,
  '10.9': 1,
  '9.3': 1,
  '1.5': 1,
  '5.4': 1,
  '9.1': 1},
 '6.3.2': {'18.3': 48,
  '9.1': 7,
  '4.2': 6,
  '4.18': 4,
  '6.1': 3,
  '11.1': 2,
  '8.4': 2,
  '6.4': 2,
  '16.3': 2,
  '8.1': 1,
  '5.2': 1,
  '16.2': 1,
  '13.2': 1,
  '8.2': 1,
  '13.1': 1,
  '13.4': 1,
  '15.5': 1,
  '15.7': 1,
  '10.9': 1,
  '9.3': 1,
  '5.1': 1},
 '6.4.1': {'11.5': 8,
  '4.2': 6,
  '11.6': 3,
  '5.4': 3,
  '10.10': 1,
  '4.1': 1,
  '10.9': 1,
  '9.3': 1,
  '1.5': 1},
 '6.4.2': {'18.3': 24,
  '11.5': 8,
  '12.6': 6,
  '4.1': 4,
  '6.3': 2,
  '1.5': 1,
  '9.3': 1,
  '8.1': 1,
  '10.10': 1,
  '10.9': 1,
  '8.2': 1},
 '6.5.1': {'18.3': 24,
  '11.5': 15,
  '10.14': 3,
  '6.1': 3,
  '9.3': 1,
  '10.10': 1,
  '10.9': 1,
  '1.5': 1},
 '6.6.1': {'4.2': 6,
  '5.4': 4,
  '11.6': 3,
  '9.3': 1,
  '10.9': 1,
  '16.2': 1,
  '4.1': 1,
  '10.10': 1,
  '4.3': 1,
  '1.5': 1},
 '6.7.1': {'11.5': 8,
  '4.2': 6,
  '12.1': 6,
  '10.13': 4,
  '10.11': 2,
  '4.18': 2,
  '10.9': 1,
  '9.3': 1,
  '5.4': 1,
  '1.5': 1,
  '10.10': 1},
 '6.8.1': {'18.3': 24,
  '12.6': 6,
  '4.18': 2,
  '5.4': 2,
  '10.10': 1,
  '10.9': 1,
  '9.3': 1},
 '7.1.1': {'4.1': 3, '14.3': 2, '14.2': 1, '10.10': 1, '10.9': 1, '9.4': 1},
 '7.1.2': {'6.1': 3,
  '14.3': 2,
  '10.10': 2,
  '5.2': 1,
  '14.2': 1,
  '1.5': 1,
  '9.3': 1},
 '7.2.1': {'15.2': 1, '5.1': 1},
 '7.3.1': {'11.5': 11, '5.2': 1, '15.2': 1},
 '7.4.1': {'4.9': 1, '9.2': 1, '4.18': 1, '4.1': 1, '4.17': 1, '5.3': 1},
 '7.5.1': {'4.18': 2, '4.1': 1, '15.2': 1, '1.5': 1, '5.4': 1},
 '8.1.1': {'9.1': 5, '4.18': 2, '16.2': 1, '1.5': 1, '5.4': 1, '4.1': 1},
 '8.2.1': {'9.1': 5,
  '4.18': 2,
  '1.10': 2,
  '16.2': 1,
  '1.5': 1,
  '5.4': 1,
  '4.1': 1},
 '8.3.1': {'16.1': 3,
  '6.3': 2,
  '14.1': 2,
  '8.3': 2,
  '5.1': 1,
  '16.3': 1,
  '17.1': 1},
 '8.4.1': {'6.3': 2, '4.12': 1, '4.1': 1, '4.6': 1},
 '8.5.1': {'12.1': 6,
  '10.13': 4,
  '4.18': 4,
  '10.6': 2,
  '10.7': 2,
  '10.11': 2,
  '17.2': 2,
  '1.4': 2,
  '14.1': 2,
  '14.3': 1},
 '8.5.2': {'6.3': 2},
 '8.6.1': {'2.1': 3, '17.2': 2, '6.3': 2, '14.1': 2, '16.3': 1, '17.1': 1},
 '8.7.1': {'4.18': 5, '14.1': 2, '17.2': 2, '6.3': 1},
 '8.8.1': {'16.1': 3, '6.3': 2, '8.3': 2, '14.1': 2, '4.1': 1},
 '8.8.2': {'18.3': 24,
  '11.5': 8,
  '15.7': 2,
  '14.2': 1,
  '15.3': 1,
  '1.4': 1,
  '4.1': 1,
  '8.1': 1,
  '8.2': 1,
  '9.2': 1},
 '8.9.1': {'18.3': 24,
  '1.10': 2,
  '3.1': 2,
  '11.6': 2,
  '16.2': 1,
  '4.18': 1,
  '5.4': 1,
  '1.5': 1},
 '8.10.1': {'4.1': 4,
  '6.4': 2,
  '17.2': 2,
  '9.4': 1,
  '10.10': 1,
  '10.9': 1,
  '16.3': 1,
  '16.2': 1,
  '14.3': 1,
  '11.2': 1},
 '8.10.2': {'18.3': 48, '10.14': 2, '9.1': 2, '6.4': 2, '17.2': 2, '9.4': 1},
 '8.11.1': {'10.13': 4, '10.11': 2, '14.1': 2, '6.3': 2, '9.2': 1, '13.6': 1},
 '9.1.1': {'4.2': 7,
  '10.1': 3,
  '10.2': 3,
  '7.2': 3,
  '1.6': 2,
  '1.9': 2,
  '1.8': 2,
  '1.7': 2,
  '5.1': 1,
  '17.3': 1,
  '15.3': 1},
 '9.1.2': {'4.1': 3,
  '11.5': 3,
  '4.18': 2,
  '6.4': 2,
  '5.4': 2,
  '6.3': 1,
  '6.5': 1,
  '1.5': 1,
  '10.10': 1,
  '10.9': 1,
  '4.17': 1},
 '9.2.2': {'14.1': 2, '16.2': 1, '16.3': 1, '17.1': 1},
 '9.3.1': {'18.3': 32,
  '4.18': 2,
  '4.12': 1,
  '14.1': 1,
  '16.3': 1,
  '4.6': 1,
  '5.1': 1,
  '1.5': 1,
  '5.4': 1},
 '9.3.2': {'18.3': 32, '14.1': 1, '4.12': 1, '4.6': 1, '16.3': 1},
 '9.4.1': {'4.18': 2,
  '1.5': 1,
  '5.4': 1,
  '15.4': 1,
  '4.1': 1,
  '17.3': 1,
  '11.6': 1,
  '15.2': 1},
 '9.5.1': {'1.10': 2, '10.13': 2, '16.2': 1},
 '9.5.2': {'11.5': 6, '4.2': 6, '5.4': 3, '14.5': 2, '15.3': 1, '4.1': 1},
 '9.6.1': {'17.2': 2},
 '9.7.1': {'4.18': 2, '16.3': 1, '5.4': 1, '4.1': 1, '1.5': 1},
 '9.8.1': {'9.1': 4,
  '4.1': 4,
  '6.1': 3,
  '9.3': 2,
  '4.18': 1,
  '10.10': 1,
  '10.9': 1,
  '5.2': 1,
  '17.3': 1},
 '10.1.1': {'18.3': 48,
  '9.1': 6,
  '4.18': 3,
  '6.1': 3,
  '4.1': 2,
  '8.4': 2,
  '16.3': 2,
  '14.5': 2,
  '11.1': 2,
  '14.3': 2,
  '6.4': 2,
  '16.2': 1,
  '15.7': 1,
  '13.4': 1,
  '15.5': 1,
  '14.2': 1,
  '13.1': 1,
  '5.1': 1,
  '4.3': 1,
  '17.1': 1,
  '5.2': 1},
 '10.2.1': {'18.3': 48,
  '6.1': 3,
  '4.18': 3,
  '8.4': 2,
  '6.4': 2,
  '5.1': 2,
  '17.2': 2,
  '16.3': 2,
  '14.3': 2,
  '14.1': 2,
  '11.1': 2,
  '15.5': 1,
  '16.2': 1,
  '15.7': 1,
  '2.1': 1,
  '13.4': 1,
  '9.1': 1,
  '14.2': 1,
  '4.1': 1,
  '4.3': 1,
  '17.1': 1,
  '5.2': 1},
 '10.3.1': {'11.5': 8,
  '9.1': 3,
  '14.1': 2,
  '6.3': 2,
  '10.10': 1,
  '4.7': 1,
  '4.13': 1,
  '4.4': 1,
  '10.9': 1,
  '4.17': 1},
 '10.4.1': {'11.5': 6, '6.3': 2, '14.1': 2, '16.3': 1, '17.1': 1},
 '11.1.1': {'10.1': 3,
  '10.2': 3,
  '8.4': 2,
  '1.9': 2,
  '1.8': 2,
  '1.7': 2,
  '1.6': 2,
  '9.3': 2,
  '17.3': 1,
  '5.1': 1,
  '1.2': 1},
 '11.2.1': {'10.13': 4,
  '4.1': 3,
  '14.1': 2,
  '17.2': 2,
  '11.2': 1,
  '14.3': 1,
  '6.3': 1},
 '11.3.1': {'16.2': 1, '4.18': 1, '5.4': 1},
 '11.3.2': {'10.1': 3,
  '10.2': 3,
  '2.4': 3,
  '2.9': 2,
  '2.8': 2,
  '2.7': 2,
  '2.6': 2,
  '2.5': 2,
  '2.3': 2,
  '1.9': 2,
  '1.8': 2,
  '1.7': 2,
  '9.3': 2,
  '1.6': 2,
  '17.3': 1,
  '13.6': 1,
  '1.2': 1},
 '11.4.1': {'11.5': 8,
  '10.13': 4,
  '7.2': 3,
  '10.11': 2,
  '8.1': 1,
  '1.5': 1,
  '16.2': 1,
  '13.6': 1,
  '4.3': 1},
 '11.5.1': {'18.3': 48,
  '9.1': 8,
  '11.5': 7,
  '6.1': 3,
  '11.6': 3,
  '4.18': 3,
  '6.4': 2,
  '8.4': 2,
  '13.1': 1,
  '13.4': 1,
  '15.5': 1,
  '15.7': 1,
  '16.2': 1,
  '16.3': 1,
  '5.1': 1,
  '4.3': 1,
  '15.4': 1},
 '11.6.1': {'18.3': 24,
  '4.2': 6,
  '11.5': 6,
  '14.3': 3,
  '15.3': 3,
  '2.4': 3,
  '10.1': 3,
  '10.2': 3,
  '1.6': 2,
  '14.5': 2,
  '1.7': 2,
  '1.8': 2,
  '1.9': 2,
  '2.5': 2,
  '2.6': 2,
  '2.3': 2,
  '2.9': 2,
  '2.8': 2,
  '2.7': 2,
  '8.1': 1,
  '8.2': 1,
  '1.2': 1,
  '9.1': 1,
  '2.1': 1,
  '17.3': 1,
  '4.1': 1,
  '13.2': 1},
 '11.6.2': {'9.1': 6,
  '10.13': 4,
  '5.4': 2,
  '15.7': 2,
  '10.11': 2,
  '5.3': 2,
  '9.3': 1,
  '16.2': 1,
  '10.9': 1,
  '1.2': 1,
  '1.5': 1,
  '4.17': 1,
  '14.3': 1,
  '4.1': 1,
  '4.16': 1,
  '16.3': 1},
 '11.7.1': {'4.1': 4,
  '10.13': 4,
  '17.2': 2,
  '9.1': 1,
  '14.3': 1,
  '11.2': 1,
  '1.2': 1,
  '4.18': 1},
 '11.7.2': {'18.3': 48,
  '11.5': 13,
  '6.1': 6,
  '10.2': 3,
  '10.1': 3,
  '5.4': 3,
  '9.1': 3,
  '11.6': 3,
  '10.11': 2,
  '10.14': 2,
  '10.15': 2,
  '1.4': 1,
  '10.6': 1,
  '10.7': 1,
  '2.1': 1},
 '11.8.1': {'11.5': 11,
  '10.2': 3,
  '10.1': 3,
  '7.2': 3,
  '4.18': 2,
  '1.9': 2,
  '1.8': 2,
  '1.7': 2,
  '1.6': 2,
  '17.3': 1,
  '1.2': 1},
 '11.9.1': {'12.6': 6,
  '14.1': 2,
  '4.18': 2,
  '1.2': 1,
  '11.6': 1,
  '16.2': 1,
  '4.3': 1,
  '1.5': 1},
 '11.10.1': {'11.5': 8, '9.1': 4, '15.2': 1},
 '12.1.1': {'4.2': 9,
  '5.4': 3,
  '6.3': 2,
  '2.1': 1,
  '9.1': 1,
  '16.2': 1,
  '13.3': 1,
  '14.1': 1},
 '12.2.1': {'11.5': 6,
  '4.18': 2,
  '15.3': 2,
  '4.6': 1,
  '4.1': 1,
  '5.4': 1,
  '5.3': 1,
  '5.1': 1,
  '16.3': 1,
  '4.12': 1,
  '1.5': 1,
  '4.3': 1},
 '12.3.1': {'12.1': 6,
  '11.5': 6,
  '10.13': 4,
  '6.1': 3,
  '10.11': 2,
  '4.18': 2,
  '6.4': 2,
  '6.3': 1,
  '4.1': 1,
  '9.1': 1,
  '10.10': 1,
  '10.9': 1,
  '9.3': 1,
  '13.6': 1,
  '15.2': 1},
 '12.3.2': {'9.1': 4,
  '6.1': 3,
  '6.4': 2,
  '5.4': 2,
  '11.2': 2,
  '11.6': 2,
  '4.1': 1,
  '5.3': 1,
  '10.9': 1,
  '9.3': 1,
  '1.5': 1,
  '10.10': 1},
 '12.4.1': {'12.1': 6,
  '10.13': 4,
  '6.4': 4,
  '5.4': 4,
  '5.3': 2,
  '4.15': 2,
  '10.11': 2,
  '8.4': 2,
  '9.1': 1,
  '4.14': 1,
  '4.12': 1,
  '4.3': 1,
  '4.1': 1,
  '17.2': 1,
  '16.2': 1},
 '12.5.1': {'9.4': 1, '9.1': 1, '16.3': 1},
 '12.6.1': {'11.5': 11, '12.1': 6, '4.18': 2, '11.2': 1, '9.1': 1},
 '12.7.1': {'18.3': 48, '9.1': 1},
 '12.8.1': {'18.3': 40,
  '6.4': 10,
  '4.2': 6,
  '11.5': 3,
  '4.1': 3,
  '6.1': 3,
  '4.3': 2,
  '4.15': 2,
  '4.9': 2,
  '14.5': 2,
  '14.1': 2,
  '4.6': 2,
  '4.12': 2,
  '15.3': 1,
  '11.6': 1,
  '9.4': 1,
  '13.6': 1,
  '16.3': 1,
  '16.2': 1,
  '10.10': 1,
  '10.9': 1,
  '4.17': 1,
  '4.11': 1,
  '14.2': 1},
 '12.9.1': {'18.3': 24,
  '14.3': 3,
  '1.10': 2,
  '10.9': 1,
  '10.10': 1,
  '4.17': 1},
 '13.1.1': {'18.3': 48,
  '9.1': 8,
  '11.5': 7,
  '6.1': 3,
  '11.6': 3,
  '4.18': 3,
  '6.4': 2,
  '8.4': 2,
  '13.1': 1,
  '13.4': 1,
  '15.5': 1,
  '15.7': 1,
  '16.2': 1,
  '16.3': 1,
  '5.1': 1,
  '4.3': 1,
  '15.4': 1},
 '13.2.1': {'18.3': 24,
  '11.5': 11,
  '12.1': 6,
  '10.13': 4,
  '10.11': 2,
  '4.18': 2,
  '17.2': 1},
 '13.3.1': {'18.3': 48,
  '17.3': 6,
  '11.6': 3,
  '5.4': 3,
  '10.14': 2,
  '1.5': 1,
  '9.1': 1,
  '4.1': 1},
 '14.1.1': {'4.18': 1, '4.10': 1, '15.4': 1},
 '14.2.1': {'11.5': 15, '4.18': 1, '15.3': 1, '4.10': 1, '15.4': 1},
 '14.2.2': {'16.1': 3,
  '6.3': 2,
  '8.3': 2,
  '1.4': 2,
  '15.4': 1,
  '4.18': 1,
  '4.10': 1},
 '14.3.1': {'4.18': 1},
 '14.4.1': {'4.1': 5, '1.5': 1, '4.18': 1, '13.6': 1, '9.4': 1, '11.4': 1},
 '14.4.2': {'4.1': 6,
  '15.3': 3,
  '4.18': 2,
  '4.6': 2,
  '4.12': 2,
  '14.5': 2,
  '16.3': 1,
  '16.2': 1,
  '4.10': 1,
  '4.17': 1,
  '5.1': 1,
  '4.11': 1},
 '14.5.1': {'5.1': 4,
  '4.3': 3,
  '4.6': 2,
  '4.12': 2,
  '4.11': 1,
  '4.17': 1,
  '11.4': 1,
  '16.2': 1},
 '14.6.1': {'15.3': 2, '6.4': 2, '5.4': 2, '9.1': 1, '13.6': 1},
 '14.7.1': {'4.3': 3,
  '4.12': 2,
  '4.6': 2,
  '11.4': 1,
  '4.18': 1,
  '4.17': 1,
  '4.11': 1,
  '16.3': 1,
  '16.2': 1,
  '4.1': 1},
 '14.7.2': {'16.3': 1, '4.1': 1, '4.12': 1, '4.6': 1, '4.3': 1, '4.18': 1},
 '14.8.1': {'12.1': 6, '10.13': 4, '7.2': 3, '10.11': 2, '13.6': 1, '17.2': 1},
 '14.9.1': {'12.1': 6,
  '10.13': 4,
  '7.2': 3,
  '4.18': 3,
  '10.11': 2,
  '6.4': 2,
  '4.3': 2,
  '4.1': 1,
  '1.5': 1,
  '17.2': 1,
  '9.1': 1,
  '4.4': 1,
  '4.12': 1},
 '14.10.1': {'11.5': 8,
  '10.13': 4,
  '9.1': 1,
  '11.2': 1,
  '4.4': 1,
  '4.13': 1,
  '4.1': 1,
  '4.12': 1},
 '14.11.1': {'18.3': 24, '12.1': 6, '10.13': 4, '10.11': 2},
 '14.12.1': {'16.3': 1, '4.1': 1, '4.12': 1, '4.6': 1, '4.3': 1, '4.18': 1},
 '15.1.1': {'18.3': 24,
  '11.5': 13,
  '17.2': 2,
  '5.4': 2,
  '14.1': 2,
  '4.3': 1,
  '11.6': 1,

In [53]:
sum_ind=0
# Iterate over the outer dictionary
for key, inner_dict in table_id_rm.items():
    # Iterate over the inner dictionary
    for k, value in inner_dict.items():
        if k not in tab_result[key]:
            # Add the value to the result
            sum_ind += value

print(sum_ind)

5457

In [54]:
# List to store indices to remove
indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in filter_df.iterrows():
    if row['top_n_indicator_id'] in table_id_rm:
        inner_dict = table_id_rm[row['top_n_indicator_id']]
        if row['Table_id'] in inner_dict:
            if row['Table_id'] not in tab_result[row['top_n_indicator_id']]:
                # Add index to remove list
                indices_to_remove.append(index)
            
indices_to_remove

[85,
 86,
 124,
 125,
 194,
 195,
 196,
 197,
 423,
 492,
 501,
 502,
 507,
 547,
 581,
 582,
 583,
 584,
 591,
 607,
 608,
 609,
 619,
 620,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 834,
 835,
 836,
 837,
 838,
 839,
 952,
 1076,
 1077,
 1101,
 1102,
 1103,
 1104,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1197,
 1198,
 1199,
 1200,
 1278,
 1279,
 1280,
 1385,
 1386,
 1387,
 1643,
 1644,
 1645,
 1646,
 1691,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1712,
 1713,
 1714,
 1715,
 1716,
 1718,
 1719,
 1720,
 1721,
 1722,
 1732,
 1733,
 1737,
 1738,
 1739,
 1740,
 1743,
 1744,
 1745,
 1746,
 1747,
 1748,
 1749,
 1750,
 1751,
 1752,
 1753,
 1754,
 1755,
 1756,
 1757,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1764,
 1765,
 1766,
 1767,
 1768,
 1769,
 1770,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1782,
 1783,
 1784,
 1785,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1821,
 1822,
 1823,
 1824,
 1825,
 1826,
 1828,
 1835,
 1836,
 1837,
 1855,
 1856,
 1861,
 1862,
 1863,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2041,
 2042,
 2043,
 2044,
 2045,
 2046,
 2057,
 2068,
 2080,
 2081,
 2082,
 2083,
 2196,
 2208,
 2214,
 2294,
 2295,
 2296,
 2324,
 2325,
 2326,
 2367,
 2368,
 2369,
 2370,
 2371,
 2372,
 2399,
 2400,
 2401,
 2402,
 2403,
 2404,
 2405,
 2571,
 2572,
 2573,
 2574,
 2575,
 2576,
 2577,
 2578,
 2579,
 2580,
 2581,
 2582,
 2588,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599,
 2601,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2615,
 2616,
 2617,
 2618,
 2619,
 2620,
 2621,
 2622,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2630,
 2631,
 2632,
 2633,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2641,
 2642,
 2643,
 2644,
 2645,
 2646,
 2647,
 2648,
 2688,
 2689,
 2771,
 2772,
 2773,
 2774,
 2775,
 2776,
 2777,
 2778,
 2779,
 2780,
 2786,
 2791,
 2792,
 2793,
 2794,
 2795,
 2796,
 2797,
 2798,
 2799,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2808,
 2809,
 2810,
 2811,
 2812,
 2813,
 2814,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2829,
 2830,
 2831,
 2832,
 2833,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2840,
 2841,
 2842,
 2843,
 2844,
 2845,
 2846,
 2847,
 2848,
 2888,
 2889,
 2979,
 2980,
 2988,
 3382,
 3383,
 3384,
 3385,
 3386,
 3484,
 4005,
 4006,
 4007,
 4008,
 4009,
 4062,
 4175,
 4176,
 4177,
 4178,
 4179,
 4441,
 4442,
 4443,
 4589,
 4618,
 4619,
 4620,
 4940,
 4941,
 4942,
 4962,
 4966,
 4967,
 4968,
 4969,
 4983,
 5012,
 5013,
 5014,
 5015,
 5016,
 5017,
 5028,
 5036,
 5037,
 5038,
 5039,
 5040,
 5041,
 5042,
 5043,
 5044,
 5045,
 5046,
 5047,
 5048,
 5049,
 5050,
 5051,
 5052,
 5053,
 5054,
 5055,
 5056,
 5057,
 5058,
 5059,
 5060,
 5061,
 5062,
 5063,
 5064,
 5065,
 5066,
 5067,
 5068,
 5069,
 5070,
 5071,
 5072,
 5073,
 5074,
 5075,
 5076,
 5077,
 5078,
 5079,
 5080,
 5081,
 5082,
 5083,
 5084,
 5085,
 5086,
 5092,
 5105,
 5106,
 5117,
 5118,
 5119,
 5120,
 5231,
 5232,
 5233,
 5275,
 5576,
 5577,
 5578,
 5579,
 5580,
 5581,
 5582,
 5583,
 5584,
 5803,
 5804,
 5809,
 5810,
 5811,
 5812,
 5827,
 5828,
 5829,
 5830,
 5831,
 5832,
 5873,
 5874,
 5939,
 6160,
 6161,
 6170,
 6171,
 6172,
 6205,
 6260,
 6481,
 6482,
 6483,
 6498,
 6500,
 6512,
 6748,
 6749,
 6750,
 6751,
 6752,
 6753,
 6754,
 6757,
 6758,
 6760,
 6761,
 6770,
 6771,
 6773,
 6774,
 6781,
 6804,
 6805,
 6806,
 6807,
 6808,
 6809,
 6818,
 6819,
 6820,
 6821,
 6822,
 6823,
 6826,
 6827,
 6834,
 6848,
 6849,
 6850,
 6851,
 6852,
 6853,
 6854,
 6855,
 6871,
 6872,
 6873,
 6913,
 6914,
 6915,
 6916,
 6917,
 6918,
 7026,
 7027,
 7036,
 7038,
 7039,
 7083,
 7084,
 7085,
 7363,
 7377,
 7378,
 7379,
 7380,
 7381,
 7382,
 7383,
 7384,
 7391,
 7392,
 7393,
 7403,
 7404,
 7405,
 7406,
 7407,
 7408,
 7437,
 7438,
 7452,
 7453,
 7454,
 7455,
 7456,
 7457,
 7458,
 7459,
 7466,
 7467,
 7468,
 7478,
 7487,
 7488,
 7489,
 7490,
 7491,
 7492,
 7521,
 7627,
 7628,
 7629,
 7630,
 7718,
 7721,
 7722,
 7751,
 7752,
 7753,
 7754,
 7755,
 7756,
 7757,
 7758,
 7759,
 7760,
 7761,
 7762,
 7763,
 7764,
 7765,
 7766,
 7769,
 7770,
 7771,
 7772,
 7849,
 7850,
 7853,
 7854,
 8065,
 8147,
 8148,
 8172,
 8173,
 8177,
 8190,
 8191,
 8192,
 8194,
 8195,
 8247,
 8248,
 8249,
 8332,
 8333,
 8334,
 8335,
 8344,
 8349,
 8362,
 8363,
 8364,
 8365,
 8366,
 8375,
 8376,
 8586,
 8587,
 8588,
 8589,
 8590,
 8591,
 8598,
 8681,
 8692,
 8693,
 8694,
 8695,
 8696,
 8697,
 8698,
 8699,
 8700,
 8701,
 8725,
 8726,
 8731,
 8780,
 8781,
 8788,
 8880,
 8881,
 8882,
 8883,
 8884,
 8885,
 8886,
 8887,
 8891,
 8892,
 8907,
 8912,
 8913,
 8914,
 8915,
 8916,
 8917,
 8918,
 8919,
 8920,
 8921,
 8922,
 8923,
 8924,
 8925,
 8926,
 8927,
 8928,
 8929,
 8930,
 8931,
 8932,
 8933,
 8934,
 8935,
 8936,
 8937,
 8938,
 8939,
 8940,
 8941,
 8942,
 8943,
 8944,
 8945,
 8946,
 8947,
 8948,
 8949,
 8950,
 8951,
 8952,
 8953,
 8954,
 8955,
 8956,
 8957,
 8958,
 8959,
 8960,
 8961,
 8962,
 8963,
 8964,
 8965,
 8966,
 8967,
 8968,
 8969,
 8970,
 8971,
 8972,
 8973,
 8974,
 8975,
 8976,
 8977,
 8984,
 8985,
 8986,
 8987,
 8988,
 9007,
 9131,
 9144,
 9163,
 9164,
 9165,
 9166,
 9180,
 9181,
 9182,
 9183,
 9190,
 9191,
 9192,
 9193,
 9194,
 9195,
 9196,
 9197,
 9198,
 9199,
 9200,
 9201,
 9202,
 9203,
 9204,
 9205,
 9206,
 9207,
 9208,
 9209,
 9210,
 9211,
 9212,
 9213,
 9214,
 9215,
 9216,
 9217,
 9218,
 9219,
 9220,
 9221,
 9222,
 9223,
 9224,
 9225,
 9226,
 9227,
 9228,
 9229,
 9230,
 9231,
 9232,
 9233,
 9234,
 9235,
 9236,
 9237,
 9238,
 9239,
 9240,
 9241,
 9242,
 9243,
 9244,
 9245,
 9246,
 9247,
 9248,
 9249,
 9250,
 9251,
 9252,
 9253,
 9254,
 9255,
 9256,
 9257,
 9258,
 9259,
 9260,
 9261,
 9262,
 9263,
 9264,
 9332,
 9360,
 9369,
 9370,
 9385,
 9538,
 9539,
 9548,
 9549,
 9580,
 9581,
 9582,
 9583,
 9636,
 9832,
 9833,
 9834,
 9835,
 9836,
 9860,
 9863,
 9864,
 9870,
 9888,
 9889,
 9890,
 9891,
 9892,
 9893,
 9894,
 9895,
 9896,
 9897,
 9898,
 9899,
 9941,
 9942,
 9943,
 9944,
 9945,
 9946,
 9979,
 9980,
 9981,
 10002,
 10007,
 10008,
 10009,
 10013,
 10014,
 10036,
 10037,
 10069,
 10070,
 10072,
 10150,
 10151,
 ...]

In [55]:
len(indices_to_remove)

5457

In [56]:
# Remove rows using indices from indices_to_remove list
filter_df.drop(indices_to_remove, inplace=True)

filter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,Tentative Indicators,top_n_goal_id,top_n_target_id,top_n_indicator_id
0,120.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
1,121.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
2,122.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Total,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
3,123.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
4,124.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
48562,671.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,No.of Pvt. Hospitals Including Nursing Homes C...,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48563,672.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos.,Primary Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48564,673.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Beds,Primary Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48565,674.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos.,Community Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48566,675.0,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Beds,Community Health Centres","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2

In [57]:
filter_df.to_csv(absolute_path_tab_filter, sep=';', index=False)

In [58]:
tab_count_att = filter_df['top_n_indicator_id'].value_counts().to_dict()

In [59]:
filter_df_copy = filter_df.copy()

In [60]:
def filter_dataframe(df, n, chap_list):
    result_df = df.copy() # Initialize an empty DataFrame to store the filtered rows
    
    # Loop over each unique 'Target_id'
    for target_id, group in df.groupby('top_n_target_id'):
        num_rows = len(group)  # Count the number of rows for this 'Target_id'
        
        # Check if the number of rows is greater than the threshold 'n'
        if num_rows > n:
            idx_list = []
            drop_list = []
            for chap in chap_list:
                # Find the indices corresponding to chapters "2" and "3" for this 'Target_id'
                idx_chapter = group[group['Chapter_id'] == chap].index
                idx_list.append(idx_chapter)
                
            for item in idx_list:
                if len(item)>1:
                    total_rows_to_drop = item[len(item)//2:]
                    drop_list.append(total_rows_to_drop)
            
            for i in drop_list:
                if len(i)>0:
                    result_df = result_df.drop(i)
    result_df.reset_index(inplace = True, drop = True)
    return result_df

In [61]:
chap_ll = ['2', '4', '10', '12', '18']
# Filter the DataFrame using the function
final_map = filter_dataframe(filter_df_copy, 350, chap_ll)

In [62]:
final_map.to_csv(absolute_path_final_map, sep=';', index=False)

In [63]:
chapter_df = filter_df.copy()

In [64]:
# Initialize an empty dictionary to store the counts
chap_result = {}
chap_id_rm = {}

# Iterate over unique values in col1
for val in chapter_df['top_n_indicator_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = chapter_df[chapter_df['top_n_indicator_id'] == val]
    chap_list = []
    for tab in filtered_df['Table_id'].unique():
        chap_filter = filtered_df[filtered_df['Table_id'] == tab]
        
        # Count the occurrences of each value in col2 and store in a dictionary
        chap_counts = chap_filter['Chapter_id'].unique().tolist()
        
        chap_list.extend(chap_counts)
    chap_dict = pd.Series(chap_list).value_counts().to_dict()
    chap_id_rm[val] = {key:value for key, value in chap_dict.items() if value < (table_map[key]/2)}
    chap_dict_new = {key:value for key, value in chap_dict.items() if key not in chap_id_rm[val]}
    if(len(chap_dict_new) <= 1):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(chap_dict.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_4_dict = dict(list(sorted_dict.items())[:4])
        chap_result[val] = top_4_dict
 
    else:
        # Add the col2 counts dictionary to the result dictionary
        chap_result[val] = chap_dict_new

print(chap_result)

{'1.1.1': {'2': 11, '1': 5, '14': 5, '7': 2, '18': 1}, '1.2.1': {'2': 11, '7': 1}, '1.2.2': {'13': 6, '11': 3, '18': 1}, '1.3.1': {'2': 11, '12': 7, '13': 6}, '1.4.1': {'2': 11, '1': 10, '11': 6, '15': 4, '18': 1}, '1.5.1': {'11': 3, '17': 1, '5': 1, '1': 1}, '1.6.1': {'13': 6, '14': 5, '12': 4, '16': 3, '7': 2, '8': 2}, '2.1.1': {'2': 11, '1': 3, '11': 1, '17': 1}, '2.1.2': {'2': 11, '3': 2}, '2.2.1': {'11': 6, '13': 6, '14': 5}, '2.2.2': {'13': 6, '14': 5}, '2.3.1': {'4': 18, '8': 4, '18': 1, '7': 1}, '2.3.2': {'8': 4, '7': 2, '16': 2, '18': 1}, '2.4.1': {'2': 11, '13': 6, '14': 5, '8': 4, '11': 3, '18': 1}, '2.4.2': {'2': 11, '8': 4, '15': 4, '18': 1, '7': 1}, '2.4.3': {'8': 4, '18': 1}, '2.5.1': {'4': 12, '5': 2}, '2.5.2': {'4': 11, '1': 10, '3': 1, '18': 1}, '2.6.1': {'4': 18, '12': 4, '7': 1}, '2.7.1': {'6': 5, '8': 4, '16': 2, '18': 1}, '2.8.1': {'12': 7, '11': 6, '8': 4, '17': 2, '18': 1}, '2.8.2': {'14': 3, '1': 1, '10': 1, '5': 1}, '3.1.1': {'13': 6, '2': 3, '17': 1, '10': 1}, '3.1.2': {'10': 14, '11': 6, '18': 1}, '3.2.1': {'1': 3, '2': 2, '17': 1, '10': 1}, '3.2.2': {'1': 3, '2': 2, '17': 1, '11': 1}, '3.3.1': {'2': 11, '7': 1}, '3.3.2': {'11': 3, '2': 2, '14': 1}, '3.3.3': {'13': 6, '11': 3, '18': 1}, '3.3.4': {'2': 11, '11': 4, '8': 2, '7': 1}, '3.4.1': {'11': 6, '14': 1, '10': 1}, '3.4.2': {'14': 3, '18': 1}, '3.5.1': {'2': 11, '9': 4, '3': 1}, '3.6.1': {'11': 6, '13': 6}, '3.6.2': {'13': 6, '7': 1}, '3.7.1': {'13': 6, '11': 3}, '3.7.2': {'2': 11, '11': 6, '18': 1}, '3.8.1': {'9': 4, '3': 2}, '3.8.2': {'9': 4, '6': 3}, '3.9.1': {'2': 3, '15': 3, '1': 1, '10': 1}, '3.10.1': {'2': 11, '1': 10, '15': 7, '13': 6, '14': 5, '18': 1}, '3.10.2': {'10': 15, '11': 6, '13': 6, '14': 5, '7': 2}, '3.11.1': {'2': 11, '11': 6, '9': 2, '7': 1}, '3.12.1': {'4': 8, '14': 2, '1': 2, '11': 1}, '4.1.1': {'10': 8, '13': 6}, '4.2.1': {'11': 6, '13': 6}, '4.2.2': {'10': 15, '12': 5}, '4.3.1': {'10': 15, '12': 6, '3': 1, '7': 1}, '4.4.1': {'1': 10, '9': 4, '18': 1}, '4.5.1': {'2': 9, '1': 6, '14': 5, '18': 1, '7': 1}, '4.6.1': {'2': 11, '7': 1}, '4.7.1': {'10': 13, '1': 10, '12': 6, '13': 3, '18': 1}, '4.8.1': {'10': 15, '12': 6, '11': 6, '16': 2}, '4.9.1': {'10': 15, '13': 6, '12': 5, '14': 5, '11': 3, '7': 2}, '4.10.1': {'10': 15, '11': 6, '12': 5}, '5.1.1': {'2': 7, '13': 6, '14': 5, '11': 3}, '5.2.1': {'13': 6, '12': 5, '7': 1}, '5.2.2': {'13': 6, '7': 1}, '5.3.1': {'13': 6, '11': 6, '8': 2}, '5.3.2': {'13': 6, '7': 1}, '5.4.1': {'11': 6, '7': 1}, '5.5.1': {'13': 6, '12': 4, '11': 3, '18': 1}, '5.5.2': {'13': 6, '15': 3, '14': 2, '1': 1}, '5.6.1': {'11': 6, '13': 6, '2': 6}, '5.6.2': {'10': 15, '1': 10, '11': 6, '13': 6, '12': 4, '18': 1}, '5.7.1': {'2': 11, '13': 6, '8': 4, '18': 1}, '5.8.1': {'11': 6, '9': 4}, '5.9.1': {'12': 7, '13': 6, '7': 1}, '6.1.1': {'2': 11, '11': 6}, '6.2.1': {'2': 11, '11': 6}, '6.3.1': {'11': 3, '14': 2, '1': 2, '5': 1}, '6.3.2': {'1': 3, '10': 3, '4': 3, '14': 2}, '6.4.1': {'14': 3, '16': 2, '3': 1}, '6.4.2': {'15': 6, '14': 2, '13': 2, '1': 2}, '6.5.1': {'13': 6, '14': 5, '8': 4}, '6.6.1': {'8': 4, '14': 3, '3': 2, '18': 1}, '6.7.1': {'13': 6, '14': 5, '12': 4, '18': 1}, '6.8.1': {'13': 6, '14': 5, '15': 4, '11': 3, '17': 2}, '7.1.1': {'1': 10, '16': 2, '18': 1}, '7.1.2': {'10': 5, '15': 3, '14': 2, '11': 1}, '7.2.1': {'16': 3, '10': 3, '2': 1, '17': 1}, '7.3.1': {'8': 4, '16': 3, '7': 1}, '7.4.1': {'7': 2, '3': 1, '18': 1}, '7.5.1': {'6': 5, '16': 3}, '8.1.1': {'13': 6, '14': 5, '3': 2, '7': 1}, '8.2.1': {'13': 6, '14': 5, '3': 2, '7': 1}, '8.3.1': {'4': 18, '7': 2}, '8.4.1': {'13': 6, '14': 5, '8': 4, '7': 2, '16': 2, '18': 1}, '8.5.1': {'12': 4, '7': 1, '18': 1}, '8.5.2': {'2': 5, '1': 3, '13': 2, '14': 2}, '8.6.1': {'10': 15, '12': 6, '7': 2}, '8.7.1': {'13': 6, '7': 1}, '8.8.1': {'11': 6, '10': 5, '2': 4, '1': 2}, '8.8.2': {'12': 7, '2': 6, '13': 5, '14': 3, '8': 2, '3': 2, '7': 1}, '8.9.1': {'13': 6, '6': 5, '14': 5, '7': 1}, '8.10.1': {'7': 2, '8': 2}, '8.10.2': {'11': 6, '7': 2, '8': 2}, '8.11.1': {'12': 7, '17': 2, '16': 2}, '9.1.1': {'2': 11, '14': 5, '9': 2, '7': 1, '3': 1}, '9.1.2': {'9': 4, '3': 2, '18': 1}, '9.2.2': {'6': 5, '7': 2}, '9.3.1': {'6': 5, '2': 1, '1': 1, '10': 1}, '9.3.2': {'6': 5, '8': 4, '7': 2}, '9.4.1': {'8': 4, '16': 3, '18': 1}, '9.5.1': {'13': 6, '14': 5, '7': 1}, '9.5.2': {'2': 11, '11': 3, '7': 1, '3': 1}, '9.6.1': {'13': 6, '14': 5}, '9.7.1': {'6': 5, '18': 1}, '9.8.1': {'2': 11, '11': 6, '18': 1}, '10.1.1': {'2': 11, '15': 4}, '10.2.1': {'2': 5, '15': 3, '13': 2, '10': 1}, '10.3.1': {'2': 11, '5': 4, '13': 3, '7': 1, '3': 1, '18': 1}, '10.4.1': {'12': 7, '18': 1, '7': 1}, '11.1.1': {'2': 11, '15': 7, '18': 1}, '11.2.1': {'2': 11, '1': 10, '9': 4, '13': 3, '7': 1, '18': 1}, '11.3.1': {'2': 11, '13': 6, '14': 5, '18': 1}, '11.3.2': {'8': 3, '11': 3, '13': 3, '18': 1}, '11.4.1': {'12': 7, '18': 1}, '11.5.1': {'11': 3, '17': 1, '5': 1, '1': 1}, '11.6.1': {'10': 2, '15': 2, '1': 1, '2': 1}, '11.6.2': {'2': 11, '10': 8, '12': 7, '15': 4, '3': 2, '7': 1}, '11.7.1': {'2': 11, '13': 3, '7': 1, '18': 1}, '11.7.2': {'13': 6, '3': 2, '7': 1}, '11.8.1': {'2': 11, '13': 6, '14': 5, '7': 1, '18': 1}, '11.9.1': {'13': 3, '11': 3, '7': 1, '18': 1}, '11.10.1': {'15': 4, '13': 3, '16': 3, '7': 2, '8': 2, '18': 1}, '12.1.1': {'1': 10, '16': 2, '18': 1, '3': 1, '7': 1}, '12.2.1': {'6': 5, '2': 4, '13': 2, '10': 2}, '12.3.1': {'1': 10, '12': 4, '16': 3, '14': 3, '18': 1}, '12.3.2': {'11': 2, '16': 2, '15': 2, '14': 2}, '12.4.1': {'1': 10, '12': 4, '11': 3, '7': 1, '18': 1}, '12.5.1': {'1': 10, '13': 6, '11': 6, '6': 5, '14': 5, '8': 4, '7': 1, '18': 1}, '12.6.1': {'13': 6, '14': 5, '12': 4, '7': 1}, '12.7.1': {'10': 15, '13': 6, '14': 5}, '12.8.1': {'10': 3, '17': 1, '1': 1, '13': 1}, '12.9.1': {'6': 5, '9': 4, '7': 2, '16': 2, '3': 2}, '13.1.1': {'11': 3, '17': 1, '5': 1, '1': 1}, '13.2.1': {'13': 6, '14': 5, '12': 5}, '13.3.1': {'10': 5, '2': 3, '5': 1, '11': 1}, '14.1.1': {'2': 11, '18': 1}, '14.2.1': {'2': 11, '13': 6, '14': 5, '8': 4, '18': 1}, '14.2.2': {'2': 11, '18': 1}, '14.3.1': {'2': 11, '18': 1}, '14.4.1': {'2': 11, '4': 10, '18': 1}, '14.4.2': {'2': 11, '9': 3, '18': 1}, '14.5.1': {'4': 2, '5': 1, '9': 1, '10': 1}, '14.6.1': {'4': 18, '1': 10, '15': 4, '13': 3, '7': 1, '18': 1}, '14.7.1': {'6': 5, '5': 4}, '14.7.2': {'6': 5, '5': 4, '18': 1}, '14.8.1': {'1': 10, '5': 4, '12': 4, '11': 3, '18': 1}, '14.9.1': {'11': 6, '13': 6, '14': 5, '8': 4, '12': 4, '18': 1}, '14.10.1': {'13': 6, '14': 5, '5': 4, '7': 1}, '14.11.1': {'4': 18, '13': 6, '14': 5, '12': 4, '7': 2}, '14.12.1': {'6': 5, '5': 4, '18': 1}, '15.1.1': {'2': 11, '7': 1}, '15.1.2': {'2': 11, '12': 7, '7': 1, '3': 1}, '15.1.3': {'2': 11, '18': 1}, '15.2.1': {'12': 7, '13': 6, '3': 2, '17': 2}, '15.2.2': {'2': 11, '13': 6, '5': 4, '7': 1}, '15.2.3': {'10': 10, '13': 6, '12': 6, '18': 1}, '15.3.1': {'12': 4, '13': 3, '7': 1}, '15.3.2': {'2': 11, '17': 2, '18': 1}, '15.4.1': {'15': 4, '7': 2, '18': 1}, '15.4.2': {'6': 2, '10': 2, '15': 2, '12': 1}, '15.5.1': {'2': 11, '12': 5, '11': 3, '7': 1}, '15.6.1': {'12': 5, '13': 3, '11': 3, '7': 2, '3': 1, '18': 1}, '15.6.2': {'2': 11, '11': 6, '7': 1, '3': 1}, '15.7.1': {'2': 11, '11': 6, '7': 1}, '15.8.1': {'13': 6, '12': 4}, '15.9.1': {'4': 4, '13': 2, '11': 2, '9': 1}, '15.9.2': {'10': 15, '1': 10, '12': 4, '13': 3, '18': 1, '7': 1}, '16.1.1': {'12': 4, '7': 1}, '16.2.1': {'12': 7, '13': 6, '11': 6, '14': 5}, '16.3.1': {'11': 6, '9': 4}, '16.4.1': {'1': 10, '13': 6, '14': 5, '9': 4, '3': 1, '18': 1}, '16.5.1': {'15': 2, '2': 2, '9': 1, '4': 1}, '17.1.1': {'13': 6, '14': 5, '12': 5, '18': 1}, '17.2.1': {'1': 10, '18': 1}, '17.2.2': {'10': 15, '12': 7, '8': 2}}

In [65]:
chap_id_rm

{'1.1.1': {'10': 3, '13': 2, '15': 2, '11': 2, '9': 1},
 '1.2.1': {'1': 3, '13': 2, '10': 1, '14': 1, '11': 1},
 '1.2.2': {'2': 4, '1': 3, '10': 1, '14': 1},
 '1.3.1': {'1': 3, '10': 2, '11': 2, '17': 1},
 '1.4.1': {'10': 2, '9': 1, '5': 1, '13': 1, '14': 1},
 '1.5.1': {'17': 1, '5': 1, '1': 1},
 '1.6.1': {'1': 3, '10': 3, '11': 1},
 '2.1.1': {'1': 3, '11': 1, '17': 1, '16': 1, '13': 1},
 '2.1.2': {'1': 3, '6': 2, '14': 2, '13': 1, '15': 1, '10': 1, '9': 1},
 '2.2.1': {'10': 4, '2': 3, '12': 1, '1': 1, '17': 1, '16': 1},
 '2.2.2': {'10': 4, '2': 2, '11': 1, '12': 1, '1': 1, '17': 1, '16': 1},
 '2.3.1': {'6': 2, '12': 2, '5': 1, '16': 1},
 '2.3.2': {'4': 7, '14': 1, '17': 1, '6': 1, '10': 1},
 '2.4.1': {'4': 4},
 '2.4.2': {'10': 3, '11': 1, '16': 1, '1': 1, '5': 1},
 '2.4.3': {'15': 3},
 '2.5.1': {'1': 3, '11': 2, '9': 1, '10': 1, '13': 1, '8': 1},
 '2.5.2': {'2': 5, '10': 4, '11': 2, '12': 1, '6': 1, '13': 1},
 '2.6.1': {'10': 4, '2': 3, '13': 1, '16': 1, '17': 1, '9': 1},
 '2.7.1': {'2': 3, '4': 2, '1': 1, '17': 1, '5': 1},
 '2.8.1': {'15': 3, '4': 2, '13': 2, '14': 2, '1': 1},
 '2.8.2': {'1': 1, '10': 1, '5': 1, '13': 1, '16': 1, '6': 1, '9': 1, '15': 1},
 '3.1.1': {'2': 3, '17': 1, '10': 1, '11': 1},
 '3.1.2': {'6': 2, '17': 1, '1': 1, '12': 1, '13': 1},
 '3.2.1': {'1': 3, '2': 2, '17': 1, '10': 1},
 '3.2.2': {'1': 3, '2': 2, '17': 1, '11': 1, '10': 1},
 '3.3.1': {'13': 2, '10': 1, '11': 1},
 '3.3.2': {'2': 2, '14': 1},
 '3.3.3': {'2': 4, '1': 2, '17': 1, '10': 1, '4': 1, '14': 1},
 '3.3.4': {'15': 3, '13': 2, '1': 1, '17': 1, '14': 1},
 '3.4.1': {'14': 1, '10': 1},
 '3.4.2': {'11': 2, '2': 2, '16': 1, '17': 1, '15': 1, '13': 1},
 '3.5.1': {'14': 1, '17': 1, '10': 1},
 '3.6.1': {'4': 8, '2': 5, '1': 2, '10': 1, '15': 1, '14': 1},
 '3.6.2': {'2': 2, '10': 1, '17': 1},
 '3.7.1': {'2': 2, '10': 2, '17': 1},
 '3.7.2': {'4': 4, '6': 2, '9': 1, '14': 1},
 '3.8.1': {'1': 4, '15': 3, '14': 2, '10': 2, '17': 1},
 '3.8.2': {'14': 2, '15': 2, '4': 1, '17': 1, '16': 1},
 '3.9.1': {'2': 3, '15': 3, '1': 1, '10': 1, '13': 1, '14': 1},
 '3.10.1': {'4': 4, '9': 1, '10': 1, '11': 1},
 '3.10.2': {'4': 1},
 '3.11.1': {'15': 3, '4': 2, '6': 1, '13': 1},
 '3.12.1': {'4': 8,
  '14': 2,
  '1': 2,
  '11': 1,
  '6': 1,
  '15': 1,
  '13': 1,
  '8': 1,
  '16': 1,
  '10': 1},
 '4.1.1': {'2': 4, '11': 2, '12': 1},
 '4.2.1': {'2': 4, '10': 1},
 '4.2.2': {'11': 2, '13': 2, '2': 1},
 '4.3.1': {'13': 2, '2': 2, '1': 1, '8': 1, '14': 1, '11': 1},
 '4.4.1': {'13': 1, '2': 1, '11': 1, '10': 1},
 '4.5.1': {'4': 7,
  '10': 6,
  '15': 3,
  '11': 2,
  '13': 2,
  '6': 1,
  '9': 1,
  '12': 1},
 '4.6.1': {'10': 7, '4': 7, '1': 4, '13': 2, '14': 2, '11': 1, '12': 1},
 '4.7.1': {'2': 4, '11': 2, '4': 1, '14': 1},
 '4.8.1': {'2': 3, '15': 3, '14': 2, '9': 1, '13': 1},
 '4.9.1': {'2': 1},
 '4.10.1': {'2': 3, '13': 2},
 '5.1.1': {'1': 2, '8': 1, '15': 1},
 '5.2.1': {'10': 5, '1': 3, '15': 3, '14': 2, '2': 1, '11': 1},
 '5.2.2': {'2': 4, '10': 2},
 '5.3.1': {'2': 4, '10': 1, '14': 1, '6': 1},
 '5.3.2': {'2': 2, '10': 2},
 '5.4.1': {'2': 3, '13': 2, '10': 1, '1': 1, '6': 1},
 '5.5.1': {'10': 3, '1': 1, '9': 1, '14': 1, '2': 1, '6': 1},
 '5.5.2': {'15': 3, '14': 2, '1': 1, '11': 1},
 '5.6.1': {'10': 1, '15': 1},
 '5.6.2': {'2': 4, '9': 1},
 '5.7.1': {'4': 1, '11': 1},
 '5.8.1': {'2': 5, '6': 2, '1': 1, '16': 1},
 '5.9.1': {'10': 5, '2': 4, '11': 1, '15': 1, '17': 1},
 '6.1.1': {'15': 3, '14': 2, '13': 1},
 '6.2.1': {'15': 3, '10': 2, '14': 2},
 '6.3.1': {'14': 2, '1': 2, '5': 1, '15': 1},
 '6.3.2': {'1': 3, '10': 3, '4': 3, '14': 2, '15': 2, '12': 1},
 '6.4.1': {'2': 3, '15': 2},
 '6.4.2': {'14': 2, '13': 2, '1': 2, '10': 1},
 '6.5.1': {'10': 3, '15': 1, '11': 1},
 '6.6.1': {'4': 7, '2': 3, '15': 2, '11': 1},
 '6.7.1': {'10': 3, '15': 1, '6': 1, '11': 1},
 '6.8.1': {'1': 2, '6': 1},
 '7.1.1': {'15': 3, '9': 1, '13': 1, '14': 1},
 '7.1.2': {'10': 5, '15': 3, '14': 2, '11': 1, '12': 1, '16': 1},
 '7.2.1': {'10': 3, '2': 1, '17': 1, '1': 1},
 '7.3.1': {'10': 4, '1': 1, '4': 1, '11': 1, '12': 1},
 '7.4.1': {'1': 2, '13': 2, '15': 1, '16': 1, '12': 1, '11': 1},
 '7.5.1': {'2': 3, '10': 2, '1': 1, '4': 1, '17': 1},
 '8.1.1': {'1': 3, '4': 1, '17': 1, '16': 1, '6': 1, '15': 1},
 '8.2.1': {'2': 2, '1': 2, '4': 1, '17': 1, '16': 1, '6': 1, '15': 1},
 '8.3.1': {'2': 4, '1': 2, '8': 1, '14': 1, '9': 1, '10': 1, '6': 1},
 '8.4.1': {'4': 2, '17': 1, '6': 1, '10': 1},
 '8.5.1': {'10': 6, '2': 5, '11': 2, '13': 2, '6': 1, '15': 1},
 '8.5.2': {'2': 5, '1': 3, '13': 2, '14': 2, '10': 1, '17': 1},
 '8.6.1': {'11': 2, '14': 1, '2': 1, '13': 1, '1': 1, '6': 1},
 '8.7.1': {'2': 4, '10': 1, '11': 1},
 '8.8.1': {'10': 5, '2': 4, '1': 2, '8': 1, '14': 1, '17': 1, '6': 1, '13': 1},
 '8.8.2': {'10': 3, '11': 2, '6': 2, '15': 2, '1': 1, '17': 1, '4': 1},
 '8.9.1': {'2': 3, '16': 1, '4': 1, '17': 1},
 '8.10.1': {'1': 4, '4': 3, '10': 3, '2': 2, '15': 2, '13': 1, '11': 1},
 '8.10.2': {'5': 1, '13': 1, '10': 1, '2': 1, '12': 1},
 '8.11.1': {'10': 3, '11': 2, '13': 2, '14': 1},
 '9.1.1': {'15': 2},
 '9.1.2': {'4': 7, '10': 4, '11': 2, '5': 1, '13': 1, '14': 1, '12': 1},
 '9.2.2': {'14': 1, '1': 1},
 '9.3.1': {'2': 1, '1': 1, '10': 1},
 '9.3.2': {'1': 3, '13': 1},
 '9.4.1': {'1': 3, '6': 2, '15': 1, '2': 1, '17': 1},
 '9.5.1': {'4': 1, '16': 1, '17': 1, '11': 1},
 '9.5.2': {'10': 2, '1': 2, '16': 1, '12': 1, '14': 1, '15': 1},
 '9.6.1': {'10': 3, '2': 2},
 '9.7.1': {'10': 3, '1': 3, '12': 1, '15': 1, '2': 1},
 '9.8.1': {'4': 4, '10': 2, '6': 2, '9': 1, '14': 1, '16': 1},
 '10.1.1': {'1': 1, '4': 1},
 '10.2.1': {'2': 5, '15': 3, '13': 2, '10': 1, '1': 1, '4': 1},
 '10.3.1': {'1': 2, '11': 1, '14': 1},
 '10.4.1': {'13': 2, '2': 1, '17': 1, '1': 1, '4': 1, '14': 1},
 '11.1.1': {'10': 2, '1': 1, '14': 1},
 '11.2.1': {'10': 5, '14': 1},
 '11.3.1': {'10': 2, '4': 1, '16': 1, '17': 1},
 '11.3.2': {'1': 1, '2': 1, '6': 1, '10': 1, '15': 1},
 '11.4.1': {'4': 7,
  '10': 3,
  '11': 2,
  '9': 1,
  '14': 1,
  '17': 1,
  '2': 1,
  '13': 1,
  '1': 1},
 '11.5.1': {'17': 1, '5': 1, '1': 1},
 '11.6.1': {'10': 2, '15': 2, '1': 1, '2': 1, '6': 1, '12': 1},
 '11.6.2': {'4': 8, '1': 3, '14': 2, '13': 1},
 '11.7.1': {'10': 5, '4': 4, '15': 3, '14': 2},
 '11.7.2': {'2': 3, '14': 2},
 '11.8.1': {'1': 1},
 '11.9.1': {'2': 4, '10': 4},
 '11.10.1': {'10': 3, '14': 2, '12': 1, '11': 1},
 '12.1.1': {'4': 5, '15': 3, '17': 1, '13': 1},
 '12.2.1': {'2': 4,
  '13': 2,
  '10': 2,
  '14': 2,
  '9': 1,
  '1': 1,
  '4': 1,
  '15': 1},
 '12.3.1': {'10': 3, '13': 2, '15': 2, '4': 1, '11': 1},
 '12.3.2': {'11': 2, '15': 2, '14': 2, '4': 1, '10': 1},
 '12.4.1': {'4': 5, '10': 3, '13': 2, '9': 1, '14': 1, '16': 1, '17': 1},
 '12.5.1': {'15': 3, '10': 2, '4': 2},
 '12.6.1': {'10': 6, '2': 3},
 '12.7.1': {'5': 1},
 '12.8.1': {'10': 3, '17': 1, '1': 1, '13': 1},
 '12.9.1': {'2': 3, '14': 2, '4': 1, '13': 1, '11': 1, '1': 1, '15': 1},
 '13.1.1': {'17': 1, '5': 1, '1': 1},
 '13.2.1': {'10': 6, '2': 3, '9': 1, '6': 1, '11': 1},
 '13.3.1': {'10': 5,
  '2': 3,
  '5': 1,
  '11': 1,
  '12': 1,
  '14': 1,
  '13': 1,
  '15': 1},
 '14.1.1': {'4': 5, '14': 1, '1': 1},
 '14.2.1': {'4': 5, '11': 1, '15': 1, '1': 1},
 '14.2.2': {'4': 5, '1': 3, '15': 3, '14': 2, '13': 1, '8': 1},
 '14.3.1': {'4': 5, '14': 1},
 '14.4.1': {'14': 1, '9': 1},
 '14.4.2': {'4': 4, '1': 3, '10': 1, '14': 1, '15': 1, '16': 1},
 '14.5.1': {'4': 2, '5': 1, '9': 1, '10': 1, '11': 1},
 '14.6.1': {'10': 2, '11': 2, '12': 1, '9': 1, '2': 1},
 '14.7.1': {'9': 1, '10': 1, '11': 1, '1': 1},
 '14.7.2': {'2': 3, '1': 1, '16': 1, '11': 1, '14': 1, '9': 1},
 '14.8.1': {'10': 3, '13': 2, '9': 1, '14': 1},
 '14.9.1': {'4': 3, '10': 3, '9': 1},
 '14.10.1': {'10': 4, '4': 2},
 '14.11.1': {'10': 3},
 '14.12.1': {'2': 3, '1': 1, '16': 1, '11': 1, '14': 1, '9': 1},
 '15.1.1': {'13': 2, '10': 1, '17': 1, '11': 1},
 '15.1.2': {'15': 3, '14': 2, '1': 1, '13': 1, '17': 1, '11': 1},
 '15.1.3': {'4': 4, '1': 2, '14': 1},
 '15.2.1': {'2': 3, '1': 3, '10': 1, '11': 1, '14': 1},
 '15.2.2': {'10': 1, '11': 1, '17': 1},
 '15.2.3': {'2': 4, '6': 1, '11': 1},
 '15.3.1': {'4': 7, '10': 3, '11': 2, '2': 2, '17': 1},
 '15.3.2': {'1': 4, '15': 3, '10': 3, '13': 1, '14': 1, '16': 1, '11': 1},
 '15.4.1': {'13': 2, '1': 1, '6': 1, '14': 1, '10': 1, '16': 1, '4': 1},
 '15.4.2': {'6': 2,
  '10': 2,
  '15': 2,
  '12': 1,
  '13': 1,
  '1': 1,
  '11': 1,
  '14': 1},
 '15.5.1': {'10': 4, '13': 2},
 '15.6.1': {'10': 7, '15': 3, '4': 1, '14': 1, '1': 1},
 '15.6.2': {'10': 4, '14': 1},
 '15.7.1': {'10': 5,
  '15': 3,
  '13': 2,
  '4': 2,
  '14': 1,
  '1': 1,
  '5': 1,
  '16': 1},
 '15.8.1': {'10': 4, '2': 3, '11': 2, '17': 1},
 '15.9.1': {'4': 4, '13': 2, '11': 2, '9': 1, '17': 1},
 '15.9.2': {'14': 2, '2': 1, '9': 1, '11': 1},
 '16.1.1': {'10': 3, '15': 2, '4': 1, '13': 1, '1': 1, '16': 1, '2': 1},
 '16.2.1': {'2': 3, '10': 3, '17': 1, '4': 1},
 '16.3.1': {'10': 5, '1': 1, '12': 1},
 '16.4.1': {'12': 1},
 '16.5.1': {'15': 2, '2': 2, '9': 1, '4': 1, '11': 1, '13': 1, '14': 1},
 '17.1.1': {'10': 7, '1': 2, '11': 1, '16': 1},
 '17.2.1': {'4': 7, '14': 1, '9': 1, '13': 1, '2': 1},
 '17.2.2': {'1': 4,
  '13': 2,
  '2': 2,
  '9': 1,
  '6': 1,
  '17': 1,
  '14': 1,
  '11': 1}}

In [66]:
missing = []

# Iterate through the data dictionary
for key, value in chap_result.items():
    # Check if the sub-dictionary is empty
    if not value:
        # Add the key to the missing list
        missing.append(key)
missing

[]

In [67]:
# List to store indices to remove
chap_indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in chapter_df.iterrows():
    if row['top_n_indicator_id'] in table_id_rm:
        inner_dict = chap_id_rm[row['top_n_indicator_id']]
        if row['Chapter_id'] in inner_dict:
            if row['top_n_indicator_id'] not in chap_result or row['Chapter_id'] not in chap_result[row['top_n_indicator_id']]:
                # Add index to remove list
                chap_indices_to_remove.append(index)

chap_indices_to_remove

[71,
 72,
 73,
 74,
 75,
 76,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 207,
 208,
 209,
 210,
 211,
 212,
 372,
 373,
 374,
 375,
 376,
 377,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 417,
 418,
 419,
 420,
 421,
 422,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 503,
 504,
 505,
 506,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 610,
 611,
 612,
 613,
 614,
 615,
 866,
 867,
 880,
 881,
 882,
 883,
 884,
 885,
 953,
 954,
 955,
 956,
 957,
 958,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1196,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1388,
 1423,
 1424,
 1425,
 1426,
 1640,
 1641,
 1642,
 1647,
 1648,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1656,
 1657,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1829,
 1830,
 1831,
 1832,
 1833,
 1834,
 1838,
 1839,
 1840,
 1841,
 1842,
 1843,
 1844,
 1845,
 1846,
 1847,
 1848,
 1849,
 1854,
 1857,
 1858,
 1859,
 1860,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 2058,
 2059,
 2060,
 2061,
 2062,
 2063,
 2064,
 2065,
 2066,
 2067,
 2197,
 2198,
 2199,
 2200,
 2201,
 2202,
 2203,
 2204,
 2209,
 2210,
 2211,
 2212,
 2213,
 2215,
 2216,
 2297,
 2298,
 2299,
 2300,
 2301,
 2302,
 2303,
 2304,
 2305,
 2306,
 2307,
 2308,
 2309,
 2310,
 2311,
 2312,
 2313,
 2314,
 2315,
 2316,
 2317,
 2318,
 2319,
 2320,
 2321,
 2322,
 2323,
 2327,
 2328,
 2329,
 2330,
 2331,
 2332,
 2333,
 2334,
 2335,
 2336,
 2337,
 2338,
 2349,
 2350,
 2351,
 2352,
 2353,
 2354,
 2355,
 2356,
 2357,
 2358,
 2359,
 2360,
 2361,
 2362,
 2363,
 2364,
 2365,
 2366,
 2373,
 2374,
 2375,
 2376,
 2377,
 2378,
 2379,
 2380,
 2381,
 2382,
 2383,
 2384,
 2385,
 2386,
 2387,
 2388,
 2395,
 2396,
 2397,
 2398,
 2406,
 2407,
 2408,
 2409,
 2410,
 2411,
 2412,
 2413,
 2414,
 2415,
 2416,
 2417,
 2424,
 2425,
 2426,
 2427,
 2428,
 2429,
 2430,
 2431,
 2432,
 2433,
 2434,
 2435,
 2436,
 2437,
 2438,
 2439,
 2440,
 2441,
 2442,
 2443,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2451,
 2452,
 2453,
 2523,
 2524,
 2525,
 2526,
 2527,
 2528,
 2529,
 2530,
 2531,
 2532,
 2533,
 2534,
 2535,
 2536,
 2537,
 2538,
 2539,
 2540,
 2541,
 2542,
 2543,
 2583,
 2584,
 2585,
 2586,
 2587,
 2589,
 2590,
 2591,
 2592,
 2600,
 2649,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 2656,
 2657,
 2658,
 2690,
 2691,
 2692,
 2693,
 2694,
 2695,
 2696,
 2697,
 2698,
 2699,
 2700,
 2701,
 2702,
 2703,
 2704,
 2705,
 2706,
 2707,
 2708,
 2709,
 2710,
 2711,
 2712,
 2713,
 2714,
 2715,
 2716,
 2717,
 2718,
 2719,
 2720,
 2721,
 2722,
 2723,
 2724,
 2725,
 2726,
 2727,
 2728,
 2729,
 2730,
 2731,
 2732,
 2733,
 2734,
 2735,
 2736,
 2737,
 2738,
 2739,
 2740,
 2741,
 2742,
 2743,
 2781,
 2782,
 2783,
 2784,
 2785,
 2787,
 2788,
 2789,
 2790,
 2800,
 2849,
 2850,
 2851,
 2852,
 2853,
 2854,
 2855,
 2856,
 2857,
 2858,
 2890,
 2946,
 2947,
 2948,
 2949,
 2950,
 2951,
 2952,
 2953,
 2954,
 2955,
 2956,
 2957,
 2958,
 2959,
 2960,
 2961,
 2962,
 2963,
 2964,
 2965,
 2966,
 2967,
 2968,
 2969,
 2970,
 2971,
 2972,
 2973,
 2974,
 2975,
 2976,
 2977,
 2978,
 2981,
 2982,
 2983,
 2984,
 2985,
 2986,
 2987,
 2989,
 2990,
 2991,
 2992,
 2993,
 2994,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3387,
 3388,
 3389,
 3390,
 3391,
 3392,
 3393,
 3394,
 3395,
 3396,
 3397,
 3398,
 3399,
 3400,
 3403,
 3404,
 3405,
 3406,
 3407,
 3408,
 3409,
 3410,
 3411,
 3412,
 3413,
 3414,
 3415,
 3416,
 3417,
 3418,
 3419,
 3420,
 3421,
 3422,
 3423,
 3424,
 3425,
 3426,
 3427,
 3428,
 3429,
 3430,
 3431,
 3432,
 3433,
 3434,
 3435,
 3436,
 3437,
 3438,
 3439,
 3440,
 3441,
 3442,
 3443,
 3444,
 3445,
 3446,
 3447,
 3448,
 3449,
 3450,
 3451,
 3452,
 3453,
 3454,
 3455,
 3456,
 3457,
 3458,
 3459,
 3460,
 3461,
 3462,
 3463,
 3464,
 3465,
 3466,
 3467,
 3468,
 3469,
 3470,
 3471,
 3472,
 3473,
 3474,
 3705,
 3715,
 3716,
 3717,
 3718,
 3719,
 3720,
 3721,
 3722,
 3723,
 3724,
 3725,
 3726,
 3732,
 3733,
 3734,
 3735,
 4010,
 4011,
 4012,
 4013,
 4014,
 4015,
 4016,
 4017,
 4018,
 4019,
 4020,
 4021,
 4022,
 4023,
 4024,
 4025,
 4026,
 4027,
 4028,
 4029,
 4030,
 4031,
 4032,
 4033,
 4034,
 4035,
 4036,
 4037,
 4038,
 4039,
 4040,
 4041,
 4042,
 4043,
 4044,
 4045,
 4046,
 4047,
 4048,
 4049,
 4050,
 4051,
 4052,
 4053,
 4054,
 4055,
 4056,
 4057,
 4058,
 4059,
 4060,
 4061,
 4208,
 4209,
 4210,
 4211,
 4212,
 4213,
 4214,
 4215,
 4216,
 4217,
 4218,
 4219,
 4220,
 4221,
 4222,
 4223,
 4224,
 4225,
 4470,
 4471,
 4472,
 4473,
 4474,
 4475,
 4476,
 4544,
 4545,
 4546,
 4547,
 4548,
 4549,
 4550,
 4551,
 4552,
 4553,
 4554,
 4555,
 4556,
 4557,
 4558,
 4559,
 4560,
 4561,
 4562,
 4563,
 4564,
 4565,
 4566,
 4567,
 4568,
 4569,
 4570,
 4571,
 4572,
 4573,
 4574,
 4575,
 4576,
 4577,
 4578,
 4579,
 4580,
 4581,
 4582,
 4583,
 4584,
 4585,
 4621,
 4622,
 4623,
 4624,
 4625,
 4626,
 4627,
 4628,
 4629,
 4630,
 4631,
 4632,
 4633,
 4634,
 4635,
 4636,
 4637,
 4638,
 4639,
 4640,
 4641,
 4642,
 4643,
 4943,
 4944,
 4945,
 4946,
 4947,
 4948,
 4949,
 4950,
 4951,
 4952,
 4953,
 4954,
 4955,
 4956,
 4957,
 4958,
 4959,
 4960,
 4961,
 4970,
 4971,
 4972,
 4973,
 4974,
 4975,
 4984,
 4985,
 4986,
 4987,
 4988,
 4989,
 4990,
 4991,
 4992,
 4993,
 4994,
 4995,
 4996,
 4997,
 4998,
 4999,
 5000,
 5001,
 5002,
 5003,
 5004,
 5005,
 5006,
 5007,
 5008,
 5009,
 5010,
 5011,
 5018,
 5019,
 5020,
 5021,
 5022,
 5023,
 5024,
 5025,
 5026,
 5027,
 5098,
 5099,
 5100,
 5101,
 5102,
 5103,
 5104,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5114,
 5115,
 5116,
 5234,
 5235,
 5236,
 5237,
 5238,
 5239,
 5240,
 5241,
 5242,
 5243,
 5244,
 5245,
 5246,
 5247,
 5248,
 5249,
 5250,
 5251,
 5252,
 5253,
 5258,
 5259,
 5260,
 5261,
 5262,
 5263,
 5264,
 5265,
 5266,
 5276,
 5277,
 5278,
 5279,
 5280,
 5281,
 5282,
 5283,
 5284,
 5285,
 5286,
 5287,
 5288,
 5289,
 5290,
 5291,
 5292,
 5293,
 5294,
 5295,
 5296,
 5297,
 5298,
 5299,
 5300,
 5301,
 5302,
 5303,
 5304,
 ...]

In [68]:
len(chap_indices_to_remove)

9144

In [69]:
# Remove rows using indices from indices_to_remove list
chapter_df.drop(chap_indices_to_remove, inplace=True)

chapter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,Targets,Tentative Indicators,top_n_goal_id,top_n_target_id,top_n_indicator_id
0,120.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
1,121.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
2,122.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Total,0-14",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
3,123.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Male,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
4,124.0,2,AREA AND POPULATION,2.11,Districtwise Population By Age Groups And Sex ...,"Female,15-59",End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",Proportion of the population below the interna...,1,1.1,1.1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
48520,632.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"No.of Institutions,Polytechnic- Government","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48521,633.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"Male,Istyear,Polytechnic- Government","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48522,634.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"Female,Istyear,Polytechnic- Government","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48523,635.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"Total,Istyear,Polytechnic- Government","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2
48524,643.0,10,Education,10.15,No.of Engineering Colleges and Students Year- ...,"Total,Ist year,Engineering- Government","Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",Inclusive Wealth Index.,17,17.2,17.2.2

In [70]:
chapter_df['top_n_indicator_id'].nunique()

179

In [71]:
chap_count_att = chapter_df['top_n_indicator_id'].value_counts().to_dict()

In [72]:
chap_count_att

{'5.6.2': 505,
 '14.6.1': 476,
 '12.5.1': 471,
 '4.7.1': 463,
 '1.4.1': 429,
 '15.9.2': 428,
 '2.8.1': 423,
 '3.10.1': 422,
 '2.3.1': 420,
 '14.4.1': 393,
 '14.9.1': 393,
 '11.2.1': 390,
 '2.4.1': 381,
 '14.8.1': 380,
 '3.1.2': 371,
 '2.5.2': 362,
 '16.4.1': 356,
 '14.2.1': 353,
 '3.7.2': 344,
 '9.8.1': 344,
 '2.4.2': 339,
 '10.3.1': 338,
 '12.4.1': 334,
 '12.3.1': 329,
 '11.3.1': 325,
 '5.7.1': 324,
 '10.4.1': 321,
 '1.1.1': 319,
 '15.6.1': 318,
 '4.8.1': 314,
 '11.1.1': 311,
 '11.4.1': 309,
 '17.1.1': 308,
 '14.11.1': 307,
 '11.8.1': 306,
 '4.5.1': 304,
 '8.4.1': 301,
 '5.5.1': 294,
 '11.7.1': 291,
 '6.7.1': 290,
 '4.4.1': 289,
 '14.12.1': 288,
 '14.7.2': 288,
 '2.7.1': 287,
 '4.9.1': 286,
 '15.3.2': 286,
 '14.4.2': 284,
 '12.1.1': 284,
 '11.10.1': 277,
 '14.1.1': 269,
 '15.1.3': 269,
 '14.3.1': 269,
 '14.2.2': 269,
 '15.2.3': 267,
 '11.9.1': 261,
 '7.1.1': 261,
 '15.4.2': 260,
 '11.3.2': 258,
 '11.6.2': 256,
 '3.10.2': 256,
 '3.3.3': 252,
 '6.6.1': 252,
 '9.1.2': 250,
 '4.10.1': 249,
 '16.2.1': 248,
 '17.2.1': 247,
 '17.2.2': 247,
 '9.7.1': 245,
 '2.3.2': 245,
 '4.3.1': 242,
 '2.6.1': 242,
 '9.4.1': 241,
 '8.6.1': 236,
 '15.4.1': 228,
 '8.8.2': 224,
 '1.2.2': 223,
 '1.3.1': 221,
 '7.4.1': 220,
 '2.4.3': 220,
 '15.1.2': 217,
 '8.3.1': 206,
 '15.5.1': 185,
 '3.4.2': 184,
 '15.2.1': 180,
 '4.2.2': 174,
 '3.11.1': 172,
 '12.7.1': 170,
 '15.7.1': 164,
 '15.6.2': 163,
 '15.2.2': 159,
 '6.1.1': 152,
 '6.2.1': 152,
 '5.9.1': 150,
 '8.5.1': 150,
 '1.6.1': 146,
 '8.8.1': 144,
 '3.3.4': 143,
 '8.11.1': 142,
 '12.9.1': 142,
 '5.6.1': 141,
 '3.12.1': 137,
 '6.8.1': 133,
 '5.1.1': 133,
 '2.5.1': 131,
 '2.2.1': 131,
 '9.1.1': 126,
 '2.1.1': 126,
 '3.5.1': 124,
 '8.9.1': 121,
 '9.5.2': 117,
 '16.3.1': 117,
 '5.8.1': 117,
 '13.2.1': 116,
 '5.3.1': 110,
 '10.1.1': 107,
 '14.10.1': 105,
 '12.6.1': 104,
 '8.10.2': 104,
 '3.6.1': 102,
 '4.2.1': 102,
 '5.2.1': 101,
 '12.2.1': 97,
 '14.7.1': 96,
 '9.3.2': 94,
 '2.1.2': 93,
 '3.4.1': 90,
 '3.3.1': 89,
 '1.2.1': 89,
 '4.6.1': 89,
 '15.1.1': 89,
 '5.4.1': 87,
 '10.2.1': 85,
 '8.2.1': 84,
 '6.5.1': 84,
 '8.1.1': 84,
 '8.5.2': 82,
 '4.1.1': 75,
 '7.1.2': 74,
 '7.5.1': 74,
 '3.8.2': 74,
 '15.9.1': 70,
 '12.3.2': 70,
 '3.7.1': 70,
 '3.1.1': 70,
 '9.3.1': 69,
 '15.8.1': 69,
 '9.5.1': 68,
 '6.3.2': 66,
 '13.3.1': 66,
 '15.3.1': 65,
 '9.2.2': 64,
 '7.3.1': 61,
 '3.8.1': 58,
 '3.2.2': 56,
 '3.2.1': 56,
 '9.6.1': 56,
 '6.4.2': 56,
 '2.2.2': 56,
 '11.7.2': 55,
 '16.1.1': 54,
 '6.3.1': 54,
 '11.5.1': 53,
 '1.5.1': 53,
 '13.1.1': 53,
 '16.5.1': 52,
 '7.2.1': 49,
 '5.5.2': 48,
 '3.9.1': 45,
 '3.3.2': 45,
 '12.8.1': 42,
 '8.7.1': 39,
 '5.2.2': 39,
 '3.6.2': 39,
 '5.3.2': 39,
 '11.6.1': 38,
 '6.4.1': 35,
 '2.8.2': 31,
 '8.10.1': 29,
 '14.5.1': 18}

In [73]:
tab_count_att

{'5.6.2': 538,
 '14.6.1': 538,
 '12.5.1': 534,
 '4.7.1': 529,
 '4.5.1': 504,
 '2.3.1': 489,
 '3.10.1': 481,
 '1.4.1': 480,
 '2.8.1': 475,
 '2.5.2': 469,
 '9.8.1': 459,
 '15.9.2': 457,
 '11.4.1': 448,
 '14.9.1': 444,
 '14.2.1': 441,
 '3.7.2': 437,
 '2.4.1': 433,
 '3.1.2': 427,
 '11.2.1': 417,
 '12.4.1': 412,
 '2.4.2': 406,
 '14.8.1': 406,
 '14.4.1': 405,
 '9.1.2': 394,
 '15.6.1': 391,
 '11.7.1': 389,
 '11.6.2': 385,
 '14.2.2': 383,
 '4.8.1': 382,
 '6.6.1': 378,
 '16.4.1': 377,
 '12.3.1': 376,
 '14.4.2': 375,
 '1.1.1': 370,
 '10.4.1': 368,
 '15.3.2': 364,
 '11.3.1': 362,
 '17.1.1': 361,
 '10.3.1': 358,
 '12.1.1': 356,
 '14.12.1': 350,
 '14.7.2': 350,
 '17.2.1': 348,
 '2.3.2': 348,
 '14.1.1': 346,
 '5.7.1': 345,
 '11.1.1': 343,
 '5.5.1': 343,
 '14.3.1': 342,
 '2.7.1': 336,
 '8.4.1': 336,
 '3.3.3': 335,
 '15.1.3': 333,
 '6.7.1': 331,
 '11.10.1': 328,
 '17.2.2': 327,
 '4.4.1': 320,
 '15.2.3': 319,
 '14.11.1': 319,
 '11.9.1': 318,
 '11.8.1': 312,
 '9.7.1': 306,
 '8.8.2': 305,
 '16.2.1': 304,
 '2.6.1': 300,
 '9.4.1': 299,
 '7.1.1': 297,
 '11.3.2': 296,
 '4.9.1': 295,
 '4.3.1': 294,
 '8.6.1': 290,
 '7.4.1': 290,
 '1.2.2': 283,
 '4.10.1': 282,
 '15.4.2': 281,
 '8.3.1': 277,
 '1.3.1': 276,
 '3.10.2': 275,
 '15.4.1': 274,
 '4.6.1': 271,
 '8.5.1': 270,
 '15.7.1': 264,
 '15.1.2': 261,
 '3.6.1': 261,
 '2.4.3': 243,
 '3.4.2': 239,
 '3.11.1': 235,
 '15.2.1': 235,
 '5.9.1': 226,
 '15.3.1': 218,
 '4.2.2': 212,
 '12.9.1': 212,
 '15.5.1': 212,
 '2.5.1': 211,
 '2.2.1': 208,
 '8.11.1': 208,
 '6.2.1': 205,
 '8.8.1': 194,
 '6.1.1': 193,
 '5.8.1': 192,
 '15.6.2': 188,
 '1.6.1': 186,
 '13.2.1': 186,
 '3.12.1': 185,
 '15.2.2': 184,
 '16.3.1': 180,
 '2.1.2': 178,
 '12.7.1': 177,
 '5.2.1': 173,
 '8.9.1': 173,
 '3.3.4': 171,
 '9.5.2': 168,
 '12.6.1': 167,
 '15.8.1': 159,
 '5.1.1': 159,
 '5.3.1': 155,
 '6.8.1': 155,
 '5.6.1': 154,
 '8.10.2': 151,
 '12.2.1': 147,
 '3.5.1': 147,
 '8.2.1': 146,
 '14.10.1': 141,
 '3.8.1': 140,
 '2.1.1': 139,
 '4.1.1': 139,
 '4.2.1': 138,
 '8.1.1': 137,
 '9.1.1': 133,
 '7.3.1': 133,
 '10.1.1': 132,
 '1.2.1': 131,
 '7.5.1': 131,
 '2.2.2': 130,
 '3.3.1': 130,
 '6.5.1': 129,
 '16.1.1': 129,
 '5.4.1': 129,
 '15.1.1': 126,
 '8.10.1': 126,
 '14.7.1': 121,
 '3.8.2': 119,
 '3.7.1': 116,
 '9.3.2': 116,
 '10.2.1': 110,
 '9.5.1': 109,
 '6.3.2': 102,
 '9.6.1': 102,
 '7.1.2': 100,
 '13.3.1': 99,
 '8.5.2': 92,
 '3.4.1': 90,
 '11.7.2': 86,
 '12.3.2': 86,
 '15.9.1': 83,
 '5.2.2': 81,
 '8.7.1': 81,
 '3.1.1': 76,
 '9.2.2': 74,
 '11.6.1': 73,
 '3.6.2': 73,
 '16.5.1': 69,
 '9.3.1': 69,
 '6.4.1': 69,
 '3.2.2': 66,
 '5.3.2': 66,
 '6.3.1': 63,
 '2.8.2': 62,
 '5.5.2': 60,
 '6.4.2': 60,
 '3.2.1': 56,
 '7.2.1': 55,
 '13.1.1': 53,
 '11.5.1': 53,
 '1.5.1': 53,
 '3.9.1': 50,
 '3.3.2': 45,
 '12.8.1': 42,
 '14.5.1': 28}

In [74]:
rank_count_att = all_goals['top_n_indicator_id'].value_counts().to_dict()

In [75]:
rank_filter_count_att = final_map['top_n_indicator_id'].value_counts().to_dict()

In [76]:
count_att_list = [(key, value) for key, value in chap_count_att.items()]

count_att_df = pd.DataFrame(count_att_list, columns=['Indicator_id', 'Chap_count'])
count_att_df

    Indicator_id  Chap_count
0          5.6.2         505
1         14.6.1         476
2         12.5.1         471
3          4.7.1         463
4          1.4.1         429
..           ...         ...
174       11.6.1          38
175        6.4.1          35
176        2.8.2          31
177       8.10.1          29
178       14.5.1          18

[179 rows x 2 columns]

In [77]:
count_att_df['Tab_count'] = count_att_df['Indicator_id'].map(tab_count_att)

In [78]:
count_att_df['Filter_count'] = count_att_df['Indicator_id'].map(rank_filter_count_att)

In [79]:
count_att_df['Rank_count'] = count_att_df['Indicator_id'].map(rank_count_att)

In [80]:
count_att_df

    Indicator_id  Chap_count  Tab_count  Filter_count  Rank_count
0          5.6.2         505        538           334         549
1         14.6.1         476        538           327         546
2         12.5.1         471        534           418         537
3          4.7.1         463        529           305         568
4          1.4.1         429        480           335         490
..           ...         ...        ...           ...         ...
174       11.6.1          38         73            73         154
175        6.4.1          35         69            69          94
176        2.8.2          31         62            60          92
177       8.10.1          29        126           126         141
178       14.5.1          18         28            28          34

[179 rows x 5 columns]

In [81]:
chapter_df.to_csv(absolute_path_chap_filter, sep=';', index=False)

In [82]:
count_att_df.to_csv(absolute_path_count, sep=';', index=False)