In [184]:
import pandas as pd

df = pd.read_csv('Data_2015_16_Unordered.csv')

df

,1,2,3,4,5,6,7,8,9,10,...,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183
0,1,Bagalkote,27,198,27,96,4,16,562,26.0,...,0,73454,65846,14679,90,80615,65336,13465,544,79345
1,2,Bengaluru,17,183,17,105,4,7,957,94.0,...,0,133665,145020,33789,58,178867,125693,26260,81,152034
2,3,Bengaluru (R),18,244,18,126,4,6,820,52.0,...,0,183810,221460,49825,163,271448,167899,34406,261,202566
3,4,Belagavi,22,312,22,189,6,8,948,115.0,...,0,402224,227197,63232,148,290577,438437,117797,4543,560777
4,5,Ballari,24,272,24,233,6,8,800,123.0,...,0,323462,226426,54817,1434,282677,333819,75816,4051,413686
5,6,Bidar,27,262,27,156,5,7,1608,189.0,...,0,189103,198213,38257,385,236855,200194,33277,452,233923
6,7,Vijayapura,26,249,26,157,6,8,1324,189.0,...,0,170903,178301,36054,107,214462,190840,33354,2163,226357
7,8,Chamarajnagar,37,377,37,271,7,9,1444,86.0,...,0,234739,169524,44187,297,214008,209674,51327,1297,262298
8,9,Chikkaballapura,50,568,50,331,10,12,2582,133.0,...,0,569246,326779,87403,246,414428,554996,120064,1328,676388
9,10,Chikkamagaluru,34,237,34,227,7,9,1022,95.0,...,0,273004,182860,39251,1366,223477,248508,51259,13609,313376
10,11,Chitradurga,17,289,17,230,5,41,331,NaN,...,0,164504,142792,65458,847,209097,121884,54614,1917,178415
11,12,D. Kannada,9,187,9,158,3,20,233,NaN,...,0,140138,112972,86970,543,200485,83068,64328,2221,149617
12,13,Davangere,38,411,38,267,8,11,2418,156.0,...,0,408846,341883,93219,579,435681,283395,76468,3637,363500
13,14,Dharwad,16,109,16,104,3,5,291,5.0,...,0,154512,57651,10803,427,68881,134872,22638,10351,167861
14,15,Gadag,45,437,45,234,7,9,1368,109.0,...,0,283994,280482,112940,2344,395766,246140,59378,3913,309431
15,16,Kalaburagi,33,448,33,266,7,19,1199,137.0,...,0,287892,301928,83606,192,385726,299508,67077,1945,368530
16,17,Hassan,16,231,16,130,4,5,428,81.0,...,0,170713,172297,39453,446,212196,176768,36726,1649,215143
17,18,Haveri,35,554,35,502,10,31,1263,12.0,...,0,915122,487883,42948,104,530935,919337,69529,3423,992289
18,19,Kodagu,20,240,20,213,5,6,679,13.0,...,0,844500,300565,41600,38,342203,844404,105256,672,950332
19,20,Kolar,18,251,18,198,6,15,613,11.0,...,0,439317,193388,34298,45,227731,419864,66307,945,487116
20,21,Koppal,14,202,14,144,5,6,361,18.0,...,0,324861,124153,18868,204,143225,300444,41109,1425,342978
21,22,Mandya,11,197,11,122,5,9,322,15.0,...,0,353433,141852,21297,317,163466,343266,45196,1804,390266
22,23,Mysuru,19,285,19,223,7,10,696,7.0,...,0,329205,198052,19944,355,218351,344691,30882,1345,376918
23,24,Raichur,35,243,35,231,11,18,1243,46.0,...,0,141272,149656,42658,508,192822,122369,26858,739,149966
24,25,Ramanagara,27,295,27,199,7,13,522,30.0,...,0,408028,211667,62557,911,275135,428891,104910,3725,537526
25,26,Shivamogga,29,330,29,186,5,7,595,25.0,...,0,373386,202413,48498,74,250985,372305,78541,929,451775
26,27,Tumakuru,32,350,32,264,7,11,871,47.0,...,0,802627,324306,70921,270,395497,778237,157393,1907,937537
27,28,Udupi,16,172,16,123,3,7,487,26.0,...,0,339321,193095,33280,83,226458,377669,64335,268,442272
28,29,Uttara Kannada,37,280,37,181,5,9,815,69.0,...,0,511177,275390,56632,11,332033,591211,103988,588,695787
29,30,Yadagiri,20,161,20,153,4,5,595,34.0,...,0,362690,179033,39035,34,218102,366488,65766,1194,433448

In [185]:
df.info

<bound method DataFrame.info of      1                2   3    4   5    6   7   8     9     10  ...  1174  \
0    1        Bagalkote  27  198  27   96   4  16   562   26.0  ...     0
1    2        Bengaluru  17  183  17  105   4   7   957   94.0  ...     0
2    3    Bengaluru (R)  18  244  18  126   4   6   820   52.0  ...     0
3    4         Belagavi  22  312  22  189   6   8   948  115.0  ...     0
4    5          Ballari  24  272  24  233   6   8   800  123.0  ...     0
5    6            Bidar  27  262  27  156   5   7  1608  189.0  ...     0
6    7       Vijayapura  26  249  26  157   6   8  1324  189.0  ...     0
7    8    Chamarajnagar  37  377  37  271   7   9  1444   86.0  ...     0
8    9  Chikkaballapura  50  568  50  331  10  12  2582  133.0  ...     0
9   10   Chikkamagaluru  34  237  34  227   7   9  1022   95.0  ...     0
10  11      Chitradurga  17  289  17  230   5  41   331    NaN  ...     0
11  12       D. Kannada   9  187   9  158   3  20   233    NaN  ...     0
12  13        Davangere  38  411  38  267   8  11  2418  156.0  ...     0
13  14          Dharwad  16  109  16  104   3   5   291    5.0  ...     0
14  15            Gadag  45  437  45  234   7   9  1368  109.0  ...     0
15  16       Kalaburagi  33  448  33  266   7  19  1199  137.0  ...     0
16  17           Hassan  16  231  16  130   4   5   428   81.0  ...     0
17  18           Haveri  35  554  35  502  10  31  1263   12.0  ...     0
18  19           Kodagu  20  240  20  213   5   6   679   13.0  ...     0
19  20            Kolar  18  251  18  198   6  15   613   11.0  ...     0
20  21           Koppal  14  202  14  144   5   6   361   18.0  ...     0
21  22           Mandya  11  197  11  122   5   9   322   15.0  ...     0
22  23           Mysuru  19  285  19  223   7  10   696    7.0  ...     0
23  24          Raichur  35  243  35  231  11  18  1243   46.0  ...     0
24  25       Ramanagara  27  295  27  199   7  13   522   30.0  ...     0
25  26       Shivamogga  29  330  29  186   5   7   595   25.0  ...     0
26  27         Tumakuru  32  350  32  264   7  11   871   47.0  ...     0
27  28            Udupi  16  172  16  123   3   7   487   26.0  ...     0
28  29   Uttara Kannada  37  280  37  181   5   9   815   69.0  ...     0
29  30         Yadagiri  20  161  20  153   4   5   595   34.0  ...     0

      1175    1176    1177  1178    1179    1180    1181   1182    1183
0    73454   65846   14679    90   80615   65336   13465    544   79345
1   133665  145020   33789    58  178867  125693   26260     81  152034
2   183810  221460   49825   163  271448  167899   34406    261  202566
3   402224  227197   63232   148  290577  438437  117797   4543  560777
4   323462  226426   54817  1434  282677  333819   75816   4051  413686
5   189103  198213   38257   385  236855  200194   33277    452  233923
6   170903  178301   36054   107  214462  190840   33354   2163  226357
7   234739  169524   44187   297  214008  209674   51327   1297  262298
8   569246  326779   87403   246  414428  554996  120064   1328  676388
9   273004  182860   39251  1366  223477  248508   51259  13609  313376
10  164504  142792   65458   847  209097  121884   54614   1917  178415
11  140138  112972   86970   543  200485   83068   64328   2221  149617
12  408846  341883   93219   579  435681  283395   76468   3637  363500
13  154512   57651   10803   427   68881  134872   22638  10351  167861
14  283994  280482  112940  2344  395766  246140   59378   3913  309431
15  287892  301928   83606   192  385726  299508   67077   1945  368530
16  170713  172297   39453   446  212196  176768   36726   1649  215143
17  915122  487883   42948   104  530935  919337   69529   3423  992289
18  844500  300565   41600    38  342203  844404  105256    672  950332
19  439317  193388   34298    45  227731  419864   66307    945  487116
20  324861  124153   18868   204  143225  300444   41109   1425  342978
21  353433  141852   21297   317  163466  343266   45196   1804  390266
22  329205  198052   19944   355  218351  344691   30882   1345  376918
23  141272  149656   42658   508  192822  122369   26858    739  149966
24  408028  211667   62557   911  275135  428891  104910   3725  537526
25  373386  202413   48498    74  250985  372305   78541    929  451775
26  802627  324306   70921   270  395497  778237  157393   1907  937537
27  339321  193095   33280    83  226458  377669   64335    268  442272
28  511177  275390   56632    11  332033  591211  103988    588  695787
29  362690  179033   39035    34  218102  366488   65766   1194  433448

[30 rows x 1174 columns]>

In [186]:
type(df.columns[1])

str

In [187]:
df.columns[1]

'2'

In [188]:
pp = df.loc[:,columns_list1].iloc[original_order1]
pp

,58,59,60,61,62,63,64,65,66,67,...,105,106,107,108,109,110,111,112,113,114
0,13433,4779661,2423063,2356598,7.82,2,4779661,3568466,1211195,13.41,...,43322,22.08,19.38,40.74,5.78,6.64,3.04,6.22,7.11,3.58
1,6552,1889752,950111,939641,3.09,11,1889752,1291906,597846,14.40,...,16383,21.23,14.96,65.80,4.85,5.99,2.06,5.14,6.26,2.74
2,10498,2177331,1111022,1066309,3.56,7,2177331,1675353,501978,20.50,...,7670,30.82,17.78,140.82,1.66,1.90,0.80,1.81,1.89,1.53
3,5448,1703300,870665,832635,2.79,16,1703300,1277348,425952,13.37,...,21063,29.42,26.23,74.22,12.13,14.70,3.51,13.85,16.81,4.94
4,8442,1928812,964511,964301,3.16,10,1928812,1438464,490348,15.51,...,33048,21.13,20.19,31.52,18.15,22.25,5.97,19.03,23.22,6.74
5,5570,1389920,699926,689994,2.28,21,1389920,1156216,233704,16.21,...,11708,18.53,18.52,18.63,11.59,12.90,4.98,11.82,13.20,5.01
6,4657,1064570,537147,527423,1.74,27,1064570,685261,379309,9.54,...,11017,13.31,10.43,28.79,5.60,7.28,2.50,5.79,7.39,2.90
7,4260,1847023,937206,909817,3.02,12,1847023,797484,1049539,15.13,...,37459,24.28,13.32,42.75,4.39,6.12,2.98,4.74,6.28,3.57
8,10277,1437169,726256,710913,2.35,20,1437169,1018188,418981,6.17,...,6290,43.98,47.22,31.15,1.76,1.97,1.24,2.38,2.74,1.50
9,4823,1597668,819128,778540,2.62,18,1597668,1242167,355501,11.02,...,15131,11.18,9.00,33.47,8.84,10.16,3.79,8.85,10.16,4.26
10,8461,2452595,1236954,1215641,4.01,6,2452595,1532356,920239,20.99,...,117275,23.80,18.77,40.77,17.99,21.31,11.79,18.41,21.81,12.74
11,8436,1659456,840843,818613,2.72,17,1659456,1329923,329533,9.33,...,36028,13.64,12.88,19.60,17.54,18.99,10.98,18.23,20.04,10.93
12,5924,1945497,986400,959097,3.18,9,1945497,1316487,629010,8.63,...,41358,11.16,9.09,21.90,11.71,14.08,6.25,11.98,14.57,6.58
13,8478,1752753,877415,875338,2.87,15,1752753,1129026,623727,6.71,...,15449,16.81,14.62,24.54,3.41,4.07,2.17,3.73,4.43,2.48
14,3582,1177361,562131,615230,1.93,23,1177361,843300,334061,5.85,...,11301,27.12,15.99,96.50,3.74,3.96,2.79,4.49,4.93,3.38
15,7202,1137961,566622,571339,1.86,25,1137961,898453,239508,0.26,...,4828,9.63,7.87,26.82,3.60,4.05,1.71,3.95,4.47,2.02
16,10597,2678980,1350594,1328386,4.38,4,2678980,2079902,599078,3.65,...,29535,8.12,5.94,23.63,7.50,8.18,4.71,7.82,8.66,4.93
17,2196,9621551,5022661,4598890,15.75,1,9621551,871607,8749944,47.18,...,161824,121.16,57.21,138.18,1.32,2.33,1.18,1.98,3.26,1.85
18,4962,1805769,905085,900684,2.96,13,1805769,1497407,308362,2.38,...,5041,30.30,28.59,36.54,0.97,0.91,1.31,1.24,1.16,1.63
19,6814,1776421,883667,892754,2.91,14,1776421,1399658,376763,3.18,...,4433,22.22,15.26,97.11,1.54,1.71,0.74,1.82,1.99,1.18
20,4861,2089649,1034714,1054935,3.42,8,2089649,1093563,996086,10.11,...,16424,30.72,20.95,93.31,3.32,4.66,1.16,3.94,6.02,1.65
21,4102,554519,274608,279911,0.91,30,554519,473531,80988,1.09,...,1756,25.89,25.40,44.05,8.41,9.49,1.62,10.47,11.89,2.17
22,6307,3001127,1511600,1489527,4.91,3,3001127,1755714,1245413,13.63,...,77466,23.29,14.64,64.48,10.27,13.52,4.80,11.15,14.64,6.22
23,5648,1020791,512231,508560,1.67,28,1020791,845817,174974,5.73,...,23785,13.30,13.59,12.12,10.99,10.39,14.33,11.78,11.40,13.59
24,10954,2566326,1301755,1264571,4.20,5,2566326,1730775,835551,18.01,...,15185,38.45,28.08,88.92,2.17,2.63,1.17,2.54,2.89,1.82
25,5270,1174271,590329,583942,1.92,24,1174271,953594,220677,22.81,...,18125,37.17,34.80,56.67,11.20,12.04,7.10,12.51,13.50,8.21
26,3979,1536401,776396,760005,2.51,19,1536401,1056328,480073,10.77,...,6732,15.77,12.51,67.75,4.91,6.53,0.99,5.13,6.83,1.40
27,4244,1255104,636437,618667,2.05,22,1255104,973985,281119,9.23,...,17286,13.74,10.52,48.66,11.97,13.57,5.26,12.47,14.29,6.15
28,2298,990923,509172,481751,1.62,29,990923,722179,268744,16.45,...,8491,21.14,14.79,70.50,5.13,5.87,2.59,5.34,6.15,3.16
29,3516,1082636,548008,534628,1.77,26,1082636,814877,267759,5.05,...,3783,28.30,22.50,68.73,1.74,1.92,1.04,2.12,2.35,1.41

In [189]:
df_org = df.copy()

In [190]:
original_order = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
new_order1 = [17, 28, 29, 11, 12, 26, 27, 13, 16, 15, 20, 14, 19, 21, 18, 22, 23, 0, 2, 1, 7, 6, 9, 8, 10, 3, 24, 25, 4, 5]
columns_list1 = ['58','59','60','61','62','63','64','65','66','67','68','69','70','71','72','73','74','75','76','77','78','79','80','81','82','83','84','85','86','87','88','89','90','91','92','93','94','95','96','97','98','99','100','101','102','103','104','105','106','107','108','109','110','111','112','113','114']

new_order2 = [1, 2, 24, 10, 12, 19, 8, 25, 26, 9, 11, 27, 16, 18, 21, 22, 7, 3, 6, 0, 13, 14, 17, 28, 4, 5, 15, 29, 23, 20]
columns_list2 = ['120','121','122','123','124','125','126','127','128']

In [191]:
def interchange_rows(df, original_order, new_order, columns_list):
    # Check if the lengths of original_order and new_order are consistent
    if len(original_order) != len(new_order):
        raise ValueError("Lengths of original_order and new_order must be the same.")
    
    # Iterate over the columns in columns_list
    for col_name in columns_list:
        # Extract the original and new orders for the current column
        original_order_col = df.loc[original_order, col_name].copy()
        new_order_col = original_order_col.iloc[new_order].values
        # Update the dataframe with the new order
        df.loc[original_order, col_name] = new_order_col
    
    return df

In [192]:
ordered_df = interchange_rows(df_org, original_order, new_order1, columns_list1)

In [193]:
final_df = interchange_rows(ordered_df, original_order, new_order2, columns_list2)

In [194]:
final_df.loc[:, columns_list1]

,58,59,60,61,62,63,64,65,66,67,...,105,106,107,108,109,110,111,112,113,114
0,2196,9621551,5022661,4598890,15.75,1,9621551,871607,8749944,47.18,...,161824,121.16,57.21,138.18,1.32,2.33,1.18,1.98,3.26,1.85
1,2298,990923,509172,481751,1.62,29,990923,722179,268744,16.45,...,8491,21.14,14.79,70.50,5.13,5.87,2.59,5.34,6.15,3.16
2,3516,1082636,548008,534628,1.77,26,1082636,814877,267759,5.05,...,3783,28.30,22.50,68.73,1.74,1.92,1.04,2.12,2.35,1.41
3,8436,1659456,840843,818613,2.72,17,1659456,1329923,329533,9.33,...,36028,13.64,12.88,19.60,17.54,18.99,10.98,18.23,20.04,10.93
4,5924,1945497,986400,959097,3.18,9,1945497,1316487,629010,8.63,...,41358,11.16,9.09,21.90,11.71,14.08,6.25,11.98,14.57,6.58
5,3979,1536401,776396,760005,2.51,19,1536401,1056328,480073,10.77,...,6732,15.77,12.51,67.75,4.91,6.53,0.99,5.13,6.83,1.40
6,4244,1255104,636437,618667,2.05,22,1255104,973985,281119,9.23,...,17286,13.74,10.52,48.66,11.97,13.57,5.26,12.47,14.29,6.15
7,8478,1752753,877415,875338,2.87,15,1752753,1129026,623727,6.71,...,15449,16.81,14.62,24.54,3.41,4.07,2.17,3.73,4.43,2.48
8,10597,2678980,1350594,1328386,4.38,4,2678980,2079902,599078,3.65,...,29535,8.12,5.94,23.63,7.50,8.18,4.71,7.82,8.66,4.93
9,7202,1137961,566622,571339,1.86,25,1137961,898453,239508,0.26,...,4828,9.63,7.87,26.82,3.60,4.05,1.71,3.95,4.47,2.02
10,4861,2089649,1034714,1054935,3.42,8,2089649,1093563,996086,10.11,...,16424,30.72,20.95,93.31,3.32,4.66,1.16,3.94,6.02,1.65
11,3582,1177361,562131,615230,1.93,23,1177361,843300,334061,5.85,...,11301,27.12,15.99,96.50,3.74,3.96,2.79,4.49,4.93,3.38
12,6814,1776421,883667,892754,2.91,14,1776421,1399658,376763,3.18,...,4433,22.22,15.26,97.11,1.54,1.71,0.74,1.82,1.99,1.18
13,4102,554519,274608,279911,0.91,30,554519,473531,80988,1.09,...,1756,25.89,25.40,44.05,8.41,9.49,1.62,10.47,11.89,2.17
14,4962,1805769,905085,900684,2.96,13,1805769,1497407,308362,2.38,...,5041,30.30,28.59,36.54,0.97,0.91,1.31,1.24,1.16,1.63
15,6307,3001127,1511600,1489527,4.91,3,3001127,1755714,1245413,13.63,...,77466,23.29,14.64,64.48,10.27,13.52,4.80,11.15,14.64,6.22
16,5648,1020791,512231,508560,1.67,28,1020791,845817,174974,5.73,...,23785,13.30,13.59,12.12,10.99,10.39,14.33,11.78,11.40,13.59
17,13433,4779661,2423063,2356598,7.82,2,4779661,3568466,1211195,13.41,...,43322,22.08,19.38,40.74,5.78,6.64,3.04,6.22,7.11,3.58
18,10498,2177331,1111022,1066309,3.56,7,2177331,1675353,501978,20.50,...,7670,30.82,17.78,140.82,1.66,1.90,0.80,1.81,1.89,1.53
19,6552,1889752,950111,939641,3.09,11,1889752,1291906,597846,14.40,...,16383,21.23,14.96,65.80,4.85,5.99,2.06,5.14,6.26,2.74
20,4260,1847023,937206,909817,3.02,12,1847023,797484,1049539,15.13,...,37459,24.28,13.32,42.75,4.39,6.12,2.98,4.74,6.28,3.57
21,4657,1064570,537147,527423,1.74,27,1064570,685261,379309,9.54,...,11017,13.31,10.43,28.79,5.60,7.28,2.50,5.79,7.39,2.90
22,4823,1597668,819128,778540,2.62,18,1597668,1242167,355501,11.02,...,15131,11.18,9.00,33.47,8.84,10.16,3.79,8.85,10.16,4.26
23,10277,1437169,726256,710913,2.35,20,1437169,1018188,418981,6.17,...,6290,43.98,47.22,31.15,1.76,1.97,1.24,2.38,2.74,1.50
24,8461,2452595,1236954,1215641,4.01,6,2452595,1532356,920239,20.99,...,117275,23.80,18.77,40.77,17.99,21.31,11.79,18.41,21.81,12.74
25,5448,1703300,870665,832635,2.79,16,1703300,1277348,425952,13.37,...,21063,29.42,26.23,74.22,12.13,14.70,3.51,13.85,16.81,4.94
26,10954,2566326,1301755,1264571,4.20,5,2566326,1730775,835551,18.01,...,15185,38.45,28.08,88.92,2.17,2.63,1.17,2.54,2.89,1.82
27,5270,1174271,590329,583942,1.92,24,1174271,953594,220677,22.81,...,18125,37.17,34.80,56.67,11.20,12.04,7.10,12.51,13.50,8.21
28,8442,1928812,964511,964301,3.16,10,1928812,1438464,490348,15.51,...,33048,21.13,20.19,31.52,18.15,22.25,5.97,19.03,23.22,6.74
29,5570,1389920,699926,689994,2.28,21,1389920,1156216,233704,16.21,...,11708,18.53,18.52,18.63,11.59,12.90,4.98,11.82,13.20,5.01

In [195]:
type(final_df.columns[665])

str

In [196]:
final_df.iloc[:,664:667]

    670  670.1  671
0   631     15  471
1     6      6   43
2    36      7   23
3    42     33   36
4    26     32   40
5    30      6   72
6    16      5   70
7   130     34   92
8    46     28   99
9    38     42   35
10   41      7  111
11   30     14   47
12  107     60   41
13   30      9   16
14   53     23   45
15  299     31   60
16   16     12   20
17   54     32  258
18   90     13   77
19   56     16   82
20   45     14  164
21   36     20   50
22   22     14   63
23   36     12   73
24  229     68  106
25   41     23   60
26  133     32  147
27   24     17   14
28   51     17   58
29   32     16   12

In [197]:
final_df.loc[:,['982','983','984','985','986']]

     982      983      984     985      986
0   26.0  32168.0  50234.0  1144.0   1834.0
1    8.0  21917.0  30145.0  2398.0   3457.0
2    8.0  13841.0  19965.0  1619.0   2384.0
3   23.0  20893.0  32534.0   904.0   1408.0
4    6.0  16559.0  21482.0  2762.0   3654.0
5    NaN      NaN      NaN     NaN      NaN
6    4.0  19877.0  28968.0  4547.0   6627.0
7    6.0  21687.0  39679.0  3500.0   6403.0
8    2.0  16404.0  23032.0  7937.0  11145.0
9    4.0  16393.0  24699.0  4475.0   6742.0
10   NaN      NaN      NaN     NaN      NaN
11   5.0  24436.0  35344.0  3953.0   6062.0
12   7.0  17947.0  27420.0  2685.0   4103.0
13   4.0  17032.0  24202.0  3979.0   5655.0
14   NaN      NaN      NaN     NaN      NaN
15   8.0  32852.0  48294.0  4122.0   6059.0
16   NaN      NaN      NaN     NaN      NaN
17   NaN      NaN      NaN     NaN      NaN
18   NaN      NaN      NaN     NaN      NaN
19   NaN      NaN      NaN     NaN      NaN
20   NaN      NaN      NaN     NaN      NaN
21   NaN      NaN      NaN     NaN      NaN
22   NaN      NaN      NaN     NaN      NaN
23   NaN      NaN      NaN     NaN      NaN
24   NaN      NaN      NaN     NaN      NaN
25   NaN      NaN      NaN     NaN      NaN
26   NaN      NaN      NaN     NaN      NaN
27   NaN      NaN      NaN     NaN      NaN
28   NaN      NaN      NaN     NaN      NaN
29   NaN      NaN      NaN     NaN      NaN

In [198]:
final_df.drop(['982','983','984','985','986'], axis=1,inplace=True)

In [179]:
#final_df.columns = final_df.columns.astype(float)

In [202]:
final_df['2']

0           Bagalkote
1           Bengaluru
2       Bengaluru (R)
3            Belagavi
4             Ballari
5               Bidar
6          Vijayapura
7       Chamarajnagar
8     Chikkaballapura
9      Chikkamagaluru
10        Chitradurga
11         D. Kannada
12          Davangere
13            Dharwad
14              Gadag
15         Kalaburagi
16             Hassan
17             Haveri
18             Kodagu
19              Kolar
20             Koppal
21             Mandya
22             Mysuru
23            Raichur
24         Ramanagara
25         Shivamogga
26           Tumakuru
27              Udupi
28     Uttara Kannada
29           Yadagiri
Name: 2, dtype: object

In [203]:
final_df['2'] = ['Bengaluru', 'Bengaluru (R)', 'Ramanagara', 'Chitradurga', 'Davangere', 'Kolar', 'Chikkaballapura', 'Shivamogga', 'Tumakuru', 'Chikkamagaluru', 'D. Kannada', 'Udupi', 'Hassan', 'Kodagu', 'Mandya', 'Mysuru', 'Chamarajnagar', 'Belagavi', 'Vijayapura', 'Bagalkote', 'Dharwad', 'Gadag', 'Haveri', 'Uttara Kannada', 'Ballari', 'Bidar', 'Kalaburagi', 'Yadagiri', 'Raichur', 'Koppal']

In [204]:
final_df['2']

0           Bengaluru
1       Bengaluru (R)
2          Ramanagara
3         Chitradurga
4           Davangere
5               Kolar
6     Chikkaballapura
7          Shivamogga
8            Tumakuru
9      Chikkamagaluru
10         D. Kannada
11              Udupi
12             Hassan
13             Kodagu
14             Mandya
15             Mysuru
16      Chamarajnagar
17           Belagavi
18         Vijayapura
19          Bagalkote
20            Dharwad
21              Gadag
22             Haveri
23     Uttara Kannada
24            Ballari
25              Bidar
26         Kalaburagi
27           Yadagiri
28            Raichur
29             Koppal
Name: 2, dtype: object

In [205]:
final_df.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '1174', '1175', '1176', '1177', '1178', '1179', '1180', '1181', '1182',
       '1183'],
      dtype='object', length=1169)

In [206]:
final_df

,1,2,3,4,5,6,7,8,9,10,...,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183
0,1,Bengaluru,27,198,27,96,4,16,562,26.0,...,0,73454,65846,14679,90,80615,65336,13465,544,79345
1,2,Bengaluru (R),17,183,17,105,4,7,957,94.0,...,0,133665,145020,33789,58,178867,125693,26260,81,152034
2,3,Ramanagara,18,244,18,126,4,6,820,52.0,...,0,183810,221460,49825,163,271448,167899,34406,261,202566
3,4,Chitradurga,22,312,22,189,6,8,948,115.0,...,0,402224,227197,63232,148,290577,438437,117797,4543,560777
4,5,Davangere,24,272,24,233,6,8,800,123.0,...,0,323462,226426,54817,1434,282677,333819,75816,4051,413686
5,6,Kolar,27,262,27,156,5,7,1608,189.0,...,0,189103,198213,38257,385,236855,200194,33277,452,233923
6,7,Chikkaballapura,26,249,26,157,6,8,1324,189.0,...,0,170903,178301,36054,107,214462,190840,33354,2163,226357
7,8,Shivamogga,37,377,37,271,7,9,1444,86.0,...,0,234739,169524,44187,297,214008,209674,51327,1297,262298
8,9,Tumakuru,50,568,50,331,10,12,2582,133.0,...,0,569246,326779,87403,246,414428,554996,120064,1328,676388
9,10,Chikkamagaluru,34,237,34,227,7,9,1022,95.0,...,0,273004,182860,39251,1366,223477,248508,51259,13609,313376
10,11,D. Kannada,17,289,17,230,5,41,331,NaN,...,0,164504,142792,65458,847,209097,121884,54614,1917,178415
11,12,Udupi,9,187,9,158,3,20,233,NaN,...,0,140138,112972,86970,543,200485,83068,64328,2221,149617
12,13,Hassan,38,411,38,267,8,11,2418,156.0,...,0,408846,341883,93219,579,435681,283395,76468,3637,363500
13,14,Kodagu,16,109,16,104,3,5,291,5.0,...,0,154512,57651,10803,427,68881,134872,22638,10351,167861
14,15,Mandya,45,437,45,234,7,9,1368,109.0,...,0,283994,280482,112940,2344,395766,246140,59378,3913,309431
15,16,Mysuru,33,448,33,266,7,19,1199,137.0,...,0,287892,301928,83606,192,385726,299508,67077,1945,368530
16,17,Chamarajnagar,16,231,16,130,4,5,428,81.0,...,0,170713,172297,39453,446,212196,176768,36726,1649,215143
17,18,Belagavi,35,554,35,502,10,31,1263,12.0,...,0,915122,487883,42948,104,530935,919337,69529,3423,992289
18,19,Vijayapura,20,240,20,213,5,6,679,13.0,...,0,844500,300565,41600,38,342203,844404,105256,672,950332
19,20,Bagalkote,18,251,18,198,6,15,613,11.0,...,0,439317,193388,34298,45,227731,419864,66307,945,487116
20,21,Dharwad,14,202,14,144,5,6,361,18.0,...,0,324861,124153,18868,204,143225,300444,41109,1425,342978
21,22,Gadag,11,197,11,122,5,9,322,15.0,...,0,353433,141852,21297,317,163466,343266,45196,1804,390266
22,23,Haveri,19,285,19,223,7,10,696,7.0,...,0,329205,198052,19944,355,218351,344691,30882,1345,376918
23,24,Uttara Kannada,35,243,35,231,11,18,1243,46.0,...,0,141272,149656,42658,508,192822,122369,26858,739,149966
24,25,Ballari,27,295,27,199,7,13,522,30.0,...,0,408028,211667,62557,911,275135,428891,104910,3725,537526
25,26,Bidar,29,330,29,186,5,7,595,25.0,...,0,373386,202413,48498,74,250985,372305,78541,929,451775
26,27,Kalaburagi,32,350,32,264,7,11,871,47.0,...,0,802627,324306,70921,270,395497,778237,157393,1907,937537
27,28,Yadagiri,16,172,16,123,3,7,487,26.0,...,0,339321,193095,33280,83,226458,377669,64335,268,442272
28,29,Raichur,37,280,37,181,5,9,815,69.0,...,0,511177,275390,56632,11,332033,591211,103988,588,695787
29,30,Koppal,20,161,20,153,4,5,595,34.0,...,0,362690,179033,39035,34,218102,366488,65766,1194,433448

In [212]:
final_df.to_csv("Data_2015-16.csv", sep=';', index=False)
#final_df.to_csv(absolute_dictionary_path, sep=';', index=False)

In [208]:
empty_columns = final_df.columns[final_df.eq("").all()].tolist()

In [209]:
empty_columns

[]

In [211]:
for i in range(1,1173):
    if str(i) not in set(final_df.columns.tolist()):
       print(i)

115
116
117
118
119
982
983
984
985
986
987
988
989
990
991