# Merging table header

In [13]:
import pandas as pd
import os

In [14]:
path = os.path.join(os.getcwd(), "Dictionary/")
path_file = os.path.join(os.getcwd(), "Dictionary/Attributes_2015-16.csv")

In [15]:
dfs = []

# Iterate over each file in the directory
for filename in os.listdir(path):
    if filename.startswith('Chapter') and filename.endswith('.csv'):
        file_path = os.path.join(path, filename)
        # Read the CSV file into a DataFrame without header
        df = pd.read_csv(file_path, sep=';', dtype={'Table_id': str})
        #print(df[['Chapter_id','Table_id']].loc[:,])
        dfs.append(df)
        
len(dfs)

18

In [16]:
# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

# Display the merged DataFrame
merged_df.columns = ['Attr_id', 'Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description']
merged_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,866.0,14,Rural Development & Panchayat Raj,14.1,Forest Area E.s.t.p and N.r.l.m Year 2015-16 I...,"Forest Area Area in Square Kilometres,Forest D..."
1,867.0,14,Rural Development & Panchayat Raj,14.1,Forest Area E.s.t.p and N.r.l.m Year 2015-16 I...,"Saplings Planted In Lakhs,Forest Department"
2,868.0,14,Rural Development & Panchayat Raj,14.1,Forest Area E.s.t.p and N.r.l.m Year 2015-16 I...,"Selfemployment Small enterprises training,Empl..."
3,869.0,14,Rural Development & Panchayat Raj,14.1,Forest Area E.s.t.p and N.r.l.m Year 2015-16 I...,"Wage employment Mandays,Employment through Ski..."
4,870.0,14,Rural Development & Panchayat Raj,14.1,Forest Area E.s.t.p and N.r.l.m Year 2015-16 I...,"Total,Numberof Groups under Nrlm 2015-16"
...,...,...,...,...,...,...
1162,389.0,5,Animal Husbandry,5.4,Fisheries Year 2015-16,"Full Time,Families involved in fisheries"
1163,390.0,5,Animal Husbandry,5.4,Fisheries Year 2015-16,"Part Time,Families involved in fisheries"
1164,391.0,5,Animal Husbandry,5.4,Fisheries Year 2015-16,No.of Beneficiaries under Mathsasrayascheme
1165,392.0,5,Animal Husbandry,5.4,Fisheries Year 2015-16,Fish lets In lakhs
1166,393.0,5,Animal Husbandry,5.4,Fisheries Year 2015-16,Fish markets No

In [17]:
merged_df = merged_df.sort_values(by=['Attr_id'])

In [18]:
merged_df[merged_df['Attr_id']==670.1]

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
944,670.1,11,Health & Family welfare Services,11.3,Allopathy Hospitals Indian System of Medicine ...,"Nos,Indian System of Medicine"

In [19]:
merged_df.to_csv(path_file, sep=';', index=False)

In [20]:
for i in range(3,1183):
    if i not in set(merged_df['Attr_id']):
       print(i)

115
116
117
118
119
982
983
984
985
986
987
988
989
990
991

These columns are not present as they have "Age group" data