In [85]:
import pandas as pd
import numpy as np
import plotly.express as px
import re
import os
import matplotlib.pyplot as plt
import nltk
from collections import OrderedDict

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer() 
from gensim.models import Word2Vec
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package punkt to /home/riya/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/riya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/riya/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [86]:
relative_path_sdg = "../../sdg_data.csv"
relative_path_attr = "../Dictionary/Attributes_2016-17.csv"
relative_string_map = "./Data_Goal/String_map.csv"
relative_semantic = "./Data_Goal/Semantic_map.csv"
relative_sem_threshold = "./Data_Goal/Semantic_threshold_map.csv"
relative_rank = "./Data_Goal/Ranking.csv"
relative_rank_unroll = "./Data_Goal/Ranking_unroll.csv"
relative_tab_filter = "./Data_Goal/Ranking_tab_filter.csv"
relative_chap_filter = "./Data_Goal/Ranking_chap_filter.csv"
relative_final_map = "./Mapping_Goal_2016-17.csv"
relative_count = "./Data_Goal/Comparison_count.csv"


# Get the absolute path by joining the current directory with the relative path
absolute_path_sdg = os.path.normpath(os.path.join(os.getcwd(), relative_path_sdg))
absolute_path_attr = os.path.normpath(os.path.join(os.getcwd(), relative_path_attr))
absolute_path_string = os.path.normpath(os.path.join(os.getcwd(), relative_string_map))
absolute_path_semantic = os.path.normpath(os.path.join(os.getcwd(), relative_semantic))
absolute_path_sem_threshold =os.path.normpath( os.path.join(os.getcwd(), relative_sem_threshold))
absolute_path_rank =os.path.normpath( os.path.join(os.getcwd(), relative_rank))
absolute_path_rank_unroll =os.path.normpath( os.path.join(os.getcwd(), relative_rank_unroll))
absolute_path_tab_filter =os.path.normpath( os.path.join(os.getcwd(), relative_tab_filter))
absolute_path_chap_filter =os.path.normpath( os.path.join(os.getcwd(), relative_chap_filter))
absolute_path_final_map =os.path.normpath( os.path.join(os.getcwd(), relative_final_map))
absolute_path_count =os.path.normpath( os.path.join(os.getcwd(), relative_count))

In [87]:
def process_result(result_sdg, sdg_df, chapter_df):
    rows = []
    
    for _, row in result_sdg.iterrows():
        attr_id = row['Rank']
        goal_no = row['Goal No.']
        
        for attr in attr_id:
            rows.append({
                'Attr_id': attr,
                'top_n_goal_id': goal_no
            })

    all_goals = pd.DataFrame(rows)
    
    goal_name = dict(zip(sdg_df['Goal No.'], sdg_df['Goal']))
    
    all_goals['Goal'] = all_goals['top_n_goal_id'].map(goal_name.get)
    chapter_id = dict(zip(chapter_df['Attr_id'], chapter_df['Chapter_id']))
    chapter_name = dict(zip(chapter_df['Chapter_id'], chapter_df['Chapter_name']))
    table_id = dict(zip(chapter_df['Attr_id'], chapter_df['Table_id']))
    table_name = dict(zip(chapter_df['Table_id'], chapter_df['Table_name']))
    description = dict(zip(chapter_df['Attr_id'], chapter_df['Description']))
    all_goals['Chapter_id'] = all_goals['Attr_id'].map(chapter_id.get)
    all_goals['Chapter_name'] = all_goals['Chapter_id'].map(chapter_name.get)
    all_goals['Table_id'] = all_goals['Attr_id'].map(table_id.get)
    all_goals['Table_name'] = all_goals['Table_id'].map(table_name.get)
    all_goals['Description'] = all_goals['Attr_id'].map(description.get) 
    
                
    all_goals = all_goals.loc[:,['Attr_id','Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description', 'Goal', 'top_n_goal_id']]

    return all_goals

In [88]:
# Function to combine and remove duplicates from lists while maintaining order
def combine_lists_BC(row):
    list_B = row['top_n_attr_B']
    list_C = row['top_n_attr_C']
    
    # Combine lists and remove duplicates while maintaining order
    items = list(OrderedDict.fromkeys(list_B + list_C))
    return items

In [89]:
# Function to find intersection while maintaining order
def find_intersection_ABC(row):
    intersection = [x for x in row['top_n_attr_A'] if x in row['B_plus_C']]
    return intersection

In [90]:
def find_difference_A(row):
    top_n_attr = row['top_n_attr_A']
    intersection = row['A_and_BC']
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [91]:
# Function to find intersection while maintaining order
def find_intersection_BC(row):
    intersection = [x for x in row['top_n_attr_B'] if x in row['top_n_attr_C']]
    return intersection

In [92]:
def find_difference_B(row):
    top_n_attr = row['top_n_attr_B']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [93]:
def find_difference_C(row):
    top_n_attr = row['top_n_attr_C']
    intersection = set(row['A'] + row['B_and_C'] + row['A_and_BC'] + row['B_minus_all'])
    
    # Remove elements in BC and intersection from top_n_attr while preserving order
    difference = [x for x in top_n_attr if x not in intersection]
    
    return difference

In [94]:
def final_rank(row):
    #combined_top_n_attr = sorted(set(list_B + list_C), key=lambda x: (list_B + list_C).index(x))
    items = row['A_and_BC'] + row['A'] + row['B_and_C'] + row['B_minus_all'] + row['C_minus_all']
    item_set = list(OrderedDict.fromkeys(items))    
    return item_set

In [95]:
sdg = pd.read_csv(absolute_path_sdg, sep=",", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str})

In [96]:
sdg

,Goal No.,Goal,Nodal Department,Targets,Other Related Major Departments,Tentative Indicators,Target_id,Indicator_id
0,1,End poverty in all its forms everywhere,Rural Development,"By 2030, eradicate extreme poverty for all peo...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population below the interna...,1.1,1.1.1
1,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living below the ...,1.2,1.2.1
2,1,End poverty in all its forms everywhere,Rural Development,"By 2030, reduce at least by half the proportio...","Urban Development, Agriculture, Horticulture, ...","Proportion of men, women and children of all a...",1.2,1.2.2
3,1,End poverty in all its forms everywhere,Rural Development,Implement nationally appropriate social protec...,"Urban Development, Agriculture, Horticulture, ...",Percentage of the population covered by social...,1.3,1.3.1
4,1,End poverty in all its forms everywhere,Rural Development,"By 2030, ensure that all men and women, in par...","Urban Development, Agriculture, Horticulture, ...",Proportion of the population living in househo...,1.4,1.4.1
...,...,...,...,...,...,...,...,...
174,16,Strengthen the means of implementation and rev...,Finance,"Promote the development, transfer, disseminati...",Environment and Scientific Technology.,Total amount of approved funding to promote th...,16.4,16.4.1
175,16,Strengthen the means of implementation and rev...,Finance,Fully operationalize the technology bank and s...,"Environment and Scientific Technology, Inform...",Proportion of individuals using the Internet.,16.5,16.5.1
176,17,"Data, monitoring and accountability",Finance,"By 2020, enhance capacity-building support to ...","Planning, Finance, Economic and Statistics.",Proportion of sustainable development indicato...,17.1,17.1.1
177,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Dollar value of all resources made available t...,17.2,17.2.1
178,17,"Data, monitoring and accountability",Finance,"By 2030, build on existing initiatives to deve...","Planning, Finance, Economic and Statistics.",Inclusive Wealth Index.,17.2,17.2.2

In [97]:
sdg.drop(['Nodal Department','Other Related Major Departments', 'Tentative Indicators', 'Indicator_id', 'Targets', 'Target_id'],axis=1,inplace=True)

In [98]:
# Remove duplicate rows
sdg = sdg.drop_duplicates()

In [99]:
sdg.reset_index(inplace = True, drop = True)

In [100]:
data = pd.read_csv(absolute_path_attr, sep=";", dtype={'Attr_id': str, 'Chapter_id': str, 'Table_id':str})

In [101]:
data_new = data.copy()
data_new

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,4.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,5.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,6.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,7.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...,...,...
1162,1169.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,1170.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,1171.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,1172.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,1173.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [102]:
sdg_string = pd.read_csv(absolute_path_string, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_string

,Goal No.,Goal,new_goal,new_goal_str,top_n_count,top_n_attr,top_n_table_id,top_n_table_name,top_n_chapter_id,top_n_chapter_name,top_n_similarities,top_n_description
0,1,End poverty in all its forms everywhere,"['end', 'poverty', 'form', 'everywhere']",end poverty in all its forms everywhere,18,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.7, 1.7, 1.7, ...",['Ration Shops And below poverty line Ration C...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['General Information', 'General Information',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Urban,Ration shops, Ration Shops And below p..."
1,2,"End hunger, achieve food security and improved...","['end', 'hunger', 'achieve', 'food', 'security...",end hunger achieve food security and improved ...,210,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[4.3, 4.6, 4.12, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1,...","['Area under principal crops Year 2015-16', 'P...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture and Sericulture', ...","[2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Total Food Grains,Pulses Hect,Area under pri..."
2,3,Ensure healthy lives and promote well-being fo...,"['ensure', 'healthy', 'life', 'promote', 'well...",ensure healthy lives and promote well being fo...,26,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.11, 2.1...",['Districtwise Population By Age Groups And Se...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, ...","['Area and Population', 'Area and Population',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Male,0-14, Districtwise Population By Age Gr..."
3,4,Ensure inclusive and equitable quality educati...,"['ensure', 'inclusive', 'equitable', 'quality'...",ensure inclusive and equitable quality educati...,114,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[10.1, 10.1, 10.1, 10.1, 10.1, 10.1, 10.1, 10....","['Literates rates per 2011 Census', 'Literates...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","['Education', 'Education', 'Education', 'Educa...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Male,Rural,Literates, Literates rates per 20..."
4,5,Achieve gender equality and empower all women ...,"['achieve', 'gender', 'equality', 'empower', '...",achieve gender equality and empower all women ...,83,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[13.6, 10.3, 10.4, 10.5, 10.8, 10.8, 10.9, 10....",['No.of Beneficiaries under different schemes ...,"[13, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","['Women & Child Development', 'Education', 'Ed...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",['No.of benefitted for payment of Girl childre...
5,6,Ensure availability and sustainable management...,"['ensure', 'availability', 'sustainable', 'man...",ensure availability and sustainable management...,25,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[1.5, 9.3, 10.9, 10.10, 14.4, 14.4, 14.4, 14.4...","['No.of Fire Stations on In Nos', 'Rural Roads...","[1, 9, 10, 10, 14, 14, 14, 14, 14, 14, 14, 14,...","['General Information', 'TRANSPORT AND COMMUNI...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Working Fire Brigade Water Tankers, No.of Fi..."
6,7,"Ensure access to affordable, reliable, sustain...","['ensure', 'access', 'affordable', 'reliable',...",ensure access to affordable reliable sustainab...,28,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 15.2, 16.1, 16....",['Rural Roads Length and Number of Habitations...,"[9, 9, 9, 9, 9, 9, 15, 16, 16, 16, 16, 16, 16,...","['TRANSPORT AND COMMUNICATION', 'TRANSPORT AND...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Pakka,Panchayat Roads,Rural Roads Length on ..."
7,8,"Promote sustained, inclusive and sustainable e...","['promote', 'sustained', 'inclusive', 'sustain...",promote sustained inclusive and sustainable ec...,6,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[5.4, 6.3, 6.3, 14.1, 14.1, 14.3]","['Fisheries Year 2016-17', 'Small Scale Indust...","[5, 6, 6, 14, 14, 14]","['Animal Husbandry', 'Industries', 'Industries...","[1, 1, 1, 1, 1, 1]","['Full Time,Families involved in fisheries, Fi..."
8,9,"Build resilient infrastructure, promote inclus...","['build', 'resilient', 'infrastructure', 'prom...",build resilient infrastructure promote inclusi...,20,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10....",['Infrastructure Facilities in Primary schools...,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","['Education', 'Education', 'Education', 'Educa...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['No.of Govt Primary Schools,Infrastructure Fa..."
9,10,Reduce inequality within the State,"['reduce', 'inequality', 'state']",reduce inequality within the state,1,[520.0],[9.2],['P.w.d. Road Length on 31-03-2017'],[9],['TRANSPORT AND COMMUNICATION'],[1],"['State Highway,P.w.d. Road Length in Km, P.w...."
10,11,"Make cities and human settlements inclusive, s...","['make', 'city', 'human', 'settlement', 'inclu...",make cities and human settlements inclusive sa...,1,[8.0],[1.2],['No.of Taluks Inhabited Un-inhabited and Tota...,[1],['General Information'],[1],"['Cities Towns Urban, No.of Taluks Inhabited U..."
11,12,Ensure sustainable consumption and production\...,"['ensure', 'sustainable', 'consumption', 'prod...",ensure sustainable consumption and production ...,73,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, ...",['Production of Important Crops Year 2014-15 P...,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture and Sericulture', ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Rice,Production of Cereals, Production of Im..."
12,13,Take urgent action to combat climate change an...,"['take', 'urgent', 'action', 'combat', 'climat...",take urgent action to combat climate change an...,18,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.6, 2.6, 2.6, ...",['Rural and Urban Population and Decadal chang...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","['Area and Population', 'Area and Population',...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Total,Population 2011, Rural and Urban Popul..."
13,14,"Protect, restore and promote sustainable use o...","['protect', 'restore', 'promote', 'sustainable...",protect restore and promote sustainable use of...,213,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, ...","['Land Utilisation in Hectares', 'Land Utilisa...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","['Agriculture, Horticulture and Sericulture', ...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Forest,Land Utilisation 2015-16, Land Utilis..."
14,15,Promote peaceful and inclusive societies for s...,"['promote', 'peaceful', 'inclusive', 'society'...",promote peaceful and inclusive societies for s...,136,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 5.2, 8.3, 8.3, ...","['Veterinary Hospitals on In Nos.', 'Veterinar...","[5, 5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 8, 8, ...","['Animal Husbandry', 'Animal Husbandry', 'Anim...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['Veterinary Hospitals Kvs/rl,Veterinary Insti..."
15,16,Strengthen the means of implementation and rev...,"['strengthen', 'mean', 'implementation', 'revi...",strengthen the means of implementation and rev...,56,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13.2, 13....",['Stree Shakti Self Help Groups and Members Ye...,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","['Women & Child Development', 'Women & Child D...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['No.of Stree Shakt Self help groups, Stree Sh..."
16,17,"Data, monitoring and accountability","['monitoring', 'accountability']",data monitoring and accountability,0,[],[],[],[],[],[],[]

In [103]:
sdg_sim = pd.read_csv(absolute_path_semantic, sep=";", dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_sim

,Goal No.,Goal,new_goal,new_goal_str,keywords,vec,top_n_index,min_values,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"['end', 'poverty', 'form', 'everywhere']",end poverty in all its forms everywhere,"[['end', 'poverty'], ['end'], ['forms', 'every...",[[ 0.004565 0.380225 0.28172 ... -0.0...,"[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 381, ...","[0.8735124280076773, 0.5514384505494149, 0.512...",37,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 13, 3, 3,...","[1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.7, 1.7, 1.7, ...","['Urban,Ration shops, Ration Shops And below p...","['General Information', 'General Information',...",['Ration Shops And below poverty line Ration C...
1,2,"End hunger, achieve food security and improved...","['end', 'hunger', 'achieve', 'food', 'security...",end hunger achieve food security and improved ...,"[['sustainable', 'agriculture'], ['security', ...",[[ 0.079023 0.0409187 -0.25506 ... -0.3...,"[199, 232, 286, 418, 419, 148, 150, 151, 152, ...","[0.8411997113893511, 0.5201666320060169, 0.566...",58,"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[4, 4, 4, 6, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.3, 4.6, 4.12, 6.4, 6.4, 4.1, 4.1, 4.1, 4.1,...","['Total Food Grains,Pulses Hect,Area under pri...","['Agriculture, Horticulture and Sericulture', ...","['Area under principal crops Year 2015-16', 'P..."
2,3,Ensure healthy lives and promote well-being fo...,"['ensure', 'healthy', 'life', 'promote', 'well...",ensure healthy lives and promote well being fo...,"[['well'], ['well', 'ages'], ['ensure'], ['pro...",[[-0.13508999 0.35907 0.1453 ... -0.4...,"[169, 170, 171, 172, 173, 174, 882, 883, 903, ...","[0.7045711183911056, 0.6798916546022343, 0.510...",42,"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[4, 4, 4, 4, 4, 4, 14, 14, 15, 9, 2, 13, 13, 1...","[4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 14.5, 14.5, 15....","['Nos,Wells,2015-16 Net area irrigated Hectare...","['Agriculture, Horticulture and Sericulture', ...",['Gross and Net area Irrigated under Different...
3,4,Ensure inclusive and equitable quality educati...,"['ensure', 'inclusive', 'equitable', 'quality'...",ensure inclusive and equitable quality educati...,"[['education'], ['ensure', 'inclusive'], ['pro...",[[-0.15599 -0.48863 -0.095793 ... -0.7...,"[526, 527, 529, 530, 534, 535, 536, 538, 539, ...","[1.0000000000000002, 0.41478819432196234, 0.50...",60,"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 13, 1...","[10.1, 10.1, 10.1, 10.1, 10.1, 10.2, 10.2, 10....","['Male,Rural,Literates, Literates rates per 20...","['Education', 'Education', 'Education', 'Educa...","['Literates rates per 2011 Census', 'Literates..."
4,5,Achieve gender equality and empower all women ...,"['achieve', 'gender', 'equality', 'empower', '...",achieve gender equality and empower all women ...,"[['women'], ['equality', 'empower'], ['equalit...",[[-0.43895 0.47641999 0.18844 ... 0.2...,"[594, 869, 547, 551, 555, 568, 571, 575, 585, ...","[0.6183490921829581, 0.411797604971018, 0.4003...",55,"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[10, 14, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.11, 14.3, 10.3, 10.4, 10.5, 10.8, 10.8, 10...","['Men,No. of Lecturers, No.of P U Colleges Stu...","['Education', 'Rural Development & Panchayat R...",['No.of P U Colleges Students and Lecturers Ye...
5,6,Ensure availability and sustainable management...,"['ensure', 'availability', 'sustainable', 'man...",ensure availability and sustainable management...,"[['ensure', 'availability'], ['ensure'], ['wat...",[[ 0.21560501 -0.03204 0.1458025 ... -0.0...,"[22, 516, 580, 590, 876, 877, 878, 879, 880, 8...","[0.540850001719501, 0.5105342633489856, 1.0000...",48,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[1, 9, 10, 10, 14, 14, 14, 14, 14, 14, 9, 9, 9...","[1.5, 9.3, 10.9, 10.10, 14.4, 14.4, 14.4, 14.4...","['Working Fire Brigade Water Tankers, No.of Fi...","['General Information', 'TRANSPORT AND COMMUNI...","['No.of Fire Stations on In Nos', 'Rural Roads..."
6,7,"Ensure access to affordable, reliable, sustain...","['ensure', 'access', 'affordable', 'reliable',...",ensure access to affordable reliable sustainab...,"[['modern', 'energy'], ['ensure'], ['affordabl...",[[ 0.45836502 -0.1715995 -0.23113549 ... -0.4...,"[515, 516, 517, 518, 519, 520, 898, 930, 931, ...","[0.8285528169164933, 0.5105342633489856, 0.469...",53,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[9, 9, 9, 9, 9, 9, 15, 16, 16, 16, 16, 16, 16,...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 15.2, 16.1, 16....","['Pakka,Panchayat Roads,Rural Roads Length on ...","['TRANSPORT AND COMMUNICATION', 'TRANSPORT AND...",['Rural Roads Length and Number of Habitations...
7,8,"Promote sustained, inclusive and sustainable e...","['promote', 'sustained', 'inclusive', 'sustain...",promote sustained inclusive and sustainable ec...,"[['full', 'productive'], ['promote', 'sustaine...",[[-2.96179995e-01 2.15652004e-01 -2.02702441e...,"[408, 410, 861, 862, 873, 381, 484, 485, 486, ...","[0.5318692418751239, 0.5479780674858141, 0.703...",54,"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[6, 6, 14, 14, 14, 5, 9, 9, 9, 9, 9, 1, 3, 3, ...","[6.3, 6.3, 14.1, 14.1, 14.3, 5.4, 9.1, 9.1, 9....","['Employment,Current year 2016-17, Small Scale...","['Industries', 'Industries', 'Rural Developmen...",['Small Scale Industrial Units Setup Year 2016...
8,9,"Build resilient infrastructure, promote inclus...","['build', 'resilient', 'infrastructure', 'prom...",build resilient infrastructure promote inclusi...,"[['promote'], ['inclusive', 'sustainable'], ['...",[[ 0.045182 0.069974 -0.61168998 ... 0.1...,"[573, 574, 575, 576, 577, 578, 579, 580, 581, ...","[0.5658785348581976, 0.4676713963912552, 0.526...",24,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 13, 1...","[10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10....","['No.of Govt Primary Schools,Infrastructure Fa...","['Education', 'Education', 'Education', 'Educa...",['Infrastructure Facilities in Primary schools...
9,10,Reduce inequality within the State,"['reduce', 'inequality', 'state']",reduce inequality within the state,"[['reduce'], ['inequality'], ['state']]",[[ 2.19090000e-01 3.54759991e-01 9.81779955e...,"[512, 832, 833, 834, 835, 836, 838, 839, 840, ...","[0.5316624413313134, 0.5327294572224268, 0.533...",30,"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[9, 13, 13, 13, 13, 13, 13, 13, 13, 1, 1, 1, 1...","[9.2, 13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13.2...","['State Highway,P.w.d. Road Length in Km, P.w....","['TRANSPORT AND COMMUNICATION', 'Women & Child...","['P.w.d. Road Length on 31-03-2017', 'Stree Sh..."
10,11,"Make cities and human settlements inclusive, s...","['make', 'city', 'human', 'settlement', 'inclu...",make cities and human settlements inclusive sa...,"[['cities', 'human'], ['make'], ['settlements'...",[[ 0.121575 0.073645 -0.18073501 ... -0.0...,"[832, 833, 834, 835, 836, 838, 839, 840, 484, ...","[0.5399743564463506, 0.6296606824569899, 0.385...",48,"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[13, 13, 13, 13, 13, 13, 13, 13, 9, 9, 1, 13, ...","[13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13.2, 13....","['No.of Stree Shakt Self help groups, Stree Sh...","['Women & Child Development', 'Women & Child D...",['Stree Shakti Self Help Groups and Members Ye...
11,12,Ensure sustainable consumption and production\...,"['ensure', 'sustainable', 'consumption', 'prod...",ensure sustainable consumption and production ...,"[['production', 'patterns'], ['consumption'], ...",[[-0.319305 0.462602 -0.303145 ... -0.0...,"[215, 216, 217, 218, 219, 220, 221, 222, 223, ...","[0.7722102820463911, 1.0, 0.5589028704077351, ...",51,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 16, 16, 16, 16,...","[4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, ...","['Rice,Production of Cereals, Production of Im...","['Agriculture, Horticulture and Sericulture', ...",['Production of Important Crops Year 2014-15 P...
12,13,Take urgent action to combat climate change an...,"['take', 'urgent', 'action', 'combat', 'climat...",take urgent action to combat climate change an...,"[['action', 'combat'], ['take'], ['take', 'urg...",[[-1.16922498e-01 3.48804995e-01 1.98920004e...,"[61, 62, 63, 88, 64, 65, 66, 89, 90, 91, 463, ...","[0.4430571549992675, 0.6772551231000878, 0.518...",35,"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 8, 13, 4, 15, 1...","[2.2, 2.2, 2.2, 2.6, 2.2, 2.2, 2.2, 2.6, 2.6, ...","['Total,Population 2011, Rural and Urban Popul...","['Area and Population', 'Area and Population',...",['Rural and Urban Population and Decadal chang...
13,14,"Protect, restore and promote sustainable use o...","['protect', 'restore', 'promote', 'sustainable...",protect restore and promote sustainable use of...,"[['protect', 'restore'], ['manage', 'forests']...",[[ 0.37306 -0.28052001 -0.7457 ... -0.1...,"[148, 149, 150, 151, 152, 153, 154, 155, 156, ...","[0.5249391784414458, 0.4604044289300697, 0.641...",44,"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 14, 14, 14, 14,...","[4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, ...","['Geographical Area,Land Utilisation 2015-16, ...","['Agriculture, Horticulture and Sericulture', ...","['Land Utilisation in Hectares', 'Land Utilisa..."
14,15,Promote peaceful and inclusive societies for s...,"['promote', 'peaceful', 'inclusive', 'society'...",promote peaceful and inclusive societies for s...,"[['provide', 'access'], ['promote', 'peaceful'...",[[-0.35189001 -0.48269999 -0.07626 ... 0.0...,"[515, 516, 517, 518, 519, 520, 836, 837, 839, ...","[0.6660740862641066, 0.5351490721457561, 0.866...",56,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[9, 9, 9, 9, 9, 9, 13, 13, 13, 13, 13, 13, 13,...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 13.1, 13.2, 13....","['Pakka,Panchayat Roads,Rural Roads Length on ...","['TRANSPORT AND COMMUNICATION', 'TRANSPORT AND...",['Rural Roads Length and Number of Habitations...
15,16,Strengthen the means of implementation and rev...,"['strengthen', 'mean', 'implementation', 'revi...",strengthen the means of implementation and rev...,"[['development'], ['means', 'implementation'],...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[836, 837, 839, 841, 842, 845, 854, 857, 859, ...","[1.0000000000000009, 0.5458329227654668, 0.627...",37,"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 13, 1...","[13.1, 13.2, 13.2, 13.3, 13.3, 13.4, 13.5, 13....","['Total No.of Members, Stree Shakti Self Help ...","['Women & Child Development', 'Women & Child D...",['Stree Shakti Self Help Groups and Members Ye...
16,17,"Data, monitoring and accountability","['monitoring', 'accountability']",data monitoring and accountability,"[['monitoring'], ['accountability']]",[[ 3.06239992e-01 8.30229968e-02 4.99220014e...,"[680, 681, 682, 683, 684, 685, 686, 687, 688, ...","[0.45278479964052126, 0.39951461691451745]",20,"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 1...","[11.5, 11.5, 11.5, 11.5, 11.5, 11.5, 11.5, 11....","['Male,No.of identified Aids patients, Aids Le...","['Health & Family welfare Services', 'Health &...",['Aids Leprosy Tb Control Programmes Year 2016...

In [104]:
sdg_threshold = pd.read_csv(absolute_path_sem_threshold, dtype={'Goal No.': str, 'Target_id': str, 'Indicator_id':str}, sep=";", converters={'top_n_attr': pd.eval, 'top_n_table_id': pd.eval, 'top_n_chapter_id': pd.eval,'top_n_similarities': pd.eval})
sdg_threshold

,Goal No.,Goal,new_goal,new_goal_str,keywords,vec,top_n_index,top_n_count,top_n_attr,top_n_chapter_id,top_n_table_id,top_n_description,top_n_chapter_name,top_n_table_name
0,1,End poverty in all its forms everywhere,"['end', 'poverty', 'form', 'everywhere']",end poverty in all its forms everywhere,"[['end', 'poverty'], ['end'], ['forms', 'every...",[[ 0.004565 0.380225 0.28172 ... -0.0...,"[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 3...",76,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.7, 1.7, 1.7, ...","['Urban,Ration shops, Ration Shops And below p...","['General Information', 'General Information',...",['Ration Shops And below poverty line Ration C...
1,2,"End hunger, achieve food security and improved...","['end', 'hunger', 'achieve', 'food', 'security...",end hunger achieve food security and improved ...,"[['sustainable', 'agriculture'], ['security', ...",[[ 0.079023 0.0409187 -0.25506 ... -0.3...,"[199, 232, 286, 418, 419, 148, 150, 151, 152, ...",398,"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[4, 4, 4, 6, 6, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.3, 4.6, 4.12, 6.4, 6.4, 4.1, 4.1, 4.1, 4.1,...","['Total Food Grains,Pulses Hect,Area under pri...","['Agriculture, Horticulture and Sericulture', ...","['Area under principal crops Year 2015-16', 'P..."
2,3,Ensure healthy lives and promote well-being fo...,"['ensure', 'healthy', 'life', 'promote', 'well...",ensure healthy lives and promote well being fo...,"[['well'], ['well', 'ages'], ['ensure'], ['pro...",[[-0.13508999 0.35907 0.1453 ... -0.4...,"[169, 170, 171, 172, 173, 174, 882, 883, 903, ...",186,"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[4, 4, 4, 4, 4, 4, 14, 14, 15, 9, 9, 9, 9, 9, ...","[4.2, 4.2, 4.2, 4.2, 4.2, 4.2, 14.5, 14.5, 15....","['Nos,Wells,2015-16 Net area irrigated Hectare...","['Agriculture, Horticulture and Sericulture', ...",['Gross and Net area Irrigated under Different...
3,4,Ensure inclusive and equitable quality educati...,"['ensure', 'inclusive', 'equitable', 'quality'...",ensure inclusive and equitable quality educati...,"[['education'], ['ensure', 'inclusive'], ['pro...",[[-0.15599 -0.48863 -0.095793 ... -0.7...,"[526, 527, 529, 530, 534, 535, 536, 538, 539, ...",326,"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.1, 10.1, 10.1, 10.1, 10.1, 10.2, 10.2, 10....","['Male,Rural,Literates, Literates rates per 20...","['Education', 'Education', 'Education', 'Educa...","['Literates rates per 2011 Census', 'Literates..."
4,5,Achieve gender equality and empower all women ...,"['achieve', 'gender', 'equality', 'empower', '...",achieve gender equality and empower all women ...,"[['women'], ['equality', 'empower'], ['equalit...",[[-0.43895 0.47641999 0.18844 ... 0.2...,"[594, 869, 547, 551, 555, 568, 571, 575, 585, ...",389,"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[10, 14, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.11, 14.3, 10.3, 10.4, 10.5, 10.8, 10.8, 10...","['Men,No. of Lecturers, No.of P U Colleges Stu...","['Education', 'Rural Development & Panchayat R...",['No.of P U Colleges Students and Lecturers Ye...
5,6,Ensure availability and sustainable management...,"['ensure', 'availability', 'sustainable', 'man...",ensure availability and sustainable management...,"[['ensure', 'availability'], ['ensure'], ['wat...",[[ 0.21560501 -0.03204 0.1458025 ... -0.0...,"[22, 516, 580, 590, 876, 877, 878, 879, 880, 8...",235,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[1, 9, 10, 10, 14, 14, 14, 14, 14, 14, 14, 14,...","[1.5, 9.3, 10.9, 10.10, 14.4, 14.4, 14.4, 14.4...","['Working Fire Brigade Water Tankers, No.of Fi...","['General Information', 'TRANSPORT AND COMMUNI...","['No.of Fire Stations on In Nos', 'Rural Roads..."
6,7,"Ensure access to affordable, reliable, sustain...","['ensure', 'access', 'affordable', 'reliable',...",ensure access to affordable reliable sustainab...,"[['modern', 'energy'], ['ensure'], ['affordabl...",[[ 0.45836502 -0.1715995 -0.23113549 ... -0.4...,"[515, 516, 517, 518, 519, 520, 898, 930, 931, ...",377,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[9, 9, 9, 9, 9, 9, 15, 16, 16, 16, 16, 16, 16,...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 15.2, 16.1, 16....","['Pakka,Panchayat Roads,Rural Roads Length on ...","['TRANSPORT AND COMMUNICATION', 'TRANSPORT AND...",['Rural Roads Length and Number of Habitations...
7,8,"Promote sustained, inclusive and sustainable e...","['promote', 'sustained', 'inclusive', 'sustain...",promote sustained inclusive and sustainable ec...,"[['full', 'productive'], ['promote', 'sustaine...",[[-2.96179995e-01 2.15652004e-01 -2.02702441e...,"[408, 410, 861, 862, 873, 381, 484, 485, 486, ...",118,"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[6, 6, 14, 14, 14, 5, 9, 9, 9, 9, 9, 1, 3, 3, ...","[6.3, 6.3, 14.1, 14.1, 14.3, 5.4, 9.1, 9.1, 9....","['Employment,Current year 2016-17, Small Scale...","['Industries', 'Industries', 'Rural Developmen...",['Small Scale Industrial Units Setup Year 2016...
8,9,"Build resilient infrastructure, promote inclus...","['build', 'resilient', 'infrastructure', 'prom...",build resilient infrastructure promote inclusi...,"[['promote'], ['inclusive', 'sustainable'], ['...",[[ 0.045182 0.069974 -0.61168998 ... 0.1...,"[573, 574, 575, 576, 577, 578, 579, 580, 581, ...",76,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...","[10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10.9, 10....","['No.of Govt Primary Schools,Infrastructure Fa...","['Education', 'Education', 'Education', 'Educa...",['Infrastructure Facilities in Primary schools...
9,10,Reduce inequality within the State,"['reduce', 'inequality', 'state']",reduce inequality within the state,"[['reduce'], ['inequality'], ['state']]",[[ 2.19090000e-01 3.54759991e-01 9.81779955e...,"[512, 832, 833, 834, 835, 836, 838, 839, 840, ...",119,"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[9, 13, 13, 13, 13, 13, 13, 13, 13, 1, 1, 1, 1...","[9.2, 13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13.2...","['State Highway,P.w.d. Road Length in Km, P.w....","['TRANSPORT AND COMMUNICATION', 'Women & Child...","['P.w.d. Road Length on 31-03-2017', 'Stree Sh..."
10,11,"Make cities and human settlements inclusive, s...","['make', 'city', 'human', 'settlement', 'inclu...",make cities and human settlements inclusive sa...,"[['cities', 'human'], ['make'], ['settlements'...",[[ 0.121575 0.073645 -0.18073501 ... -0.0...,"[832, 833, 834, 835, 836, 838, 839, 840, 484, ...",302,"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[13, 13, 13, 13, 13, 13, 13, 13, 9, 9, 9, 9, 9...","[13.1, 13.1, 13.1, 13.1, 13.1, 13.2, 13.2, 13....","['No.of Stree Shakt Self help groups, Stree Sh...","['Women & Child Development', 'Women & Child D...",['Stree Shakti Self Help Groups and Members Ye...
11,12,Ensure sustainable consumption and production\...,"['ensure', 'sustainable', 'consumption', 'prod...",ensure sustainable consumption and production ...,"[['production', 'patterns'], ['consumption'], ...",[[-0.319305 0.462602 -0.303145 ... -0.0...,"[215, 216, 217, 218, 219, 220, 221, 222, 223, ...",170,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6, ...","['Rice,Production of Cereals, Production of Im...","['Agriculture, Horticulture and Sericulture', ...",['Production of Important Crops Year 2014-15 P...
12,13,Take urgent action to combat climate change an...,"['take', 'urgent', 'action', 'combat', 'climat...",take urgent action to combat climate change an...,"[['action', 'combat'], ['take'], ['take', 'urg...",[[-1.16922498e-01 3.48804995e-01 1.98920004e...,"[61, 62, 63, 88, 64, 65, 66, 89, 90, 91, 92, 9...",276,"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[2.2, 2.2, 2.2, 2.6, 2.2, 2.2, 2.2, 2.6, 2.6, ...","['Total,Population 2011, Rural and Urban Popul...","['Area and Population', 'Area and Population',...",['Rural and Urban Population and Decadal chang...
13,14,"Protect, restore and promote sustainable use o...","['protect', 'restore', 'promote', 'sustainable...",protect restore and promote sustainable use of...,"[['protect', 'restore'], ['manage', 'forests']...",[[ 0.37306 -0.28052001 -0.7457 ... -0.1...,"[148, 149, 150, 151, 152, 153, 154, 155, 156, ...",315,"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...","[4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, 4.1, ...","['Geographical Area,Land Utilisation 2015-16, ...","['Agriculture, Horticulture and Sericulture', ...","['Land Utilisation in Hectares', 'Land Utilisa..."
14,15,Promote peaceful and inclusive societies for s...,"['promote', 'peaceful', 'inclusive', 'society'...",promote peaceful and inclusive societies for s...,"[['provide', 'access'], ['promote', 'peaceful'...",[[-0.35189001 -0.48269999 -0.07626 ... 0.0...,"[515, 516, 517, 518, 519, 520, 836, 837, 839, ...",405,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[9, 9, 9, 9, 9, 9, 13, 13, 13, 13, 13, 13, 13,...","[9.3, 9.3, 9.3, 9.3, 9.3, 9.3, 13.1, 13.2, 13....","['Pakka,Panchayat Roads,Rural Roads Length on ...","['TRANSPORT AND COMMUNICATION', 'TRANSPORT AND...",['Rural Roads Length and Number of Habitations...
15,16,Strengthen the means of implementation and rev...,"['strengthen', 'mean', 'implementation', 'revi...",strengthen the means of implementation and rev...,"[['development'], ['means', 'implementation'],...",[[-0.10137 -0.27173999 -0.31147 ... -0.0...,"[836, 837, 839, 841, 842, 845, 854, 857, 859, ...",334,"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 1...","[13.1, 13.2, 13.2, 13.3, 13.3, 13.4, 13.5, 13....","['Total No.of Members, Stree Shakti Self Help ...","['Women & Child Development', 'Women & Child D...",['Stree Shakti Self Help Groups and Members Ye...
16,17,"Data, monitoring and accountability","['monitoring', 'accountability']",data monitoring and accountability,"[['monitoring'], ['accountability']]",[[ 3.06239992e-01 8.30229968e-02 4.99220014e...,"[680, 681, 682, 683, 684, 685, 686, 687, 688, ...",164,"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[11.5, 11.5, 11.5, 11.5, 11.5, 11.5, 11.5, 11....","['Male,No.of identified Aids patients, Aids Le...","['Health & Family welfare Services', 'Health &...",['Aids Leprosy Tb Control Programmes Year 2016...

In [105]:
result_sdg_new =sdg_string.copy()
result_sdg_sim_new =sdg_sim.copy()
result_sdg_threshold_new = sdg_threshold.copy()

In [106]:
result_sdg_new = result_sdg_new[['Goal No.', 'top_n_attr']]

In [107]:
result_sdg_new.head()

  Goal No.                                         top_n_attr
0        1  [28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....
1        2  [207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...
2        3  [120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...
3        4  [534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...
4        5  [863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...

In [108]:
result_sdg_sim_new = result_sdg_sim_new[['Goal No.', 'top_n_attr']]

In [109]:
result_sdg_sim_new.head()

  Goal No.                                         top_n_attr
0        1  [28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....
1        2  [207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...
2        3  [177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...
3        4  [534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...
4        5  [602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...

In [110]:
result_sdg_threshold_new = result_sdg_threshold_new[['Goal No.', 'top_n_attr']]

In [111]:
result_sdg_threshold_new.head()

  Goal No.                                         top_n_attr
0        1  [28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....
1        2  [207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...
2        3  [177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...
3        4  [534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...
4        5  [602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...

In [112]:
result_sdg_new.rename(columns = {'top_n_attr':'top_n_attr_A'}, inplace=True)

In [113]:
result_sdg_new['top_n_attr_B'] = result_sdg_threshold_new.loc[:,'top_n_attr']
result_sdg_new['top_n_attr_C'] = result_sdg_sim_new.loc[:,'top_n_attr']

In [114]:
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35...."
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158..."
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889..."
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544..."
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579..."
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885...."
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905..."
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492..."
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587..."
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845..."
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846..."
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229..."
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92...."
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162..."
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843..."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861..."
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693..."

In [115]:
# Apply the function to the merged dataframe
result_sdg_new['B_plus_C'] = result_sdg_new.apply(combine_lists_BC, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35...."
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158..."
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889..."
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544..."
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579..."
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885...."
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905..."
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492..."
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587..."
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845..."
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846..."
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229..."
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92...."
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162..."
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843..."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861..."
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693..."

In [116]:
# Apply the function to the merged dataframe
result_sdg_new['A_and_BC'] = result_sdg_new.apply(find_intersection_ABC, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35...."
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159..."
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540..."
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583..."
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885...."
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905..."
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]"
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587..."
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0]
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0]
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229..."
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92...."
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162..."
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376..."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845..."
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[]

In [117]:
# Apply the function to the merged dataframe
result_sdg_new['A'] = result_sdg_new.apply(find_difference_A, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",[]
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",[]
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[]
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",[]
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",[]
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",[]
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",[]
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]",[]
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",[]
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0],[]
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0],[]
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",[]
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",[]
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",[]
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482..."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[]
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[],[]

In [118]:
# Apply the function to the merged dataframe
result_sdg_new['B_and_C'] = result_sdg_new.apply(find_intersection_BC, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35...."
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",[],"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158..."
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889..."
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",[],"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544..."
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",[],"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579..."
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885...."
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905..."
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]",[],"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492..."
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587..."
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0],[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845..."
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0],[],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846..."
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229..."
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",[],"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92...."
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",[],"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162..."
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843..."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861..."
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[],[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693..."

In [119]:
# Apply the function to the merged dataframe
result_sdg_new['B_minus_all'] = result_sdg_new.apply(find_difference_B, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[878.0, 882.0, 142.0, 143.0, 144.0, 183.0, 184..."
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",[],"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45...."
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855..."
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",[],"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[683.0, 44.0, 45.0, 322.0, 323.0, 324.0, 325.0..."
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",[],"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 544..."
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876..."
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[15.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23...."
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]",[],"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[446.0, 717.0, 718.0, 870.0, 871.0, 872.0, 873..."
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[849.0, 852.0, 855.0, 856.0, 857.0, 858.0, 859..."
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0],[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[613.0, 614.0, 615.0, 620.0, 621.0, 622.0, 623..."
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0],[],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[182.0, 889.0, 890.0, 910.0, 896.0, 897.0, 158..."
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876..."
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",[],"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[392.0, 26.0, 44.0, 45.0, 464.0, 465.0, 466.0,..."
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",[],"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855..."
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[1159.0, 1162.0, 1163.0, 1065.0, 1069.0, 1070...."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[1065.0, 1066.0, 1067.0, 1068.0, 1069.0, 1070...."
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[],[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[697.0, 698.0, 699.0, 700.0, 701.0, 702.0, 703..."

In [120]:
# Apply the function to the merged dataframe
result_sdg_new['C_minus_all'] = result_sdg_new.apply(find_difference_C, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[878.0, 882.0, 142.0, 143.0, 144.0, 183.0, 184...",[]
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",[],"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45....",[]
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855...",[]
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",[],"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[683.0, 44.0, 45.0, 322.0, 323.0, 324.0, 325.0...",[]
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",[],"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 544...",[]
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876...",[]
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[15.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23....",[]
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]",[],"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[446.0, 717.0, 718.0, 870.0, 871.0, 872.0, 873...",[]
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[849.0, 852.0, 855.0, 856.0, 857.0, 858.0, 859...",[]
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0],[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[613.0, 614.0, 615.0, 620.0, 621.0, 622.0, 623...",[]
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0],[],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[182.0, 889.0, 890.0, 910.0, 896.0, 897.0, 158...",[]
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876...",[]
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",[],"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[392.0, 26.0, 44.0, 45.0, 464.0, 465.0, 466.0,...",[]
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",[],"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855...",[]
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[1159.0, 1162.0, 1163.0, 1065.0, 1069.0, 1070....",[]
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[1065.0, 1066.0, 1067.0, 1068.0, 1069.0, 1070....",[]
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[],[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[697.0, 698.0, 699.0, 700.0, 701.0, 702.0, 703...",[]

In [121]:
result_sdg_new.columns

Index(['Goal No.', 'top_n_attr_A', 'top_n_attr_B', 'top_n_attr_C', 'B_plus_C',
       'A_and_BC', 'A', 'B_and_C', 'B_minus_all', 'C_minus_all'],
      dtype='object')

In [122]:
# Apply the function to the merged dataframe
result_sdg_new['Rank'] = result_sdg_new.apply(final_rank, axis=1)
result_sdg_new

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[878.0, 882.0, 142.0, 143.0, 144.0, 183.0, 184...",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35...."
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",[],"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45....",[],"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159..."
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855...",[],"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126..."
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",[],"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[683.0, 44.0, 45.0, 322.0, 323.0, 324.0, 325.0...",[],"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540..."
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",[],"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 544...",[],"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583..."
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876...",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885...."
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[15.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23....",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905..."
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]",[],"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[446.0, 717.0, 718.0, 870.0, 871.0, 872.0, 873...",[],"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0, 492..."
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[849.0, 852.0, 855.0, 856.0, 857.0, 858.0, 859...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587..."
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0],[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[613.0, 614.0, 615.0, 620.0, 621.0, 622.0, 623...",[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845..."
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0],[],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[182.0, 889.0, 890.0, 910.0, 896.0, 897.0, 158...",[],"[8.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845.0..."
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229..."
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",[],"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[392.0, 26.0, 44.0, 45.0, 464.0, 465.0, 466.0,...",[],"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92...."
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",[],"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855...",[],"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162..."
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[1159.0, 1162.0, 1163.0, 1065.0, 1069.0, 1070....",[],"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376..."
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[1065.0, 1066.0, 1067.0, 1068.0, 1069.0, 1070....",[],"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845..."
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[],[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[697.0, 698.0, 699.0, 700.0, 701.0, 702.0, 703...",[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693..."

In [123]:
final_df = result_sdg_new.copy()

In [124]:
final_df['Attr_count'] = final_df['Rank'].apply(lambda x: len(x))

In [125]:
final_df

,Goal No.,top_n_attr_A,top_n_attr_B,top_n_attr_C,B_plus_C,A_and_BC,A,B_and_C,B_minus_all,C_minus_all,Rank,Attr_count
0,1,"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....","[878.0, 882.0, 142.0, 143.0, 144.0, 183.0, 184...",[],"[28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35....",76
1,2,"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",[],"[207.0, 240.0, 294.0, 426.0, 427.0, 156.0, 158...","[38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45....",[],"[207.0, 240.0, 294.0, 156.0, 157.0, 158.0, 159...",398
2,3,"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",[],"[177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 889...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855...",[],"[120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126...",186
3,4,"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",[],"[534.0, 535.0, 537.0, 538.0, 542.0, 543.0, 544...","[683.0, 44.0, 45.0, 322.0, 323.0, 324.0, 325.0...",[],"[534.0, 535.0, 536.0, 537.0, 538.0, 539.0, 540...",326
4,5,"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",[],"[602.0, 876.0, 555.0, 559.0, 563.0, 576.0, 579...","[396.0, 399.0, 402.0, 405.0, 408.0, 411.0, 544...",[],"[863.0, 555.0, 559.0, 563.0, 576.0, 579.0, 583...",389
5,6,"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876...",[],"[25.0, 524.0, 588.0, 598.0, 883.0, 884.0, 885....",235
6,7,"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...","[15.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23....",[],"[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 905...",377
7,8,"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[389.0, 416.0, 418.0, 868.0, 869.0, 880.0]",[],"[416.0, 418.0, 868.0, 869.0, 880.0, 389.0, 492...","[446.0, 717.0, 718.0, 870.0, 871.0, 872.0, 873...",[],"[389.0, 416.0, 418.0, 868.0, 869.0, 880.0, 492...",118
8,9,"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...","[849.0, 852.0, 855.0, 856.0, 857.0, 858.0, 859...",[],"[581.0, 582.0, 583.0, 584.0, 585.0, 586.0, 587...",76
9,10,[520.0],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",[520.0],[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...","[613.0, 614.0, 615.0, 620.0, 621.0, 622.0, 623...",[],"[520.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845...",119
10,11,[8.0],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...",[8.0],[],"[839.0, 840.0, 841.0, 842.0, 843.0, 845.0, 846...","[182.0, 889.0, 890.0, 910.0, 896.0, 897.0, 158...",[],"[8.0, 839.0, 840.0, 841.0, 842.0, 843.0, 845.0...",302
11,12,"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...","[870.0, 871.0, 872.0, 873.0, 874.0, 875.0, 876...",[],"[223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229...",170
12,13,"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",[],"[64.0, 65.0, 66.0, 91.0, 67.0, 68.0, 69.0, 92....","[392.0, 26.0, 44.0, 45.0, 464.0, 465.0, 466.0,...",[],"[64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 91.0, 92....",276
13,14,"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",[],"[156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162...","[849.0, 850.0, 851.0, 852.0, 853.0, 854.0, 855...",[],"[157.0, 156.0, 158.0, 159.0, 160.0, 161.0, 162...",315
14,15,"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...","[476.0, 477.0, 478.0, 479.0, 480.0, 481.0, 482...","[523.0, 524.0, 525.0, 526.0, 527.0, 528.0, 843...","[1159.0, 1162.0, 1163.0, 1065.0, 1069.0, 1070....",[],"[370.0, 371.0, 372.0, 373.0, 374.0, 375.0, 376...",421
15,16,"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",[],"[843.0, 844.0, 846.0, 848.0, 849.0, 852.0, 861...","[1065.0, 1066.0, 1067.0, 1068.0, 1069.0, 1070....",[],"[839.0, 840.0, 841.0, 842.0, 843.0, 844.0, 845...",334
16,17,[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",[],[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...","[697.0, 698.0, 699.0, 700.0, 701.0, 702.0, 703...",[],"[687.0, 688.0, 689.0, 690.0, 691.0, 692.0, 693...",164

In [126]:
final_df.to_csv(absolute_path_rank, sep=';', index=False)

In [127]:
all_goals = process_result(final_df, sdg, data)

In [128]:
all_goals.to_csv(absolute_path_rank_unroll, sep=';', index=False)

In [129]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,28.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,29.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,30.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,31.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
4,32.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4277,618.0,10,Education,10.12,No.of General Degree Colleges and Students 201...,"Girls,Ist year to final year aided,General Deg...","Data, monitoring and accountability",17
4278,629.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Medical Colleges Allopathy","Data, monitoring and accountability",17
4279,631.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Dental Colleges","Data, monitoring and accountability",17
4280,632.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"No.of Institutions,Polytechnic- Government","Data, monitoring and accountability",17
4281,643.0,10,Education,10.15,No.of Engineering Colleges and Students Year-2...,"Total,Ist year,Engineering- Government","Data, monitoring and accountability",17

In [130]:
# Group by 'col1' and count the distinct values in 'col2'
table_map = data_new.groupby('Chapter_id')['Table_id'].nunique().to_dict()
table_map

{'1': 10,
 '10': 15,
 '11': 6,
 '12': 6,
 '13': 6,
 '14': 5,
 '15': 7,
 '16': 3,
 '17': 3,
 '18': 1,
 '2': 11,
 '3': 2,
 '4': 18,
 '5': 4,
 '6': 5,
 '7': 2,
 '8': 4,
 '9': 4}

In [131]:
attr_map = data_new.groupby('Table_id')['Attr_id'].nunique().to_dict()
attr_map

{'1.1': 5,
 '1.10': 6,
 '1.2': 4,
 '1.3': 6,
 '1.4': 6,
 '1.5': 4,
 '1.6': 6,
 '1.7': 6,
 '1.8': 6,
 '1.9': 6,
 '10.1': 9,
 '10.10': 10,
 '10.11': 11,
 '10.12': 8,
 '10.13': 12,
 '10.14': 8,
 '10.15': 8,
 '10.2': 10,
 '10.3': 4,
 '10.4': 4,
 '10.5': 4,
 '10.6': 5,
 '10.7': 5,
 '10.8': 6,
 '10.9': 10,
 '11.1': 12,
 '11.2': 7,
 '11.3': 10,
 '11.4': 6,
 '11.5': 32,
 '11.6': 8,
 '12.1': 24,
 '12.2': 24,
 '12.3': 24,
 '12.4': 6,
 '12.5': 18,
 '12.6': 21,
 '13.1': 5,
 '13.2': 4,
 '13.3': 3,
 '13.4': 4,
 '13.5': 8,
 '13.6': 3,
 '14.1': 6,
 '14.2': 4,
 '14.3': 7,
 '14.4': 6,
 '14.5': 6,
 '15.1': 7,
 '15.2': 6,
 '15.3': 9,
 '15.4': 8,
 '15.5': 4,
 '15.6': 3,
 '15.7': 5,
 '16.1': 7,
 '16.2': 6,
 '16.3': 8,
 '17.1': 4,
 '17.2': 7,
 '17.3': 13,
 '18.1': 192,
 '2.1': 6,
 '2.11': 9,
 '2.12': 11,
 '2.2': 6,
 '2.3': 6,
 '2.4': 9,
 '2.5': 6,
 '2.6': 6,
 '2.7': 6,
 '2.8': 6,
 '2.9': 6,
 '3.1': 5,
 '3.2': 11,
 '4.1': 15,
 '4.10': 9,
 '4.11': 9,
 '4.12': 18,
 '4.13': 9,
 '4.14': 3,
 '4.15': 5,
 '4.16': 4,
 '4.17': 16,
 '4.18': 19,
 '4.2': 19,
 '4.3': 20,
 '4.4': 10,
 '4.5': 3,
 '4.6': 18,
 '4.7': 9,
 '4.8': 3,
 '4.9': 6,
 '5.1': 19,
 '5.2': 7,
 '5.3': 5,
 '5.4': 12,
 '6.1': 18,
 '6.2': 3,
 '6.3': 5,
 '6.4': 24,
 '6.5': 3,
 '7.1': 5,
 '7.2': 12,
 '8.1': 6,
 '8.2': 6,
 '8.3': 6,
 '8.4': 10,
 '9.1': 27,
 '9.2': 4,
 '9.3': 6,
 '9.4': 5}

In [132]:
all_goals

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,28.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,29.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,30.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,31.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
4,32.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4277,618.0,10,Education,10.12,No.of General Degree Colleges and Students 201...,"Girls,Ist year to final year aided,General Deg...","Data, monitoring and accountability",17
4278,629.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Medical Colleges Allopathy","Data, monitoring and accountability",17
4279,631.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Dental Colleges","Data, monitoring and accountability",17
4280,632.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"No.of Institutions,Polytechnic- Government","Data, monitoring and accountability",17
4281,643.0,10,Education,10.15,No.of Engineering Colleges and Students Year-2...,"Total,Ist year,Engineering- Government","Data, monitoring and accountability",17

In [133]:
filter_df = all_goals.copy()

In [134]:
# Initialize an empty dictionary to store the counts
tab_result = {}
table_id_rm = {}
# Iterate over unique values in col1
for val in filter_df['top_n_goal_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = filter_df[filter_df['top_n_goal_id'] == val]
    
    # Count the occurrences of each value in col2 and store in a dictionary
    table_counts = filtered_df['Table_id'].value_counts().to_dict()
    
    table_id_rm[val] = {key:value for key, value in table_counts.items() if value < (attr_map[key]/2)}
    
    table_dict_new = {key:value for key, value in table_counts.items() if key not in table_id_rm[val]}
    
    if(len(table_dict_new) <= 4):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(table_counts.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_6_dict = dict(list(sorted_dict.items())[:6])
        tab_result[val] = top_6_dict
        
    else:
        # Add the col2 counts dictionary to the result dictionary
        tab_result[val] = table_dict_new

print(tab_result)

{'1': {'4.2': 19, '11.6': 8, '1.6': 6, '1.7': 6, '1.8': 6, '14.5': 6, '3.1': 5, '14.3': 4, '13.6': 3}, '2': {'11.5': 32, '4.3': 20, '4.2': 19, '4.18': 19, '4.12': 18, '4.6': 18, '4.17': 16, '4.1': 15, '11.1': 12, '4.4': 10, '10.10': 10, '11.3': 10, '4.10': 9, '4.13': 9, '4.11': 9, '4.7': 9, '11.6': 8, '15.4': 8, '13.5': 8, '14.3': 7, '11.2': 7, '1.8': 6, '11.4': 6, '14.5': 6, '14.1': 6, '14.4': 6, '1.7': 6, '4.9': 6, '1.6': 6, '4.15': 5, '13.1': 5, '7.1': 5, '13.2': 4, '4.16': 4, '14.2': 4, '13.4': 4, '13.3': 3, '4.14': 3, '13.6': 3, '4.8': 3, '4.5': 3}, '3': {'11.5': 32, '11.1': 12, '11.3': 10, '2.11': 9, '13.5': 8, '11.6': 8, '14.3': 7, '11.2': 7, '1.8': 6, '1.7': 6, '11.4': 6, '10.8': 6, '14.4': 6, '2.4': 6, '14.5': 6, '14.1': 6, '3.1': 5, '13.1': 5, '13.4': 4, '14.2': 4, '13.2': 4, '13.6': 3, '13.3': 3}, '4': {'4.17': 16, '12.1': 12, '7.2': 12, '10.13': 12, '12.2': 12, '12.5': 12, '12.3': 12, '10.11': 11, '10.2': 10, '10.9': 10, '10.10': 10, '15.3': 9, '10.1': 9, '13.5': 8, '15.4': 8, '10.14': 8, '10.12': 8, '10.15': 8, '14.3': 7, '9.3': 6, '14.4': 6, '15.2': 6, '14.5': 6, '1.7': 6, '1.8': 6, '14.1': 6, '10.8': 6, '13.1': 5, '10.6': 5, '10.7': 5, '4.16': 4, '10.3': 4, '10.4': 4, '10.5': 4, '13.2': 4, '14.2': 4, '13.4': 4, '13.3': 3, '13.6': 3}, '5': {'12.3': 24, '12.1': 24, '12.2': 24, '12.6': 21, '12.5': 18, '10.13': 12, '10.11': 11, '10.2': 10, '10.9': 10, '10.10': 10, '10.1': 9, '2.11': 9, '13.5': 8, '10.12': 8, '10.14': 8, '10.15': 8, '14.3': 7, '17.2': 7, '1.7': 6, '2.5': 6, '10.8': 6, '2.8': 6, '2.2': 6, '2.6': 6, '2.3': 6, '1.8': 6, '12.4': 6, '10.6': 5, '13.1': 5, '10.7': 5, '13.4': 4, '13.2': 4, '10.3': 4, '10.5': 4, '10.4': 4, '13.6': 3, '13.3': 3}, '6': {'11.5': 32, '11.1': 12, '8.4': 10, '10.9': 10, '10.10': 10, '11.3': 10, '15.3': 9, '11.6': 8, '13.5': 8, '11.2': 7, '14.3': 7, '11.4': 6, '1.8': 6, '1.7': 6, '8.3': 6, '8.2': 6, '9.3': 6, '14.1': 6, '14.5': 6, '14.4': 6, '8.1': 6, '13.1': 5, '14.2': 4, '13.4': 4, '13.2': 4, '13.6': 3, '13.3': 3}, '7': {'18.1': 192, '15.3': 9, '15.4': 8, '13.5': 8, '16.3': 8, '15.1': 7, '14.3': 7, '16.1': 7, '1.10': 6, '14.4': 6, '1.8': 6, '1.7': 6, '1.6': 6, '1.4': 6, '1.3': 6, '15.2': 6, '1.9': 6, '9.3': 6, '14.1': 6, '14.5': 6, '16.2': 6, '1.1': 5, '13.1': 5, '15.7': 5, '1.2': 4, '1.5': 4, '15.5': 4, '13.2': 4, '13.4': 4, '14.2': 4, '15.6': 3, '13.6': 3, '13.3': 3}, '8': {'13.5': 8, '16.3': 8, '14.3': 7, '14.4': 6, '14.5': 6, '14.1': 6, '13.1': 5, '13.4': 4, '17.1': 4, '14.2': 4, '13.2': 4, '6.5': 3, '13.3': 3, '13.6': 3}, '9': {'10.9': 10, '10.10': 10, '13.5': 8, '14.3': 7, '14.1': 6, '14.4': 6, '14.5': 6, '13.1': 5, '13.2': 4, '13.4': 4, '14.2': 4, '13.3': 3, '13.6': 3}, '10': {'12.1': 12, '12.5': 12, '12.3': 12, '12.2': 12, '16.3': 8, '1.10': 6, '1.8': 6, '1.6': 6, '1.7': 6, '13.1': 5, '17.1': 4, '14.2': 4, '10.15': 4, '10.14': 4, '10.12': 4, '13.2': 4}, '11': {'18.1': 192, '11.3': 10, '2.11': 9, '13.5': 8, '15.1': 7, '14.3': 7, '14.4': 6, '14.1': 6, '14.5': 6, '2.4': 6, '11.6': 5, '13.1': 5, '14.2': 4, '13.2': 4, '13.4': 4, '13.3': 3, '13.6': 3}, '12': {'4.2': 19, '4.6': 18, '4.10': 9, '4.11': 9, '4.7': 9, '16.3': 8, '13.5': 8, '11.6': 8, '14.3': 7, '1.8': 6, '1.7': 6, '4.9': 6, '14.1': 6, '14.5': 6, '14.4': 6, '13.1': 5, '5.3': 5, '13.4': 4, '17.1': 4, '13.2': 4, '14.2': 4, '13.6': 3, '4.8': 3, '13.3': 3}, '13': {'18.1': 192, '8.4': 10, '15.1': 7, '2.2': 6, '2.6': 6, '8.3': 6, '8.1': 6, '1.8': 6, '8.2': 6, '2.8': 6, '13.1': 5, '1.7': 3, '13.2': 3}, '14': {'18.1': 192, '4.1': 15, '4.7': 9, '13.5': 8, '14.3': 7, '2.8': 6, '2.6': 6, '2.2': 6, '1.6': 6, '1.7': 6, '1.8': 6, '14.5': 6, '14.1': 6, '14.4': 6, '13.1': 5, '14.2': 4, '13.2': 4, '13.4': 4, '13.6': 3, '13.3': 3}, '15': {'18.1': 192, '12.5': 12, '12.3': 12, '12.2': 12, '12.1': 12, '10.10': 10, '8.4': 10, '13.5': 8, '5.2': 7, '14.3': 7, '1.4': 6, '1.6': 6, '1.7': 6, '8.3': 6, '1.8': 6, '14.5': 6, '14.4': 6, '14.1': 6, '1.9': 6, '1.10': 6, '9.3': 6, '1.3': 6, '1.1': 5, '11.6': 5, '13.1': 5, '10.14': 5, '1.2': 4, '10.12': 4, '1.5': 4, '10.4': 4, '14.2': 4, '13.4': 4, '13.2': 4, '10.15': 4, '13.6': 3, '13.3': 3}, '16': {'6.4': 24, '4.6': 18, '4.12': 18, '6.1': 18, '12.5': 12, '12.3': 12, '12.2': 12, '12.1': 12, '10.9': 10, '10.10': 10, '4.4': 10, '4.7': 9, '4.10': 9, '4.11': 9, '4.13': 9, '13.5': 8, '14.3': 7, '2.6': 6, '2.2': 6, '2.8': 6, '1.8': 6, '14.5': 6, '14.4': 6, '14.1': 6, '1.7': 6, '13.1': 5, '6.3': 5, '13.2': 4, '14.2': 4, '10.12': 4, '10.14': 4, '10.15': 4, '13.4': 4, '6.2': 3, '13.6': 3, '13.3': 3, '6.5': 3}, '17': {'11.5': 27, '10.13': 12, '7.2': 12, '10.11': 11, '10.9': 10, '10.2': 10, '11.3': 10, '10.10': 10, '10.1': 9, '10.14': 8, '10.12': 8, '10.15': 8, '10.8': 6, '10.7': 5, '10.6': 5, '10.4': 4, '10.3': 4, '10.5': 4}}

In [135]:
len(tab_result)

17

In [136]:
table_id_rm

{'1': {'9.1': 5, '5.4': 4, '13.5': 1, '4.11': 1, '15.3': 1, '5.3': 1},
 '2': {'18.1': 24, '6.4': 2, '15.3': 2, '9.3': 2, '5.3': 1},
 '3': {'4.2': 6, '9.1': 5, '17.2': 2, '5.4': 2, '5.1': 1, '15.3': 1},
 '4': {'18.1': 24, '9.1': 6, '11.5': 2, '6.3': 2, '5.4': 1},
 '5': {'18.1': 48, '11.5': 8, '6.1': 6, '14.1': 2, '2.1': 1, '1.4': 1},
 '6': {'18.1': 24, '4.2': 3, '1.5': 1, '5.4': 1},
 '7': {'8.4': 2, '11.5': 2, '9.4': 1},
 '8': {'18.1': 24,
  '4.2': 6,
  '9.1': 5,
  '11.6': 2,
  '5.4': 2,
  '6.3': 2,
  '3.1': 2,
  '15.3': 1,
  '16.2': 1,
  '4.18': 1,
  '1.5': 1},
 '9': {},
 '10': {'10.13': 4, '10.11': 2, '14.1': 2, '16.2': 1, '9.2': 1},
 '11': {'4.2': 6, '9.1': 5, '9.3': 2, '1.2': 1, '4.1': 1, '15.3': 1, '1.5': 1},
 '12': {'11.5': 2, '4.18': 1, '16.2': 1},
 '13': {'5.4': 3,
  '16.1': 3,
  '14.1': 2,
  '11.5': 2,
  '6.4': 2,
  '1.5': 1,
  '4.1': 1},
 '14': {'4.13': 2, '4.12': 2, '4.4': 1, '2.1': 1, '1.5': 1},
 '15': {'10.13': 4, '10.11': 2, '11.5': 2, '9.1': 1},
 '16': {'18.1': 24, '10.13': 4, '10.11': 2, '16.3': 1, '5.4': 1, '4.18': 1},
 '17': {'13.6': 1}}

In [137]:
sum_ind=0
# Iterate over the outer dictionary
for key, inner_dict in table_id_rm.items():
    # Iterate over the inner dictionary
    for k, value in inner_dict.items():
        if k not in tab_result[key]:
            # Add the value to the result
            sum_ind += value

print(sum_ind)

338

In [138]:
# List to store indices to remove
indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in filter_df.iterrows():
    if row['top_n_goal_id'] in table_id_rm:
        inner_dict = table_id_rm[row['top_n_goal_id']]
        if row['Table_id'] in inner_dict:
            if row['Table_id'] not in tab_result[row['top_n_goal_id']]:
                # Add index to remove list
                indices_to_remove.append(index)
            
indices_to_remove

[18,
 19,
 20,
 23,
 42,
 43,
 44,
 70,
 71,
 72,
 73,
 74,
 75,
 271,
 272,
 303,
 317,
 318,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 483,
 484,
 485,
 486,
 487,
 488,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 516,
 579,
 580,
 783,
 784,
 785,
 799,
 810,
 811,
 812,
 813,
 814,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 932,
 933,
 934,
 935,
 936,
 985,
 1066,
 1067,
 1071,
 1072,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1375,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1524,
 1525,
 1526,
 1527,
 1528,
 1601,
 1602,
 1603,
 1604,
 1662,
 1922,
 1955,
 1965,
 1966,
 1987,
 1988,
 1989,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2025,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2042,
 2043,
 2079,
 2080,
 2081,
 2082,
 2083,
 2084,
 2085,
 2086,
 2087,
 2088,
 2089,
 2090,
 2091,
 2092,
 2093,
 2094,
 2095,
 2096,
 2097,
 2098,
 2099,
 2100,
 2101,
 2102,
 2103,
 2104,
 2181,
 2196,
 2197,
 2209,
 2214,
 2215,
 2216,
 2217,
 2294,
 2295,
 2300,
 2309,
 2310,
 2311,
 2312,
 2313,
 2314,
 2315,
 2316,
 2317,
 2318,
 2347,
 2348,
 2351,
 2354,
 2425,
 2426,
 2656,
 2662,
 2693,
 2742,
 2792,
 2807,
 2808,
 2813,
 2814,
 2815,
 2816,
 2846,
 2847,
 3040,
 3041,
 3045,
 3046,
 3047,
 3272,
 3283,
 3284,
 3285,
 3333,
 3334,
 3335,
 3370,
 3511,
 3512,
 3517,
 3518,
 3519,
 3722,
 3777,
 3778,
 3840,
 3841,
 3842,
 3843,
 3844,
 3850,
 3851,
 3852,
 3853,
 3854,
 3855,
 3856,
 3857,
 3858,
 3859,
 3860,
 3861,
 3862,
 3863,
 3864,
 3865,
 3866,
 3867,
 3868,
 3869,
 3870,
 3897,
 4052,
 4053,
 4058,
 4059,
 4060,
 4061,
 4185]

In [139]:
len(indices_to_remove)

338

In [140]:
# Remove rows using indices from indices_to_remove list
filter_df.drop(indices_to_remove, inplace=True)

filter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,28.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,29.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,30.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,31.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
4,32.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4277,618.0,10,Education,10.12,No.of General Degree Colleges and Students 201...,"Girls,Ist year to final year aided,General Deg...","Data, monitoring and accountability",17
4278,629.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Medical Colleges Allopathy","Data, monitoring and accountability",17
4279,631.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Dental Colleges","Data, monitoring and accountability",17
4280,632.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"No.of Institutions,Polytechnic- Government","Data, monitoring and accountability",17
4281,643.0,10,Education,10.15,No.of Engineering Colleges and Students Year-2...,"Total,Ist year,Engineering- Government","Data, monitoring and accountability",17

In [141]:
filter_df.to_csv(absolute_path_tab_filter, sep=';', index=False)

In [142]:
tab_count_att = filter_df['top_n_goal_id'].value_counts().to_dict()

In [143]:
filter_df.to_csv(absolute_path_final_map, sep=';', index=False)

In [144]:
chapter_df = filter_df.copy()

In [145]:
# Initialize an empty dictionary to store the counts
chap_result = {}
chap_id_rm = {}

# Iterate over unique values in col1
for val in chapter_df['top_n_goal_id'].unique():
    # Filter the dataframe by the current value of col1
    filtered_df = chapter_df[chapter_df['top_n_goal_id'] == val]
    chap_list = []
    for tab in filtered_df['Table_id'].unique():
        chap_filter = filtered_df[filtered_df['Table_id'] == tab]
        
        # Count the occurrences of each value in col2 and store in a dictionary
        chap_counts = chap_filter['Chapter_id'].unique().tolist()
        
        chap_list.extend(chap_counts)
    chap_dict = pd.Series(chap_list).value_counts().to_dict()
    chap_id_rm[val] = {key:value for key, value in chap_dict.items() if value < (table_map[key]/2)}
    chap_dict_new = {key:value for key, value in chap_dict.items() if key not in chap_id_rm[val]}
    if(len(chap_dict_new) <= 1):
        # Sort the dictionary based on values in descending order
        sorted_dict = dict(sorted(chap_dict.items(), key=lambda x: x[1], reverse=True))
        # Keep only the top 2 elements
        top_4_dict = dict(list(sorted_dict.items())[:4])
        chap_result[val] = top_4_dict
 
    else:
        # Add the col2 counts dictionary to the result dictionary
        chap_result[val] = chap_dict_new

print(chap_result)

{'1': {'1': 3, '14': 2, '3': 1, '11': 1}, '2': {'4': 18, '13': 6, '11': 6, '14': 5, '7': 1}, '3': {'13': 6, '11': 6, '14': 5, '3': 1}, '4': {'10': 15, '13': 6, '14': 5, '12': 4, '7': 1}, '5': {'10': 15, '13': 6, '12': 6, '2': 6}, '6': {'13': 6, '11': 6, '14': 5, '8': 4}, '7': {'1': 10, '15': 7, '13': 6, '14': 5, '16': 3, '18': 1}, '8': {'13': 6, '14': 5}, '9': {'13': 6, '14': 5}, '10': {'1': 4, '12': 4, '10': 3, '13': 2}, '11': {'13': 6, '14': 5, '18': 1}, '12': {'13': 6, '14': 5}, '13': {'8': 4, '18': 1}, '14': {'13': 6, '14': 5, '18': 1}, '15': {'1': 10, '13': 6, '14': 5, '12': 4, '8': 2, '18': 1}, '16': {'13': 6, '14': 5, '6': 5, '12': 4}, '17': {'10': 15, '7': 1}}

In [146]:
chap_id_rm

{'1': {'1': 3, '14': 2, '11': 1, '4': 1, '13': 1},
 '2': {'1': 3, '10': 1, '15': 1},
 '3': {'2': 2, '1': 2, '10': 1},
 '4': {'15': 3, '1': 2, '4': 2, '9': 1},
 '5': {'1': 2, '14': 1, '17': 1},
 '6': {'10': 2, '1': 2, '9': 1, '15': 1},
 '7': {'9': 1},
 '8': {'6': 1, '17': 1, '16': 1},
 '9': {'10': 2},
 '10': {'1': 4, '10': 3, '13': 2, '16': 1, '17': 1, '14': 1},
 '11': {'2': 2, '11': 2, '15': 1},
 '12': {'4': 7, '1': 2, '5': 1, '16': 1, '17': 1, '11': 1},
 '13': {'2': 3, '13': 2, '1': 2, '15': 1},
 '14': {'1': 3, '2': 3, '4': 2},
 '15': {'10': 5, '5': 1, '9': 1, '11': 1},
 '16': {'4': 7, '10': 5, '2': 3, '1': 2},
 '17': {'11': 2}}

In [147]:
missing = []

# Iterate through the data dictionary
for key, value in chap_result.items():
    # Check if the sub-dictionary is empty
    if not value:
        # Add the key to the missing list
        missing.append(key)
missing

[]

In [148]:
# List to store indices to remove
chap_indices_to_remove = []
# Iterate over the rows of the DataFrame
for index, row in chapter_df.iterrows():
    if row['top_n_goal_id'] in table_id_rm:
        inner_dict = chap_id_rm[row['top_n_goal_id']]
        if row['Chapter_id'] in inner_dict:
            if row['top_n_goal_id'] not in chap_result or row['Chapter_id'] not in chap_result[row['top_n_goal_id']]:
                # Add index to remove list
                chap_indices_to_remove.append(index)

chap_indices_to_remove

[28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 63,
 64,
 65,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 489,
 490,
 491,
 492,
 493,
 494,
 517,
 518,
 519,
 520,
 521,
 522,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 926,
 927,
 928,
 929,
 930,
 931,
 1068,
 1070,
 1085,
 1086,
 1087,
 1088,
 1089,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1347,
 1376,
 1377,
 1378,
 1391,
 1392,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1399,
 1400,
 1401,
 1402,
 1403,
 1404,
 1493,
 1494,
 1495,
 1496,
 1497,
 1498,
 1499,
 1500,
 1501,
 1502,
 1503,
 1504,
 1529,
 1530,
 1531,
 1532,
 1540,
 1541,
 1542,
 1543,
 1544,
 1545,
 1546,
 1547,
 1548,
 1605,
 1606,
 1607,
 1608,
 1609,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 2001,
 2002,
 2024,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2041,
 2076,
 2077,
 2078,
 2105,
 2106,
 2107,
 2108,
 2109,
 2110,
 2111,
 2112,
 2113,
 2114,
 2115,
 2116,
 2117,
 2118,
 2119,
 2120,
 2121,
 2122,
 2123,
 2124,
 2210,
 2283,
 2284,
 2285,
 2286,
 2287,
 2288,
 2289,
 2290,
 2291,
 2292,
 2293,
 2296,
 2297,
 2298,
 2299,
 2335,
 2336,
 2337,
 2338,
 2339,
 2340,
 2341,
 2342,
 2343,
 2352,
 2353,
 2355,
 2356,
 2357,
 2358,
 2359,
 2390,
 2391,
 2392,
 2393,
 2394,
 2395,
 2396,
 2397,
 2398,
 2399,
 2400,
 2592,
 2593,
 2594,
 2595,
 2596,
 2597,
 2598,
 2599,
 2600,
 2601,
 2602,
 2603,
 2604,
 2605,
 2606,
 2607,
 2608,
 2609,
 2610,
 2611,
 2612,
 2613,
 2614,
 2615,
 2616,
 2617,
 2618,
 2619,
 2620,
 2621,
 2622,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2630,
 2631,
 2632,
 2633,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2641,
 2642,
 2643,
 2644,
 2645,
 2646,
 2647,
 2648,
 2649,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 2657,
 2658,
 2659,
 2660,
 2661,
 2663,
 2664,
 2665,
 2666,
 2667,
 2668,
 2669,
 2670,
 2671,
 2672,
 2673,
 2674,
 2694,
 2695,
 2696,
 2697,
 2698,
 2699,
 2700,
 2701,
 2702,
 2703,
 2743,
 2744,
 2745,
 2746,
 2747,
 2748,
 2749,
 2750,
 2751,
 2752,
 2753,
 2754,
 2755,
 2756,
 2757,
 2758,
 2759,
 2760,
 2761,
 2762,
 2763,
 2764,
 2765,
 2766,
 2767,
 2768,
 2769,
 2770,
 2771,
 2772,
 2773,
 2774,
 2775,
 2776,
 2777,
 2778,
 2779,
 2780,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2791,
 2793,
 2794,
 2795,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2809,
 2810,
 2811,
 2812,
 2817,
 2818,
 3042,
 3043,
 3044,
 3048,
 3049,
 3050,
 3051,
 3052,
 3053,
 3054,
 3055,
 3056,
 3057,
 3058,
 3059,
 3060,
 3061,
 3062,
 3273,
 3274,
 3275,
 3276,
 3277,
 3278,
 3279,
 3280,
 3281,
 3282,
 3325,
 3326,
 3327,
 3328,
 3329,
 3330,
 3331,
 3332,
 3336,
 3337,
 3338,
 3339,
 3340,
 3341,
 3342,
 3343,
 3344,
 3345,
 3346,
 3347,
 3348,
 3349,
 3350,
 3351,
 3352,
 3353,
 3354,
 3355,
 3356,
 3357,
 3358,
 3359,
 3360,
 3361,
 3362,
 3363,
 3364,
 3365,
 3366,
 3367,
 3368,
 3369,
 3371,
 3372,
 3373,
 3374,
 3375,
 3376,
 3377,
 3378,
 3500,
 3501,
 3502,
 3503,
 3504,
 3505,
 3506,
 3507,
 3508,
 3509,
 3510,
 3513,
 3514,
 3515,
 3516,
 3718,
 3719,
 3720,
 3721,
 3723,
 3724,
 3725,
 3726,
 3727,
 3728,
 3779,
 3780,
 3781,
 3782,
 3783,
 3845,
 3846,
 3847,
 3848,
 3849,
 3871,
 3872,
 3873,
 3874,
 3875,
 3876,
 3877,
 3878,
 3879,
 3880,
 3881,
 3882,
 3883,
 3884,
 3939,
 3940,
 3941,
 3942,
 3943,
 3944,
 3945,
 3946,
 3947,
 3948,
 3949,
 3950,
 3951,
 3952,
 3953,
 3954,
 3955,
 3956,
 3957,
 3958,
 3959,
 3960,
 3961,
 3962,
 3963,
 3964,
 3965,
 3966,
 3967,
 3968,
 3969,
 3970,
 3971,
 3972,
 3973,
 3974,
 3975,
 3976,
 3977,
 3978,
 3979,
 3980,
 3981,
 3982,
 3983,
 3984,
 3985,
 3986,
 3987,
 3988,
 3989,
 3990,
 3991,
 3992,
 3993,
 3994,
 3995,
 3996,
 3997,
 3998,
 3999,
 4000,
 4001,
 4002,
 4003,
 4004,
 4005,
 4006,
 4007,
 4008,
 4009,
 4010,
 4011,
 4012,
 4013,
 4014,
 4015,
 4016,
 4017,
 4018,
 4019,
 4020,
 4021,
 4022,
 4023,
 4024,
 4025,
 4026,
 4027,
 4028,
 4029,
 4030,
 4031,
 4032,
 4033,
 4034,
 4035,
 4036,
 4037,
 4038,
 4039,
 4040,
 4041,
 4042,
 4043,
 4044,
 4045,
 4046,
 4047,
 4048,
 4049,
 4050,
 4051,
 4054,
 4055,
 4056,
 4057,
 4062,
 4063,
 4064,
 4065,
 4066,
 4067,
 4068,
 4069,
 4118,
 4119,
 4120,
 4121,
 4122,
 4123,
 4124,
 4125,
 4126,
 4127,
 4138,
 4139,
 4140,
 4141,
 4142,
 4143,
 4144,
 4145,
 4146,
 4147,
 4148,
 4149,
 4150,
 4151,
 4152,
 4153,
 4154,
 4163,
 4164,
 4165,
 4166,
 4167,
 4168,
 4169,
 4170,
 4171,
 4172]

In [149]:
len(chap_indices_to_remove)

757

In [150]:
# Remove rows using indices from indices_to_remove list
chapter_df.drop(chap_indices_to_remove, inplace=True)

chapter_df

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
0,28.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Ration shops",End poverty in all its forms everywhere,1
1,29.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Ration shops",End poverty in all its forms everywhere,1
2,30.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Total,Ration shops",End poverty in all its forms everywhere,1
3,31.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Urban,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
4,32.0,1,General Information,1.6,Ration Shops And B.p.l. Ration Card Holders on...,"Rural,Anthyodaya,Bpl Card Holders",End poverty in all its forms everywhere,1
...,...,...,...,...,...,...,...,...
4277,618.0,10,Education,10.12,No.of General Degree Colleges and Students 201...,"Girls,Ist year to final year aided,General Deg...","Data, monitoring and accountability",17
4278,629.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Medical Colleges Allopathy","Data, monitoring and accountability",17
4279,631.0,10,Education,10.13,No. of Medical Colleges and Students Medical C...,"Students Intake,Dental Colleges","Data, monitoring and accountability",17
4280,632.0,10,Education,10.14,No.of Polytechnic Colleges and Students Year- ...,"No.of Institutions,Polytechnic- Government","Data, monitoring and accountability",17
4281,643.0,10,Education,10.15,No.of Engineering Colleges and Students Year-2...,"Total,Ist year,Engineering- Government","Data, monitoring and accountability",17

In [151]:
chapter_df['top_n_goal_id'].nunique()

17

In [152]:
chapter_df[chapter_df['top_n_goal_id']=='3']

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description,Goal,top_n_goal_id
495,889.0,14,Rural Development & Panchayat Raj,14.5,Different Schemes of drinking water supply fac...,"Provided During the current year,Wells",Ensure healthy lives and promote well-being fo...,3
496,890.0,14,Rural Development & Panchayat Raj,14.5,Different Schemes of drinking water supply fac...,"Total,Wells",Ensure healthy lives and promote well-being fo...,3
505,839.0,13,Women & Child Development,13.1,Stree Shakti Self Help Groups and Members Year...,No.of Stree Shakt Self help groups,Ensure healthy lives and promote well-being fo...,3
506,840.0,13,Women & Child Development,13.1,Stree Shakti Self Help Groups and Members Year...,No.of Women Sc,Ensure healthy lives and promote well-being fo...,3
507,841.0,13,Women & Child Development,13.1,Stree Shakti Self Help Groups and Members Year...,No.of Women St,Ensure healthy lives and promote well-being fo...,3
...,...,...,...,...,...,...,...,...
643,717.0,11,Health & Family welfare Services,11.6,Different Health Facilities As on 31-3-2017 in...,"Nos.,24 hours and 7 days working Hospitals",Ensure healthy lives and promote well-being fo...,3
644,718.0,11,Health & Family welfare Services,11.6,Different Health Facilities As on 31-3-2017 in...,"No.of delivaries in this Hospital,24 hours and...",Ensure healthy lives and promote well-being fo...,3
645,719.0,11,Health & Family welfare Services,11.6,Different Health Facilities As on 31-3-2017 in...,No.of benificiaries in Jananni Suraksha Yojanas,Ensure healthy lives and promote well-being fo...,3
646,720.0,11,Health & Family welfare Services,11.6,Different Health Facilities As on 31-3-2017 in...,No.of benificiaries medical kit,Ensure healthy lives and promote well-being fo...,3
647,721.0,11,Health & Family welfare Services,11.6,Different Health Facilities As on 31-3-2017 in...,Maternal Mortality Death,Ensure healthy lives and promote well-being fo...,3

In [153]:
chap_count_att = chapter_df['top_n_goal_id'].value_counts().to_dict()

In [154]:
chap_count_att

{'15': 367,
 '7': 366,
 '2': 331,
 '5': 297,
 '14': 248,
 '11': 248,
 '4': 230,
 '13': 220,
 '6': 159,
 '16': 157,
 '3': 136,
 '17': 126,
 '10': 93,
 '9': 56,
 '12': 56,
 '8': 56,
 '1': 41}

In [155]:
tab_count_att

{'15': 412,
 '7': 372,
 '2': 367,
 '5': 323,
 '14': 308,
 '16': 301,
 '4': 291,
 '11': 285,
 '13': 262,
 '6': 206,
 '3': 169,
 '12': 166,
 '17': 163,
 '10': 109,
 '9': 76,
 '8': 71,
 '1': 63}

In [156]:
rank_count_att = all_goals['top_n_goal_id'].value_counts().to_dict()

In [157]:
count_att_list = [(key, value) for key, value in chap_count_att.items()]

count_att_df = pd.DataFrame(count_att_list, columns=['Goal No.', 'Chap_count'])
count_att_df

   Goal No.  Chap_count
0        15         367
1         7         366
2         2         331
3         5         297
4        14         248
5        11         248
6         4         230
7        13         220
8         6         159
9        16         157
10        3         136
11       17         126
12       10          93
13        9          56
14       12          56
15        8          56
16        1          41

In [158]:
count_att_df['Tab_count'] = count_att_df['Goal No.'].map(tab_count_att)

In [159]:
count_att_df['Rank_count'] = count_att_df['Goal No.'].map(rank_count_att)

In [160]:
count_att_df

   Goal No.  Chap_count  Tab_count  Rank_count
0        15         367        412         421
1         7         366        372         377
2         2         331        367         398
3         5         297        323         389
4        14         248        308         315
5        11         248        285         302
6         4         230        291         326
7        13         220        262         276
8         6         159        206         235
9        16         157        301         334
10        3         136        169         186
11       17         126        163         164
12       10          93        109         119
13        9          56         76          76
14       12          56        166         170
15        8          56         71         118
16        1          41         63          76

In [161]:
chapter_df.to_csv(absolute_path_chap_filter, sep=';', index=False)

In [162]:
count_att_df.to_csv(absolute_path_count, sep=';', index=False)