# Extracting table header as list

In [1]:
import collections
collections.Callable = collections.abc.Callable

In [2]:
from bs4 import BeautifulSoup, NavigableString
from html_table_extractor.extractor import Extractor
import pandas as pd
import os
import re

In [3]:
path = "/home/riya/Downloads/ADT/Output_html_Chapter7/kaggle/working/output/"

In [4]:
os.chdir(path)

In [5]:
os.listdir()

['output_page_1.html', 'output_page_2.html']

In [24]:
output_list = []

In [25]:
output_list

[]

In [26]:
allowed_two_letter_words = {'sl','sc', 'st', 'cc', 'tp', 'tb', 'ts', 'tg', 'km', 'gm', 'an', 'at', 'by', 'do', 'go', 'if', 'in', 'is', 'it', 'me', 'my', 'no', 'of', 'on', 'or', 'so', 'to', 'up', 'us'}

def replace_td_content(tag):
    if isinstance(tag, NavigableString):
        return  # Skip strings, as they don't have 'contents'

    if tag.name == 'td':
        # Extract only meaningful English words and numbers
        valid_characters = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-.%")
        filtered_content = ''.join(char if char in valid_characters else ' ' for char in tag.get_text())
        
        # Remove extra spaces and words with less than 3 characters
        cleaned_content = ' '.join(word for word in filtered_content.split() if len(word) >= 3 or word.isdigit() or word.lower() in allowed_two_letter_words or word=='%')
        
        # Set the cleaned content as the tag's string
        tag.string = cleaned_content
    elif tag.contents:
        for child in tag.contents:
            replace_td_content(child)

In [27]:
def process_table_cells(target_table):
    if not target_table:
        print("Table not found in the HTML content.")
        return

    flag1 = 0
    flag2 = 0

    # Loop through each row in the table
    for row in target_table.find_all('tr'):
        # Loop through each cell in the row
        if(flag1 == 1 and flag2 == 1):
            row.decompose()
        else : 
            for cell in row.find_all(['td', 'th']):
                # Process the cell content (you can modify this part based on your requirements)
                cell_content = cell.get_text(strip=True)
                if(cell_content == '1'):
                    flag1 = 1
                if(cell_content == '2'):
                    flag2 = 1

In [28]:
# iterate through all file 
for file in os.listdir(): 
    # Check whether file is in text format or not 
    if file.endswith(".html"): 
        file_path = f"{path}{file}"
  
        with open(file_path) as fp:
            soup = BeautifulSoup(fp, "html.parser")
            
            for tag in soup.find_all(attrs={'style': True}):
                tag.attrs.pop('style')
            
            table_tag = soup.find('table')
            
            replace_td_content(table_tag)

            process_table_cells(table_tag)
            
            extractor1 = Extractor(table_tag)
            extractor1.parse()
            output_list.append(extractor1.return_list())

In [29]:
output_list

[[['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.R.B in Lakhs on 31.3.201'],
  ['',
   'ffl',
   'RegionalRuralBanks',
   'RegionalRuralBanks',
   'RegionalRuralBanks',
   'RegionalRuralBanks',
   'RegionalRuralBanks'],
  ['', 'ffl', '', '', '', '', ''],
  ['',
   'ffl',
   'No.of Branche',
   'sAgriculture Loa',
   'Other Loan',
   'Total Loan',
   'Deposits'],
  ['1', '2', '447', '448', '449', '450', '451']],
 [['7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million',
   '7.2 District andBankGroup-Wise distributionof numberof reporting offices Aggregate deposits andgross bankcredit of allscheduledcommercialbanks -March2017 in Million'],
  ['SL. No.',
   'District',
   'Public Sectorbanks',
   'Public Sectorbanks',
   'Public Sectorbanks',
   'ForeignBanks',
   'ForeignBanks',
   'ForeignBanks',
   'Regional RuralBanks',
   'Regional RuralBanks',
   'Regional RuralBanks',
   'Private SectorBanks',
   'Private SectorBanks',
   'Private SectorBanks'],
  ['SL. No.',
   'District',
   'offices',
   'Deposits',
   'Credits',
   'offices',
   'Deposits',
   'Credits',
   'offices',
   'Deposits',
   'Credits',
   'offices',
   'Deposits',
   'Credits'],
  ['1',
   '2',
   '452',
   '453',
   '454',
   '455',
   '456',
   '457',
   '458',
   '459',
   '460',
   '461',
   '462',
   '463']]]

In [30]:
#list_to_remove = [[['6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers'],
  ['',
   'ffl',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   ''],
  ['',
   'ffl',
   'EAf jAU Engineering',
   'EAf jAU Engineering',
   'EAf jAU Engineering',
   'Others',
   'Others',
   'Others',
   'Total',
   'Total',
   'Total',
   ''],
  ['',
   'ffl',
   'Factories',
   'Employees',
   'Employees',
   'Factories',
   'Employees',
   'Employees',
   'Factories',
   'Employees',
   'Employees',
   'Employees'],
  ['',
   'ffl',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female',
   'Female'],
  ['1',
   '2',
   '403',
   '404',
   '405',
   '406',
   '407',
   '408',
   '409',
   '410',
   '411',
   '411']]]

IndentationError: unexpected indent (2418057983.py, line 2)

In [31]:
#for list_set in output_list:
    for item in list_to_remove: 
        if(list_set == item):
            output_list.remove(list_set)

IndentationError: unexpected indent (2081342099.py, line 2)

In [32]:
#list_to_add = [[['6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers'],
  ['',
   'ffl',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories'],
  ['',
   'ffl',
   'EAf jAU Engineering',
   'EAf jAU Engineering',
   'EAf jAU Engineering',
   'Others',
   'Others',
   'Others',
   'Total',
   'Total',
   'Total'],
  ['',
   'ffl',
   'Factories',
   'Employees',
   'Employees',
   'Factories',
   'Employees',
   'Employees',
   'Factories',
   'Employees',
   'Employees'],
  ['',
   'ffl',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female'],
  ['1',
   '2',
   '403',
   '404',
   '405',
   '406',
   '407',
   '408',
   '409',
   '410',
   '411']]]

for item in list_to_add:
    output_list.append(item)

IndentationError: unexpected indent (1083315464.py, line 2)

In [142]:
#output_list

[[['USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers',
   'USTRIES6.1 Numberof Factories Employees on31-3-2017 InNumbers'],
  ['SL. No.',
   'Districts',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories'],
  ['SL. No.',
   'Districts',
   'Readymade Garments',
   'Readymade Garments',
   'Readymade Garments',
   'Textiles',
   'Textiles',
   'Textiles',
   'Chemical',
   'Chemical',
   'Chemical'],
  ['SL. No.',
   'Districts',
   'Factories',
   'Employee',
   'Employee',
   'Factories',
   'Employee',
   'Employee',
   'Factories',
   'Employees',
   'Employees'],
  ['SL. No.',
   'Districts',
   'Factories',
   '',
   '',
   'Factories',
   'Employee',
   'Employee',
   'Factories',
   'Employees',
   'Employees'],
  ['SL. No.',
   'Districts',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female'],
  ['1', '2', '394', '395', '396', '397', '398', '399', '400', '401', '402']],
 [['6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017'],
  ['',
   'ffl',
   'Automobiles',
   'Automobiles',
   'Jfl JfiP Electricals Electronics',
   'Jfl JfiP Electricals Electronics',
   'Chemicals',
   'Chemicals'],
  ['',
   'ffl',
   'No.',
   'Total workers',
   'No.',
   'Pfi Total workers',
   'No.',
   'Total workers'],
  ['1', '2', '420', '421', '422', '423', '424', '425']],
 [['6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units gistered in District Industrial Centre on 31.03.2017'],
  ['',
   'ffl',
   'Wood',
   'Wood',
   'Others',
   'Others',
   'OtherServiceActivities',
   'OtherServiceActivities',
   'Total',
   'Total'],
  ['',
   'ffl',
   'No.',
   'Pfi Total workers',
   'No.',
   'Total workers',
   'No.',
   'Total workers',
   'No.',
   'Pfi Total workers'],
  ['1', '2', '436', '437', '438', '439', '440', '441', '442', '443']],
 [['6.2 SNumber of Industrial Estates Sheds and Plots on 31-3-2017 in Nos',
   '6.2 SNumber of Industrial Estates Sheds and Plots on 31-3-2017 in Nos',
   '6.2 SNumber of Industrial Estates Sheds and Plots on 31-3-2017 in Nos',
   '6.2 SNumber of Industrial Estates Sheds and Plots on 31-3-2017 in Nos',
   '6.2 SNumber of Industrial Estates Sheds and Plots on 31-3-2017 in Nos'],
  ['SL.No.', 'Districts', 'Factories', 'Factories', 'Factories'],
  ['SL.No.', 'Districts', '', '', ''],
  ['SL.No.', 'Districts', 'Estates', 'Sheds', 'Plots'],
  ['1', '2', '412', '413', '414']],
 [['6.3 all Scale Industrial Units Setup Year 2016-17',
   '6.3 all Scale Industrial Units Setup Year 2016-17',
   '6.3 all Scale Industrial Units Setup Year 2016-17',
   '6.3 all Scale Industrial Units Setup Year 2016-17',
   '6.3 all Scale Industrial Units Setup Year 2016-17',
   '6.3 all Scale Industrial Units Setup Year 2016-17',
   '6.3 all Scale Industrial Units Setup Year 2016-17'],
  ['',
   'ffl',
   'Current year 2016-17',
   'Current year 2016-17',
   'umulative upto 2016-17',
   'umulative upto 2016-17',
   '2005 twAi No.oenterprises engaged in trade hotels and transport activities'],
  ['',
   'ffl',
   'Units',
   'Employment',
   'Units',
   'Employment',
   '2005 twAi No.oenterprises engaged in trade hotels and transport activities'],
  ['1', '2', '415', '416', '417', '418', '419']],
 [['6.5 gar FactoriesP No.of Working Sugar Factories Cane Crushed 01-04-2016 to 31-03-2017',
   '6.5 gar FactoriesP No.of Working Sugar Factories Cane Crushed 01-04-2016 to 31-03-2017',
   '6.5 gar FactoriesP No.of Working Sugar Factories Cane Crushed 01-04-2016 to 31-03-2017',
   '6.5 gar FactoriesP No.of Working Sugar Factories Cane Crushed 01-04-2016 to 31-03-2017',
   '6.5 gar FactoriesP No.of Working Sugar Factories Cane Crushed 01-04-2016 to 31-03-2017'],
  ['SL No.', 'Districts', '', '', ''],
  ['SL No.',
   'Districts',
   'No.of Working Sugar Factories Cane Crushed',
   'No.of Working Sugar Factories Cane Crushed',
   'No.of Working Sugar Factories Cane Crushed'],
  ['SL No.',
   'Districts',
   'Working Factories Nos.',
   'Cane Crushed in MTs',
   'Sugar Produced in MTs'],
  ['1', '2', '444', '445', '446']],
 [['6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial Centre on 31.03.2017'],
  ['',
   'ffl',
   'Paper and Printing',
   'Paper and Printing',
   'Rubber and Plastic',
   'Rubber and Plastic',
   'Textiles',
   'Textiles'],
  ['',
   'ffl',
   'No.',
   'Pfi Totalworkers',
   'No.',
   'Total workers',
   'No.',
   'Pfi Totalworkers'],
  ['1', '2', '430', '431', '432', '433', '434', '435']],
 [['6.4 ffl Small Scale units registered in District Industrial CentreAs on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial CentreAs on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial CentreAs on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial CentreAs on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial CentreAs on 31.03.2017',
   '6.4 ffl Small Scale units registered in District Industrial CentreAs on 31.03.2017'],
  ['Sl.No',
   'Districts',
   'Food Intoxicants',
   'Food Intoxicants',
   'Leather',
   'Leather'],
  ['Sl.No', 'Districts', 'No.', 'Total workers', 'No.', 'Total workers'],
  ['1', '2', '426', '427', '428', '429']],
 [['6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers',
   '6.1 Numberof Factories Employees on 31-3-2017 In Numbers'],
  ['',
   'ffl',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories',
   'actories'],
  ['',
   'ffl',
   'EAf jAU Engineering',
   'EAf jAU Engineering',
   'EAf jAU Engineering',
   'Others',
   'Others',
   'Others',
   'Total',
   'Total',
   'Total'],
  ['',
   'ffl',
   'Factories',
   'Employees',
   'Employees',
   'Factories',
   'Employees',
   'Employees',
   'Factories',
   'Employees',
   'Employees'],
  ['',
   'ffl',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female',
   'Factories',
   'Male',
   'Female'],
  ['1', '2', '403', '404', '405', '406', '407', '408', '409', '410', '411']]]

In [33]:
def add_space_before_year(input_string):
    # Regular expression to find a year in 'yyyy' format with an optional alphabet character before it
    pattern = re.compile(r'([a-zA-Z])?(\d{4})')
    
    # Function to add space between alphabet character and year
    def replace(match):
        alphabet_part, year_part = match.groups()
        if alphabet_part:
            return f'{alphabet_part} {year_part}'
        else:
            return year_part

    # Using re.sub() to apply the replacement function to the input string
    result = pattern.sub(replace, input_string)

    return result

In [34]:
def remove_before_all_occurrence(input_string):
    # Regular expression to match numbers with dot similar to dd.dd, d.d, d.dd, or dd.d
    pattern = re.compile(r'\b(\d\.\d|\d{2}\.\d|\d\.\d{2}|\d{2}\.\d{2})\b')

    # Find all occurrences of the pattern in the input string
    matches = list(pattern.finditer(input_string))

    # If there are at least two occurrences of the pattern, remove everything before the second occurrence
    for i in range(len(matches)):
        second_occurrence_index = matches[i].start()
        input_string = input_string[second_occurrence_index:]

    return input_string.strip()

In [35]:
def convert_uppercase_to_camel_case(input_string):
    words = input_string.split()
    result_words = [word.capitalize() if word.isupper() else word for word in words]
    result_string = ' '.join(result_words)
    return result_string

In [36]:
def add_space_before_camelcase(input_string):
    # Use regular expression to find camel case words
    camelcase_pattern = re.compile(r'(?<=[a-z])(?=[A-Z])')
    result_string = camelcase_pattern.sub(' ', input_string)
    return result_string

In [37]:
def remove_extra_spaces(input_string):
    # Use regular expression to replace consecutive white spaces with a single space
    cleaned_string = re.sub(r'\s+', ' ', input_string)
    return cleaned_string.strip()

In [38]:
def add_space_before_word_with_condition(input_string):
    # Use regular expression to find words preceded by a number or special character
    pattern = re.compile(r'(?<=[%])\b(\w+)\b', flags=re.IGNORECASE)

    # Using re.sub() to add space before matched words
    result_string = pattern.sub(lambda x: ' ' + x.group(1), input_string)

    return result_string

In [39]:
def replace_words_with_blank(input_string, words_to_replace):
    # Constructing a regular expression pattern to match any of the words in the set
    # pattern = re.compile(r'\b(?:' + '|'.join(re.escape(word) for word in words_to_replace) + r')\b', flags=re.IGNORECASE)
    pattern = re.compile(r'(?<!\S)(?:' + '|'.join(re.escape(word) for word in words_to_replace) + r')(?!\S)', flags=re.IGNORECASE)

    # Using re.sub() to replace matched words with blank
    result = pattern.sub('', input_string)

    return result.strip()

In [40]:
words_to_replace = ['.CA', '.Dg', '.G.S', '.Jfl', '.Q.', '.ffl', '1 2', '1-10', '2 01', '2006 jAz 2016', '2011 twAi rAi AaP fiU', '2011 twAi zsj wAi EAzs %', '20112.2', '20112.6', '2011g', '24 7', '31.03.2017', '31.3.201', '31.3.2017', '31.3.2017.', '33 jAz 6', '6 jAz 1', '6 jAz 14', '6 wAU', 'A.ffl', 'A.g', 'AdP', 'Adg', 'Affl', 'Afi', 'Afli', 'Aid', 'Arg', 'Azs', 'CAU', 'CAZ', 'CAv', 'CAw', 'CAz', 'Cfi', 'CrP', 'Dfi', 'Dfl', 'E.J .n. .Dg .Jfl .JA.', 'EAf', 'Efi', 'Efl', 'JfiP', 'Jfl', 'KfiQ', 'MlM', 'Pfi', 'QAi', 'Raing', 'Rfl', 'SQA', 'Three', 'VAi', 'dfl', 'eng cy.U', 'ffl', 'fiAi', 'fiP', 'fiQ', 'fiQAi', 'fiU', 'fig', 'fl.', 'gLi', 'gMl', 'jAU', 'jAi', 'lion nit', 'ofD', 'rAi', 'tAwAi', 'tP', 'twAi', 'tzx', 'wAi', 'tzs']

In [41]:
def replace_words(input_string, word_replacements):
    # Constructing a regular expression pattern to match whole words in the set
    # pattern = re.compile(r'\b(?:' + '|'.join(re.escape(word) for word in word_replacements.keys()) + r')\b')
    pattern = re.compile(r'(?<!\S)(?:' + '|'.join(re.escape(word) for word in word_replacements.keys()) + r')(?!\S)')

    # Using re.sub() to replace matched words with their corresponding replacements
    result = pattern.sub(lambda x: word_replacements.get(x.group(), x.group()), input_string)

    return result

In [42]:
word_replacements = { "andgross" : "and gross", "bankcredit" : "bank credit", "allscheduledcommercialbanks" : "all scheduled commercial banks", "March2017" : " March 2017", "Sectorbanks" : "Sector banks", "sAgriculture Loa" :  "Agriculture Loan", "distributionof" : "distribution of", "numberof" : "number of", "andgross" : "and gross", "bankcredit" : "bank credit", "Sectorbanks" : "Sector banks", "on" : "on 31-3-2017"}

In [43]:
def process_data(input_data):
    for k in range(len(input_data)):
        for i in range(len(input_data[k])):
            for j in range(len(input_data[k][i])):
                #print(k,i,j,input_data[k][i][j])

                input_data[k][i][j] = add_space_before_year(input_data[k][i][j])
                input_data[k][i][j] = replace_words_with_blank(input_data[k][i][j], words_to_replace)
                input_data[k][i][j] = replace_words(input_data[k][i][j], word_replacements)
                input_data[k][i][j] = remove_before_all_occurrence(input_data[k][i][j])
                input_data[k][i][j] = add_space_before_camelcase(input_data[k][i][j])
                input_data[k][i][j] = convert_uppercase_to_camel_case(input_data[k][i][j])
                input_data[k][i][j] = remove_extra_spaces(input_data[k][i][j])
                input_data[k][i][j] = add_space_before_word_with_condition(input_data[k][i][j])

In [44]:
process_data(output_list)
output_list

[[['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017'],
  ['',
   '',
   'Regional Rural Banks',
   'Regional Rural Banks',
   'Regional Rural Banks',
   'Regional Rural Banks',
   'Regional Rural Banks'],
  ['', '', '', '', '', '', ''],
  ['',
   '',
   'No.of Branche',
   'Agriculture Loan',
   'Other Loan',
   'Total Loan',
   'Deposits'],
  ['1', '2', '447', '448', '449', '450', '451']],
 [['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   '7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million'],
  ['Sl. No.',
   'District',
   'Public Sector banks',
   'Public Sector banks',
   'Public Sector banks',
   'Foreign Banks',
   'Foreign Banks',
   'Foreign Banks',
   'Regional Rural Banks',
   'Regional Rural Banks',
   'Regional Rural Banks',
   'Private Sector Banks',
   'Private Sector Banks',
   'Private Sector Banks'],
  ['Sl. No.',
   'District',
   'offices',
   'Deposits',
   'Credits',
   'offices',
   'Deposits',
   'Credits',
   'offices',
   'Deposits',
   'Credits',
   'offices',
   'Deposits',
   'Credits'],
  ['1',
   '2',
   '452',
   '453',
   '454',
   '455',
   '456',
   '457',
   '458',
   '459',
   '460',
   '461',
   '462',
   '463']]]

In [45]:
#transpose the inner list
transp_list = [[list(pair) for pair in zip(*sublist)] for sublist in output_list]
transp_list

[[['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '',
   '',
   '',
   '1'],
  ['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   '',
   '',
   '',
   '2'],
  ['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   'Regional Rural Banks',
   '',
   'No.of Branche',
   '447'],
  ['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   'Regional Rural Banks',
   '',
   'Agriculture Loan',
   '448'],
  ['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   'Regional Rural Banks',
   '',
   'Other Loan',
   '449'],
  ['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   'Regional Rural Banks',
   '',
   'Total Loan',
   '450'],
  ['7.1 Flow of Bank Credit to Agriculture and Allied Sector from R.r.b in Lakhs on 31-3-2017',
   'Regional Rural Banks',
   '',
   'Deposits',
   '451']],
 [['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Sl. No.',
   'Sl. No.',
   '1'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'District',
   'District',
   '2'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Public Sector banks',
   'offices',
   '452'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Public Sector banks',
   'Deposits',
   '453'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Public Sector banks',
   'Credits',
   '454'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Foreign Banks',
   'offices',
   '455'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Foreign Banks',
   'Deposits',
   '456'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Foreign Banks',
   'Credits',
   '457'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Regional Rural Banks',
   'offices',
   '458'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Regional Rural Banks',
   'Deposits',
   '459'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Regional Rural Banks',
   'Credits',
   '460'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Private Sector Banks',
   'offices',
   '461'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Private Sector Banks',
   'Deposits',
   '462'],
  ['7.2 District and Bank Group-Wise distribution of number of reporting offices Aggregate deposits and gross bank credit of all scheduled commercial banks -March 2017 in Million',
   'Private Sector Banks',
   'Credits',
   '463']]]

In [46]:
def find_table_details(input_string):
    # Regular expression to match numbers with dot similar to dd.dd, d.d, d.dd, or dd.d
    pattern = re.compile(r'\b(\d\.\d|\d{2}\.\d|\d\.\d{2}|\d{2}\.\d{2})\b')

    # Find all occurrences of the pattern in the input string
    matches = pattern.finditer(input_string)

    # Initialize variables to store the matches
    match_positions = []

    # Store the positions of the matches
    for match in matches:
        match_positions.append(match.start())

    # If there is at least one occurrence of the pattern
    if match_positions:
        table_id_index = match_positions[0]
        input_string = input_string[table_id_index:]  
        space_index = input_string.find(' ') 
        table_id = input_string[table_id_index:space_index].strip()
        table_name = input_string[space_index:].strip()
        return table_id, table_name    
    else:
        return None, None

In [47]:
def convert_to_number(string):
    try:
        number = int(string)
    except ValueError:
        try:
            number = float(string)
        except ValueError:
            raise ValueError("Input string is not a valid number")
    return number

In [48]:
chapter_id = 7
chapter_name = "Banks"
#processing each column
def process_dictionary(input_data):
    df = pd.DataFrame(columns = ['Attr_id', 'Chapter_id', 'Chapter_name', 'Table_id', 'Table_name', 'Description'])
    for inner_list in input_data:
        table_id, table_name = find_table_details(inner_list[0][0])
        previd=0
        for data_list in inner_list:
            i=0
            attr_id=0
            description = ''
            prev = ''
            for data in reversed(data_list):
                if data == '1' or data == '2':
                    break
                i = i+1;
                if i == 1 and data!='' and (previd==0 or convert_to_number(data)!=previd):
                    attr_id = convert_to_number(data)
                    previd = convert_to_number(data)
                if i > 1 and i < len(data_list):
                    if description == '':
                        description = data
                        prev = data
                    else : 
                        if prev != data and data!='':
                            description = ','.join([description, data]) #description + ' ' + data
                            prev = data
            if attr_id != 0 and description != "" :
                row = {'Attr_id' : attr_id, 'Chapter_id' : chapter_id, 'Chapter_name' : chapter_name, 'Table_id' : table_id, 'Table_name' : table_name, 'Description' : remove_extra_spaces(description)}
                df.loc[len(df)] = row
    df = df.sort_values(by=['Attr_id'])
    df.to_csv('/home/riya/Downloads/ADT/Output_html_Chapter7/Chapter7_Attributes.csv', sep=';', index=False)
    df.to_csv('/home/riya/Downloads/ADT/Dictionary/Chapter7_Attributes.csv', sep=';', index=False)

In [49]:
process_dictionary(transp_list)

In [ ]:
#Not used
def remove_before_second_occurrence(input_string):
    # Regular expression to match numbers with dot similar to dd.dd, d.d, d.dd, or dd.d
    pattern = re.compile(r'\b(\d\.\d|\d{2}\.\d|\d\.\d{2}|\d{2}\.\d{2})\b')

    # Find all occurrences of the pattern in the input string
    matches = list(pattern.finditer(input_string))

    # If there are at least two occurrences of the pattern, remove everything before the second occurrence
    if len(matches) >= 2:
        second_occurrence_index = matches[1].start()
        input_string = input_string[second_occurrence_index:]

    return input_string.strip()