In [1]:
!pip install --upgrade gensim -q
!pip install matplotlib -q
!pip install spacy -q

In [2]:
import gensim
from gensim.models import word2vec
from gensim.models.word2vec import Word2Vec
import matplotlib.pyplot as plt
import spacy
import string
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
/usr/lib/python3/dist-packages/paramiko/transport.py:237: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [3]:
from gensim.models import KeyedVectors
wv = KeyedVectors.load('vectors.kv')

In [4]:
def sent_vec(sent):
    vector_size = wv.vector_size
    wv_res = np.zeros(vector_size)
    # print(wv_res)
    ctr = 1
    for w in sent:
        if w in wv:
            ctr += 1
            wv_res += wv[w]
    wv_res = wv_res/ctr
    return wv_res

In [5]:
nlp = spacy.load('/home/riya/anaconda3/lib/python3.11/site-packages/en_core_web_sm/en_core_web_sm-3.7.1')
stop_words = nlp.Defaults.stop_words
print(stop_words)
punctuations = string.punctuation
print(punctuations)

{'‘d', 'back', 'him', 'whoever', 'them', 'for', 'what', 'me', '‘s', 'something', 'take', 'together', 'latterly', 'across', 'become', 'would', 'another', 'becomes', 'ours', 'and', 'anyone', 'seem', '‘ve', '‘ll', 'often', "'ve", 'very', 'via', "'ll", 'hence', 'other', 'mine', 'hundred', "'s", 'next', '’d', 'who', 'from', 'otherwise', 'his', 'down', 'below', 'enough', 'before', 'about', 'she', 'why', 'with', 'more', 'itself', 'all', 'where', 'keep', 'then', 'everything', 'we', 'onto', 'either', 'due', 'several', 'between', 'meanwhile', 'part', 'doing', 'or', 'after', 'themselves', 'however', 'thru', 'perhaps', 'it', 'whose', 'as', 'put', 'somewhere', 'which', 'too', 'anyway', 'this', 'while', 'except', 'was', 'if', 're', 'bottom', 'ten', 'eight', 'move', 'here', 'hereupon', 'not', 'get', 'show', 'your', 'again', 'n‘t', 'under', 'being', 'becoming', 'thus', 'someone', 'yours', 'empty', 'already', 'made', 'he', 'off', 'go', 'top', 'among', 'unless', 'through', 'never', 'per', 'namely', 'into', 'even', 'beside', 'nine', 'since', "'re", 'ourselves', 'those', 'without', 'sometime', 'nevertheless', 'her', 'there', 'does', 'eleven', 'have', '’ll', 'but', 'yourselves', 'once', 'therein', 'our', 'until', 'is', 'besides', 'say', 'how', '’s', 'used', 'because', 'first', 'were', 'will', 'amount', 'least', 'seemed', 'thereby', 'none', '’ve', 'out', 'few', 'every', 'front', 'upon', 'mostly', 'toward', 'their', 'nor', 'quite', 'may', 'thereupon', 'whereby', 'also', 'during', 'though', 'own', 'seems', 'last', 'at', 'that', 'its', 'must', 'six', 'somehow', 'amongst', 'around', 'anyhow', 'could', "'m", 'many', 'whether', 'five', 'any', 'no', 'the', 'be', 'are', 'latter', 'whereupon', 'herein', 'you', 'really', 'formerly', 'regarding', 'call', 'moreover', 'do', 'fifteen', 'herself', 'when', 'third', 'afterwards', 'whereas', 'neither', 'had', 'please', 'everyone', 'been', 'cannot', 'others', 'twelve', 'same', 'make', 'thereafter', 'a', 'former', 'anything', 'further', 'now', 'indeed', 'much', 'most', 'himself', 'almost', 'i', 'yet', 'they', 'nobody', 'than', 'name', 'one', 'anywhere', 'whom', 'my', 'some', 'within', 'of', 'whence', '‘m', 'am', 'wherein', 'did', 'hereby', 'serious', 'therefore', 'else', 'each', 'forty', 'give', 'to', 'up', 'noone', 'hers', 'seeming', 'various', 'can', 'has', 'elsewhere', 'full', 'these', 'whatever', 'using', '‘re', 'us', 'myself', 'thence', 'such', 'well', 'still', 'four', 'side', '’re', 'although', 'always', 'throughout', 'so', 'behind', 'hereafter', 'nothing', 'nowhere', 'in', 'should', 'whereafter', 'ever', 'n’t', 'an', '’m', 'three', 'might', 'just', "'d", 'beyond', 'yourself', 'alone', 'became', 'less', 'along', 'both', 'towards', 'done', 'sixty', "n't", 'ca', 'above', 'only', 'beforehand', 'see', 'rather', 'sometimes', 'two', 'wherever', 'whenever', 'over', 'twenty', 'everywhere', 'whole', 'against', 'whither', 'fifty', 'on', 'by'}
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [6]:
# Creating our tokenizer function
def spacy_tokenizer(sentence):
    # Creating our token object, which is used to create documents with linguistic annotations.
    doc = nlp(sentence)



    #print(doc)
    #print(type(doc))

    # Lemmatizing each token and converting each token into lowercase
    mytokens = [ word.lemma_.lower().strip() for word in doc ]

    #print(mytokens)

    # Removing stop words
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]

    # return preprocessed list of tokens
    return mytokens

In [7]:
# Function to remove duplicates from a list and return a list of unique words
def remove_duplicates(word_list):
    return list(set(word_list))

In [8]:
data = pd.read_csv("Attributes_2016_17.csv", sep=";")

In [9]:
data

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,4.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,5.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,6.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,7.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...,...,...
1162,1169.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,1170.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,1171.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,1172.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,1173.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [10]:
data.columns

Index(['Attr_id', 'Chapter_id', 'Chapter_name', 'Table_id', 'Table_name',
       'Description'],
      dtype='object')

In [11]:
data.drop(['Attr_id', 'Table_id'],axis=1,inplace=True)

In [12]:
data

,Chapter_id,Chapter_name,Table_name,Description
0,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,1,General Information,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...
1162,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [13]:
data_new = data.groupby(['Chapter_id', 'Chapter_name', 'Table_name'])['Description'].apply(lambda x: ', '.join(x)).reset_index()
data_new

,Chapter_id,Chapter_name,Table_name,Description
0,1,General Information,Bpl Priority Card Holders on 31-3-2017 In Nos,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,1,General Information,Cinema Theatres Police Station Prisons and Pri...,"Permanent,Cinema Theatres, Temporary,Cinema Th..."
2,1,General Information,District Income Of Karnataka,Gross District Domestic Product Gddp Rs. in La...
3,1,General Information,Nada Offices Village Accountant Circles Hoblie...,"Nada Offices, Va Circles, Hoblies, Grama Panch..."
4,1,General Information,No.of A.p.l. Non-Priority Card Holders on 31-3...,"Urban,With Cylinder,Apl Card Holders, Rural,Wi..."
...,...,...,...,...
128,17,Miscellaneous,Registration of Birth and Death,"Registration Units Rural Urban, Birth,Register..."
129,18,Additional information,Agricultural Land Holdings And Area 2010-11,"Male,Number,Semi Medium Agril. Land Holder 2-4..."
130,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Number,Total Agrl. Land Holder Others, Fe..."
131,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Number,Marginal Agril. Land Holder Below ..."
132,18,Additional information,Agricultural Land holdings and Area per 2010-1...,"Male,Number,Medium Agril. Land Holder 4-10 Ha...."

In [14]:
data_new['concat_value'] = data_new['Table_name'] + ' ' + data_new['Description']

# Create a new DataFrame with selected columns
new_df = data_new[['Chapter_id', 'Chapter_name', 'Description']]
new_df

,Chapter_id,Chapter_name,Description
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,1,General Information,"Permanent,Cinema Theatres, Temporary,Cinema Th..."
2,1,General Information,Gross District Domestic Product Gddp Rs. in La...
3,1,General Information,"Nada Offices, Va Circles, Hoblies, Grama Panch..."
4,1,General Information,"Urban,With Cylinder,Apl Card Holders, Rural,Wi..."
...,...,...,...
128,17,Miscellaneous,"Registration Units Rural Urban, Birth,Register..."
129,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4..."
130,18,Additional information,"Male,Number,Total Agrl. Land Holder Others, Fe..."
131,18,Additional information,"Male,Number,Marginal Agril. Land Holder Below ..."
132,18,Additional information,"Male,Number,Medium Agril. Land Holder 4-10 Ha...."

In [15]:
new_df = new_df.groupby(['Chapter_id', 'Chapter_name',])['Description'].apply(lambda x: ', '.join(x)).reset_index()
new_df

,Chapter_id,Chapter_name,Description
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an..."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie..."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,..."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac..."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St..."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,..."
14,15,Housing,"Total no. of Census houses,No.of Census Houses..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4..."

In [16]:
new_df['new_description'] = new_df['Description'].apply(spacy_tokenizer)

In [17]:
# Apply the function to create the new column
new_df['tokens'] = new_df['new_description'].apply(remove_duplicates)

In [18]:
new_df['vec'] = new_df['tokens'].apply(sent_vec)

In [19]:
new_df

,Chapter_id,Chapter_name,Description,new_description,tokens,vec
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ...","[urban, akshaya, cylinder, bpl, card, holders,...","[panchayaths, lakhs, rural, tmc, 2011, permane...","[0.02542606476814516, 0.06692111107610887, 0.0..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C...","[total, child, population, 0, 6, year, 2011, r...","[population, 2016, 0, urban,%, year, total,200...","[0.0189404296875, 0.03924560546875, 0.02138916..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m...","[2006,actual, annual, rainfallfrom, 2006, 2016...","[2009,actual, 2016, annual, 2012,actual, 2010,...","[-0.0214996337890625, 0.069122314453125, 0.010..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin...","[paddy, area, cereals, hect, ,area, principal,...","[wheat,2016, 17, cowpea,2016, t, cowpea, lakhs...","[0.005660679029381793, 0.10095109801361526, -0..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an...","[artificial, insemination, numbers, no.of, ani...","[capacity, raj, breed, plants, eggs, scheme, r...","[0.006840121361517137, 0.07613692745085686, 0...."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E...","[factory, readymade, garments, factories, male...","[unit, 2016, 17, ,paper, year, estates, crush,...","[0.04142132927389706, 0.04717048944211474, 0.0..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S...","[office, public, sector, bank, deposit, public...","[rural, foreign, banks, agriculture, private, ...","[-0.0181732177734375, 0.0208587646484375, 0.00..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie...","[society, agricultural, credit, co, operative,...","[pld, operative, bank, agri, loantaken, banks,...","[0.01730901544744318, 0.02737981622869318, -0...."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,...","[multiaxled, ariculated, vehicles, good, vehic...","[connections, 17, rikshaws, construction, kms,...","[0.06848667689732142, 0.035709926060267856, 0...."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac...","[male, rural, literacy, rate, female, rural, l...","[general, facilities, high, enrolment, polytec...","[0.004887288411458334, 0.03853185017903646, 0...."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No...","[male, no.of, identify, aids, patient, female,...","[occurred, programme, vehical,108, hospital,24...","[-0.038764416331976234, 0.04464189771195533, 0..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St...","[number, schedule, caste, ashrama, residential...","[hostels, g, high, 9, schedule, primary, numbe...","[0.024318385768581082, 0.04341769862819363, 0...."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ...","[total, savings, accumulated, rs, crores, loan...","[help, st, stree, crores, yojane, self, year, ...","[0.036134981641582416, 0.0497738707299326, 0.0..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,...","[provide, current, year, wells, total, wells, ...","[piped, 25%,no.of, 100, 2016, 17, 100%,no.of, ...","[0.019269353693181817, 0.04312106045809659, 0...."
14,15,Housing,"Total no. of Census houses,No.of Census Houses...","[total, census, house, no.of, census, houses, ...","[electricity, handpump, shop, pond, 2016, 17, ...","[0.04728861058011968, 0.07961289426113696, 0.0..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...,"[beneficiary, bhagyajyoti, kutera, jyoti, upto...","[electricity, unit, 3, villages, consumption, ...","[0.07158293547453703, 0.0226845211452908, 0.06..."
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor...","[excise, shops, iml, liquor, consumption, liqu...","[liquor, excise, crores, 2016, beer, year, san...","[0.09441646452872984, 0.023449313256048387, -0..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4...","[male, number, semi, medium, agril, land, hold...","[2, st, marginal, holder, medium, small, ha, i...","[0.033380126953125, 0.00748291015625, 0.008404..."

In [20]:
ll = new_df['tokens'].loc[4]

In [21]:
ll

['capacity',
 'raj',
 'breed',
 'plants',
 'eggs',
 'scheme',
 'rabbit',
 'panchayat',
 'lakhs',
 'cold',
 'mathsasraya',
 'census',
 'beneficiary',
 'centres',
 'primary',
 'market',
 'insemination',
 'storage',
 'exotic',
 'plant',
 'dogs',
 'live',
 'institutions',
 'mobile',
 'numbers',
 'rl',
 'nos',
 'fishery',
 'artificial',
 'animal',
 'livestock',
 'poultry',
 'institution',
 'catch',
 'veterinary',
 'milk',
 'cross',
 'time',
 'kvs',
 'cattle',
 'tank',
 'pigs',
 'dispensaries',
 'no.of',
 'thousand',
 'minor',
 'goats',
 ',cold',
 'fish',
 'treat',
 ',ice',
 '2012',
 'tonnes',
 'buffaloes',
 'sheeps',
 'irrigation',
 'total',
 'family',
 'indigenious',
 'lakh',
 'stock',
 'hospitals',
 'production',
 'meat',
 'ice',
 'day',
 'tonne',
 'involve',
 'let']

In [22]:
# Extract vectors from DataFrame
vectors = np.array(new_df['vec'].to_list())

# Compute cosine similarity between vectors
similarity_matrix = cosine_similarity(vectors, vectors)

# Convert the similarity matrix to a DataFrame for visualization
similarity_df = pd.DataFrame(similarity_matrix, columns=range(18), index=range(18))

In [23]:
similarity_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.000000,0.713367,0.593507,0.605291,0.746914,0.692752,0.602102,0.629298,0.722729,0.735422,0.737174,0.672971,0.752635,0.837616,0.744226,0.764334,0.793393,0.661697
1,0.713367,1.000000,0.536947,0.500053,0.616674,0.532283,0.489683,0.509261,0.560719,0.723219,0.639449,0.749050,0.631704,0.730692,0.596813,0.619754,0.647445,0.650959
2,0.593507,0.536947,1.000000,0.414211,0.483638,0.429920,0.392151,0.377348,0.485262,0.476505,0.437010,0.372288,0.475871,0.563319,0.486009,0.507917,0.472505,0.476651
3,0.605291,0.500053,0.414211,1.000000,0.726563,0.650155,0.418772,0.541732,0.488613,0.461180,0.495756,0.456711,0.508737,0.593577,0.581481,0.545730,0.539497,0.513057
4,0.746914,0.616674,0.483638,0.726563,1.000000,0.701708,0.542071,0.625077,0.637440,0.630084,0.712631,0.567225,0.659356,0.748884,0.686543,0.656197,0.680871,0.543959
5,0.692752,0.532283,0.429920,0.650155,0.701708,1.000000,0.550554,0.633075,0.669182,0.648527,0.615343,0.543800,0.645240,0.732891,0.661460,0.692085,0.639982,0.540671
6,0.602102,0.489683,0.392151,0.418772,0.542071,0.550554,1.000000,0.789264,0.516782,0.577642,0.513471,0.466801,0.654141,0.633209,0.534928,0.565940,0.530939,0.512592
7,0.629298,0.509261,0.377348,0.541732,0.625077,0.633075,0.789264,1.000000,0.493272,0.599477,0.564012,0.526283,0.725965,0.649909,0.530204,0.563498,0.577088,0.519000
8,0.722729,0.560719,0.485262,0.488613,0.637440,0.669182,0.516782,0.493272,1.000000,0.613326,0.597086,0.551615,0.575729,0.696561,0.669510,0.659596,0.629171,0.472449
9,0.735422,0.723219,0.476505,0.461180,0.630084,0.648527,0.577642,0.599477,0.613326,1.000000,0.769815,0.842380,0.789915,0.785479,0.662069,0.619146,0.696848,0.642666
10,0.737174,0.639449,0.437010,0.495756,0.712631,0.615343,0.513471,0.564012,0.597086,0.769815,1.000000,0.652286,0.741246,0.731894,0.603522,0.609847,0.707155,0.528130
11,0.672971,0.749050,0.372288,0.456711,0.567225,0.543800,0.466801,0.526283,0.551615,0.842380,0.652286,1.000000,0.695442,0.710723,0.624004,0.578346,0.663848,0.586580
12,0.752635,0.631704,0.475871,0.508737,0.659356,0.645240,0.654141,0.725965,0.575729,0.789915,0.741246,0.695442,1.000000,0.788254,0.601546,0.681802,0.736098,0.626754
13,0.837616,0.730692,0.563319,0.593577,0.748884,0.732891,0.633209,0.649909,0.696561,0.785479,0.731894,0.710723,0.788254,1.000000,0.778580,0.777034,0.775914,0.629981
14,0.744226,0.596813,0.486009,0.581481,0.686543,0.661460,0.534928,0.530204,0.669510,0.662069,0.603522,0.624004,0.601546,0.778580,1.000000,0.678174,0.641579,0.475740
15,0.764334,0.619754,0.507917,0.545730,0.656197,0.692085,0.565940,0.563498,0.659596,0.619146,0.609847,0.578346,0.681802,0.777034,0.678174,1.000000,0.739834,0.615540
16,0.793393,0.647445,0.472505,0.539497,0.680871,0.639982,0.530939,0.577088,0.629171,0.696848,0.707155,0.663848,0.736098,0.775914,0.641579,0.739834,1.000000,0.579721
17,0.661697,0.650959,0.476651,0.513057,0.543959,0.540671,0.512592,0.519000,0.472449,0.642666,0.528130,0.586580,0.626754,0.629981,0.475740,0.615540,0.579721,1.000000

In [24]:
sdg = pd.read_csv('sdg_data_vec_new.csv', sep=";")
sdg

,Unnamed: 0,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec
0,0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...",[ 0.05813744 0.06231181 -0.01606678 0.056582...
1,1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...",[ 0.07795174 0.00193541 -0.03087198 0.007475...
2,2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...",[ 2.11075493e-02 6.82067871e-03 -1.14878779e-...
3,3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...",[ 5.27986225e-02 2.12209601e-02 2.25428531e-...
4,4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...",[-0.01444397 0.03928884 0.04506836 0.064713...
...,...,...,...,...,...,...,...,...,...
128,128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...",[-0.01899157 -0.0305754 0.06003771 0.063669...
129,129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...",[-0.04981232 0.03767141 0.00850932 -0.021545...
130,130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...",[-0.04270766 0.01605903 0.04413859 0.072957...
131,131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...",[-0.01211548 -0.04031554 -0.00514003 0.048753...
132,132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...",[-0.10414307 -0.01859375 0.01171875 0.014965...

In [25]:
# Convert string representations of vectors to actual NumPy arrays
sdg['vec'] = sdg['vec'].apply(lambda x: np.array([float(value) for value in x.strip('[]').split()]))
sdg

,Unnamed: 0,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec
0,0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582..."
1,1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475..."
2,2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0..."
3,3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0...."
4,4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713..."
...,...,...,...,...,...,...,...,...,...
128,128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669..."
129,129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154..."
130,130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957..."
131,131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487..."
132,132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496..."

In [26]:
sdg.drop(['Unnamed: 0'], axis=1,inplace=True)
sdg

,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec
0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582..."
1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475..."
2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0..."
3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0...."
4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713..."
...,...,...,...,...,...,...,...,...
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669..."
129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154..."
130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957..."
131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487..."
132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496..."

In [27]:
# Extract vectors from DataFrame
sdg_vectors = np.array(sdg['vec'].to_list())

print(len(sdg_vectors))
print(len(vectors))
# Compute cosine similarity between vectors
similarity_matrix_sdg = cosine_similarity(sdg_vectors,vectors)

vec_len = int(len(vectors))
sdg_len = int(len(sdg_vectors))

# Convert the similarity matrix to a DataFrame for visualization
similarity_df_sdg = pd.DataFrame(similarity_matrix_sdg, columns=range(vec_len), index=range(sdg_len))

133
18

In [28]:
similarity_df_sdg

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.478383,0.442161,0.328393,0.306260,0.458741,0.415709,0.349082,0.379406,0.390994,0.471851,0.488919,0.361261,0.476575,0.542930,0.438610,0.441135,0.434773,0.360935
1,0.649829,0.621134,0.403014,0.422093,0.582614,0.555147,0.601424,0.596815,0.507960,0.641017,0.614849,0.528547,0.653367,0.717508,0.572388,0.589459,0.582831,0.534446
2,0.667306,0.787213,0.476458,0.406353,0.579522,0.550147,0.527956,0.527485,0.534256,0.687625,0.628781,0.606818,0.601223,0.736731,0.546063,0.575095,0.609849,0.537987
3,0.592054,0.722903,0.377799,0.355709,0.530326,0.496577,0.434139,0.466292,0.450269,0.690127,0.592531,0.595083,0.611880,0.666288,0.496866,0.524345,0.585851,0.501537
4,0.543521,0.507815,0.344164,0.409854,0.521413,0.512713,0.549418,0.542489,0.416823,0.552841,0.533490,0.430275,0.567019,0.625878,0.497460,0.535417,0.441757,0.424284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,0.510929,0.415919,0.348078,0.335378,0.477523,0.539547,0.509180,0.505407,0.470324,0.557172,0.533668,0.391326,0.556119,0.575256,0.444961,0.512987,0.422790,0.427378
129,0.461746,0.389238,0.332585,0.315188,0.400653,0.456444,0.436756,0.455224,0.387519,0.470078,0.441938,0.330166,0.493324,0.487166,0.403234,0.486439,0.357434,0.375246
130,0.590244,0.524922,0.450955,0.371365,0.495175,0.526414,0.596660,0.541369,0.430573,0.569560,0.520963,0.456496,0.653479,0.628633,0.469305,0.647574,0.540740,0.513324
131,0.560926,0.628808,0.440523,0.369682,0.500912,0.517247,0.471009,0.507862,0.461291,0.594791,0.540620,0.525967,0.574251,0.637323,0.481675,0.553523,0.504935,0.496546
132,0.511032,0.471779,0.391423,0.354886,0.453176,0.530012,0.490101,0.493678,0.390313,0.497754,0.472554,0.368860,0.558398,0.582609,0.447042,0.543219,0.409846,0.442554

In [29]:
def find_similarity_above_threshold(similarity_matrix, threshold, new_df, sdg):
    # Initialize empty lists to store chapter_id, chapter_name, and similarity values
    max_similarity_chapter_id = []
    max_similarity_chapter_name = []
    max_similarity_value = []
    
    # Iterate through the rows of the similarity matrix
    for row_idx, row in enumerate(similarity_matrix):
        # Find the indices where similarity values exceed the threshold
        above_threshold_indices = np.where(row > threshold)[0]
        
        # Check if there are any indices above the threshold
        if len(above_threshold_indices) > 0:
            # Get the index of the maximum similarity value above the threshold
            max_index = np.argmax(row)
            max_val = np.max(row)

            # Get the corresponding chapter_id and chapter_name from the new_df DataFrame
            chapter_id = new_df['Chapter_id'].loc[max_index]
            chapter_name = new_df['Chapter_name'].loc[max_index]

            # Append the chapter_id, chapter_name, and similarity value to the lists
            max_similarity_chapter_id.append(chapter_id)
            max_similarity_chapter_name.append(chapter_name)
            max_similarity_value.append(max_val)
        else:
            max_similarity_chapter_id.append(np.nan)
            max_similarity_chapter_name.append(np.nan)
            max_similarity_value.append(np.nan)
    
    # Add new columns to the sdg DataFrame
    sdg['Max_similarity_chapter_id'] = max_similarity_chapter_id
    sdg['Max_similarity_chapter_name'] = max_similarity_chapter_name
    sdg['Max_similarity_value'] = max_similarity_value

    return sdg

In [30]:
# Example usage:
threshold_value = 0.4  # Define the threshold value

# Call the function to find chapter_ids with similarity greater than the threshold
sdg_new = find_similarity_above_threshold(similarity_matrix_sdg, threshold_value, new_df, sdg)

In [31]:
sdg_new

,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec,Max_similarity_chapter_id,Max_similarity_chapter_name,Max_similarity_value
0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582...",14,Rural Development & Panchayat Raj,0.542930
1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475...",14,Rural Development & Panchayat Raj,0.717508
2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0...",2,Area and Population,0.787213
3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0....",2,Area and Population,0.722903
4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713...",14,Rural Development & Panchayat Raj,0.625878
...,...,...,...,...,...,...,...,...,...,...,...
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669...",14,Rural Development & Panchayat Raj,0.575256
129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154...",13,Women & Child Development,0.493324
130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957...",13,Women & Child Development,0.653479
131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487...",14,Rural Development & Panchayat Raj,0.637323
132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496...",14,Rural Development & Panchayat Raj,0.582609

In [41]:
# Group by 'Goal No.' and find the maximum appearing Max_similarity_chapter_id
max_appearing_chapter_id = sdg_new.groupby('Goal No.')['Max_similarity_chapter_id'].apply(lambda x: x.mode()[0]).reset_index()
# Merge the DataFrame with the maximum appearing Max_similarity_chapter_id with the original DataFrame
sdg_new = sdg_new.merge(max_appearing_chapter_id, on='Goal No.', how='left', suffixes=('', '_max'))
sdg_new

,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec,Max_similarity_chapter_id,Max_similarity_chapter_name,Max_similarity_value,Max_similarity_chapter_id_max
0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582...",14,Rural Development & Panchayat Raj,0.542930,14
1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475...",14,Rural Development & Panchayat Raj,0.717508,14
2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0...",2,Area and Population,0.787213,14
3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0....",2,Area and Population,0.722903,14
4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713...",14,Rural Development & Panchayat Raj,0.625878,14
...,...,...,...,...,...,...,...,...,...,...,...,...
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669...",14,Rural Development & Panchayat Raj,0.575256,13
129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154...",13,Women & Child Development,0.493324,13
130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957...",13,Women & Child Development,0.653479,13
131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487...",14,Rural Development & Panchayat Raj,0.637323,14
132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496...",14,Rural Development & Panchayat Raj,0.582609,14

In [42]:
sdg_goal = sdg_new[['Goal No.', 'Goal', 'Target_id', 'Max_similarity_chapter_id', 'Max_similarity_value', 'Max_similarity_chapter_id_max']]
sdg_goal

,Goal No.,Goal,Target_id,Max_similarity_chapter_id,Max_similarity_value,Max_similarity_chapter_id_max
0,1,End poverty in all its forms everywhere,1.5,14,0.542930,14
1,1,End poverty in all its forms everywhere,1.4,14,0.717508,14
2,1,End poverty in all its forms everywhere,1.1,2,0.787213,14
3,1,End poverty in all its forms everywhere,1.2,2,0.722903,14
4,1,End poverty in all its forms everywhere,1.6,14,0.625878,14
...,...,...,...,...,...,...
128,16,Strengthen the means of implementation and rev...,16.5,14,0.575256,13
129,16,Strengthen the means of implementation and rev...,16.4,13,0.493324,13
130,16,Strengthen the means of implementation and rev...,16.1,13,0.653479,13
131,17,"Data, monitoring and accountability",7.1,14,0.637323,14
132,17,"Data, monitoring and accountability",17.2,14,0.582609,14

In [34]:
look_up = new_df[['Chapter_id', 'Chapter_name']]

In [35]:
# Create a dictionary to store chapter details
chapter_details = {}

# Iterate over the rows of the SDG DataFrame
for index, row in sdg_goal.iterrows():
    chapter_id = row['Max_similarity_chapter_id_max']
    goal_no = row['Goal No.']
    
    if chapter_id not in chapter_details:
        chapter_details[chapter_id] = set([goal_no])  # Use set instead of list
    else:
        chapter_details[chapter_id].add(goal_no)  # Add to set

# Convert sets back to lists
chapter_details = {chapter_id: list(goals) for chapter_id, goals in chapter_details.items()}

In [36]:
# Create a new column in the chapter DataFrame to contain the list of goal numbers
look_up['Goal_numbers'] = look_up['Chapter_id'].map(chapter_details)

/tmp/ipykernel_27747/4077583964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  look_up['Goal_numbers'] = look_up['Chapter_id'].map(chapter_details)

In [37]:
look_up

,Chapter_id,Chapter_name,Goal_numbers
0,1,General Information,NaN
1,2,Area and Population,NaN
2,3,Rainfall,NaN
3,4,"Agriculture, Horticulture and Sericulture",NaN
4,5,Animal Husbandry,NaN
5,6,Industries,NaN
6,7,Banks,NaN
7,8,Co-operation and Agricultural Marketing,NaN
8,9,TRANSPORT AND COMMUNICATION,NaN
9,10,Education,"[4, 5]"
10,11,Health & Family welfare Services,[3]
11,12,Social Welfare,NaN
12,13,Women & Child Development,[16]
13,14,Rural Development & Panchayat Raj,"[1, 2, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17]"
14,15,Housing,NaN
15,16,Energy,[7]
16,17,Miscellaneous,NaN
17,18,Additional information,NaN

In [45]:
new_df.to_csv('Chapter_2016-17_new.csv', sep=";", index=False)

In [43]:
sdg_new.columns

Index(['Goal No.', 'Goal', 'Targets', 'Target_id', 'Tentative Indicators',
       'new_targets', 'tokens', 'vec', 'Max_similarity_chapter_id',
       'Max_similarity_chapter_name', 'Max_similarity_value',
       'Max_similarity_chapter_id_max'],
      dtype='object')

In [46]:
sdg_new[['Goal No.', 'Goal', 'Targets', 'Target_id',
       'Max_similarity_chapter_id',
       'Max_similarity_chapter_name', 'Max_similarity_value', 'Max_similarity_chapter_id_max']].to_csv('sdg_2016-17_new.csv', sep=";", index=False)