In [1]:
!pip install --upgrade gensim -q
!pip install matplotlib -q
!pip install spacy -q

In [9]:
import gensim
from gensim.models import word2vec
from gensim.models.word2vec import Word2Vec
import matplotlib.pyplot as plt
import spacy
import string
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

In [3]:
from gensim.models import KeyedVectors
wv = KeyedVectors.load('vectors.kv')

In [4]:
def sent_vec(sent):
    vector_size = wv.vector_size
    wv_res = np.zeros(vector_size)
    # print(wv_res)
    ctr = 1
    for w in sent:
        if w in wv:
            ctr += 1
            wv_res += wv[w]
    wv_res = wv_res/ctr
    return wv_res

In [5]:
nlp = spacy.load('/home/riya/anaconda3/lib/python3.11/site-packages/en_core_web_sm/en_core_web_sm-3.7.1')
stop_words = nlp.Defaults.stop_words
print(stop_words)
punctuations = string.punctuation
print(punctuations)

{'regarding', '‘s', 'some', 'mostly', 'through', '’s', 'back', 'whose', 'thru', 'were', 'yours', '’ve', 'thereby', 'put', 'down', 'sometime', 'beyond', 'has', 'together', 'had', 'go', 'nor', "'ve", 'if', 'alone', 'ours', 'then', 'whoever', 'something', 'we', 'his', '’m', 'across', 'most', 'yourselves', 'else', 'it', 'never', 'keep', 'which', 'hereupon', 'into', 'amount', 'whom', "'m", 'least', 'our', 'part', 'less', 'or', 'not', 'whether', 'doing', 'twelve', 'neither', 'next', 'enough', 'six', 'with', 'their', 'does', 'of', 'take', "n't", 'serious', 'used', 'once', 'anyone', 'another', 'empty', 'cannot', 'former', 'this', 'because', 'after', 'few', 'they', 'anyhow', '‘m', 'nowhere', 'while', 'always', 'herself', 'almost', 'from', 'otherwise', 'fifty', 'move', 'her', 'per', 'bottom', 'why', 'very', 'eight', 'yet', 'its', 'hereby', 'so', 'for', 'same', 'i', 'via', 'whither', 'anywhere', 'even', 'myself', 'others', 'these', 'four', 'namely', 'such', 'along', 'to', 'call', 'towards', 'both', 'therein', 'an', 'be', 'nevertheless', 'everywhere', 'twenty', 'around', 'ourselves', 'two', 'than', 'will', 'being', 'yourself', 'either', 'here', '’re', '‘ll', 'sixty', 'due', 'indeed', 'really', 'themselves', 'any', 'well', 'moreover', 'each', 'them', 'was', 'afterwards', 'give', 'except', 'seems', 'third', "'s", 'over', 'a', 'ca', 'thus', 'full', 'up', 'someone', 'beforehand', 'before', 'in', 'now', 'whereupon', 'seem', 'n‘t', 'until', 'whereas', 'become', '‘re', 'make', 'above', 'how', 'becoming', 'can', 'who', 'hence', 'often', 'ever', 'whereby', 'those', 'under', 'somehow', '’ll', 'anyway', 'latterly', 'am', 'where', 'all', 're', 'wherein', 'sometimes', 'on', 'toward', 'about', '’d', 'what', 'been', 'latter', 'three', 'should', 'just', 'herein', 'noone', 'did', 'name', "'ll", 'there', 'say', 'below', 'again', 'me', 'done', 'whenever', 'too', 'as', 'thence', 'within', 'that', 'wherever', 'during', 'seeming', 'thereupon', 'us', 'perhaps', 'off', 'hers', "'d", 'top', 'hereafter', 'other', 'is', 'whereafter', 'at', 'may', 'when', 'the', 'seemed', 'eleven', 'becomes', 'might', 'please', 'see', 'front', 'already', 'whatever', 'everyone', 'have', 'many', '‘ve', 'among', 'ten', 'would', 'quite', 'rather', 'whole', 'various', 'besides', '‘d', 'he', 'behind', 'became', 'somewhere', 'since', 'you', 'anything', 'only', 'five', 'between', 'but', 'also', 'must', 'more', 'upon', 'meanwhile', 'do', 'first', 'out', 'side', 'much', 'whence', 'although', 'everything', 'without', 'amongst', 'him', 'however', 'made', 'forty', 'himself', 'further', 'she', 'nothing', 'nobody', 'none', 'thereafter', 'nine', 'n’t', 'every', 'my', 'one', 'could', 'using', 'beside', 'are', 'itself', 'mine', 'unless', 'last', 'and', 'onto', 'get', 'own', 'by', 'your', 'against', 'formerly', "'re", 'still', 'show', 'fifteen', 'throughout', 'no', 'elsewhere', 'hundred', 'therefore', 'several', 'though'}
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [6]:
# Creating our tokenizer function
def spacy_tokenizer(sentence):
    # Creating our token object, which is used to create documents with linguistic annotations.
    doc = nlp(sentence)



    #print(doc)
    #print(type(doc))

    # Lemmatizing each token and converting each token into lowercase
    mytokens = [ word.lemma_.lower().strip() for word in doc ]

    #print(mytokens)

    # Removing stop words
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]

    # return preprocessed list of tokens
    return mytokens

In [7]:
# Function to remove duplicates from a list and return a list of unique words
def remove_duplicates(word_list):
    return list(set(word_list))

In [26]:
data = pd.read_csv("Attributes_2016_17.csv", sep=";")

In [27]:
data

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,4.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,5.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,6.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,7.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...,...,...
1162,1169.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,1170.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,1171.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,1172.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,1173.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [28]:
data.columns

Index(['Attr_id', 'Chapter_id', 'Chapter_name', 'Table_id', 'Table_name',
       'Description'],
      dtype='object')

In [29]:
data.drop(['Attr_id', 'Table_id'],axis=1,inplace=True)

In [30]:
data

,Chapter_id,Chapter_name,Table_name,Description
0,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,1,General Information,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...
1162,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [31]:
data_new = data.groupby(['Chapter_id', 'Chapter_name', 'Table_name'])['Description'].apply(lambda x: ', '.join(x)).reset_index()
data_new

,Chapter_id,Chapter_name,Table_name,Description
0,1,General Information,Bpl Priority Card Holders on 31-3-2017 In Nos,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,1,General Information,Cinema Theatres Police Station Prisons and Pri...,"Permanent,Cinema Theatres, Temporary,Cinema Th..."
2,1,General Information,District Income Of Karnataka,Gross District Domestic Product Gddp Rs. in La...
3,1,General Information,Nada Offices Village Accountant Circles Hoblie...,"Nada Offices, Va Circles, Hoblies, Grama Panch..."
4,1,General Information,No.of A.p.l. Non-Priority Card Holders on 31-3...,"Urban,With Cylinder,Apl Card Holders, Rural,Wi..."
...,...,...,...,...
128,17,Miscellaneous,Registration of Birth and Death,"Registration Units Rural Urban, Birth,Register..."
129,18,Additional information,Agricultural Land Holdings And Area 2010-11,"Male,Number,Semi Medium Agril. Land Holder 2-4..."
130,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Number,Total Agrl. Land Holder Others, Fe..."
131,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Number,Marginal Agril. Land Holder Below ..."
132,18,Additional information,Agricultural Land holdings and Area per 2010-1...,"Male,Number,Medium Agril. Land Holder 4-10 Ha...."

In [32]:
data_new['concat_value'] = data_new['Table_name'] + ' ' + data_new['Description']

# Create a new DataFrame with selected columns
new_df = data_new[['Chapter_id', 'Chapter_name', 'Description']]
new_df

,Chapter_id,Chapter_name,Description
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,1,General Information,"Permanent,Cinema Theatres, Temporary,Cinema Th..."
2,1,General Information,Gross District Domestic Product Gddp Rs. in La...
3,1,General Information,"Nada Offices, Va Circles, Hoblies, Grama Panch..."
4,1,General Information,"Urban,With Cylinder,Apl Card Holders, Rural,Wi..."
...,...,...,...
128,17,Miscellaneous,"Registration Units Rural Urban, Birth,Register..."
129,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4..."
130,18,Additional information,"Male,Number,Total Agrl. Land Holder Others, Fe..."
131,18,Additional information,"Male,Number,Marginal Agril. Land Holder Below ..."
132,18,Additional information,"Male,Number,Medium Agril. Land Holder 4-10 Ha...."

In [33]:
new_df = new_df.groupby(['Chapter_id', 'Chapter_name',])['Description'].apply(lambda x: ', '.join(x)).reset_index()
new_df

,Chapter_id,Chapter_name,Description
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an..."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie..."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,..."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac..."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St..."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,..."
14,15,Housing,"Total no. of Census houses,No.of Census Houses..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4..."

In [34]:
new_df['new_description'] = new_df['Description'].apply(spacy_tokenizer)

In [35]:
# Apply the function to create the new column
new_df['tokens'] = new_df['new_description'].apply(remove_duplicates)

In [36]:
new_df['vec'] = new_df['tokens'].apply(sent_vec)

In [37]:
new_df

,Chapter_id,Chapter_name,Description,new_description,tokens,vec
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ...","[urban, akshaya, cylinder, bpl, card, holders,...","[town, temporary, 15, permanent, current, rs.i...","[0.02542606476814516, 0.06692111107610887, 0.0..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C...","[total, child, population, 0, 6, year, 2011, r...","[2016, total,%, rural,%, urban, schedule, area...","[0.0189404296875, 0.03924560546875, 0.02138916..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m...","[2006,actual, annual, rainfallfrom, 2006, 2016...","[annual, 2016, 1951, 2012,actual, 2006,actual,...","[-0.0214996337890625, 0.069122314453125, 0.010..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin...","[paddy, area, cereals, hect, ,area, principal,...","[crop, guava, 2016, bengalgram, cereals, sugar...","[0.005660679029381793, 0.10095109801361526, -0..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an...","[artificial, insemination, numbers, no.of, ani...","[numbers, fish, nos, animal, ,cold, lakh, pigs...","[0.006840121361517137, 0.07613692745085686, 0...."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E...","[factory, readymade, garments, factories, male...","[,leather, 2016, food, ,others, nos, mt, facto...","[0.04142132927389706, 0.04717048944211474, 0.0..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S...","[office, public, sector, bank, deposit, public...","[public, office, deposit, foreign, banks, rura...","[-0.0181732177734375, 0.0208587646484375, 0.00..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie...","[society, agricultural, credit, co, operative,...","[nos, society, p.l.d, culture, co, pld, non, m...","[0.01730901544744318, 0.02737981622869318, -0...."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,...","[multiaxled, ariculated, vehicles, good, vehic...","[2016, raod, carry, length, exchanges, roads, ...","[0.06848667689732142, 0.035709926060267856, 0...."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac...","[male, rural, literacy, rate, female, rural, l...","[lower, women, children, 6, aid, medical, 2nd,...","[0.004887288411458334, 0.03853185017903646, 0...."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No...","[male, no.of, identify, aids, patient, female,...","[,community, identified, referal, occurred, be...","[-0.038764416331976234, 0.04464189771195533, 0..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St...","[number, schedule, caste, ashrama, residential...","[numbers, boys, nos, standard, boys,1, prim, s...","[0.024318385768581082, 0.04341769862819363, 0...."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ...","[total, savings, accumulated, rs, crores, loan...","[awnganawadi, women, centre, help, rs, assista...","[0.036134981641582416, 0.0497738707299326, 0.0..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,...","[provide, current, year, wells, total, wells, ...","[mandays, 2016, women, plant, small, schemes, ...","[0.019269353693181817, 0.04312106045809659, 0...."
14,15,Housing,"Total no. of Census houses,No.of Census Houses...","[total, census, house, no.of, census, houses, ...","[2016, gas, tubewell, spring, schedule, solar,...","[0.04728861058011968, 0.07961289426113696, 0.0..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...,"[beneficiary, bhagyajyoti, kutera, jyoti, upto...","[bhagyajyoti, lakh, industrial, consumption, k...","[0.07158293547453703, 0.0226845211452908, 0.06..."
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor...","[excise, shops, iml, liquor, consumption, liqu...","[lakh, 2016, old, consumption, urban, php-75, ...","[0.09441646452872984, 0.023449313256048387, -0..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4...","[male, number, semi, medium, agril, land, hold...","[agrl, 4, 2, small, area, marginal, female, in...","[0.033380126953125, 0.00748291015625, 0.008404..."

In [38]:
ll = new_df['tokens'].loc[4]

In [39]:
ll

['numbers',
 'fish',
 'nos',
 'animal',
 ',cold',
 'lakh',
 'pigs',
 'catch',
 'breed',
 'stock',
 'plant',
 'let',
 'dogs',
 'dispensaries',
 'artificial',
 'live',
 'mobile',
 'storage',
 'scheme',
 'sheeps',
 'hospitals',
 'institutions',
 'involve',
 'indigenious',
 'day',
 'panchayat',
 '2012',
 'exotic',
 'minor',
 'livestock',
 'primary',
 'veterinary',
 'centres',
 'cold',
 'buffaloes',
 'capacity',
 'irrigation',
 'production',
 'tank',
 'meat',
 'census',
 'no.of',
 'insemination',
 'tonnes',
 'plants',
 'rabbit',
 'fishery',
 'goats',
 'lakhs',
 'eggs',
 ',ice',
 'thousand',
 'family',
 'ice',
 'mathsasraya',
 'beneficiary',
 'market',
 'cross',
 'tonne',
 'total',
 'milk',
 'rl',
 'poultry',
 'cattle',
 'institution',
 'time',
 'kvs',
 'raj',
 'treat']

In [41]:
# Extract vectors from DataFrame
vectors = np.array(new_df['vec'].to_list())

# Compute cosine similarity between vectors
similarity_matrix = cosine_similarity(vectors, vectors)

# Convert the similarity matrix to a DataFrame for visualization
similarity_df = pd.DataFrame(similarity_matrix, columns=range(18), index=range(18))

In [42]:
similarity_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.000000,0.713367,0.593507,0.605291,0.746914,0.692752,0.602102,0.629298,0.722729,0.735422,0.737174,0.672971,0.752635,0.837616,0.744226,0.764334,0.793393,0.661697
1,0.713367,1.000000,0.536947,0.500053,0.616674,0.532283,0.489683,0.509261,0.560719,0.723219,0.639449,0.749050,0.631704,0.730692,0.596813,0.619754,0.647445,0.650959
2,0.593507,0.536947,1.000000,0.414211,0.483638,0.429920,0.392151,0.377348,0.485262,0.476505,0.437010,0.372288,0.475871,0.563319,0.486009,0.507917,0.472505,0.476651
3,0.605291,0.500053,0.414211,1.000000,0.726563,0.650155,0.418772,0.541732,0.488613,0.461180,0.495756,0.456711,0.508737,0.593577,0.581481,0.545730,0.539497,0.513057
4,0.746914,0.616674,0.483638,0.726563,1.000000,0.701708,0.542071,0.625077,0.637440,0.630084,0.712631,0.567225,0.659356,0.748884,0.686543,0.656197,0.680871,0.543959
5,0.692752,0.532283,0.429920,0.650155,0.701708,1.000000,0.550554,0.633075,0.669182,0.648527,0.615343,0.543800,0.645240,0.732891,0.661460,0.692085,0.639982,0.540671
6,0.602102,0.489683,0.392151,0.418772,0.542071,0.550554,1.000000,0.789264,0.516782,0.577642,0.513471,0.466801,0.654141,0.633209,0.534928,0.565940,0.530939,0.512592
7,0.629298,0.509261,0.377348,0.541732,0.625077,0.633075,0.789264,1.000000,0.493272,0.599477,0.564012,0.526283,0.725965,0.649909,0.530204,0.563498,0.577088,0.519000
8,0.722729,0.560719,0.485262,0.488613,0.637440,0.669182,0.516782,0.493272,1.000000,0.613326,0.597086,0.551615,0.575729,0.696561,0.669510,0.659596,0.629171,0.472449
9,0.735422,0.723219,0.476505,0.461180,0.630084,0.648527,0.577642,0.599477,0.613326,1.000000,0.769815,0.842380,0.789915,0.785479,0.662069,0.619146,0.696848,0.642666
10,0.737174,0.639449,0.437010,0.495756,0.712631,0.615343,0.513471,0.564012,0.597086,0.769815,1.000000,0.652286,0.741246,0.731894,0.603522,0.609847,0.707155,0.528130
11,0.672971,0.749050,0.372288,0.456711,0.567225,0.543800,0.466801,0.526283,0.551615,0.842380,0.652286,1.000000,0.695442,0.710723,0.624004,0.578346,0.663848,0.586580
12,0.752635,0.631704,0.475871,0.508737,0.659356,0.645240,0.654141,0.725965,0.575729,0.789915,0.741246,0.695442,1.000000,0.788254,0.601546,0.681802,0.736098,0.626754
13,0.837616,0.730692,0.563319,0.593577,0.748884,0.732891,0.633209,0.649909,0.696561,0.785479,0.731894,0.710723,0.788254,1.000000,0.778580,0.777034,0.775914,0.629981
14,0.744226,0.596813,0.486009,0.581481,0.686543,0.661460,0.534928,0.530204,0.669510,0.662069,0.603522,0.624004,0.601546,0.778580,1.000000,0.678174,0.641579,0.475740
15,0.764334,0.619754,0.507917,0.545730,0.656197,0.692085,0.565940,0.563498,0.659596,0.619146,0.609847,0.578346,0.681802,0.777034,0.678174,1.000000,0.739834,0.615540
16,0.793393,0.647445,0.472505,0.539497,0.680871,0.639982,0.530939,0.577088,0.629171,0.696848,0.707155,0.663848,0.736098,0.775914,0.641579,0.739834,1.000000,0.579721
17,0.661697,0.650959,0.476651,0.513057,0.543959,0.540671,0.512592,0.519000,0.472449,0.642666,0.528130,0.586580,0.626754,0.629981,0.475740,0.615540,0.579721,1.000000

In [51]:
sdg = pd.read_csv('sdg_data_vec.csv', sep=";")
sdg

,Unnamed: 0,Goal No.,Goal,Targets,new_targets,tokens,vec
0,0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['child', 'people', 'microfinance', 'particula...",[ 1.99330318e-02 3.61419281e-02 -5.63049316e-...
1,1,2,"End hunger, achieve food security and improved...","By 2030, end hunger and ensure access by all p...","['2030', 'end', 'hunger', 'ensure', 'access', ...","['child', 'volatility', 'research', 'prevent',...",[-3.81049859e-02 4.79703200e-02 -2.91772140e-...
2,2,3,Ensure healthy lives and promote well-being fo...,"By 2030, reduce the maternal mortality ratio t...","['2030', 'reduce', 'maternal', 'mortality', 'r...","['child', 'road', 'implementation', 'research'...",[-4.11676887e-02 5.00096183e-02 2.76913242e-...
3,3,4,Ensure inclusive and equitable quality educati...,"By 2030, ensure that all girls and boys comple...","['2030', 'ensure', 'girl', 'boy', 'complete', ...","['child', 'people', 'substantially', 'scientif...",[-0.04538551 0.00699968 0.01054353 0.049253...
4,4,5,Achieve gender equality and empower all women ...,End all forms of discrimination against all wo...,"['end', 'form', 'discrimination', 'woman', 'gi...","['child', 'decision', 'sphere', 'value', 'shar...",[-3.91934204e-02 1.35421753e-02 4.12231445e-...
5,5,6,"Ensure access to affordable, reliable, sustain...","By 2030, ensure universal access to affordable...","['2030', 'ensure', 'universal', 'access', 'aff...","['energy', 'affordable', 'modern', 'service', ...",[-0.05875651 -0.05223253 -0.00542535 -0.023552...
6,6,6,Ensure availability and sustainable management...,"By 2030, achieve universal and equitable acces...","['2030', 'achieve', 'universal', 'equitable', ...","['material', 'people', 'drinking', 'substantia...",[-0.08247549 0.06165522 0.01714464 0.016053...
7,7,7,"Ensure access to affordable, reliable, sustain...","By 2030, ensure universal access to affordable...","['2030', 'ensure', 'universal', 'access', 'aff...","['energy', 'accordance', 'research', 'double',...",[-0.11421156 0.03368835 0.02188492 0.011013...
8,8,8,"Promote sustained, inclusive and sustainable e...",Sustain per capita economic growth in accordan...,"['sustain', 'capita', 'economic', 'growth', 'a...","['child', 'devise', 'worker', 'people', 'secur...",[-2.73829869e-02 2.83027528e-02 -1.50217934e-...
9,9,9,"Build resilient infrastructure, promote inclus...","Develop quality, reliable, sustainable and res...","['develop', 'quality', 'reliable', 'sustainabl...","['research', 'worker', 'double', 'chain', 'peo...",[-7.18635718e-02 2.55494714e-02 -1.83308919e-...
10,10,10,Reduce inequality within the State,"By 2030, progressively achieve and sustain inc...","['2030', 'progressively', 'achieve', 'sustain'...","['disability', 'equality', 'equal', 'cent', 'e...",[-3.16180420e-02 2.00415039e-02 -1.74108887e-...
11,11,11,"Make cities and human settlements inclusive, s...","By 2030, ensure access for all to adequate, sa...","['2030', 'ensure', 'access', 'adequate', 'safe...","['child', 'positive', 'road', 'material', 'peo...",[-0.0478811 0.04508594 0.00164423 0.053786...
12,12,12,Ensure sustainable consumption and production\...,"By 2030, achieve the sustainable management an...","['2030', 'achieve', 'sustainable', 'management...","['harmony', 'cycle', 'chain', 'people', 'repor...",[-8.15658362e-02 5.97149393e-02 -2.35341943e-...
13,13,13,Take urgent action to combat climate change an...,Strengthen resilience and adaptive capacity to...,"['strengthen', 'resilience', 'adaptive', 'capa...","['strengthen', 'awareness', 'integrate', 'rais...",[-1.02294922e-02 7.48250326e-02 5.90413411e-...
14,14,14,"Protect, restore and promote sustainable use o...","By 2020, ensure the conservation, restoration ...","['2020', 'ensure', 'conservation', 'restoratio...","['inland', 'implementation', 'prevent', 'neutr...",[-3.36039986e-02 7.86299818e-02 -7.76079133e-...
15,15,15,Promote peaceful and inclusive societies for s...,Significantly reduce all forms of violence and...,"['significantly', 'reduce', 'form', 'violence'...","['strengthen', 'trafficking', 'recovery', 'chi...",[-0.07061774 0.02596736 -0.00679421 0.033442...
16,16,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['strengthen', 'building', 'fully', 'include',...",[-9.95303883e-02 3.47529393e-02 1.64196538e-...
17,17,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['disability', '2020', 'building', 'ethnicity'...",[-5.27105564e-02 -1.63410466e-02 -2.57464153e-...

In [55]:
# Convert string representations of vectors to actual NumPy arrays
sdg['vec'] = sdg['vec'].apply(lambda x: np.array([float(value) for value in x.strip('[]').split()]))
sdg

,Unnamed: 0,Goal No.,Goal,Targets,new_targets,tokens,vec
0,0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['child', 'people', 'microfinance', 'particula...","[0.0199330318, 0.0361419281, -0.00563049316, 0..."
1,1,2,"End hunger, achieve food security and improved...","By 2030, end hunger and ensure access by all p...","['2030', 'end', 'hunger', 'ensure', 'access', ...","['child', 'volatility', 'research', 'prevent',...","[-0.0381049859, 0.04797032, -0.029177214, 0.04..."
2,2,3,Ensure healthy lives and promote well-being fo...,"By 2030, reduce the maternal mortality ratio t...","['2030', 'reduce', 'maternal', 'mortality', 'r...","['child', 'road', 'implementation', 'research'...","[-0.0411676887, 0.0500096183, 0.0276913242, 0...."
3,3,4,Ensure inclusive and equitable quality educati...,"By 2030, ensure that all girls and boys comple...","['2030', 'ensure', 'girl', 'boy', 'complete', ...","['child', 'people', 'substantially', 'scientif...","[-0.04538551, 0.00699968, 0.01054353, 0.049253..."
4,4,5,Achieve gender equality and empower all women ...,End all forms of discrimination against all wo...,"['end', 'form', 'discrimination', 'woman', 'gi...","['child', 'decision', 'sphere', 'value', 'shar...","[-0.0391934204, 0.0135421753, 0.00412231445, 0..."
5,5,6,"Ensure access to affordable, reliable, sustain...","By 2030, ensure universal access to affordable...","['2030', 'ensure', 'universal', 'access', 'aff...","['energy', 'affordable', 'modern', 'service', ...","[-0.05875651, -0.05223253, -0.00542535, -0.023..."
6,6,6,Ensure availability and sustainable management...,"By 2030, achieve universal and equitable acces...","['2030', 'achieve', 'universal', 'equitable', ...","['material', 'people', 'drinking', 'substantia...","[-0.08247549, 0.06165522, 0.01714464, 0.016053..."
7,7,7,"Ensure access to affordable, reliable, sustain...","By 2030, ensure universal access to affordable...","['2030', 'ensure', 'universal', 'access', 'aff...","['energy', 'accordance', 'research', 'double',...","[-0.11421156, 0.03368835, 0.02188492, 0.011013..."
8,8,8,"Promote sustained, inclusive and sustainable e...",Sustain per capita economic growth in accordan...,"['sustain', 'capita', 'economic', 'growth', 'a...","['child', 'devise', 'worker', 'people', 'secur...","[-0.0273829869, 0.0283027528, -0.0150217934, 0..."
9,9,9,"Build resilient infrastructure, promote inclus...","Develop quality, reliable, sustainable and res...","['develop', 'quality', 'reliable', 'sustainabl...","['research', 'worker', 'double', 'chain', 'peo...","[-0.0718635718, 0.0255494714, -0.0183308919, 0..."
10,10,10,Reduce inequality within the State,"By 2030, progressively achieve and sustain inc...","['2030', 'progressively', 'achieve', 'sustain'...","['disability', 'equality', 'equal', 'cent', 'e...","[-0.031618042, 0.0200415039, -0.0174108887, 0...."
11,11,11,"Make cities and human settlements inclusive, s...","By 2030, ensure access for all to adequate, sa...","['2030', 'ensure', 'access', 'adequate', 'safe...","['child', 'positive', 'road', 'material', 'peo...","[-0.0478811, 0.04508594, 0.00164423, 0.0537863..."
12,12,12,Ensure sustainable consumption and production\...,"By 2030, achieve the sustainable management an...","['2030', 'achieve', 'sustainable', 'management...","['harmony', 'cycle', 'chain', 'people', 'repor...","[-0.0815658362, 0.0597149393, -0.00235341943, ..."
13,13,13,Take urgent action to combat climate change an...,Strengthen resilience and adaptive capacity to...,"['strengthen', 'resilience', 'adaptive', 'capa...","['strengthen', 'awareness', 'integrate', 'rais...","[-0.0102294922, 0.0748250326, 0.00590413411, 0..."
14,14,14,"Protect, restore and promote sustainable use o...","By 2020, ensure the conservation, restoration ...","['2020', 'ensure', 'conservation', 'restoratio...","['inland', 'implementation', 'prevent', 'neutr...","[-0.0336039986, 0.0786299818, -0.00776079133, ..."
15,15,15,Promote peaceful and inclusive societies for s...,Significantly reduce all forms of violence and...,"['significantly', 'reduce', 'form', 'violence'...","['strengthen', 'trafficking', 'recovery', 'chi...","[-0.07061774, 0.02596736, -0.00679421, 0.03344..."
16,16,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['strengthen', 'building', 'fully', 'include',...","[-0.0995303883, 0.0347529393, 0.00164196538, 0..."
17,17,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['disability', '2020', 'building', 'ethnicity'...","[-0.0527105564, -0.0163410466, -0.0257464153, ..."

In [56]:
# Extract vectors from DataFrame
sdg_vectors = np.array(sdg['vec'].to_list())

# Compute cosine similarity between vectors
similarity_matrix_sdg = cosine_similarity(vectors, sdg_vectors)

# Convert the similarity matrix to a DataFrame for visualization
similarity_df_sdg = pd.DataFrame(similarity_matrix_sdg, columns=range(18), index=range(18))

In [57]:



similarity_df_sdg

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.630172,0.663752,0.620672,0.618233,0.623253,0.410959,0.641418,0.519812,0.635289,0.591493,0.591229,0.644494,0.592883,0.481901,0.612061,0.574142,0.513389,0.541653
1,0.607187,0.611044,0.581256,0.621763,0.597111,0.302424,0.545813,0.446581,0.579697,0.510629,0.646830,0.580068,0.502479,0.452957,0.562905,0.494349,0.415505,0.606481
2,0.417093,0.490562,0.422144,0.400063,0.366117,0.254629,0.476926,0.389872,0.419787,0.404755,0.395161,0.429760,0.433709,0.365546,0.445931,0.363990,0.351792,0.423754
3,0.408278,0.573412,0.451504,0.386615,0.389416,0.202047,0.485952,0.365377,0.442587,0.390457,0.364432,0.405867,0.457065,0.337573,0.513983,0.341136,0.341213,0.356284
4,0.561743,0.688990,0.617049,0.538232,0.552284,0.321699,0.617106,0.467883,0.576010,0.533887,0.505114,0.553491,0.574339,0.454530,0.598744,0.490480,0.452345,0.480160
5,0.559238,0.652447,0.612632,0.591514,0.584217,0.370291,0.606015,0.541828,0.654361,0.616846,0.530323,0.590458,0.644390,0.483324,0.559692,0.519740,0.525538,0.520478
6,0.572308,0.610865,0.517208,0.548862,0.569387,0.368346,0.542175,0.527400,0.605036,0.609311,0.489854,0.584223,0.534285,0.457352,0.542836,0.519924,0.531228,0.460603
7,0.571466,0.648032,0.554452,0.585003,0.584502,0.338633,0.550014,0.484255,0.622021,0.592654,0.542954,0.571017,0.577562,0.471750,0.551164,0.546761,0.541572,0.493712
8,0.498922,0.527109,0.518407,0.506121,0.505707,0.389375,0.532376,0.455715,0.513284,0.511717,0.455132,0.540220,0.482527,0.401419,0.472785,0.455121,0.440875,0.448984
9,0.655394,0.665610,0.683923,0.769841,0.663985,0.418811,0.630329,0.524675,0.667995,0.594257,0.657150,0.644136,0.580182,0.526305,0.552027,0.586573,0.516664,0.572147
10,0.621554,0.646208,0.759214,0.657240,0.656205,0.413761,0.630067,0.484313,0.617870,0.554949,0.581909,0.631434,0.583558,0.518108,0.574119,0.585188,0.529189,0.546553
11,0.519180,0.526701,0.514922,0.627971,0.547049,0.302548,0.457293,0.363432,0.520188,0.444995,0.591544,0.498287,0.428354,0.385909,0.429472,0.475221,0.351988,0.485462
12,0.663312,0.696797,0.675963,0.689467,0.673784,0.362245,0.605680,0.520906,0.677500,0.607242,0.638663,0.651474,0.598046,0.540461,0.585873,0.622386,0.574452,0.564449
13,0.719867,0.739193,0.694617,0.732757,0.692329,0.480900,0.730829,0.592938,0.736296,0.673417,0.672787,0.726340,0.681179,0.581085,0.681252,0.616019,0.569047,0.623818
14,0.540228,0.603806,0.551820,0.550055,0.533523,0.404332,0.652362,0.499377,0.541919,0.505971,0.485475,0.576637,0.558479,0.436964,0.572865,0.464669,0.437798,0.476325
15,0.589573,0.621871,0.578079,0.539922,0.542939,0.445620,0.602076,0.614266,0.616269,0.629027,0.548972,0.626128,0.599412,0.506480,0.586257,0.510289,0.521012,0.546505
16,0.555107,0.576368,0.588883,0.574193,0.570950,0.356864,0.506068,0.430911,0.562625,0.501545,0.593784,0.546399,0.488160,0.420999,0.483717,0.556740,0.425741,0.483980
17,0.516486,0.530415,0.458466,0.498733,0.488855,0.245536,0.455118,0.390979,0.518105,0.474100,0.477295,0.484477,0.454002,0.386354,0.458501,0.419368,0.368935,0.479394

In [59]:
# Initialize empty lists to store chapter_id and chapter_name
max_similarity_chapter_id = []
max_similarity_chapter_name = []

# Iterate through the rows of the similarity matrix
for row in similarity_matrix_sdg:
    # Find the index of the maximum similarity value in the row
    max_index = np.argmax(row)
    
    # Get the corresponding chapter_id and chapter_name from the sdg DataFrame
    chapter_id = new_df['Chapter_id'].loc[max_index]
    chapter_name = new_df['Chapter_name'].loc[max_index]
    
    # Append the chapter_id and chapter_name to the lists
    max_similarity_chapter_id.append(chapter_id)
    max_similarity_chapter_name.append(chapter_name)

# Add new columns to the sdg DataFrame
sdg['Max_similarity_chapter_id'] = max_similarity_chapter_id
sdg['Max_similarity_chapter_name'] = max_similarity_chapter_name

In [60]:
sdg

,Unnamed: 0,Goal No.,Goal,Targets,new_targets,tokens,vec,Max_similarity_chapter_id,Max_similarity_chapter_name
0,0,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['child', 'people', 'microfinance', 'particula...","[0.0199330318, 0.0361419281, -0.00563049316, 0...",2,Area and Population
1,1,2,"End hunger, achieve food security and improved...","By 2030, end hunger and ensure access by all p...","['2030', 'end', 'hunger', 'ensure', 'access', ...","['child', 'volatility', 'research', 'prevent',...","[-0.0381049859, 0.04797032, -0.029177214, 0.04...",11,Health & Family welfare Services
2,2,3,Ensure healthy lives and promote well-being fo...,"By 2030, reduce the maternal mortality ratio t...","['2030', 'reduce', 'maternal', 'mortality', 'r...","['child', 'road', 'implementation', 'research'...","[-0.0411676887, 0.0500096183, 0.0276913242, 0....",2,Area and Population
3,3,4,Ensure inclusive and equitable quality educati...,"By 2030, ensure that all girls and boys comple...","['2030', 'ensure', 'girl', 'boy', 'complete', ...","['child', 'people', 'substantially', 'scientif...","[-0.04538551, 0.00699968, 0.01054353, 0.049253...",2,Area and Population
4,4,5,Achieve gender equality and empower all women ...,End all forms of discrimination against all wo...,"['end', 'form', 'discrimination', 'woman', 'gi...","['child', 'decision', 'sphere', 'value', 'shar...","[-0.0391934204, 0.0135421753, 0.00412231445, 0...",2,Area and Population
5,5,6,"Ensure access to affordable, reliable, sustain...","By 2030, ensure universal access to affordable...","['2030', 'ensure', 'universal', 'access', 'aff...","['energy', 'affordable', 'modern', 'service', ...","[-0.05875651, -0.05223253, -0.00542535, -0.023...",9,TRANSPORT AND COMMUNICATION
6,6,6,Ensure availability and sustainable management...,"By 2030, achieve universal and equitable acces...","['2030', 'achieve', 'universal', 'equitable', ...","['material', 'people', 'drinking', 'substantia...","[-0.08247549, 0.06165522, 0.01714464, 0.016053...",2,Area and Population
7,7,7,"Ensure access to affordable, reliable, sustain...","By 2030, ensure universal access to affordable...","['2030', 'ensure', 'universal', 'access', 'aff...","['energy', 'accordance', 'research', 'double',...","[-0.11421156, 0.03368835, 0.02188492, 0.011013...",2,Area and Population
8,8,8,"Promote sustained, inclusive and sustainable e...",Sustain per capita economic growth in accordan...,"['sustain', 'capita', 'economic', 'growth', 'a...","['child', 'devise', 'worker', 'people', 'secur...","[-0.0273829869, 0.0283027528, -0.0150217934, 0...",12,Social Welfare
9,9,9,"Build resilient infrastructure, promote inclus...","Develop quality, reliable, sustainable and res...","['develop', 'quality', 'reliable', 'sustainabl...","['research', 'worker', 'double', 'chain', 'peo...","[-0.0718635718, 0.0255494714, -0.0183308919, 0...",4,"Agriculture, Horticulture and Sericulture"
10,10,10,Reduce inequality within the State,"By 2030, progressively achieve and sustain inc...","['2030', 'progressively', 'achieve', 'sustain'...","['disability', 'equality', 'equal', 'cent', 'e...","[-0.031618042, 0.0200415039, -0.0174108887, 0....",3,Rainfall
11,11,11,"Make cities and human settlements inclusive, s...","By 2030, ensure access for all to adequate, sa...","['2030', 'ensure', 'access', 'adequate', 'safe...","['child', 'positive', 'road', 'material', 'peo...","[-0.0478811, 0.04508594, 0.00164423, 0.0537863...",4,"Agriculture, Horticulture and Sericulture"
12,12,12,Ensure sustainable consumption and production\...,"By 2030, achieve the sustainable management an...","['2030', 'achieve', 'sustainable', 'management...","['harmony', 'cycle', 'chain', 'people', 'repor...","[-0.0815658362, 0.0597149393, -0.00235341943, ...",2,Area and Population
13,13,13,Take urgent action to combat climate change an...,Strengthen resilience and adaptive capacity to...,"['strengthen', 'resilience', 'adaptive', 'capa...","['strengthen', 'awareness', 'integrate', 'rais...","[-0.0102294922, 0.0748250326, 0.00590413411, 0...",2,Area and Population
14,14,14,"Protect, restore and promote sustainable use o...","By 2020, ensure the conservation, restoration ...","['2020', 'ensure', 'conservation', 'restoratio...","['inland', 'implementation', 'prevent', 'neutr...","[-0.0336039986, 0.0786299818, -0.00776079133, ...",7,Banks
15,15,15,Promote peaceful and inclusive societies for s...,Significantly reduce all forms of violence and...,"['significantly', 'reduce', 'form', 'violence'...","['strengthen', 'trafficking', 'recovery', 'chi...","[-0.07061774, 0.02596736, -0.00679421, 0.03344...",10,Education
16,16,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['strengthen', 'building', 'fully', 'include',...","[-0.0995303883, 0.0347529393, 0.00164196538, 0...",11,Health & Family welfare Services
17,17,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['disability', '2020', 'building', 'ethnicity'...","[-0.0527105564, -0.0163410466, -0.0257464153, ...",2,Area and Population

In [61]:
new_df.to_csv('Chapter_2016-17.csv', sep=";")