In [1]:
!pip install --upgrade gensim -q
!pip install matplotlib -q
!pip install spacy -q

In [2]:
import gensim
from gensim.models import word2vec
from gensim.models.word2vec import Word2Vec
import matplotlib.pyplot as plt
import spacy
import string
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
/usr/lib/python3/dist-packages/paramiko/transport.py:237: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [3]:
from gensim.models import KeyedVectors
wv = KeyedVectors.load('vectors.kv')

In [4]:
def sent_vec(sent):
    vector_size = wv.vector_size
    wv_res = np.zeros(vector_size)
    # print(wv_res)
    ctr = 1
    for w in sent:
        if w in wv:
            ctr += 1
            wv_res += wv[w]
    wv_res = wv_res/ctr
    return wv_res

In [5]:
nlp = spacy.load('/home/riya/anaconda3/lib/python3.11/site-packages/en_core_web_sm/en_core_web_sm-3.7.1')
stop_words = nlp.Defaults.stop_words
print(stop_words)
punctuations = string.punctuation
print(punctuations)

{'thereby', 'itself', 'others', 'around', 'used', 'put', 'besides', 'although', 'via', 'hereafter', 'thus', 'the', 'anyone', 'doing', 'everywhere', 'seeming', 'to', 'forty', 'if', 'over', 'hundred', 'of', 'nor', 'themselves', 'afterwards', 'mine', 'off', 'those', 'ours', 'own', 'else', 'very', 'yet', 'once', 'none', 'further', 'should', 'few', 'show', 'keep', "n't", 'twelve', 'he', 'everything', 'often', 'sometime', 'behind', 'only', 'they', 'thereafter', 'us', 'that', 'cannot', 'again', 'move', 'whither', 'somewhere', 'in', 'part', '’m', 'being', 'alone', 'ca', 'herself', 'whoever', 'can', 'all', 'really', 'these', 'formerly', 'my', 'yours', 'after', 'third', 'whence', 'make', 'why', 'within', 'either', 'she', 'beside', '‘s', 'nobody', 'during', 'hereby', 'above', 'anywhere', 'must', '’s', 'it', 'for', 'your', 'no', 'about', 'various', 'what', 'did', 'among', 'would', 'yourselves', '‘m', 'hereupon', 'from', 'see', 'namely', 'made', 'onto', 'bottom', 'since', 'whatever', 'into', 'go', 'hence', 'any', 'less', 'last', 'name', 'due', 'call', 'whole', '’re', 'twenty', 'as', 'such', 'towards', 'will', 'nine', 'nevertheless', 'noone', 'or', 'by', 'five', 'thru', '’ve', 'though', 'whereafter', 'eleven', 'much', 'always', 'first', 'then', 'against', 'you', 'toward', '‘d', 'who', 'myself', 'sometimes', 'whom', '’d', 'have', 'and', "'ve", 'whenever', 'anyhow', 'three', 'n‘t', "'d", 'someone', 'unless', 'amount', 'enough', 'whether', '‘ll', 'do', 'every', 'other', 'beforehand', '‘re', 'but', 'him', 'without', 'anyway', 'how', 'until', 'n’t', 'her', 'through', 'is', 'many', 'i', 'otherwise', 'his', 'whereas', 'before', "'m", 'at', 'rather', 'now', 'more', 'done', 'however', 'we', 'sixty', 'be', 'not', 'still', "'s", 'serious', 'its', 'something', 'up', 'hers', 'are', 'yourself', 'wherein', 'seem', 'thereupon', 'mostly', 'say', 'almost', 'our', 'latterly', 'even', 'so', 'both', 'amongst', 'fifty', 'when', 'becomes', 'out', 'quite', 'already', 'well', 'everyone', 'take', 'empty', 'least', 'seems', 'per', 'several', 'regarding', 'each', 'becoming', 'whereby', 'too', 'ourselves', 'beyond', "'re", '‘ve', 'seemed', 'except', 'just', 'than', 'next', 'ever', 'top', 'therein', 'eight', 'became', 'down', 'meanwhile', 'below', 'some', 'whereupon', 'fifteen', 'former', '’ll', 'elsewhere', 'wherever', 'had', 'herein', 'has', 'on', 'with', 'give', 'also', 'an', 'them', 'neither', 'side', 'thence', 'back', 'moreover', 'their', 'together', 'been', 'while', 'whose', 'six', 'may', 'four', 'indeed', 'me', 'somehow', 'himself', 'under', 'using', 'full', 'get', 'perhaps', 'does', 'never', 'might', 'a', 'am', 'between', 'throughout', 'because', 'another', 'anything', "'ll", 'two', 'upon', 'were', 'nothing', 'same', 'here', 'along', 'one', 'front', 'nowhere', 'where', 'was', 'this', 'latter', 're', 'please', 'across', 'therefore', 'there', 'ten', 'most', 'become', 'which', 'could'}
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [6]:
# Creating our tokenizer function
def spacy_tokenizer(sentence):
    # Creating our token object, which is used to create documents with linguistic annotations.
    doc = nlp(sentence)



    #print(doc)
    #print(type(doc))

    # Lemmatizing each token and converting each token into lowercase
    mytokens = [ word.lemma_.lower().strip() for word in doc ]

    #print(mytokens)

    # Removing stop words
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]

    # return preprocessed list of tokens
    return mytokens

In [7]:
# Function to remove duplicates from a list and return a list of unique words
def remove_duplicates(word_list):
    return list(set(word_list))

In [8]:
data = pd.read_csv("Attributes_2016_17.csv", sep=";")

In [9]:
data

,Attr_id,Chapter_id,Chapter_name,Table_id,Table_name,Description
0,3.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,4.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,5.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,6.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,7.0,1,General Information,1.1,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...,...,...
1162,1169.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,1170.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,1171.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,1172.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,1173.0,18,Additional information,18.1,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [10]:
data.columns

Index(['Attr_id', 'Chapter_id', 'Chapter_name', 'Table_id', 'Table_name',
       'Description'],
      dtype='object')

In [11]:
data.drop(['Attr_id', 'Table_id'],axis=1,inplace=True)

In [12]:
data

,Chapter_id,Chapter_name,Table_name,Description
0,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Nada Offices
1,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Va Circles
2,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Hoblies
3,1,General Information,Nada Offices Village Accountant Circles Hoblie...,Grama Panchayaths
4,1,General Information,Nada Offices Village Accountant Circles Hoblie...,No.of Taluks
...,...,...,...,...
1162,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Total,Number,Total Agrl. Land Holder Total"
1163,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Area,Total Agrl. Land Holder Total"
1164,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Female,Area,Total Agrl. Land Holder Total"
1165,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Institutions,Area,Total Agrl. Land Holder Total"
1166,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Total,Area,Total Agrl. Land Holder Total"

In [13]:
data_new = data.groupby(['Chapter_id', 'Chapter_name', 'Table_name'])['Description'].apply(lambda x: ', '.join(x)).reset_index()
data_new

,Chapter_id,Chapter_name,Table_name,Description
0,1,General Information,Bpl Priority Card Holders on 31-3-2017 In Nos,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,1,General Information,Cinema Theatres Police Station Prisons and Pri...,"Permanent,Cinema Theatres, Temporary,Cinema Th..."
2,1,General Information,District Income Of Karnataka,Gross District Domestic Product Gddp Rs. in La...
3,1,General Information,Nada Offices Village Accountant Circles Hoblie...,"Nada Offices, Va Circles, Hoblies, Grama Panch..."
4,1,General Information,No.of A.p.l. Non-Priority Card Holders on 31-3...,"Urban,With Cylinder,Apl Card Holders, Rural,Wi..."
...,...,...,...,...
128,17,Miscellaneous,Registration of Birth and Death,"Registration Units Rural Urban, Birth,Register..."
129,18,Additional information,Agricultural Land Holdings And Area 2010-11,"Male,Number,Semi Medium Agril. Land Holder 2-4..."
130,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Number,Total Agrl. Land Holder Others, Fe..."
131,18,Additional information,Agricultural Land Holdings And Area per 2010-1...,"Male,Number,Marginal Agril. Land Holder Below ..."
132,18,Additional information,Agricultural Land holdings and Area per 2010-1...,"Male,Number,Medium Agril. Land Holder 4-10 Ha...."

In [14]:
data_new['concat_value'] = data_new['Table_name'] + ' ' + data_new['Description']

# Create a new DataFrame with selected columns
new_df = data_new[['Chapter_id', 'Chapter_name', 'Description']]
new_df

,Chapter_id,Chapter_name,Description
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,1,General Information,"Permanent,Cinema Theatres, Temporary,Cinema Th..."
2,1,General Information,Gross District Domestic Product Gddp Rs. in La...
3,1,General Information,"Nada Offices, Va Circles, Hoblies, Grama Panch..."
4,1,General Information,"Urban,With Cylinder,Apl Card Holders, Rural,Wi..."
...,...,...,...
128,17,Miscellaneous,"Registration Units Rural Urban, Birth,Register..."
129,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4..."
130,18,Additional information,"Male,Number,Total Agrl. Land Holder Others, Fe..."
131,18,Additional information,"Male,Number,Marginal Agril. Land Holder Below ..."
132,18,Additional information,"Male,Number,Medium Agril. Land Holder 4-10 Ha...."

In [15]:
new_df = new_df.groupby(['Chapter_id', 'Chapter_name',])['Description'].apply(lambda x: ', '.join(x)).reset_index()
new_df

,Chapter_id,Chapter_name,Description
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an..."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie..."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,..."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac..."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St..."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,..."
14,15,Housing,"Total no. of Census houses,No.of Census Houses..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4..."

In [16]:
new_df['new_description'] = new_df['Description'].apply(spacy_tokenizer)

In [17]:
# Apply the function to create the new column
new_df['tokens'] = new_df['new_description'].apply(remove_duplicates)

In [18]:
new_df['vec'] = new_df['tokens'].apply(sent_vec)

In [19]:
new_df

,Chapter_id,Chapter_name,Description,new_description,tokens,vec
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ...","[urban, akshaya, cylinder, bpl, card, holders,...","[prisoner, brigade, female, theatres, ration, ...","[0.02542606476814516, 0.06692111107610887, 0.0..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C...","[total, child, population, 0, 6, year, 2011, r...","[2011, ratio, 2018, male,60, population, sex, ...","[0.0189404296875, 0.03924560546875, 0.02138916..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m...","[2006,actual, annual, rainfallfrom, 2006, 2016...","[2010,actual, 2016,actual, 1951, 2016, rainfal...","[-0.0214996337890625, 0.069122314453125, 0.010..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin...","[paddy, area, cereals, hect, ,area, principal,...","[jowar, sun, cotton, black, cultivation, flowe...","[0.005660679029381793, 0.10095109801361526, -0..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an...","[artificial, insemination, numbers, no.of, ani...","[rl, sheeps, hospitals, dispensaries, involve,...","[0.006840121361517137, 0.07613692745085686, 0...."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E...","[factory, readymade, garments, factories, male...","[,food, employment, unit, enterprise, electric...","[0.04142132927389706, 0.04717048944211474, 0.0..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S...","[office, public, sector, bank, deposit, public...","[branche, agriculture, public, no.of, foreign,...","[-0.0181732177734375, 0.0208587646484375, 0.00..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie...","[society, agricultural, credit, co, operative,...","[p.l.d, culture, pld, marketing, bank, housing...","[0.01730901544744318, 0.02737981622869318, -0...."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,...","[multiaxled, ariculated, vehicles, good, vehic...","[mobile, motor, 2016, no.of, maxi, national, t...","[0.06848667689732142, 0.035709926060267856, 0...."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac...","[male, rural, literacy, rate, female, rural, l...","[rank, 9, female, library, no.of, facilitiesin...","[0.004887288411458334, 0.03853185017903646, 0...."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No...","[male, no.of, identify, aids, patient, female,...","[female, bcg, nos, ,indian, kit, hepatities, n...","[-0.038764416331976234, 0.04464189771195533, 0..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St...","[number, schedule, caste, ashrama, residential...","[girl, 8th, caste, 9, aided, nos, ashrama, mat...","[0.024318385768581082, 0.04341769862819363, 0...."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ...","[total, savings, accumulated, rs, crores, loan...","[govt, crores, ,help, girl, attendence, yojane...","[0.036134981641582416, 0.0497738707299326, 0.0..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,...","[provide, current, year, wells, total, wells, ...","[kilometres, employment, enterprise, household...","[0.019269353693181817, 0.04312106045809659, 0...."
14,15,Housing,"Total no. of Census houses,No.of Census Houses...","[total, census, house, no.of, census, houses, ...","[kerosene, use, caste, lighting, cum, school, ...","[0.04728861058011968, 0.07961289426113696, 0.0..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...,"[beneficiary, bhagyajyoti, kutera, jyoti, upto...","[commercial, unit, kutera, jyoti, set, bhagyaj...","[0.07158293547453703, 0.0226845211452908, 0.06..."
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor...","[excise, shops, iml, liquor, consumption, liqu...","[crores, excise, registration, widow, liquor, ...","[0.09441646452872984, 0.023449313256048387, -0..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4...","[male, number, semi, medium, agril, land, hold...","[marginal, female, holder, 10, land, 2, agrl, ...","[0.033380126953125, 0.00748291015625, 0.008404..."

In [20]:
ll = new_df['tokens'].loc[4]

In [21]:
ll

['rl',
 'sheeps',
 'hospitals',
 'dispensaries',
 'involve',
 'mobile',
 'lakhs',
 'tonnes',
 'eggs',
 'day',
 'panchayat',
 'exotic',
 'cross',
 'capacity',
 'rabbit',
 'time',
 '2012',
 'kvs',
 'nos',
 ',ice',
 ',cold',
 'live',
 'no.of',
 'plant',
 'plants',
 'primary',
 'thousand',
 'let',
 'indigenious',
 'breed',
 'numbers',
 'milk',
 'institution',
 'ice',
 'tank',
 'treat',
 'beneficiary',
 'minor',
 'lakh',
 'storage',
 'livestock',
 'tonne',
 'catch',
 'centres',
 'stock',
 'irrigation',
 'cattle',
 'cold',
 'fish',
 'pigs',
 'family',
 'artificial',
 'total',
 'mathsasraya',
 'goats',
 'veterinary',
 'dogs',
 'insemination',
 'institutions',
 'production',
 'raj',
 'poultry',
 'meat',
 'scheme',
 'census',
 'market',
 'buffaloes',
 'fishery',
 'animal']

In [22]:
# Extract vectors from DataFrame
vectors = np.array(new_df['vec'].to_list())

# Compute cosine similarity between vectors
similarity_matrix = cosine_similarity(vectors, vectors)

# Convert the similarity matrix to a DataFrame for visualization
similarity_df = pd.DataFrame(similarity_matrix, columns=range(18), index=range(18))

In [23]:
similarity_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.000000,0.713367,0.593507,0.605291,0.746914,0.692752,0.602102,0.629298,0.722729,0.735422,0.737174,0.672971,0.752635,0.837616,0.744226,0.764334,0.793393,0.661697
1,0.713367,1.000000,0.536947,0.500053,0.616674,0.532283,0.489683,0.509261,0.560719,0.723219,0.639449,0.749050,0.631704,0.730692,0.596813,0.619754,0.647445,0.650959
2,0.593507,0.536947,1.000000,0.414211,0.483638,0.429920,0.392151,0.377348,0.485262,0.476505,0.437010,0.372288,0.475871,0.563319,0.486009,0.507917,0.472505,0.476651
3,0.605291,0.500053,0.414211,1.000000,0.726563,0.650155,0.418772,0.541732,0.488613,0.461180,0.495756,0.456711,0.508737,0.593577,0.581481,0.545730,0.539497,0.513057
4,0.746914,0.616674,0.483638,0.726563,1.000000,0.701708,0.542071,0.625077,0.637440,0.630084,0.712631,0.567225,0.659356,0.748884,0.686543,0.656197,0.680871,0.543959
5,0.692752,0.532283,0.429920,0.650155,0.701708,1.000000,0.550554,0.633075,0.669182,0.648527,0.615343,0.543800,0.645240,0.732891,0.661460,0.692085,0.639982,0.540671
6,0.602102,0.489683,0.392151,0.418772,0.542071,0.550554,1.000000,0.789264,0.516782,0.577642,0.513471,0.466801,0.654141,0.633209,0.534928,0.565940,0.530939,0.512592
7,0.629298,0.509261,0.377348,0.541732,0.625077,0.633075,0.789264,1.000000,0.493272,0.599477,0.564012,0.526283,0.725965,0.649909,0.530204,0.563498,0.577088,0.519000
8,0.722729,0.560719,0.485262,0.488613,0.637440,0.669182,0.516782,0.493272,1.000000,0.613326,0.597086,0.551615,0.575729,0.696561,0.669510,0.659596,0.629171,0.472449
9,0.735422,0.723219,0.476505,0.461180,0.630084,0.648527,0.577642,0.599477,0.613326,1.000000,0.769815,0.842380,0.789915,0.785479,0.662069,0.619146,0.696848,0.642666
10,0.737174,0.639449,0.437010,0.495756,0.712631,0.615343,0.513471,0.564012,0.597086,0.769815,1.000000,0.652286,0.741246,0.731894,0.603522,0.609847,0.707155,0.528130
11,0.672971,0.749050,0.372288,0.456711,0.567225,0.543800,0.466801,0.526283,0.551615,0.842380,0.652286,1.000000,0.695442,0.710723,0.624004,0.578346,0.663848,0.586580
12,0.752635,0.631704,0.475871,0.508737,0.659356,0.645240,0.654141,0.725965,0.575729,0.789915,0.741246,0.695442,1.000000,0.788254,0.601546,0.681802,0.736098,0.626754
13,0.837616,0.730692,0.563319,0.593577,0.748884,0.732891,0.633209,0.649909,0.696561,0.785479,0.731894,0.710723,0.788254,1.000000,0.778580,0.777034,0.775914,0.629981
14,0.744226,0.596813,0.486009,0.581481,0.686543,0.661460,0.534928,0.530204,0.669510,0.662069,0.603522,0.624004,0.601546,0.778580,1.000000,0.678174,0.641579,0.475740
15,0.764334,0.619754,0.507917,0.545730,0.656197,0.692085,0.565940,0.563498,0.659596,0.619146,0.609847,0.578346,0.681802,0.777034,0.678174,1.000000,0.739834,0.615540
16,0.793393,0.647445,0.472505,0.539497,0.680871,0.639982,0.530939,0.577088,0.629171,0.696848,0.707155,0.663848,0.736098,0.775914,0.641579,0.739834,1.000000,0.579721
17,0.661697,0.650959,0.476651,0.513057,0.543959,0.540671,0.512592,0.519000,0.472449,0.642666,0.528130,0.586580,0.626754,0.629981,0.475740,0.615540,0.579721,1.000000

In [24]:
sdg = pd.read_csv('sdg_data_vec_new.csv', sep=";")
sdg

,Unnamed: 0,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec
0,0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...",[ 0.05813744 0.06231181 -0.01606678 0.056582...
1,1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...",[ 0.07795174 0.00193541 -0.03087198 0.007475...
2,2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...",[ 2.11075493e-02 6.82067871e-03 -1.14878779e-...
3,3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...",[ 5.27986225e-02 2.12209601e-02 2.25428531e-...
4,4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...",[-0.01444397 0.03928884 0.04506836 0.064713...
...,...,...,...,...,...,...,...,...,...
128,128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...",[-0.01899157 -0.0305754 0.06003771 0.063669...
129,129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...",[-0.04981232 0.03767141 0.00850932 -0.021545...
130,130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...",[-0.04270766 0.01605903 0.04413859 0.072957...
131,131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...",[-0.01211548 -0.04031554 -0.00514003 0.048753...
132,132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...",[-0.10414307 -0.01859375 0.01171875 0.014965...

In [25]:
# Convert string representations of vectors to actual NumPy arrays
sdg['vec'] = sdg['vec'].apply(lambda x: np.array([float(value) for value in x.strip('[]').split()]))
sdg

,Unnamed: 0,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec
0,0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582..."
1,1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475..."
2,2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0..."
3,3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0...."
4,4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713..."
...,...,...,...,...,...,...,...,...,...
128,128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669..."
129,129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154..."
130,130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957..."
131,131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487..."
132,132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496..."

In [26]:
sdg.drop(['Unnamed: 0'], axis=1,inplace=True)
sdg

,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec
0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582..."
1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475..."
2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0..."
3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0...."
4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713..."
...,...,...,...,...,...,...,...,...
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669..."
129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154..."
130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957..."
131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487..."
132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496..."

In [27]:
# Extract vectors from DataFrame
sdg_vectors = np.array(sdg['vec'].to_list())

print(len(sdg_vectors))
print(len(vectors))
# Compute cosine similarity between vectors
similarity_matrix_sdg = cosine_similarity(vectors, sdg_vectors)

vec_len = new_df['Chapter_id'].tolist()
sdg_len = sdg['Target_id'].tolist()

# Convert the similarity matrix to a DataFrame for visualization
similarity_df_sdg = pd.DataFrame(similarity_matrix_sdg, columns=sdg_len, index=vec_len)

133
18

In [28]:
similarity_df_sdg

,1.5,1.4,1.1,1.2,1.6,1.3,2.8,2.5,2.3,2.2,...,15.3,15.1,15.5,16.2,16.3,16.5,16.4,16.1,7.1,17.2
1,0.478383,0.649829,0.667306,0.592054,0.543521,0.583881,0.589757,0.585122,0.583389,0.581925,...,0.606071,0.595117,0.607625,0.435561,0.449241,0.510929,0.461746,0.590244,0.560926,0.511032
2,0.442161,0.621134,0.787213,0.722903,0.507815,0.656287,0.459196,0.604794,0.542306,0.654078,...,0.599475,0.696608,0.662004,0.360796,0.389741,0.415919,0.389238,0.524922,0.628808,0.471779
3,0.328393,0.403014,0.476458,0.377799,0.344164,0.375439,0.427439,0.416162,0.439601,0.428307,...,0.441451,0.440167,0.463834,0.241121,0.349928,0.348078,0.332585,0.450955,0.440523,0.391423
4,0.306260,0.422093,0.406353,0.355709,0.409854,0.354822,0.490048,0.533360,0.546228,0.460993,...,0.329865,0.355519,0.355053,0.309662,0.280435,0.335378,0.315188,0.371365,0.369682,0.354886
5,0.458741,0.582614,0.579522,0.530326,0.521413,0.528183,0.587717,0.649172,0.624259,0.592575,...,0.479750,0.529520,0.513930,0.395620,0.393452,0.477523,0.400653,0.495175,0.500912,0.453176
6,0.415709,0.555147,0.550147,0.496577,0.512713,0.537944,0.569016,0.570869,0.679377,0.554215,...,0.476822,0.521651,0.535803,0.430393,0.459011,0.539547,0.456444,0.526414,0.517247,0.530012
7,0.349082,0.601424,0.527956,0.434139,0.549418,0.442629,0.543920,0.565223,0.649252,0.403789,...,0.473849,0.425027,0.549337,0.481269,0.466604,0.509180,0.436756,0.596660,0.471009,0.490101
8,0.379406,0.596815,0.527485,0.466292,0.542489,0.472427,0.573366,0.602655,0.661729,0.493128,...,0.511000,0.472588,0.528935,0.497688,0.464791,0.505407,0.455224,0.541369,0.507862,0.493678
9,0.390994,0.507960,0.534256,0.450269,0.416823,0.460646,0.464891,0.430218,0.479427,0.466891,...,0.439842,0.466579,0.482897,0.341909,0.433051,0.470324,0.387519,0.430573,0.461291,0.390313
10,0.471851,0.641017,0.687625,0.690127,0.552841,0.699837,0.506439,0.576202,0.572257,0.704781,...,0.635229,0.683436,0.647756,0.422711,0.494680,0.557172,0.470078,0.569560,0.594791,0.497754
11,0.488919,0.614849,0.628781,0.592531,0.533490,0.676758,0.508580,0.574777,0.498857,0.664737,...,0.598066,0.631555,0.582741,0.434187,0.477946,0.533668,0.441938,0.520963,0.540620,0.472554
12,0.361261,0.528547,0.606818,0.595083,0.430275,0.584732,0.417505,0.470100,0.464369,0.616678,...,0.560795,0.588319,0.545072,0.326816,0.320375,0.391326,0.330166,0.456496,0.525967,0.368860
13,0.476575,0.653367,0.601223,0.611880,0.567019,0.695388,0.573863,0.612884,0.594178,0.680240,...,0.623319,0.628632,0.645853,0.514929,0.484891,0.556119,0.493324,0.653479,0.574251,0.558398
14,0.542930,0.717508,0.736731,0.666288,0.625878,0.692962,0.606702,0.638862,0.688209,0.651731,...,0.630145,0.667619,0.664761,0.514500,0.510646,0.575256,0.487166,0.628633,0.637323,0.582609
15,0.438610,0.572388,0.546063,0.496866,0.497460,0.495525,0.501998,0.531664,0.558172,0.510082,...,0.489426,0.506215,0.497020,0.363244,0.376171,0.444961,0.403234,0.469305,0.481675,0.447042
16,0.441135,0.589459,0.575095,0.524345,0.535417,0.507090,0.567821,0.531728,0.620908,0.533842,...,0.493946,0.541213,0.529656,0.449890,0.451357,0.512987,0.486439,0.647574,0.553523,0.543219
17,0.434773,0.582831,0.609849,0.585851,0.441757,0.612736,0.492247,0.496928,0.511497,0.600031,...,0.561261,0.585904,0.587624,0.389382,0.372981,0.422790,0.357434,0.540740,0.504935,0.409846
18,0.360935,0.534446,0.537987,0.501537,0.424284,0.501304,0.439273,0.515485,0.560016,0.537065,...,0.475133,0.531410,0.505082,0.342518,0.315005,0.427378,0.375246,0.513324,0.496546,0.442554

In [78]:
def find_top_n_similarities(similarity_matrix, n, sdg, chapter_df):
    top_n_similarities = []
    top_n_similarity_taget_id = []
    top_n_similarity_goal_id = []
    
    for index, row in similarity_matrix.iterrows():
        top_n_indices = sorted(range(len(row)), key=lambda i: row[i], reverse=True)[:n]
        print(top_n_indices)
        top_n_values = [row[i] for i in top_n_indices]
        top_n_target = [similarity_matrix.columns[i] for i in top_n_indices]
        # Fetch Goal_id from sdg DataFrame using Target_id values
        top_n_goals = [sdg['Goal No.'].loc[i] for i in top_n_indices]   
        
        top_n_similarities.append(top_n_values)
        top_n_similarity_taget_id.append(top_n_target)
        top_n_similarity_goal_id.append(top_n_goals)
    
    chapter_df['top_n_similarity_goal_id'] = top_n_similarity_goal_id
    chapter_df['top_n_similarity_taget_id'] = top_n_similarity_taget_id
    chapter_df['top_n_similarities'] = top_n_similarities
    
    return chapter_df

In [56]:
# Assuming similarity_matrix is your 18x132 numpy array
n = 3  # Number of top similarities to find
result = find_top_n_similarities(similarity_df_sdg, n, sdg, new_df)

[44, 2, 26]
[2, 28, 3]
[80, 11, 87]
[8, 11, 13]
[7, 13, 8]
[8, 95, 13]
[13, 67, 8]
[8, 67, 13]
[71, 26, 85]
[29, 26, 30]
[14, 17, 18]
[30, 31, 33]
[31, 43, 5]
[2, 43, 47]
[46, 104, 26]
[80, 75, 72]
[117, 44, 31]
[44, 68, 72]
18
18
18

/tmp/ipykernel_20054/508973249.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  top_n_indices = sorted(range(len(row)), key=lambda i: row[i], reverse=True)[:n]
/tmp/ipykernel_20054/508973249.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  top_n_values = [row[i] for i in top_n_indices]

In [57]:
result

,Chapter_id,Chapter_name,Description,new_description,tokens,vec,top_n_similarity_goal_id,top_n_similarity_taget_id,top_n_similarities
0,1,General Information,"Urban,Akshaya with cylinder,Bpl Card Holders, ...","[urban, akshaya, cylinder, bpl, card, holders,...","[prisoner, brigade, female, theatres, ration, ...","[0.02542606476814516, 0.06692111107610887, 0.0...","[5, 1, 4]","[5.7, 1.1, 4.8]","[0.681991879677025, 0.6673063269989903, 0.6661..."
1,2,Area and Population,"Total,Child Population 0-6 Years 2011, Rural,C...","[total, child, population, 0, 6, year, 2011, r...","[2011, ratio, 2018, male,60, population, sex, ...","[0.0189404296875, 0.03924560546875, 0.02138916...","[1, 4, 1]","[1.1, 4.5, 1.2]","[0.7872132012348398, 0.7230510764674696, 0.722..."
2,3,Rainfall,"2006,Actual Annual Rainfallfrom 2006 to 2016 m...","[2006,actual, annual, rainfallfrom, 2006, 2016...","[2010,actual, 2016,actual, 1951, 2016, rainfal...","[-0.0214996337890625, 0.069122314453125, 0.010...","[10, 2, 11]","[10.1, 2.4, 11.6]","[0.5421304208525224, 0.5389834997616672, 0.535..."
3,4,"Agriculture, Horticulture and Sericulture","Paddy,Area under Cereals Hect.,Area under prin...","[paddy, area, cereals, hect, ,area, principal,...","[jowar, sun, cotton, black, cultivation, flowe...","[0.005660679029381793, 0.10095109801361526, -0...","[2, 2, 2]","[2.3, 2.4, 2.6]","[0.5462283288866756, 0.5432562885703399, 0.535..."
4,5,Animal Husbandry,"Artificial Insemination Done Numbers, No.of an...","[artificial, insemination, numbers, no.of, ani...","[rl, sheeps, hospitals, dispensaries, involve,...","[0.006840121361517137, 0.07613692745085686, 0....","[2, 2, 2]","[2.5, 2.6, 2.3]","[0.6491720252503916, 0.626961681199542, 0.6242..."
5,6,Industries,"Factories,Readymade Garments,Factories, Male,E...","[factory, readymade, garments, factories, male...","[,food, employment, unit, enterprise, electric...","[0.04142132927389706, 0.04717048944211474, 0.0...","[2, 12, 2]","[2.3, 12.2, 2.6]","[0.6793771578934147, 0.6613743861173493, 0.651..."
6,7,Banks,"offices,Public Sector banks, Deposits,Public S...","[office, public, sector, bank, deposit, public...","[branche, agriculture, public, no.of, foreign,...","[-0.0181732177734375, 0.0208587646484375, 0.00...","[2, 8, 2]","[2.6, 8.1, 2.3]","[0.7066965640403144, 0.6946061614335393, 0.649..."
7,8,Co-operation and Agricultural Marketing,"Society,Agricultural,Credit Co-operative Socie...","[society, agricultural, credit, co, operative,...","[p.l.d, culture, pld, marketing, bank, housing...","[0.01730901544744318, 0.02737981622869318, -0....","[2, 8, 2]","[2.3, 8.1, 2.6]","[0.6617287059749599, 0.6602323211841271, 0.653..."
8,9,TRANSPORT AND COMMUNICATION,"Multiaxled Ariculated Vehicles,Goods vehicles,...","[multiaxled, ariculated, vehicles, good, vehic...","[mobile, motor, 2016, no.of, maxi, national, t...","[0.06848667689732142, 0.035709926060267856, 0....","[9, 4, 11]","[9.1, 4.8, 11.2]","[0.6252407804836626, 0.5708988240456341, 0.547..."
9,10,Education,"Male,Rural,Literacy rate, Female,Rural,Literac...","[male, rural, literacy, rate, female, rural, l...","[rank, 9, female, library, no.of, facilitiesin...","[0.004887288411458334, 0.03853185017903646, 0....","[4, 4, 4]","[4.3, 4.8, 4.1]","[0.7737420767419441, 0.7652932839138598, 0.760..."
10,11,Health & Family welfare Services,"Male,No.of identified Aids patients, Female,No...","[male, no.of, identify, aids, patient, female,...","[female, bcg, nos, ,indian, kit, hepatities, n...","[-0.038764416331976234, 0.04464189771195533, 0...","[3, 3, 3]","[3.7, 3.3, 3.6]","[0.7670936605441534, 0.7461464951753829, 0.707..."
11,12,Social Welfare,"Numbers,Scheduled Caste Ashrama Residential St...","[number, schedule, caste, ashrama, residential...","[girl, 8th, caste, 9, aided, nos, ashrama, mat...","[0.024318385768581082, 0.04341769862819363, 0....","[4, 4, 4]","[4.1, 4.2, 4.6]","[0.6844820168362759, 0.6621388947425759, 0.654..."
12,13,Women & Child Development,"Total Savings Accumulated Rs. in Crores, Loan ...","[total, savings, accumulated, rs, crores, loan...","[govt, crores, ,help, girl, attendence, yojane...","[0.036134981641582416, 0.0497738707299326, 0.0...","[4, 5, 1]","[4.2, 5.4, 1.3]","[0.7053367265617766, 0.7021546353242447, 0.695..."
13,14,Rural Development & Panchayat Raj,"Provided During the current year,Wells, Total,...","[provide, current, year, wells, total, wells, ...","[kilometres, employment, enterprise, household...","[0.019269353693181817, 0.04312106045809659, 0....","[1, 5, 6]","[1.1, 5.4, 6.2]","[0.7367307813677636, 0.7211239616666048, 0.720..."
14,15,Housing,"Total no. of Census houses,No.of Census Houses...","[total, census, house, no.of, census, houses, ...","[kerosene, use, caste, lighting, cum, school, ...","[0.04728861058011968, 0.07961289426113696, 0.0...","[6, 14, 4]","[6.6, 14.1, 4.8]","[0.636005503553291, 0.6358257278551672, 0.6165..."
15,16,Energy,Beneficiaries under Bhagyajyoti kutera jyoti u...,"[beneficiary, bhagyajyoti, kutera, jyoti, upto...","[commercial, unit, kutera, jyoti, set, bhagyaj...","[0.07158293547453703, 0.0226845211452908, 0.06...","[10, 9, 9]","[10.1, 9.2, 9.5]","[0.6720627464741733, 0.6653438002745788, 0.659..."
16,17,Miscellaneous,"Excise Shops, Iml Liquor,Consumption of Liquor...","[excise, shops, iml, liquor, consumption, liqu...","[crores, excise, registration, widow, liquor, ...","[0.09441646452872984, 0.023449313256048387, -0...","[15, 5, 4]","[15.8, 5.7, 4.2]","[0.6402069923956135, 0.6301062572193277, 0.619..."
17,18,Additional information,"Male,Number,Semi Medium Agril. Land Holder 2-4...","[male, number, semi, medium, agril, land, hold...","[marginal, female, holder, 10, land, 2, agrl, ...","[0.033380126953125, 0.00748291015625, 0.008404...","[5, 8, 9]","[5.7, 8.1, 9.5]","[0.5825817825880111, 0.577516704181884, 0.5700..."

In [61]:
result.to_csv('Lookup_2016-17.csv', sep=";", index=False)

In [73]:
similarity_df_sdg_trans = similarity_df_sdg.T

In [111]:
def find_similarity_sdg(similarity_matrix, threshold, chapter_df, sdg):
    top_n_similarities = []
    top_n_similarity_chapter_id = []
    top_n_similarity_chapter_name = []
    n = threshold
    for index, row in similarity_matrix.iterrows():
        top_n_indices = sorted(range(len(row)), key=lambda i: row.values[i], reverse=True)[:n]
        top_n_values = [row.values[i] for i in top_n_indices]
        top_n_chapter = [similarity_matrix.columns[i] for i in top_n_indices]
        top_n_chapter_name = [new_df['Chapter_name'].loc[i] for i in top_n_indices]   
        
        top_n_similarities.append(top_n_values)
        top_n_similarity_chapter_id.append(top_n_chapter)
        top_n_similarity_chapter_name.append(top_n_chapter_name)
    
    sdg['top_n_similarity_chapter_name'] = top_n_similarity_chapter_name
    sdg['top_n_similarity_chapter_id'] = top_n_similarity_chapter_id
    sdg['top_n_similarities'] = top_n_similarities

    return sdg

In [112]:
# Example usage:
threshold_value = 3  # Define the threshold value

# Call the function to find chapter_ids with similarity greater than the threshold
result_sdg = find_similarity_sdg(similarity_df_sdg_trans, threshold_value, new_df, sdg)

In [113]:
result_sdg

,Goal No.,Goal,Targets,Target_id,Tentative Indicators,new_targets,tokens,vec,top_n_similarity_chapter_name,top_n_similarity_chapter_id,top_n_similarities
0,1,End poverty in all its forms everywhere,"By 2030, build the resilience of the poor and ...",1.5,"By 2030, build the resilience of the poor and ...","['2030', 'build', 'resilience', 'poor', 'vulne...","['situation', 'vulnerable', 'miss', 'extreme',...","[0.05813744, 0.06231181, -0.01606678, 0.056582...","[Rural Development & Panchayat Raj, Health & F...","[14, 11, 1]","[0.5429297999847447, 0.4889187079801792, 0.478..."
1,1,End poverty in all its forms everywhere,"By 2030, ensure that all men and women, in par...",1.4,"By 2030, ensure that all men and women, in par...","['2030', 'ensure', 'man', 'woman', 'particular...","['woman', 'economic', 'appropriate', 'microfin...","[0.07795174, 0.00193541, -0.03087198, 0.007475...","[Rural Development & Panchayat Raj, Women & Ch...","[14, 13, 1]","[0.7175082975198412, 0.6533668570571562, 0.649..."
2,1,End poverty in all its forms everywhere,"By 2030, eradicate extreme poverty for all peo...",1.1,"By 2030, eradicate extreme poverty for all peo...","['2030', 'eradicate', 'extreme', 'poverty', 'p...","['population', 'international', 'day', 'sex', ...","[0.0211075493, 0.00682067871, -0.0114878779, 0...","[Area and Population, Rural Development & Panc...","[2, 14, 10]","[0.7872132012348398, 0.7367307813677636, 0.687..."
3,1,End poverty in all its forms everywhere,"By 2030, reduce at least by half the proportio...",1.2,"By 2030, reduce at least by half the proportio...","['2030', 'reduce', 'half', 'proportion', 'man'...","['woman', 'population', 'sex', 'dimension', 'd...","[0.0527986225, 0.0212209601, 0.00225428531, 0....","[Area and Population, Education, Rural Develop...","[2, 10, 14]","[0.7229027535057528, 0.6901265449146287, 0.666..."
4,1,End poverty in all its forms everywhere,Create sound policy frameworks at the state le...,1.6,Create sound policy frameworks at the state le...,"['create', 'sound', 'policy', 'framework', 'st...","['multilateral', 'sustainably', 'policy', 'era...","[-0.01444397, 0.03928884, 0.04506836, 0.064713...","[Rural Development & Panchayat Raj, Women & Ch...","[14, 13, 10]","[0.6258775959105907, 0.5670188260072501, 0.552..."
...,...,...,...,...,...,...,...,...,...,...,...
128,16,Strengthen the means of implementation and rev...,Fully operationalize the technology bank and s...,16.5,Fully operationalize the technology bank and s...,"['fully', 'operationalize', 'technology', 'ban...","['enhance', 'innovation', 'enable', 'science',...","[-0.01899157, -0.0305754, 0.06003771, 0.063669...","[Rural Development & Panchayat Raj, Education,...","[14, 10, 13]","[0.5752563749518702, 0.557171854432132, 0.5561..."
129,16,Strengthen the means of implementation and rev...,"Promote the development, transfer, disseminati...",16.4,"Promote the development, transfer, disseminati...","['promote', 'development', 'transfer', 'dissem...","['funding', 'promote', 'environmentally', 'dis...","[-0.04981232, 0.03767141, 0.00850932, -0.02154...","[Women & Child Development, Rural Development ...","[13, 14, 16]","[0.4933239028679365, 0.48716565034725307, 0.48..."
130,16,Strengthen the means of implementation and rev...,"Strengthen domestic resource mobilization, inc...",16.1,"Strengthen domestic resource mobilization, inc...","['strengthen', 'domestic', 'resource', 'mobili...","['international', 'capacity', 'percentage', 'd...","[-0.04270766, 0.01605903, 0.04413859, 0.072957...","[Women & Child Development, Energy, Rural Deve...","[13, 16, 14]","[0.6534785183159684, 0.6475739079660137, 0.628..."
131,17,"Data, monitoring and accountability","By 2020, enhance capacity-building support to ...",7.1,"By 2020, enhance capacity-building support to ...","['2020', 'enhance', 'capacity', 'build', 'supp...","['enhance', 'disaggregation', 'reliable', 'tar...","[-0.01211548, -0.04031554, -0.00514003, 0.0487...","[Rural Development & Panchayat Raj, Area and P...","[14, 2, 10]","[0.6373228124617729, 0.6288079824243825, 0.594..."
132,17,"Data, monitoring and accountability","By 2030, build on existing initiatives to deve...",17.2,"By 2030, build on existing initiatives to deve...","['2030', 'build', 'exist', 'initiative', 'deve...","['gross', 'initiative', 'wealth', 'inclusive',...","[-0.10414307, -0.01859375, 0.01171875, 0.01496...","[Rural Development & Panchayat Raj, Women & Ch...","[14, 13, 16]","[0.5826094324562214, 0.5583981234219884, 0.543..."

In [117]:
result_sdg.to_csv('SDG_2016-17.csv', sep=";", index=False)

In [115]:
import pandas as pd

# Sample DataFrame
data = {
    'Goal No.': [1, 1],
    'Target_id': ['1.1', '1.2'],
    'top_n_similarity_chapter_id': [[14, 11, 1], [14, 13, 1]],
    'top_n_similarities': [[0.5429297999847447, 0.4889187079801792, 0.478], [0.7175082975198412, 0.6533668570571562, 0.649]]
}

df = pd.DataFrame(data)

# Define a function to merge lists
def merge_lists(group):
    merged_list = []
    for lst in group:
        merged_list.extend(lst)
    return merged_list

# Group by 'Goal No.' and aggregate lists
merged_df = df.groupby('Goal No.').agg({
    'Target_id': 'first',
    'top_n_similarity_chapter_id': merge_lists,
    'top_n_similarities': merge_lists
}).reset_index()

merged_df

,Goal No.,Target_id,top_n_similarity_chapter_id,top_n_similarities
0,1,1.1,"[14, 11, 1, 14, 13, 1]","[0.5429297999847447, 0.4889187079801792, 0.478..."